@mixin respond($breakpoint){
  @if $breakpoint == mobileS{
    @media only screen and (min-width:320px){@content};
  }
  @if $breakpoint == mobileM{
    @media only screen and (min-width:375px){@content};
  }
  @if $breakpoint == mobileL{
    @media only screen and (min-width:425px){@content};
  }
  @if $breakpoint == mobileXL{
    @media only screen and (min-width:600px){@content};
  }
  @if $breakpoint == tab-port{
    @media only screen and (min-width:768px){@content};
  }
  @if $breakpoint == tab-sm{
    @media only screen and (min-width:960px){@content};
  }
  @if $breakpoint == tab-land{
    @media only screen and (min-width:1024px){@content};
  }
  @if $breakpoint == tab-land-special{
    @media only screen and (min-width:1200px){@content};
  }
  @if $breakpoint == laptopM{
    @media only screen and (min-width:1366px) {@content};
  }
  @if $breakpoint == laptopL{
    @media only screen and (min-width:1440px) {@content};
  }
  @if $breakpoint == laptopXL{
    @media only screen and (min-width:1920px) {@content};
  }
}
