<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favico.ico">
  <title>Ôn thi học bổng đại học FPT</title>
  <!-- Bootstrap -->
  <link href="<%= BASE_URL %>css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.2/css/line.css">
  
  <!-- Main Css -->
  <link href="<%= BASE_URL %>css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
  <link href="<%= BASE_URL %>css/colors/default.css" rel="stylesheet" id="color-opt">
  <link href="<%= BASE_URL %>css/custom.css" rel="stylesheet">
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="https://unicons.iconscout.com/release/v3.0.2/script/monochrome/bundle.js"></script>
</body>

</html>