<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section>
        <div class="container">
            <div class="row align-items-center py-5">
                <!-- <div class="col-lg-5 col-md-6 col-12">
                    <img src="images/course/about.jpg" class="img-fluid shadow rounded" alt="">
                </div> -->
                <div class="col-lg-5 col-md-5 ">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-lg">
                                <div class="card-body p-0">
                                    <img src="images/course/about2.jpg" class="img-fluid" alt="work-image">
                                    <div class="overlay-work bg-dark"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                    <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-lg">
                                        <div class="card-body p-0">
                                            <img src="images/course/about.jpg" class="img-fluid" alt="work-image">
                                            <div class="overlay-work bg-dark"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                                    <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-lg">
                                        <div class="card-body p-0">
                                            <img src="images/course/about3.jpg" class="img-fluid" alt="work-image">
                                            <div class="overlay-work bg-dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title ml-lg-4">
                        <h4 class="title mb-4">Câu chuyện của chúng tôi: <span class="text-primary">FLearn</span></h4>
                        <p class="text-muted">Theo khảo sát hồ sơ từ phòng tuyển sinh, hàng năm số lượng học sinh đăng ký dự thi vào trường đều tăng (ước tính khoảng 2000 em/ năm) và sẽ còn tăng trong thời gian tới. Nhận thấy sự quan tâm đến việc ôn thi học bổng của trường đại học FPT ngày càng tăng cao, chúng tôi tạo ra một nền tảng học tập và luyện thi trực tuyến cho những bạn quan tâm đến học bổng FPT</p>
                        <ul class="list-unstyled mb-0 text-muted">
                            Còn chần chờ gì nữa, hãy <a href="/auth-signup"><b><u>tham gia ngay</u></b></a> với chúng tôi thôi nào!
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Đội ngũ chúng tôi</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Bắt đầu làm việc với <span class="text-primary font-weight-bold">Flearn</span> bạn sẽ có 1 team tuyệt vời </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-6 mt-4 pt-2 mr-3">
                    <div class="card team text-center bg-transparent border-0">
                        <div class="card-body p-0">
                            <div class="position-relative">
                                <img src="images/company/Tuan.jpg" class="img-fluid avatar avatar-large rounded-circle" alt="">
                                <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100009451266485" class="rounded">
                                            <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                        </a></li>
                                </ul>
                                <!--end icon-->
                            </div>
                            <div class="content pt-3 pb-3">
                                <h6 class="mb-0"><a href="https://www.facebook.com/profile.php?id=100009451266485" class="name text-dark">Nguyễn Mạnh Tuấn</a></h6>
                                <small class="designation text-muted">Project Manager</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-4 pt-2 mr-3">
                    <div class="card team text-center bg-transparent border-0">
                        <div class="card-body p-0">
                            <div class="position-relative">
                                <img src="images/company/Dung.jpg" class="img-fluid avatar avatar-large rounded-circle" alt="">
                                <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/KiD.la.tuii/" class="rounded">
                                            <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                        </a></li>
                                </ul>
                                <!--end icon-->
                            </div>
                            <div class="content pt-3 pb-3">
                                <h6 class="mb-0"><a href="https://www.facebook.com/KiD.la.tuii/" class="name text-dark">Phạm Thị Kim Dung</a></h6>
                                <small class="designation text-muted">Developer</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-4 pt-2 mr-3">
                    <div class="card team text-center bg-transparent border-0">
                        <div class="card-body p-0">
                            <div class="position-relative">
                                <img src="images/company/Kien.png" class="img-fluid avatar avatar-large rounded-circle" alt="">
                                <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100006864827496" class="rounded">
                                            <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                        </a></li>
                                </ul>
                                <!--end icon-->
                            </div>
                            <div class="content pt-3 pb-3">
                                <h6 class="mb-0"><a href="https://www.facebook.com/profile.php?id=100006864827496" class="name text-dark">Nguyễn Trung Kiên</a></h6>
                                <small class="designation text-muted">Developer</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-4 pt-2 mr-3">
                    <div class="card team text-center bg-transparent border-0">
                        <div class="card-body p-0">
                            <div class="position-relative">
                                <img src="images/company/Viet.jpg" class="img-fluid avatar avatar-large rounded-circle" alt="">
                                <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100011197334186" class="rounded">
                                            <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                        </a></li>
                                </ul>
                                <!--end icon-->
                            </div>
                            <div class="content pt-3 pb-3">
                                <h6 class="mb-0"><a href="https://www.facebook.com/profile.php?id=100011197334186" class="name text-dark">Hoàng Đình Việt</a></h6>
                                <small class="designation text-muted">Developer</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mt-4 pt-2">
                    <div class="card team text-center bg-transparent border-0">
                        <div class="card-body p-0">
                            <div class="position-relative">
                                <img src="images/company/Thang.jpg" class="img-fluid avatar avatar-large rounded-circle" alt="">
                                <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/daniel.petit.3576" class="rounded">
                                            <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                        </a></li>
                                </ul>
                                <!--end icon-->
                            </div>
                            <div class="content pt-3 pb-3">
                                <h6 class="mb-0"><a href="https://www.facebook.com/daniel.petit.3576" class="name text-dark">Nguyễn Trần Q.Thắng</a></h6>
                                <small class="designation text-muted">Developer</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <Footer />
</div>
</template>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
} from 'vue-feather-icons';
import {
    Carousel,
    Slide
} from 'vue-carousel';
import countTo from 'vue-count-to'

import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
    name: 'Home',
    async created() {},
    data() {
        return {
            slide: 0,
            courses: []
        }
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        Carousel,
        Slide,
        ArrowUpIcon,
        countTo,
        MailIcon,
        PhoneIcon,
        UserIcon,
        ChevronRightIcon,
        PlayIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon
    },
}
</script>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}

.img-fluid.rounded-top.mx-auto {
    height: 350px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
