<template>
<div class="flex-wrapper">
    <div class="back-to-home rounded d-none d-sm-block">
        <router-link to="/" class="btn btn-icon btn-soft-primary">
            <home-icon class="icons"></home-icon>
        </router-link>
    </div>

    <section class="bg-home d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <router-link v-if="hideHeader" to="/" class="btn btn-icon btn-soft-primary">
                        <home-icon class="icons"></home-icon>
                    </router-link>
                    <div class="mr-lg-5">
                        <img src="images/user/login.svg" class="img-fluid d-block mx-auto" alt="" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="card login-page bg-white shadow-lg rounded border-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">Đăng nhập</h4>
                            <form class="login-form mt-4" @submit.prevent="handleSubmit" autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label>Tên đăng nhập
                                                <span class="text-danger">*</span></label>
                                            <user-icon class="fea icon-sm icons"></user-icon>
                                            <!-- <input type="text" class="form-control pl-5" v-model="form.username" placeholder="Tên đăng nhập" name="s" required="" /> -->
                                            <input id="username" v-model="form.username" autocomplete="off" type="text" name="username" placeholder="Tên đăng nhập" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.username.$error }">
                                            <div v-if="submitted && $v.form.username.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.username.required">Không để trống tên đăng nhập</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label>Mật khẩu <span class="text-danger">*</span></label>
                                            <key-icon class="fea icon-sm icons"></key-icon>
                                            <!-- <input type="password" class="form-control pl-5" v-model="form.password" placeholder="Mật khẩu" required="" /> -->
                                            <input id="password" v-model="form.password" autocomplete="off" type="password" name="password" placeholder="Mật khẩu" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.password.$error }">
                                            <div v-if="submitted && $v.form.password.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.password.required">Không để trống mật khẩu</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group"></div>
                                            <p class="forgot-pass mb-0">
                                                <router-link to="/auth-re-password" class="text-dark font-weight-bold">Quên mật khẩu ?</router-link>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-0">
                                        <button class="btn btn-primary btn-block">
                                            Đăng nhập
                                        </button>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3">
                                            <small class="text-dark mr-2">Bạn chưa có tài khoản ?</small>
                                            <router-link to="/auth-signup" class="text-dark font-weight-bold">Đăng ký</router-link>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
import Switcher from "@/components/switcher";
import {
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    HomeIcon,
    UserIcon,
    KeyIcon,
} from "vue-feather-icons";
import axios from "axios";
import Swal from 'sweetalert2'
import {
    required
} from 'vuelidate/lib/validators'
/**
 * Auth-login component
 */
export default {
    name: "Login",
    data() {
        return {
            form: {
                username: "",
                password: "",
            },
            submitted: false,
            hideHeader: false
        };
    },
    validations: {
        form: {
            username: {
                required
            },
            password: {
                required
            }
        }
    },
    components: {
        Switcher,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        HomeIcon,
        UserIcon,
        KeyIcon,
    },
    created() {
        window.addEventListener('resize', this.onResize)
        this.onResize()
    },
    methods: {
        onResize() {
            const innerWidth = window.innerWidth
            if (innerWidth < 500) {
                this.hideHeader = true
            } else {
                this.hideHeader = false
            }
        },
        async handleSubmit() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            Swal.fire({
                title: 'Đang tải dữ liệu...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            await axios.post("login", {
                    username: this.form.username,
                    password: this.form.password,
                })
                .then((response) => {
                    Swal.close();
                    if (response.data.imageUrl !== null) {
                        localStorage.setItem('image', response.data.imageUrl)
                    } else {
                        localStorage.setItem('image', 'images/icon-avatar.png')
                    }
                    if (response.data.id != -1) {
                        localStorage.setItem("token", response.data.token);
                        localStorage.setItem("role", response.data.role);
                        localStorage.setItem("userId", response.data.id);
                        localStorage.setItem("id", response.data.id)
                        if (response.data.role === 3) {
                            this.$router.push("/manager-course");
                        } else if (response.data.role === 4) {
                            this.$router.push("/learner-home");
                        } else if ((response.data.role === 6) ||(response.data.role ===1)) {
                            this.$router.push("/manager-account");
                        }  else if (response.data.role === 2) {
                            this.$router.push("/manager-home")
                        }
                    } else {
                        Swal.close();
                        this.$swal.fire({
                            title: "Sai Tên đăng nhập hoặc mật khẩu",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3500,
                            toast: true,
                            position: 'top-end',
                            icon: 'error'
                        })
                    }

                })
                .catch((err) => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Đăng nhập thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })

                });

        },
    },
};
</script>
