<template>
<div>
    <div class="back-to-home rounded d-none d-sm-block">
        <router-link to="/" class="btn btn-icon btn-soft-primary">
            <home-icon class="icons"></home-icon>
        </router-link>
    </div>

    <section class="bg-home d-flex">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <router-link v-show="hideHeader" to="/" class="btn btn-icon btn-soft-primary">
                        <home-icon class="icons"></home-icon>
                    </router-link>
                    <div class="mr-lg-5">
                        <img src="images/user/signup.svg" class="img-fluid d-block mx-auto" alt="" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-6" style="margin-top:10px; margin-bottom:10px">
                    <div class="card login_page shadow-lg rounded border-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">Đăng ký</h4>
                            <form class="login-form mt-4" @submit.prevent="handleSubmit">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Họ và tên
                                                <span class="text-danger">*</span></label>
                                            <user-icon class="fea icon-sm icons"></user-icon>
                                            <input id="fullName" name="fullName" type="text" autocomplete="off" class="form-control pl-5" v-model="form.fullName" :class="{ 'is-invalid': submitted && $v.form.fullName.$error }" />
                                            <div v-if="submitted && $v.form.fullName.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.fullName.required">Không để trống họ và tên</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Tên đăng nhập
                                                <span class="text-danger">*</span></label>
                                            <!-- <user-icon class="fea icon-sm icons"></user-icon> -->
                                            <user-check-icon class="fea icon-sm icons"></user-check-icon>
                                            <input id="account" name="account" type="text" autocomplete="off" class="form-control pl-5" v-model="form.account" :class="{ 'is-invalid': submitted && $v.form.account.$error }" />
                                            <div v-if="submitted && $v.form.account.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.account.required">Không để trống tên đăng nhập</span>
                                              <span v-if="!$v.form.account.validateHasSpecialCharacter && $v.form.account.required">Từ 3 - 16 kí tự, không chứa kí tự quá đặc biệt</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Mật khẩu <span class="text-danger">*</span></label>
                                            <!-- <user-check-icon class="fea icon-sm icons"></user-check-icon> -->
                                            <key-icon class="fea icon-sm icons"></key-icon>
                                            <input type="password" class="form-control pl-5" v-model="form.loginPassword" autocomplete="off" name="s" :class="{ 'is-invalid': submitted && $v.form.loginPassword.$error }" />
                                            <div v-if="submitted && $v.form.loginPassword.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.loginPassword.required">Không để trống mật khẩu</span>
                                                <span v-if="$v.form.loginPassword.required && !$v.form.loginPassword.validatePassword">Từ 8 - 100 kí tự, không chứa kí tự quá đặc biệt</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Nhập lại mật khẩu <span class="text-danger">*</span></label>
                                            <!-- <user-check-icon class="fea icon-sm icons"></user-check-icon> -->
                                            <key-icon class="fea icon-sm icons"></key-icon>
                                            <input id="reNewPassword" v-model="form.reNewPassword" type="password" autocomplete="off" name="reNewPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.reNewPassword.$error }">
                                            <div v-if="submitted && $v.form.reNewPassword.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.reNewPassword.required">Không để trống mật khẩu</span>
                                                <span v-if="$v.form.reNewPassword.required &&!$v.form.reNewPassword.sameAsPassword">Mật khẩu không trùng khớp</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <mail-icon class="fea icon-sm icons"></mail-icon>
                                            <input type="text" class="form-control pl-5" v-model="form.email" name="email" autocomplete="off" :class="{ 'is-invalid': submitted && $v.form.email.$error }" />
                                            <div v-if="submitted && $v.form.email.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.email.required">Không để trống email</span>
                                                <span v-if="$v.form.email.required && !$v.form.email.validateEmail">Sai định dạng email</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Số điện thoại
                                                <span class="text-danger">*</span></label>
                                            <phone-icon class="fea icon-sm icons"></phone-icon>
                                            <input type="text" class="form-control pl-5" v-model="form.phone" autocomplete="off" :class="{ 'is-invalid': submitted && $v.form.phone.$error }" />
                                            <div v-if="submitted && $v.form.phone.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.phone.required">Không để trống số điện thoại</span>
                                                <span v-if="$v.form.phone.required && !$v.form.phone.validatePhone">Sai định dạng số điện thoại</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Tỉnh/ Thành phố
                                                <span class="text-danger">*</span></label>
                                            <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                            <!-- <input type="text" class="form-control pl-5" v-model="form.phone" :class="{ 'is-invalid': submitted && $v.form.phone.$error }" /> -->
                                            <select class="form-control pl-5" v-model="selectedProvince" @change="fetchDistricts" :disabled="!provincesDB.length">
                                                <option value="" selected disabled>Chọn Tỉnh/ Thành phố</option>
                                                <option v-for="province in provincesDB" :key="province.id" :value="province">{{ province.name }}</option>
                                            </select>
                                            <span v-if="isEmptyProvinceId" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn Tỉnh/ Thành Phố</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Quận/ Huyện
                                                <span class="text-danger">*</span></label>
                                            <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                            <!-- <input type="text" class="form-control pl-5" v-model="form.phone" :class="{ 'is-invalid': submitted && $v.form.phone.$error }" /> -->
                                            <select class="form-control pl-5" @change="chooseDistrict" v-model="selectedDistrict" :disabled="!districts.length">
                                                <option value="" selected disabled>Chọn Quận/ Huyện</option>
                                                <option v-for="dist in districts" :key="dist.id" :value="dist">{{ dist.name }}</option>
                                            </select>
                                            <span v-show="isEmptyDistrictId" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn Quận/ Huyện</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Trường
                                                <span class="text-danger">*</span></label>
                                            <home-icon class="fea icon-sm icons"></home-icon>
                                            <!-- <input name="school" id="school" type="text" v-model="form.school" class="form-control pl-5"> -->
                                            <input id="school" name="school" type="text" class="form-control pl-5" autocomplete="off" v-model="form.school" :class="{ 'is-invalid': submitted && $v.form.school.$error }" />
                                            <div v-if="submitted && $v.form.school.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.school.required">Không để trống tên trường</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-block" type="submit">
                                            Đăng ký
                                        </button>
                                    </div>
                                    <div class="mx-auto">
                                        <p class="mb-0 mt-3">
                                            <small class="text-dark mr-2">Bạn đã có tài khoản ?</small>
                                            <router-link to="/auth-login" class="text-dark font-weight-bold">Đăng nhập</router-link>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<script>
import Switcher from "@/components/switcher";
import {
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    HomeIcon,
    UserIcon,
    UserCheckIcon,
    MailIcon,
    KeyIcon,
    PhoneIcon,
    MapPinIcon
} from "vue-feather-icons";
import axios from "axios";
import {
    required,
    sameAs
} from "vuelidate/lib/validators";
import {
    validatePassword,
    validateEmail,
    validatePhone,
  validateHasSpecialCharacter
} from '../validator/validate'
import Swal from 'sweetalert2'
/**
 * Auth-signup component
 */
export default {
    name: "Signup",
    data() {
        return {
            form: {
                account: "",
                loginPassword: "",
                phone: "",
                email: "",
                fullName: "",
                districtId: "",
                provinceId: "",
                reNewPassword: "",
                school: ""
            },
            submitted: false,
            provincesDB: [],
            districtsDB: [],
            provinces: [],
            districts: [],
            selectedProvince: null,
            selectedDistrict: null,
            isEmptyProvinceId: false,
            isEmptyDistrictId: false
        };
    },
    validations: {
        form: {
            fullName: {
                required
            },
            account: {
                required,
              validateHasSpecialCharacter
            },
            loginPassword: {
                required,
                validatePassword,
            },
            email: {
                required,
                validateEmail
            },
            phone: {
                required,
                validatePhone
            },
            reNewPassword: {
                required,
                sameAsPassword: sameAs('loginPassword')
            },
            school: {
                required
            }
        },
        selectedProvince: {
            required
        }
    },
    components: {
        Switcher,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        HomeIcon,
        UserIcon,
        UserCheckIcon,
        MailIcon,
        KeyIcon,
        PhoneIcon,
        MapPinIcon
    },
    created: async function () {
        window.addEventListener('resize', this.onResize)
        this.onResize()
        const getDistrict = await axios.get('MyAccount/GetDistrict').then(res => {
            if (res) {
                this.districtsDB = res.data
            }
        })
        const getProvince = await axios.get('MyAccount/GetProvine').then(res => {
            if (res) {
                this.provincesDB = res.data
            }
        })
    },
    methods: {
        mounted() {
            this.fetchProvinces();
        },
        async fetchProvinces() {
            this.provinces = this.provincesDB
        },
        async fetchDistricts() {
            this.isEmptyProvinceId = false
            this.districts = this.districtsDB.filter(
                district => district.provineId === this.selectedProvince.id);
        },
        chooseDistrict() {
            this.isEmptyDistrictId = false
        },
        onResize() {
            const innerWidth = window.innerWidth
            if (innerWidth < 500) {
                this.hideHeader = true
            } else {
                this.hideHeader = false
            }
        },
        async handleSubmit() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                if (this.selectedProvince === 0) {
                    this.isEmptyProvinceId = true
                }
                if (this.selectedDistrict === 0) {
                    this.isEmptyDistrictId = true
                }
            } else {
                this.isEmptyProvinceId = false
                this.isEmptyDistrictId = false
                Swal.fire({
                    title: 'Đang kiểm tra...',
                    html: 'Đợi trong giây lát...',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                const response = await axios.post('register', {
                    account: this.form.account,
                    loginPassword: this.form.loginPassword,
                    phone: this.form.phone,
                    fullName: this.form.fullName,
                    schoolName: this.form.school,
                    email: this.form.email,
                    districtId: this.selectedDistrict.id
                }, ).then(res => {
                    Swal.close();
                    if (res.data == -1) {
                        this.$swal.fire({
                            title: "Tên đăng nhập đã tồn tại",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "error",
                        });
                        return;
                    }
                    if (res.data == -2) {
                        this.$swal.fire({
                            title: "Email đã tồn tại",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "error",
                        });
                        return;
                    }
                    Swal.fire({
                        title: 'Đăng ký thành công',
                        icon: 'success',
                        html: 'Bạn cần vào gmail để xác nhận tài khoản ' +
                            '<a href="https://mail.google.com/">Mở gmail ngay</a> ',
                        showCloseButton: false,
                        showConfirmButton: false,
                        showCancelButton: true,
                        focusConfirm: false,
                        cancelButtonText: 'Khi khác',
                    })
                })
            }
        },
    },
};
</script>
