<template>
<div>
    <div class="back-to-home rounded d-none d-sm-block">
        <router-link to="/" class="btn btn-icon btn-soft-primary">
            <home-icon class="icons"></home-icon>
        </router-link>
    </div>

    <!-- Hero Start -->
    <section class="bg-home d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="mr-lg-5">
                        <img src="images/user/recovery.svg" class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="card login_page shadow-lg rounded border-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">Lấy lại mật khẩu</h4>

                            <form class="login-form mt-4" @submit.prevent="handleSubmit">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-muted">Hãy nhập địa chỉ email của bạn. Bạn sẽ nhận được mật khẩu mới trong email của bạn.</p>
                                        <div class="form-group position-relative">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <mail-icon class="fea icon-sm icons"></mail-icon>
                                            <input type="email" class="form-control pl-5" v-model="email" placeholder="Nhập email đăng ký tài khoản" name="email" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="btn btn-primary btn-block">Gửi</button>
                                    </div>
                                    <div class="mx-auto">
                                        <p class="mb-0 mt-3"><small class="text-dark mr-2">Bạn nhớ mật khẩu ?</small>
                                            <router-link to="/auth-login" class="text-dark font-weight-bold">Đăng nhập</router-link>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->
    <!-- <Switcher /> -->

</div>
</template>

<script>
import Switcher from "@/components/switcher";
import {
    HomeIcon,
    MailIcon
} from 'vue-feather-icons';
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Auth-re-password component
 */
export default {
    name: "Repassword",
    data() {
        return {
            email: "",
        }
    },
    components: {
        Switcher,
        MailIcon,
        HomeIcon
    },
    methods: {
        async handleSubmit() {
            Swal.fire({
                title: 'Đang kiểm tra...',
                html: 'Đợi trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            await axios
                .post('/MyAccount/ResetPassword', {
                    input: this.email
                })
                .then((res) => {
                    Swal.close();
                    if (res.data) {
                        this.$swal.fire({
                            title: 'Kiểm tra email để lấy mật khẩu',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3500,
                            toast: true,
                            position: 'top-end',
                            icon: 'success'
                        })
                    } else {
                        Swal.close();
                        this.$swal.fire({
                            title: "Tài khoản này không tồn tại",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3500,
                            toast: true,
                            position: 'top-end',
                            icon: 'error'
                        })
                    }
                })
                .catch((err) => {
                    Swal.close();
                    this.$swal.fire({
                        title: err.response.data.errors.Input,
                        showCancelButton: false,
                        showConfirmButton: true,
                        timer: 3500,
                        toast: true,
                        position: 'top',
                        icon: 'error'
                    })

                });

        }
    }
}
</script>
