<template>
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card border-0 rounded">
            <div class="card-body">
                <form @submit.prevent="handleSubmitPassword">
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="form-group position-relative">
                                <label>Mật khẩu cũ <span class="text-danger">*</span></label>
                                <key-icon class="fea icon-sm icons"></key-icon>
                                <input id="passwordCurrent" v-model="formPassword.passwordCurrent" type="password" name="passwordCurrent" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.passwordCurrent.$error }">
                                <div v-if="submitted && $v.formPassword.passwordCurrent.$error" class="invalid-feedback">
                                    <span v-if="!$v.formPassword.passwordCurrent.required">Không để trống mật khẩu cũ</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group position-relative">
                                <label>Mật khẩu mới <span class="text-danger">*</span></label>
                                <key-icon class="fea icon-sm icons"></key-icon>
                                <input id="newPassword" v-model="formPassword.newPassword" autocomplete="off" type="password" name="newPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.newPassword.$error }">
                                <div v-if="submitted && $v.formPassword.newPassword.$error" class="invalid-feedback">
                                    <span v-if="!$v.formPassword.newPassword.required">Không để trống mật khẩu</span>
                                    <span v-if="$v.formPassword.newPassword.required && !$v.formPassword.newPassword.validatePassword">Từ 8 - 100 kí tự, không chứa kí tự quá đặc biệt</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group position-relative">
                                <label>Xác nhận mật khẩu mới <span class="text-danger">*</span></label>
                                <key-icon class="fea icon-sm icons"></key-icon>
                                <input id="reNewPassword" v-model="formPassword.reNewPassword" type="password" name="reNewPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.reNewPassword.$error }">
                                <div v-if="submitted && $v.formPassword.reNewPassword.$error" class="invalid-feedback">
                                    <span v-if="!$v.formPassword.reNewPassword.required">Không để trống mật khẩu</span>
                                    <span v-if="$v.formPassword.reNewPassword.required &&!$v.formPassword.reNewPassword.sameAsPassword">Mật khẩu không trùng khớp</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-2 mb-0">
                            <button class="btn btn-pills btn-primary mt-2 mr-2">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
            <p style="margin-left: 16px"><i><b>(Tài khoản sẽ tự động đăng xuất sau khi thay đổi mật khẩu thành công)</b></i></p>
        </div>
    </div>
</div>
</template>

<script>
import {
    KeyIcon
} from 'vue-feather-icons'
import {
    required,
    sameAs
} from 'vuelidate/lib/validators'
import {
    validatePassword
} from '../validator/validate'
import axios from 'axios';
import Swal from 'sweetalert2'
export default {
    data() {
        return {
            formPassword: {
                passwordCurrent: '',
                newPassword: '',
                reNewPassword: ''
            },
            submitted: false
        }
    },
    components: {
        KeyIcon
    },
    created: async function () {

    },
    validations: {
        formPassword: {
            passwordCurrent: {
                required
            },
            newPassword: {
                required,
                validatePassword
            },
            reNewPassword: {
                required,
                sameAsPassword: sameAs('newPassword')
            }
        }
    },
    methods: {
        async handleSubmitPassword() {
            const id = localStorage.getItem('id')
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            const resetpass = await axios.post('MyAccount/ChangePassword', {
                id: id,
                currentPassword: this.formPassword.passwordCurrent,
                newPassword: this.formPassword.newPassword,
                confirmPassword: this.formPassword.reNewPassword
            }, {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res.data == 1) {
                    this.isChangePass = false
                    this.$swal.fire({
                        title: "Thay đổi mật khẩu thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                    });
                    localStorage.clear()
                    this.$router.push('/auth-login')
                } else if (res.data == 0) {
                    this.$swal.fire({
                        title: "Mật khẩu cũ không đúng",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "error",
                    });
                }
            }).catch(err => {})
        }
    }
}
</script>

<style>

</style>
