<template>
<div class="row ">
    <div class="col-lg-12 col-12">
        <div class="card border-0 rounded">
            <div class="card-body">
                <form @submit.prevent="handleSubmitMentor" v-if="roleee == 3">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Họ và tên </label>
                                <user-icon class="fea icon-sm icons"></user-icon>
                                <input class="form-control pl-5" v-model="formMentor.fullName" type="text" autocomplete="off" name="fullName" :class="{ 'is-invalid': submitted && $v.formMentor.fullName.$error }">
                                <div v-if="submitted && $v.formMentor.fullName.$error" class="invalid-feedback">
                                    <span v-if="!$v.formMentor.fullName.required">Không để trống họ và tên</span>
                                    <span v-if="!$v.formMentor.fullName.maxLength && $v.formMentor.fullName.required">Chứa tối đa 50 kí tự</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Ngày sinh </label>
                                <gift-icon class="fea icon-sm icons"></gift-icon>
                                <!-- <b-form-datepicker v-model="formMentor.dob"></b-form-datepicker> -->
                                <DateTime :time.sync="formMentor.dob" @hasValue="isEmptyDate = $event" :timepicker.sync="formMentor.dob" @dateChange="formMentor.dob = $event" />
                                <span v-show="isEmptyDate" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn ngày sinh</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Số điện thoại </label>
                                <phone-icon class="fea icon-sm icons"></phone-icon>
                                <input class="form-control pl-5" v-model="formMentor.phoneNumber" type="text" autocomplete="off" name="phoneNumber" :class="{ 'is-invalid': submitted && $v.formMentor.phoneNumber.$error }">
                                <div v-if="submitted && $v.formMentor.phoneNumber.$error" class="invalid-feedback">
                                    <span v-if="!$v.formMentor.phoneNumber.required">Không để trống số điện thoại</span>
                                    <span v-if="$v.formMentor.phoneNumber.required && !$v.formMentor.phoneNumber.validatePhone">Sai định dạng số điện thoại</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group position-relative">
                                <label>Miêu tả</label>
                                <message-circle-icon class="fea icon-sm icons"></message-circle-icon>
                                <textarea name="comments" id="comments" v-model="formMentor.description" rows="4" class="form-control pl-5" :placeholder="[[ dataMentorBefore.description ]]"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    UserIcon,
    GiftIcon,
    MapPinIcon,
    PhoneIcon,
    HomeIcon,
    MessageCircleIcon
} from 'vue-feather-icons'
import {
    required,
    maxLength
} from 'vuelidate/lib/validators'
import moment from 'moment'
import {
    validatePassword,
    validatePhone
} from '../validator/validate'
import axios from 'axios';
import Swal from 'sweetalert2'
import DateTime from "../components/date-picker.vue"
import Vue from 'vue';
import VueResource from "vue-resource"
Vue.use(VueResource);
export default {
    props: ['imagee'],
    data() {
        return {
            formMentor: {
                description: '',
                dob: '',
                phoneNumber: '',
                fullName: ''
            },
            dataMentorBefore: [],
            submitted: false,
            roleee: 0,
            imageFile: null,
            imageStore: 'images/icon-avatar.png',
            uploadURL: 'https://localhost:44360/Upload',
            isEmptyDate: false
        }
    },
    components: {
        HomeIcon,
        MapPinIcon,
        GiftIcon,
        PhoneIcon,
        UserIcon,
        MessageCircleIcon,
        DateTime
    },
    created: async function () {
        const token = localStorage.getItem('token')
        const id = localStorage.getItem('id')
        const role = localStorage.getItem('role')
        this.roleee = role
        if (token === null) {
            this.$router.push('/auth-login')
        } else {
            if (role == 3) {
                const getMentorProfile = await axios.get('MyAccount/MentorProfile', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.dataMentorBefore = res.data
                        this.formMentor.dob = new Date(this.dataMentorBefore.birthdate)
                        this.formMentor.fullName = this.dataMentorBefore.fullName
                        this.formMentor.phoneNumber = this.dataMentorBefore.phoneNumber
                        this.formMentor.description = this.dataMentorBefore.description
                        this.imageStore = this.dataMentorBefore.imageUrl
                        if (localStorage.getItem('role') == 4) {
                            this.isLeaner = true
                            this.isMentor = false
                        } else {
                            this.isLeaner = false
                            this.isMentor = true
                        }
                        if (this.dataMentorBefore.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.dataMentorBefore.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.dataMentorBefore.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.dataMentorBefore.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                });
            }

        }
    },
    validations: {
        formMentor: {
            fullName: {
                required,
                maxLength: maxLength(50)
            },
            phoneNumber: {
                required,
                validatePhone
            }
        }
    },
    methods: {
        async handleSubmitMentor() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            } else if (this.formMentor.dob.length < 1) {
                this.isEmptyDate = true
                return
            }
            this.isEmptyDate = false
            Swal.fire({
                title: 'Đang lưu thông tin cá nhân...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            let formData = new FormData();
            formData.append("file", this.imagee);
            const arr = []
            if (this.imagee !== null) {
                arr.push(Vue.http
                    .post(this.uploadURL, formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            this.imageStore = response.data
                        }
                    }))
            }
            Promise.all(arr).then(() => {
                const response = axios.post('Users/UpdateMentor', {
                    description: this.formMentor.description,
                    dob: moment(this.formMentor.dob).format('MM-DD-YYYY'),
                    phone: this.formMentor.phoneNumber,
                    fullName: this.formMentor.fullName,
                    imageUrl: this.imageStore
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        localStorage.setItem('image', this.imageStore)
                        Swal.close();
                        this.$swal.fire({
                            title: "Cập nhật thông tín thành công",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "success",
                        });
                        this.$router.push('/view-profile')
                    }
                }).catch(err => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Cập nhật thông tin thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                })
            })
        }
    }
}
</script>

<style>

</style>
