<template>
<div class="row ">
    <div class="col-lg-12 col-12">
        <div class="card border-0 rounded">
            <div class="card-body">
                <form @submit.prevent="handleSubmitLeaner" v-if="roleee == 4">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Họ và tên <span class="text-danger">*</span></label>
                                <user-icon class="fea icon-sm icons"></user-icon>
                                <input class="form-control pl-5" v-model="formLeaner.fullName" type="text" autocomplete="off" name="fullName" :class="{ 'is-invalid': submitted && $v.formLeaner.fullName.$error }">
                                <div v-if="submitted && $v.formLeaner.fullName.$error" class="invalid-feedback">
                                    <span v-if="!$v.formLeaner.fullName.required">Không để trống họ và tên</span>
                                    <span v-if="!$v.formLeaner.fullName.maxLength && $v.formLeaner.fullName.required">Chứa tối đa 50 kí tự</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Ngày sinh <span class="text-danger">*</span></label>
                                <gift-icon class="fea icon-sm icons"></gift-icon>
                                <!-- <b-form-datepicker v-model="formLeaner.birthdate"></b-form-datepicker> -->
                                <DateTime :time.sync="formLeaner.birthdate" @hasValue="isEmptyDate = $event" :timepicker.sync="formLeaner.birthdate" @dateChange="formLeaner.birthdate" />
                                <span v-show="isEmptyDate" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn ngày sinh</span>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Ngày sinh <span class="text-danger">*</span></label>
                                <gift-icon class="fea icon-sm icons"></gift-icon>
                                <DatePicker v-model="formLeaner.birthdate" />
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Tỉnh/ Thành Phố <span class="text-danger">*</span></label>
                                <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                <select class="form-control pl-5" @change="fetchDistricts($event)" :disabled="!provincesDB.length">
                                    <option value="" disabled>Chọn Tỉnh/ Thành phố</option>
                                    <option v-for="province in provincesDB" :key="province.id" :value="province.id" :selected="province.id == provinceId">{{ province.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Quận/ Huyện <span class="text-danger">*</span></label>
                                <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                <select class="form-control pl-5" @change="changeDistrict($event)" :disabled="!districts.length">
                                    <option value="" disabled>Chọn Quận/ Huyện</option>
                                    <option v-for="dist in districts" :key="dist.id" :value="dist.id" :selected="dist.id === districtId">{{ dist.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                <phone-icon class="fea icon-sm icons"></phone-icon>
                                <!-- <input name="phone" id="phone" type="text" v-model="formLeaner.phoneNumber" class="form-control pl-5"> -->
                                <input class="form-control pl-5" v-model="formLeaner.phoneNumber" type="text" autocomplete="off" name="phoneNumber" :class="{ 'is-invalid': submitted && $v.formLeaner.phoneNumber.$error }">
                                <div v-if="submitted && $v.formLeaner.phoneNumber.$error" class="invalid-feedback">
                                    <span v-if="!$v.formLeaner.phoneNumber.required">Không để trống số điện thoại</span>
                                    <span v-if="$v.formLeaner.phoneNumber.required && !$v.formLeaner.phoneNumber.validatePhone">Sai định dạng số điện thoại</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <label>Trường <span class="text-danger">*</span></label>
                                <home-icon class="fea icon-sm icons"></home-icon>
                                <!-- <input name="school" id="school" type="text" v-model="formLeaner.school" class="form-control pl-5"> -->
                                <input class="form-control pl-5" v-model="formLeaner.school" type="text" autocomplete="off" name="school" :class="{ 'is-invalid': submitted && $v.formLeaner.school.$error }">
                                <div v-if="submitted && $v.formLeaner.school.$error" class="invalid-feedback">
                                    <span v-if="!$v.formLeaner.school.required">Không để trống họ và tên</span>
                                    <span v-if="!$v.formLeaner.school.maxLength && $v.formLeaner.school.required">Chứa tối đa 50 kí tự</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import moment from 'moment'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import {
    UserIcon,
    GiftIcon,
    MapPinIcon,
    PhoneIcon,
    HomeIcon,
    MessageCircleIcon
} from 'vue-feather-icons'
import {
    required,
    maxLength
} from 'vuelidate/lib/validators'
import {
    validatePassword,
    validatePhone
} from '../validator/validate'
import axios from 'axios';
import Swal from 'sweetalert2'
import DateTime from "../components/date-picker.vue"
import Vue from 'vue';
import VueResource from "vue-resource"
Vue.use(VueResource);
export default {
    props: ['image'],
    data() {
        return {
            formLeaner: {
                fullName: '',
                phoneNumber: '',
                birthdate: '',
                districtId: '',
                school: '',
            },
            formMentor: {
                description: '',
                dob: '',
                phoneNumber: '',
                fullName: ''
            },
            dataMentorBefore: [],
            submitted: false,
            provincesDB: [],
            districtsDB: [],
            provinces: [],
            districts: [],
            roleee: 0,
            imageFile: null,
            imageStore: 'images/icon-avatar.png',
            uploadURL: 'https://localhost:44360/Upload',
            datePicker: null,
            isEmptyDate: false
        }
    },
    components: {
        HomeIcon,
        MapPinIcon,
        GiftIcon,
        PhoneIcon,
        UserIcon,
        MessageCircleIcon,
        DateTime,
        DatePicker
    },
    created: async function () {
        const token = localStorage.getItem('token')
        const id = localStorage.getItem('id')
        const role = localStorage.getItem('role')
        this.roleee = role
        if (token === null) {
            this.$router.push('/auth-login')
        } else {
            if (role == 4) {
                const LeanerProfile = await axios.get('MyAccount/LearnerProfile', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.dataLeanerBefore = res.data
                        this.formLeaner.birthdate = new Date(this.dataLeanerBefore.birthdate)
                        this.formLeaner.fullName = this.dataLeanerBefore.fullName
                        this.formLeaner.phoneNumber = this.dataLeanerBefore.phoneNumber
                        this.formLeaner.school = this.dataLeanerBefore.school
                        this.districtId = this.dataLeanerBefore.districtId
                        this.provinceId = this.dataLeanerBefore.provinceId
                        this.imageStore = this.dataLeanerBefore.imageUrl
                        if (localStorage.getItem('role') == 4) {
                            this.isLeaner = true
                            this.isMentor = false
                        } else {
                            this.isLeaner = false
                            this.isMentor = true
                        }
                        if (this.dataLeanerBefore.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.dataLeanerBefore.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.dataLeanerBefore.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.dataLeanerBefore.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                });
                const getDistrict = await axios.get('MyAccount/GetDistrict', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.districtsDB = res.data
                        this.districts = this.districtsDB.filter(district => district.provineId === this.provinceId);
                    }
                })
                const getProvince = await axios.get('MyAccount/GetProvine', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.provincesDB = res.data
                    }
                });
            }
        }
    },
    validations: {
        formLeaner: {
            fullName: {
                required,
                maxLength: maxLength(50)
            },
            phoneNumber: {
                required,
                validatePhone
            },
            school: {
                required,
                maxLength: maxLength(50)
            }
        }
    },
    methods: {
        changeDistrict(e) {
            this.districtId = parseInt(e.target.value)
        },
        handleSubmitLeaner() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            } else if (this.formLeaner.birthdate.length < 1) {
                this.isEmptyDate = true
            } else {
                this.isEmptyDate = false
                const arr = []
                Swal.fire({
                    title: 'Đang lưu thông tin cá nhân...',
                    html: 'Chờ trong giây lát...',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                let formData = new FormData();
                formData.append("file", this.image);
                if (this.image !== null) {
                    console.log('anh co update')
                    arr.push(Vue.http
                        .post(this.uploadURL, formData, {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        })
                        .then(response => {
                            if (response.status === 200) {
                                this.imageStore = response.data
                            }
                        }))
                }
                Promise.all(arr).then(() => {
                    const response = axios.post('Users/UpdateLearner', {
                        fullName: this.formLeaner.fullName,
                        phone: this.formLeaner.phoneNumber,
                        school: this.formLeaner.school,
                        birthdate: moment(this.formLeaner.birthdate).format('MM-DD-YYYY'),
                        districtId: this.districtId,
                        imageUrl: this.imageStore
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem("token")
                        }
                    }).then(res => {
                        if (res) {
                            localStorage.setItem('image', this.imageStore)
                            Swal.close();
                            if (this.imageStore)
                                this.$swal.fire({
                                    title: "Cập nhật thông tin thành công",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 3000,
                                    toast: true,
                                    position: "top-end",
                                    icon: "success",
                                });
                            this.$router.push('/view-profile')
                        }
                    }).catch(err => {
                        Swal.close();
                        this.$swal.fire({
                            title: "Cập nhật thông tin thất bại",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3500,
                            toast: true,
                            position: 'top-end',
                            icon: 'error'
                        })
                    })
                })
            }
        },
        async fetchProvinces() {
            this.provinces = this.provincesDB
        },
        async fetchDistricts(e) {
            this.districts = this.districtsDB.filter(district => district.provineId === parseInt(e.target.value));
            this.districtId = parseInt(this.districts[0].id)
        },
        mounted() {
            this.fetchProvinces();
        }
    }
}
</script>

<style>

</style>
