<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="section pt-5 mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card map border-0">
                        <div class="card-body p-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.242861068698!2d105.52601823627958!3d21.013242474505095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2sFPT%20University!5e0!3m2!1sen!2s!4v1629864697210!5m2!1sen!2s" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0 order-2 order-md-1">
                    <div class="card custom-form rounded shadow border-0">
                        <div class="card-body">
                            <div id="message"></div>
                            <form name="contact-form" id="contact-form" @submit.prevent="handleSubmit">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group position-relative">
                                            <label>Tên <span class="text-danger">*</span></label>
                                            <user-icon class="fea icon-sm icons"></user-icon>
                                            <!-- <input name="name" id="name" type="text" class="form-control pl-5" placeholder="Tên :"> -->
                                            <input id="name" name="name" type="text" autocomplete="off" class="form-control pl-5" v-model="form.name" :class="{ 'is-invalid': submitted && $v.form.name.$error }" />
                                            <div v-if="submitted && $v.form.name.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.name.required">Không để trống tên</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group position-relative">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <mail-icon class="fea icon-sm icons"></mail-icon>
                                            <input type="text" class="form-control pl-5" v-model="form.email" name="email" autocomplete="off" :class="{ 'is-invalid': submitted && $v.form.email.$error }" />
                                            <div v-if="submitted && $v.form.email.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.email.required">Không để trống email</span>
                                                <span v-if="$v.form.email.required && !$v.form.email.validateEmail">Sai định dạng email</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label>Bình luận <span class="text-danger">*</span></label>
                                            <message-circle-icon class="fea icon-sm icons"></message-circle-icon>
                                            <textarea id="fullName" name="fullName" type="textarea" autocomplete="off" class="form-control pl-5" v-model="form.comment" :class="{ 'is-invalid': submitted && $v.form.comment.$error }" />
                                            <div v-if="submitted && $v.form.comment.$error" class="invalid-feedback">
                                                <span v-if="!$v.form.comment.required">Không để trống bình luận</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mb-0">
                                        <button class="btn btn-primary btn-block">
                                            Gửi
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6 order-1 order-md-2">
                    <div class="title-heading ml-lg-4">
                        <h4 class="mb-4">Thông tin liên hệ</h4>
                        <p class="text-muted">Đội ngũ <span class="text-primary font-weight-bold">Flearn</span></p>
                        <div class="media contact-detail align-items-center mt-3">
                            <div class="icon">
                                <mail-icon class="fea icon-m-md text-dark mr-3"></mail-icon>
                            </div>
                            <div class="media-body content">
                                <h4 class="title font-weight-bold mb-0">Email</h4>
                                <a href="mailto:contact@example.com" class="text-primary">flearn@gmail.com</a>
                            </div>
                        </div>

                        <div class="media contact-detail align-items-center mt-3">
                            <div class="icon">
                                <phone-icon class="fea icon-m-md text-dark mr-3"></phone-icon>
                            </div>
                            <div class="media-body content">
                                <h4 class="title font-weight-bold mb-0">Số điện thoại</h4>
                                <a href="tel:+152534-468-854" class="text-primary">+84 378-373-618</a>
                            </div>
                        </div>

                        <div class="media contact-detail align-items-center mt-3">
                            <div class="icon">
                                <map-pin-icon class="fea icon-m-md text-dark mr-3"></map-pin-icon>
                            </div>
                            <div class="media-body content">
                                <h4 class="title font-weight-bold mb-0">Địa chỉ</h4>
                                <a href="javascript: void(0);" class="video-play-icon text-primary" v-b-modal.modal-1>Xem trên Google map</a>
                            </div>
                            <b-modal hide-footer header-close-variant="white" header-class="border-0" content-class="border-0" id="modal-1" size="lg" centered body-class="p-0">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.242861068698!2d105.52601823627958!3d21.013242474505095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2sFPT%20University!5e0!3m2!1sen!2s!4v1629864697210!5m2!1sen!2s" style="border:0" height="500" width="800"></iframe>
                            </b-modal>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <Footer />
</div>
</template>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    MapPinIcon,
    MessageCircleIcon
} from 'vue-feather-icons';
import {
    Carousel,
    Slide
} from 'vue-carousel';
import countTo from 'vue-count-to'

import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'
import {
    required
} from 'vuelidate/lib/validators'
import {
    validateEmail
} from '../validator/validate'

/**
 * Index-course component
 */
export default {
    name: 'Home',
    async created() {},
    data() {
        return {
            slide: 0,
            form: {
                name: '',
                email: '',
                comment: ''
            },
            submitted: false
        }
    },
    validations: {
        form: {
            name: {
                required
            },
            email: {
                required,
                validateEmail
            },
            comment: {
                required,
            },
        }
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        Carousel,
        Slide,
        ArrowUpIcon,
        countTo,
        MailIcon,
        PhoneIcon,
        UserIcon,
        ChevronRightIcon,
        PlayIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        MapPinIcon,
        MessageCircleIcon
    },
    methods: {
        handleSubmit() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            axios.post("Guest/SendQuestion", {
                    name: this.form.name,
                    email: this.form.email,
                    message: this.form.comment
                })
                .then((res) => {
                    if (res) {
                        Swal.close();
                        this.$swal.fire({
                            title: 'Gửi ý kiến thành công',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: 'top-end',
                            icon: 'success'
                        })
                    }
                })
                .catch((err) => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Gửi ý kiến thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                });
        }
    }
}
</script>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}

.img-fluid.rounded-top.mx-auto {
    height: 350px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
