<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem; boder: 1px solid">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align:center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-account">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">
                                Thêm mới tài khoản
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <div class="rounded shadow-lg p-4">
                        <div class="row">
                            <div class="col-12">
                                <form @submit.prevent="handleSubmit" autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Vai trò tài khoản <span class="text-danger">*</span></label>
                                                <select class="form-control custom-select" id="Sortbylist-Shop1" @change="getIdRole($event)">
                                                    <option v-for="(role, i) in options" :key="i" :value="role.code" :selected="role.code == roleChoose">{{role.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 || roleChoose==3" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Họ và tên <span class="text-danger">*</span></label>
                                                <user-icon class="fea icon-sm icons"></user-icon>
                                                <input class="form-control pl-5" v-model="fullName" type="text" autocomplete="off" name="fullName" :class="{ 'is-invalid': submitted && $v.fullName.$error }">
                                                <div v-if="submitted && $v.fullName.$error" class="invalid-feedback">
                                                    <span v-if="!$v.fullName.required">Không để trống họ và tên</span>
                                                    <span v-if="!$v.fullName.maxLength && $v.fullName.required">Chứa tối đa 50 kí tự</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Tài khoản <span class="text-danger">*</span></label>
                                                <user-icon class="fea icon-sm icons"></user-icon>
                                                <input id="account" v-model="form.account" type="text" name="account" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.account.$error }">
                                                <div v-if="submitted && $v.form.account.$error" class="invalid-feedback">
                                                    <span v-if="!$v.form.account.required">Không để trống tên đăng nhập</span>
                                                    <span v-if="!$v.form.account.validateHasSpecialCharacter && $v.form.account.required">Từ 3 - 16 kí tự, không chứa kí tự quá đặc biệt</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Email <span class="text-danger">*</span></label>
                                                <mail-icon class="fea icon-sm icons"></mail-icon>
                                                <input id="email" v-model="form.email" type="text" name="email" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.email.$error }">
                                                <div v-if="submitted && $v.form.email.$error" class="invalid-feedback">
                                                    <span v-if="!$v.form.email.required">Không để trống email</span>
                                                    <span v-if="!$v.form.account.validateEmail && $v.form.email.required">Email không hợp lệ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Mật khẩu <span class="text-danger">*</span></label>
                                                <key-icon class="fea icon-sm icons"></key-icon>
                                                <input id="password" v-model="form.loginPassword" type="password" name="password" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.loginPassword.$error }">
                                                <div v-if="submitted && $v.form.loginPassword.$error" class="invalid-feedback">
                                                    <span v-if="!$v.form.loginPassword.required">Không để trống mật khẩu</span>
                                                    <span v-if="!$v.form.loginPassword.validatePassword && $v.form.loginPassword.required">Từ 8 - 100 kí tự, không chứa kí tự quá đặc biệt</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Xác nhận mật khẩu <span class="text-danger">*</span></label>
                                                <key-icon class="fea icon-sm icons"></key-icon>
                                                <input id="reNewPassword" v-model="form.reNewPassword" type="password" name="reNewPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.form.reNewPassword.$error }">
                                                <div v-if="submitted && $v.form.reNewPassword.$error" class="invalid-feedback">
                                                    <span v-if="!$v.form.reNewPassword.sameAsPassword">Mật khẩu không trùng khớp</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="roleChoose==4 || roleChoose==3" class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Ngày sinh <span class="text-danger">*</span></label>
                                                <gift-icon class="fea icon-sm icons"></gift-icon>
                                                <!-- <b-form-datepicker @change="changeDob" v-model="dob"></b-form-datepicker> -->
                                                <DateTime :time.sync="dob" @hasValue="isNullDob = $event" :timepicker.sync="dob" @dateChange="dob = $event" />
                                                <span v-show="isNullDob" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn ngày sinh</span>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 || roleChoose==3" class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                                <phone-icon class="fea icon-sm icons"></phone-icon>
                                                <input type="text" class="form-control pl-5" v-model="phone" autocomplete="off" :class="{ 'is-invalid': submitted && $v.phone.$error }" />
                                                <div v-if="submitted && $v.phone.$error" class="invalid-feedback">
                                                    <span v-if="!$v.phone.required">Không để trống số điện thoại</span>
                                                    <span v-if="$v.phone.required && !$v.phone.validatePhone">Sai định dạng số điện thoại</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4" class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Tỉnh/ Thành Phố <span class="text-danger">*</span></label>
                                                <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                                <select class="form-control pl-5" v-model="selectedProvince" @change="fetchDistricts" :disabled="!provincesDB.length">
                                                    <option value="" selected disabled>Chọn Tỉnh/ Thành phố</option>
                                                    <option v-for="province in provincesDB" :key="province.id" :value="province">{{ province.name }}</option>
                                                </select>
                                                <span v-show="isNullProvince" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn Tỉnh/ Thành Phố</span>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 " class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Quận/ Huyện <span class="text-danger">*</span></label>
                                                <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                                <select class="form-control pl-5" @change="changeDistrict" v-model="selectedDistrict" :disabled="!districts.length">
                                                    <option value="" selected disabled>Chọn Quận/ Huyện</option>
                                                    <option v-for="dist in districts" :key="dist.id" :value="dist.id">{{ dist.name }}</option>
                                                </select>
                                                <span v-show="isNullDistrict" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn Quận/ Huyện</span>
                                            </div>
                                        </div>

                                        <div v-if="roleChoose==4" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Trường <span class="text-danger">*</span></label>
                                                <home-icon class="fea icon-sm icons"></home-icon>
                                                <input id="school" name="school" type="text" class="form-control pl-5" autocomplete="off" v-model="formLeaner.school" :class="{ 'is-invalid': submitted && $v.formLeaner.school.$error }" />
                                                <div v-if="submitted && $v.formLeaner.school.$error" class="invalid-feedback">
                                                    <span v-if="!$v.formLeaner.school.required">Không để trống tên trường</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==3" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Mô tả :</label>
                                                <message-circle-icon class="fea icon-sm icons"></message-circle-icon>
                                                <textarea name="comments" id="comments" rows="4" class="form-control pl-5" v-model="formMentor.description" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="submit" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Tạo">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<script>
import {
    ArrowUpIcon,
    UserIcon,
    BookIcon,
    MessageCircleIcon,
    MailIcon,
    KeyIcon,
    GiftIcon,
    PhoneIcon,
    MapPinIcon,
    HomeIcon
} from 'vue-feather-icons';
import axios from 'axios';
import Multiselect from 'vue-multiselect'
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import DateTime from "../components/date-picker.vue"
import moment from 'moment'
import {
    required,
    sameAs,
    maxLength
} from 'vuelidate/lib/validators'
import {
    validatePassword,
    validateHasSpecialCharacter,
    validateEmail,
    validatePhone
} from '../validator/validate'
export default {
    name: 'CreateAccount',
    components: {
        Navbarnew,
        GiftIcon,
        PhoneIcon,
        Footer,
        Multiselect,
        ArrowUpIcon,
        UserIcon,
        BookIcon,
        MessageCircleIcon,
        MailIcon,
        KeyIcon,
        MapPinIcon,
        HomeIcon,
        DateTime
    },
    data() {
        return {
            phone: '',
            fullName: '',
            dob: null,

            formLeaner: {
                districtId: 1,
                school: '',

            },
            formMentor: {
                description: '',
            },
            provinces: [],
            districts: [],
            provincesDB: [],
            districtsDB: [],
            form: {
                account: null,
                loginPassword: null,
                reNewPassword: '',
                email: null,
                roleId: null
            },
            roleChoose: 1,
            options: [{
                    name: 'Admin',
                    code: 1
                },
                {
                    name: 'Manager',
                    code: 2
                },
                {
                    name: 'Mentor',
                    code: 3
                },
                {
                    name: 'Học viên',
                    code: 4
                }
            ],
            submitted: false,
            isFalseRole: false,
            isNullDob: false,
            isNullProvince: false,
            isNullDistrict: false,
            selectedProvince: null,
            selectedDistrict: null,
        }
    },
    validations: {
        formLeaner: {
            school: {
                required,
                maxLength: maxLength(50)
            }
        },
        phone: {
            required,
            validatePhone
        },
        fullName: {
            required,
            maxLength: maxLength(50)
        },
        form: {
            account: {
                required,
                validateHasSpecialCharacter
            },
            loginPassword: {
                required,
                validatePassword
            },
            reNewPassword: {
                required,
                sameAsPassword: sameAs('loginPassword')
            },
            email: {
                required,
                validateEmail
            }
        }
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
           this.$router.push("/auth-login")
        } else if (role === 2 || role === 3 || role === 4) {
           this.$router.push("/page-not-found")
        } else {
            const roleAdd = localStorage.getItem('roleAdd')
            if(roleAdd === 'admin') {
              this.roleChoose = 1
            } else if (roleAdd === 'manager') {
              this.roleChoose = 2
            }else if (roleAdd === 'mentor') {
              this.roleChoose = 3
            } else if (roleAdd === 'learner') {
              this.roleChoose = 4
            }
            const getDistrict = await axios.get('MyAccount/GetDistrict', {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {
                    this.districtsDB = res.data
                }
            })
            const getProvince = await axios.get('MyAccount/GetProvine', {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {
                    this.provincesDB = res.data
                }
            });
        }
    },
    methods: {
      changeDob() {
        this.isNullDob = false
      },
      changeDistrict() {
        this.isNullDistrict = false
      },
      getIdRole(e) {
        this.roleChoose = parseInt(e.target.value)
        this.form.account = null
        this.form.loginPassword = null
        this.form.reNewPassword = null
        this.form.email = null
        this.selectedDistrict = null
        this.selectedProvince = null
        this.fullName = null
        this.dob = null
        this.formLeaner.school = null
        this.phone = null
        this.formMentor.description = null
        this.isNullDob = false
        this.isNullProvince = false
        this.isNullDistrict = false
        this.submitted = false
      },
      async fetchProvinces() {
        this.provinces = this.provincesDB
      },
      async fetchDistricts() {
        this.selectedDistrict = null
        this.isNullProvince = false
        this.districts = this.districtsDB.filter(
            district => district.provineId === this.selectedProvince.id);
      },
      mounted() {
        this.fetchProvinces();
      },
      async handleSubmit(e) {
        this.submitted = true
        this.$v.$touch()
        if (this.roleChoose === 1 || this.roleChoose === 2) {
          if (this.$v.form.account.$invalid || this.$v.form.loginPassword.$invalid || this.$v.form.email.$invalid || this.$v.form.reNewPassword.$invalid) {
            return
          }
        } else if (this.roleChoose === 3) {
          if (this.dob === null || this.$v.fullName.$invalid || this.$v.form.account.$invalid || this.$v.form.loginPassword.$invalid || this.$v.form.email.$invalid || this.$v.form.reNewPassword.$invalid) {
            if (this.dob == null) {
              this.isNullDob = true
            } else {
              this.isNullDob = false
            }
            return
          }
        } else if (this.roleChoose === 4) {
          if (this.selectedProvince == null || this.selectedDistrict == null || this.$v.formLeaner.school.$invalid || this.dob == null || this.$v.fullName.$invalid || this.$v.form.account.$invalid || this.$v.form.loginPassword.$invalid || this.$v.form.email.$invalid || this.$v.form.reNewPassword.$invalid) {
            if (this.selectedProvince == null) {
              this.isNullProvince = true
            }
            if (this.selectedDistrict == null) {
              this.isNullDistrict = true
            }
            if (this.dob == null) {
              this.isNullDob = true
            } else {
              this.isNullDob = false
            }
            return
          }
        }
          this.isNullDob = false
          this.isNullDistrict = false
          this.isNullProvince = false
          if(this.dob !== null) {
            this.dob = moment(this.dob).format('MM-DD-YYYY')
          } else {
            this.dob = null
          }
          const respone = await axios.post('Admin/CreateUserByAdmin', {
            account: this.form.account,
            loginPassword: this.form.loginPassword,
            email: this.form.email,
            roleId: this.roleChoose,
            districId: this.selectedDistrict,
            fullName: this.fullName,
            dob: this.dob ,
            school: this.formLeaner.school,
            phone: this.phone,
            description: this.formMentor.description
          }, {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }).then(res => {
            if (res.data == -1) {
              this.$swal.fire({
                title: "Tên đăng nhập đã tồn tại",
                showCancelButton: false,
                showConfirmButton: false,
                timer: 3000,
                toast: true,
                position: "top-end",
                icon: "error",
              });
              return;
            }
            if (res.data == -2) {
              this.$swal.fire({
                title: "Email đã tồn tại",
                showCancelButton: false,
                showConfirmButton: false,
                timer: 3000,
                toast: true,
                position: "top-end",
                icon: "error",
              });
              return;
            }
            if (res) {
              this.$swal.fire({
                title: "Tạo tài khoản thành công",
                showCancelButton: false,
                showConfirmButton: false,
                timer: 3000,
                toast: true,
                position: "top-end",
                icon: "success",
              });
              if (this.roleChoose == 1) {
                this.$router.push('/manager-account')

              } else if (this.roleChoose == 2) {
                this.$router.push('/managerLst-account')

              } else if (this.roleChoose == 4) {
                this.$router.push('/learner-account')

              } else if (this.roleChoose == 3) {
                this.$router.push('/mentor-account')

              }
            }
          })
        }
      }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
<style >
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
