<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12" style="text-align: center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item"><a href="/manager-course">Trang chủ</a></li>
                            <li class="breadcrumb-item" aria-current="page">
                                <a style="color:#2F55D4; background-color: white">Tạo khóa học mới</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section" style="border: 0px solid;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow p-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Tên khóa học :<span class="text-danger">*</span></label>
                                            <book-open-icon class="fea icon-sm icons"></book-open-icon>
                                            <input class="form-control pl-5" v-model="courseName" placeholder="Tên khóa học" type="text" autocomplete="off" name="courseName" :class="{ 'is-invalid': submitted && $v.courseName.$error }">
                                            <div v-if="submitted && $v.courseName.$error" class="invalid-feedback">
                                                <span v-if="!$v.courseName.required">Không để trống tên khóa học</span>
                                                <span v-if="!$v.courseName.maxLength && $v.courseName.required">Chứa tối đa 50 kí tự</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Nhóm khóa học :</label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop" @change="onChange($event)">
                                                <option v-for="(group, i) in groups" :key="i" :value="group.id">{{group.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Mục đích :<span class="text-danger">*</span></label>
                                            <award-icon class="fea icon-sm icons"></award-icon>
                                            <input class="form-control pl-5" v-model="purpose" placeholder="Mục đích" type="text" autocomplete="off" name="purpose" :class="{ 'is-invalid': submitted && $v.purpose.$error }">
                                            <div v-if="submitted && $v.purpose.$error" class="invalid-feedback">
                                                <span v-if="!$v.purpose.required">Không để trống tên khóa học</span>
                                                <span v-if="!$v.purpose.maxLength && $v.purpose.required">Chứa tối đa 200 kí tự</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Mô tả khóa học :<span class="text-danger">*</span></label>
                                            <edit-3-icon class="fea icon-sm icons"></edit-3-icon>
                                            <textarea name="comments" id="comments" rows="4" class="form-control pl-5" placeholder="Mô tả khóa học" v-model="description" autocomplete="off" :class="{ 'is-invalid': submitted && $v.description.$error }"></textarea>
                                            <div v-if="submitted && $v.description.$error" class="invalid-feedback">
                                                <span v-if="!$v.description.required">Không để trống tên khóa học</span>
                                                <span v-if="!$v.description.maxLength && $v.description.required">Chứa tối đa 500 kí tự</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-top: -2.5rem;">
                                        <div class="form-group position-relative">
                                            <label>Thêm mentor :</label>
                                            <edit-3-icon class="fea icon-sm icons"></edit-3-icon>
                                            <multiselect v-model="value" tag-placeholder="Thêm mentor" placeholder="Thêm mentor" label="fullName" track-by="id" :options="mentors" :multiple="true" :taggable="true"></multiselect>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Thêm ảnh <i>(ảnh mặc định sẽ thêm nếu bạn không có ảnh)</i> :</label>
                                            <div>
                                                <div class="row">
                                                    <div :span="24" class="upload-block__image-row" style="margin-left: 10px; width: 200px">
                                                        <img :src="image ? image : cover" alt="">
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-left: 10px">
                                                    <label class="upload-block__button" @click="$refs.file.click()">TẢI ẢNH</label>
                                                    <label class="upload-block__button" style="margin-left: 50px" @click="deleteImage">XOÁ ẢNH</label>
                                                </div>
                                                <div class="row">
                                                    <input ref="file" class="inputFile" type="file" name="inputFile" accept=".jpg, .jpeg, .bmp, .gif, .png, .svg" @change="getFileName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="button" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu" @click="save()" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    BookOpenIcon,
    Edit3Icon,
    AwardIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";
import Multiselect from "vue-multiselect";
import Vue from 'vue';
import VueResource from "vue-resource"
import {
    required,
    maxLength
} from 'vuelidate/lib/validators'
import Swal from 'sweetalert2'

Vue.use(VueResource);

/**
 * Index-course component
 */
export default {
    data() {
        return {
            groups: {},
            mentors: [],
            value: [],
            selectedGroupId: -1,
            courseName: '',
            purpose: '',
            imageUrl: 'https://ictacademy.com.ng/wp-content/uploads/2020/08/Education-picture.jpg',
            description: '',
            cover: 'https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0',
            image: '',
            file: null,
            uploadURL: 'https://localhost:44360/Upload',
            submitted: false
        };
    },
    validations: {
        courseName: {
            required,
            maxLength: maxLength(50)
        },
        description: {
            required,
            maxLength: maxLength(500)
        },
        purpose: {
            required,
            maxLength: maxLength(200)
        }
    },
    components: {
        Navbarnew,
        Footer,
        BookOpenIcon,
        Edit3Icon,
        AwardIcon,
        Multiselect
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem("token");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                const response = await axios.get("/Group/GetListGroupForCreateCourse", {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then((res) => {
                    this.groups = res.data;
                    this.selectedGroupId = res.data[0].id;
                })
                await axios.get("MentorFeatures/GetListMentor", {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then((res) => {
                    this.mentors = res.data;
                })
            }
        }
    },
    methods: {
        deleteImage() {
            this.$refs.file.value = ''
            this.image = ''
            this.file = null
            this.imageUrl = 'https://ictacademy.com.ng/wp-content/uploads/2020/08/Education-picture.jpg'
        },
        getFileName(e) {
            this.image = URL.createObjectURL(e.target.files[0])
            this.file = e.target.files[0]
        },
        select() {
            this.selected = [];
            if (!this.selectAll) {
                for (let i in this.courses) {
                    this.selected.push(this.courses[i].id);
                }
            }
        },
        save() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            const token = localStorage.getItem("token");
            let formData = new FormData();
            formData.append("file", this.file);
            if (this.file !== null) {
                Swal.fire({
                    title: 'Đang lưu khóa học...',
                    html: 'Chờ trong giây lát...',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                Vue.http
                    .post(this.uploadURL, formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                    .then(response => {
                        if (response.status === 200) {
                            axios.post("Courses", {
                                groupId: this.selectedGroupId,
                                title: this.courseName,
                                description: this.description,
                                purpose: this.purpose,
                                imageUrl: response.data,
                                mentor: this.value
                            }, {
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                }
                            }).then(res => {
                                if (res) {
                                    Swal.close();
                                    this.$swal.fire({
                                        title: 'Thêm khóa học thành công',
                                        showCancelButton: false,
                                        showConfirmButton: false,
                                        timer: 3000,
                                        toast: true,
                                        position: 'top-end',
                                        icon: 'success'
                                    })
                                    this.$router.push('/manager-course')
                                }
                            })
                        }
                    });
            } else {
                axios.post("Courses", {
                    groupId: this.selectedGroupId,
                    title: this.courseName,
                    description: this.description,
                    purpose: this.purpose,
                    imageUrl: this.imageUrl,
                    mentor: this.value
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then(res => {
                    if (res) {
                        Swal.close();
                        this.$swal.fire({
                            title: 'Thêm thành công',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: 'top-end',
                            icon: 'success'
                        })
                        this.$router.push('/manager-course')
                    }
                })
            }
        },
        onChange(event) {
            this.selectedGroupId = event.target.value;
        }
    },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style><style lang="scss" scoped>
label {
    cursor: pointer;
}

.inputFile {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-block {
    border: 1px solid rgba(63, 63, 68, 0.15);
    box-shadow: 0 0 4px rgba(63, 63, 68, 0.25);
    border-radius: 8px;
    margin-top: 16px;

    &__button {
        font-weight: 400;
        transition: all .3s;

        &:hover {
            color: #1caad9;
        }
    }

    &__button-row {
        border-top: 1px solid #E4E7EB;
        padding: 15px 10px;
        display: flex;
        justify-content: space-around;
    }

    &__image-row {
        padding: 10px;
        border-radius: 8px;

        img {
            border-radius: 14px;
            height: 150px;
            width: 100%;
        }
    }
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
