<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-matrix">Ma trận đề</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Tạo ma trận</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Job apply form Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group position-relative">
                                            <label>Tên :<span class="text-danger">*</span></label>
                                            <input id="name" v-model="matrixName" type="text" name="name" class="form-control" :class="{ 'is-invalid': submitted && $v.matrixName.$error }">
                                            <div v-if="submitted && $v.matrixName.$error" class="invalid-feedback">
                                                <span v-if="!$v.matrixName.required">Không để trống tên ma trận</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-3">
                                        <div class="form-group position-relative">
                                            <label>Số câu :<span class="text-danger">*</span></label>
                                            <input name="" id="" type="number" v-model="total" disabled class="form-control" placeholder="Số lượng">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" style="min-width: 300px;">Nhóm</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Độ khó</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Số câu</th>
                                                            <th scope="col" class="text-center" style="width: 100px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(matrixLine, i) in matrixLines" :key="i">
                                                            <td class="small">{{matrixLine.groupName}}</td>

                                                            <td v-if="matrixLine.questionLevel =='1'" class="text-center small">
                                                                Khó
                                                            </td>

                                                            <td v-else-if="matrixLine.questionLevel =='2'" class="text-center small">
                                                                Trung bình
                                                            </td>
                                                            <td v-else class="text-center small">
                                                                Dễ </td>
                                                            <td class="text-center small"> {{matrixLine.numberQuestion}}

                                                            </td>
                                                            <td class="text-center small"><i class="mdi mdi-24px mdi-delete-forever cursor" @click="remove(i)" style="color:black"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <a href="javascript:void(0)" @click="addNewMAtrixLine" v-b-modal.CreateMatrixDetail data-toggle="modal" data-target="#CreateMatrixDetail" class="btn btn-icon btn-pills btn-outline-primary">
                                                <plus-icon class="fea icon-sm"></plus-icon>
                                            </a>
                                        </div>
                                        <b-modal v-if="showAddMatrixLine" id="CreateMatrixDetail" size="sm" title="Tạo ma trận con" :hide-footer="true" centered>
                                            <div class="bg-white rounded box-shadow">
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Nhóm:</label>
                                                        <div>
                                                            <div class="form-group mb-0">
                                                                <select class="form-control custom-select" id="Sortbylist-Shop" @change="onChangeGroup($event)">
                                                                    <option v-for="(group, i) in groups" :key="i" :value="group.id">{{group.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Độ khó:</label>
                                                        <div>
                                                            <div class="form-group mb-0">
                                                                <select class="form-control custom-select" @change="onChange($event)">
                                                                    <option selected value="1">Khó</option>
                                                                    <option value="2">Trung bình</option>
                                                                    <option value="3">Dễ</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Số câu :<span class="text-danger">*</span></label>
                                                        <input name="name" v-model="numberQuestion" id="name" type="number" class="form-control" placeholder="Nhập số lượng">
                                                    </div>
                                                    <div>
                                                        <span v-if="isValidNumber" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Trường này phải là số và lớn hơn 0</span>
                                                        <br>

                                                        <span v-if="isDuplicate" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không thể trùng nhóm và độ khó</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="button" @click="submit" id="submit" style="width: 70px" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                                                    <input type="button" @click="clearData" id="submit" style="width: 90px" name="send" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                </div>
                                            </div>
                                        </b-modal>
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="mt-4" id="submit">
                                    <a @click="saveMatrix()" class="btn btn-pills btn-primary mt-2 mr-2">Lưu</a>
                                </div>
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Job apply form End -->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'
import {
    required
} from "vuelidate/lib/validators";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            submitted: false,
            isValidNumber: false,
            isDuplicate: false,
            showAddMatrixLine: false,
            courses: {},
            groupId: 0,
            matrixId: 0,
            questionLevel: 1,
            numberQuestion: 1,
            groupName: '',
            total: 0,
            matrixLines: [],
            groups: [],
            matrixName: ''

        };
    },
    validations: {
        matrixName: {
            required,
        },
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            axios.get('Group')
                .then((res) => {
                    this.groups = res.data
                    this.groupId = this.groups[0].id
                    this.groupName = this.groups[0].name
                })
                .catch((err) => {
                    console.log(err)
                })
        }
    },
    methods: {

        addNewMAtrixLine() {
            this.showAddMatrixLine = true
            this.isValidNumber = false
            this.isDuplicate = false
        },
        submit() {
            if (parseInt(this.numberQuestion) <= 0) {
                this.isValidNumber = true
            } else {
                let rs = 0;
                //groupId: this.groupId,
                //  questionLevel: this.questionLevel,
                for (let i in this.matrixLines) {
                    if (this.matrixLines[i].groupId == this.groupId &&
                        this.matrixLines[i].questionLevel == this.questionLevel) {
                        this.isDuplicate = true
                        break
                    }
                     this.isDuplicate = false
                }
             
                if (this.isDuplicate == false) {
                    this.isValidNumber = false
                    this.isDuplicate = false
                    this.showAddMatrixLine = false
                    this.total = 0;
                    for (let i in this.groups) {
                        if (this.groups[i].id == this.groupId) {
                            this.groupName = this.groups[i].name
                            break
                        }
                    }
                    this.matrixLines.push({
                        groupId: this.groupId,
                        questionLevel: this.questionLevel,
                        numberQuestion: this.numberQuestion,
                        groupName: this.groupName

                    });
                    this.questionLevel = 1
                    this.groupId = this.groups[0].id

                    for (let i in this.matrixLines) {
                        this.total += parseInt(this.matrixLines[i].numberQuestion)
                    }
                }

            }

        },
        clearData() {
            this.groupId = this.groups[0].id;
            this.questionLevel = 1;
            this.numberQuestion = 1;
            this.showAddMatrixLine = false
            this.isDuplicate = false

        },
        onChange(event) {
            this.questionLevel = event.target.value;
        },
        onChangeGroup(event) {

            this.groupId = event.target.value;
            for (let i in this.groups) {
                if (this.groups[i].id == event.target.value) {
                    this.groupName = this.groups[i].name
                    break
                }
            }

        },
        remove(index) {
            this.isDuplicate = false
            this.matrixLines.splice(index, 1);
            this.total = 0;

            for (let i in this.matrixLines) {
                this.total += parseInt(this.matrixLines[i].numberQuestion)
            }
        },
        saveMatrix() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            const token = localStorage.getItem("token");
            Swal.fire({
                title: 'Đang lưu ma trận...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });

            const response = axios.post("/Matrix/CreateMatrix", {
                name: this.matrixName,
                listMatrixLine: this.matrixLines
            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                if (res) {
                    Swal.close();
                    this.$swal.fire({
                        title: 'Thêm thành công',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                    this.$router.push('/manager-matrix')
                }
            }).catch(res => {

            })
        }

    },
};
</script>

<style >
    .cursor {
        cursor: pointer;
    }
    .breadcrumb-item {
    font-size: 11px !important;
}
    .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between
    }

</style>
