<template>
<div>
    <!-- Job apply form Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Đề bài :</label>
                                            <textarea name="comments" id="comments" rows="4" class="form-control pl-5" placeholder="Đề bài :"></textarea>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Ảnh :</label>
                                            <input type="file" class="form-control-file" id="fileupload">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Nhóm :</label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop">
                                                <option>Logic</option>
                                                <option>Dãy số</option>
                                                <option>Abc</option>
                                                <option>XYZ</option>
                                                <option>aaaa</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Độ khó :</label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop">
                                                <option>Dễ</option>
                                                <option>Trung bình</option>
                                                <option>Khó</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Câu hỏi :</label>
                                             <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" style="min-width: 300px;">Nội dung</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Ảnh</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Đúng/sai</th>
                                                            <th scope="col" class="text-center" style="width: 100px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="small">A=B</td>
                                                            <td class="text-center small"> 
                                                                <a href="https://s.memehay.com/files/posts/20200811/1d45a7397bf57f2bc973292b7206c712anh-da-den-cam-dep-choi.jpg"
                                                                 class="forum-title text-primary font-weight-bold"><i class="mdi mdi-image"></i></a>
                                                            </td>
                                                            <td class="text-center "><input type="checkbox" id="remote" checked></td>
                                                            <td class="text-center small"><i class="mdi mdi-delete-forever"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="small">A=C</td>
                                                            <td class="text-center small"> 
                                                                <a href="https://s.memehay.com/files/posts/20200811/1d45a7397bf57f2bc973292b7206c712anh-da-den-cam-dep-choi.jpg"
                                                                 class="forum-title text-primary font-weight-bold"><i class="mdi mdi-image"></i></a>
                                                            </td>
                                                            <td class="text-center small"><input type="checkbox" id="remote"></td>
                                                            <td class="text-center small"><i class="mdi mdi-delete-forever"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <a href="javascript:void(0)" v-b-modal.CreateSelection data-toggle="modal" data-target="#CreateSelection" class="btn btn-icon btn-pills btn-outline-primary"><plus-icon class="fea icon-sm"></plus-icon></a>
                                        </div>
                                        <b-modal id="CreateSelection" size="xl" title="CreateSelection" centered>
                                            <div class="bg-white rounded box-shadow">
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Nội dung :</label>
                                                        <textarea name="comments" id="comments" rows="4" class="form-control pl-5" placeholder="Nội dung :"></textarea>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Ảnh :</label>
                                                        <input type="file" class="form-control-file" id="fileupload">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <div class="form-group position-relative">
                                                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio1">Đúng</label>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <div class="form-group position-relative">
                                                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio2">Sai</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-modal>
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Thêm">
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
</div>
</template>
<style scoped>
::v-deep .carousel-caption {
  display: contents;
}

::v-deep .modal-content {
  background-color: transparent;
}
</style>

<script>
import {
  ArrowUpIcon,
  MailIcon,
  PhoneIcon,
  UserIcon,
  ChevronRightIcon,
  PlayIcon,
  FacebookIcon,
  InstagramIcon,
  TwitterIcon,
  LinkedinIcon,
  PlusIcon
  
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";


/**
 * Index-course component
 */
export default {
  data() {
    return {
      courses: {},
      // selected: [],
      // selectAll: false,
      delete: '',
      groupId: "-1",
      groups: {},
      selectedGroupId: -1,
    };
  },
  components: {
    Navbarnew,
    Switcher,
    Footer,
    ArrowUpIcon,
    PlusIcon
  },
  created: async function() {
    const token = localStorage.getItem('token');
    const response = await axios.post('Courses/GetListCourse', {
        groupId: this.groupId,
    }).then((res) => {
              this.courses = res.data
            }).catch((err) => {
              console.log(err)
            })
    axios.get('Group/GetListGroupForSearchCourse').then((res) => {
      this.groups = res.data
    }).catch((err) => {
      console.log(err)
    })
  },
  methods: {
    // select() {
    //   this.selected = [];
    //   if (!this.selectAll) {
    //     for (let i in this.courses) {
    //       this.selected.push(this.courses[i].id);
    //     }
    //   }
    // },
    courseDetail: function(id){
      this.$router.push({
        name: 'MentorCourseDetail',
        params: { id: id }
      })
    },
    deleteCourse: function(id, index){
      const response = axios.post('Courses/DeleteCourse', {
          courseId: id,
      }).then(res => {
        if(res){
          this.courses.splice(index, 1);
          this.$swal.fire({
              title: 'Xóa thành công',
              showCancelButton: false,
              showConfirmButton: false,
              timer: 3000,
              toast: true,
              position: 'top-end',
              icon: 'success'
              })
        }
      }).catch(res => {

      })
      
    },
    onChange(event) {
      this.selectedGroupId = event.target.value;
      axios.post('Courses/GetListCourse', {
        groupId: this.selectedGroupId,
      }).then((res) => {
        this.courses = res.data
      }).catch((err) => {
        console.log(err)
      })
    },
    modifyCourse: function(id){
      this.$router.push({
        name: 'ModifyCourse',
        params: { id: id }
      })
    },
  },
};
</script>
