<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!-- Hero Start -->
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Sửa kỳ thi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Job apply form Start -->
    <section class="section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Tên :<span class="text-danger">*</span></label>
                                            <input id="name" v-model="title" type="text" name="name" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.title.$error }">
                                            <div v-if="submitted && $v.title.$error" class="invalid-feedback">
                                                <span v-if="!$v.title.required">Không để trống tên kỳ thi</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Bắt đầu :<span class="text-danger">*</span></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b-form-datepicker :class="{ 'is-invalid': submitted && $v.organizeDate.$error }" locale="vi" id="start-datepicker" v-model="organizeDate" class="mb-2" placeholder="Chọn ngày"></b-form-datepicker>
                                                </div>
                                                <div class="col-md-6">
                                                    <b-form-timepicker id="start-timepicker" v-model="organizeHours" placeholder="Chọn giờ"></b-form-timepicker>
                                                </div>
                                            </div>
                                            <div v-if="submitted && $v.organizeDate.$error" class="invalid-feedback">
                                                <span v-if="!$v.organizeDate.required">Không để trống trường này</span>

                                            </div>
                                            <div v-if="check==1" class="text-danger" style="font-size: 13px">
                                                <span>Thời gian bắt đầu kỳ thi phải sau thời gian hiện tại 7 ngày</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Kết thúc :<span class="text-danger">*</span></label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b-form-datepicker :class="{ 'is-invalid': submitted && $v.expiredDate.$error }" locale="vi" id="end-datepicker" v-model="expiredDate" class="mb-2" placeholder="Chọn ngày"></b-form-datepicker>
                                                </div>
                                                <div class="col-md-6">
                                                    <b-form-timepicker id="end-timepicker" v-model="expiredHourse" placeholder="Chọn giờ"></b-form-timepicker>
                                                </div>
                                            </div>
                                            <div v-if="submitted && $v.expiredDate.$error" class="invalid-feedback">
                                                <span v-if="!$v.expiredDate.required">Không để trống trường này</span>

                                            </div>
                                            <div v-if="check==2" class="text-danger" style="font-size: 13px">
                                                <span>Thời gian kết thúc kỳ thi phải lớn hơn thời gian bắt đầu kỳ thi cộng vời thời gian làm bài thi</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Thời gian (phút) :<span class="text-danger">*</span></label>
                                            <input name="name" v-model="time" id="name" type="number" class="form-control" placeholder="Nhập thời gian...">
                                        </div>
                                        <div v-if="check == 3" class="text-danger" style="font-size: 13px">
                                            <span>Thời gian phải lớn hơn 0</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Số đề :<span class="text-danger">*</span></label>
                                            <input name="name" v-model="numberTest" id="name" type="number" class="form-control" placeholder="Nhập số đề...">
                                        </div>
                                        <div v-if="check == 4" class="text-danger" style="font-size: 13px">
                                            <span>Số đề phải lớn hơn 0</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Ma trận :<span class="text-danger">*</span></label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop" @change="onChange($event)">
                                                <option v-for="(item, i) in matrix" :key="i" :value="item.id" :selected="item.id == exam.matrixId">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="mt-4" id="submit">
                                    <a @click="save" href="javascript:void(0)" class="btn btn-pills btn-primary mt-2 mr-2">Lưu</a>
                                </div>
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Job apply form End -->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'
import moment from 'moment'
import {
    required
} from "vuelidate/lib/validators";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            submitted: false,
            check: -1,
            matrix: [],
            matrixId: -1,
            title: '',
            time: 0,
            numberTest: 0,
            organizeDate: '',
            organizeHours: '',
            expiredDate: '',
            expiredHourse: '',
            examCode: 'examCode',
            examId: localStorage.getItem('examId'),
            exam: [],
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon
    },
    validations: {
        title: {
            required,
        },
        organizeDate: {
            required,
        },
        expiredDate: {
            required,
        },

    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/Exam/GetExamById', {
                id: this.examId,
            }).then((res) => {
                this.exam = res.data,
                this.title = this.exam.title,
                this.time = this.exam.time,
                this.numberTest = this.exam.numberTest,
                this.organizeDate = moment(this.exam.organizeDate).format("YYYY-MM-DD")
                this.organizeHours = moment(this.exam.organizeDate).format("h:mm"),
                this.expiredDate = moment(this.exam.expiredDate).format("YYYY-MM-DD")
                this.expiredHourse = moment(this.exam.expiredDate).format("h:mm")
            }).catch((err) => {
                console.log(err)
            })
            axios.get('/Matrix').then((res) => {
                this.matrix = res.data
                this.matrixId = this.matrix[0].id

            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        save() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            let date1 = new Date(this.organizeDate + " " + this.organizeHours);
            let date2 = new Date(this.expiredDate + " " + this.expiredHourse);

            let dateNow = new Date();
            if (date1 - dateNow < 7 * 24 * 60 * 60 * 1000) {
                this.check = 1
                return
            } else if (date2 - this.time * 60 * 1000 < date1) {
                this.check = 2
                return
                // Swal.fire({
                //     icon: 'error',
                //     title: 'Có lỗi xảy ra',
                //     text: 'Ngày bắt đầu phải hơn ngày kết thúc!',
                //     footer: ''
                // });
            } else if (this.time <= 0) {
                this.check = 3
            } else if (this.numberTest <= 0) {
                this.check = 4
            } else {
                const token = localStorage.getItem("token");
                const response = axios.put("Exam", {
                    examId: this.examId,
                    title: this.title,
                    time: this.time,
                    numberTest: this.numberTest,
                    organizeDate: this.organizeDate + " " + this.organizeHours,
                    expiredDate: this.expiredDate + " " + this.expiredHourse,
                    examCode: this.examCode,
                    matrixId: this.matrixId
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then(res => {
                    if (res) {
                        this.$swal.fire({
                            title: 'Sửa kỳ thi thành công',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: 'top-end',
                            icon: 'success'
                        })
                        this.$router.push('/manager-exam-list')
                    }
                }).catch(res => {

                })

            }

        },
        onChange(event) {
            this.matrixId = event.target.value;
        },
        onChangeODate(event) {
            this.organizeDate = event.target.value;
        },

    },
};
</script>
<style scoped>
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
