<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-question">Câu hỏi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Sửa câu hỏi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <section class="section">
        <div class="container" style="border: 0px solid; margin-top: -100px; margin-bottom: -90px;">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Đề bài :</label>
                                            <ckeditor id="ckeditor" :editor="editor" @ready="onReadyOfQuestionGroup" v-model="questionContent" :config="editorConfig">
                                            </ckeditor>
                                            <span v-if="isContentQuestion" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không để trống nội dung câu hỏi</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Chủ đề :</label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop" @change="onGroupChange($event)">
                                                <option v-for="(group, i) in groups" :key="i" :value="group.id" :selected="groupSelected == group.id">{{
                                                    group.name
                                                }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Độ khó :</label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop2" @change="onChange($event)">
                                                <option value="3" :selected="levelId==3">Dễ</option>
                                                <option value="2" :selected="levelId==2">Trung bình</option>
                                                <option value="1" :selected="levelId==1">Khó</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Các đáp án :</label>
                                            <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" style="min-width: 300px;">Nội dung</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Đúng/sai</th>
                                                            <th scope="col" class="text-center" style="width: 100px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(selection, i) in selections" :key="i">
                                                            <td class="small">
                                                                <a href="javascript:void(0)" v-b-modal.viewAnswerDetail data-toggle="modal" :value="selection.content" @click="dialogViewAnswerDetail(selection.content)" v-html="selection.contentNoImage" data-target="#viewAnswerDetail" class="text-primary font-weight-bold">
                                                                </a>
                                                            </td>
                                                            <td class="text-center ">
                                                                <i v-if="selection.isTrue" class="mdi mdi-24px mdi-check-circle-outline" style="color:blue"></i>
                                                                <i v-else class="mdi mdi-24px mdi-close-circle-outline" style="color:red"></i>
                                                            </td>
                                                            <td class="text-center small"><i class="mdi mdi-24px mdi-delete-forever cursor" @click="remove(i)"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>
                                                <span v-if="isContentAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Thêm đáp án cho câu hỏi</span>
                                                <span v-if="isValidAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Phải có ít nhất 2 đáp án trở lên</span>
                                                <span v-if="isUniqueTrueAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Đáp án có 1 đáp án đúng</span>
                                            </div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <a href="javascript:void(0)" @click="addNewAnswer" v-b-modal.CreateSelection data-toggle="modal" data-target="#CreateSelection" class="btn btn-icon btn-pills btn-outline-primary">
                                                <plus-icon class="fea icon-sm"></plus-icon>
                                            </a>
                                        </div>
                                        <b-modal v-if="showAddAnswer" id="CreateSelection" size="xl" title="Tạo đáp án" :hide-footer="true" centered>
                                            <div class="bg-white rounded box-shadow">
                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <label>Nội dung :</label>
                                                        <ckeditor id="ckeditor" :editor="editorSelection" @ready="onReadyOfSelection" v-model="selectionContent" :config="editorConfig">
                                                        </ckeditor>
                                                        <span v-if="isgeneralContentAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không để trống nội dung đáp án</span>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group position-relative">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <div class="form-group position-relative">
                                                                <input type="radio" id="customRadio1" @click="changeStatus(true)" :checked="isTrue == true" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio1">Đúng</label>
                                                            </div>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <div class="form-group position-relative">
                                                                <input type="radio" id="customRadio2" @click="changeStatus(false)" :checked="isTrue == false" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio2">Sai</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="button" @click="submit" id="submit" style="width: 70px" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                                                        <input type="button" @click="clearData" id="submit" style="width: 90px" name="send" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                    </div>
                                                </div>
                                            </div>
                                        </b-modal>
                                        <b-modal id="viewAnswerDetail" v-if="isShowAnswerDetail" :hide-footer="true" size="xl" title="Chi tiết đáp án" centered>
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-10 col-md-7">
                                                        <div class="card custom-form border-0">
                                                            <div class="card-body">
                                                                <form>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group position-relative">
                                                                                <h5>Đáp án: </h5>
                                                                                <p v-html="answerDetail"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <input type="submit" id="submit" name="send" @click="closeViewAnswerDetail()" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-modal>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="button" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu" @click="saveQuestion()">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a>
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import MyUploadAdapter from "../components/ckeditor/MyUploadAdapter"
import Swal from 'sweetalert2'

export default {
    data() {
        return {
            questionContent: "",
            selectionContent: "",
            selectionImgUrl: "",
            questionImageUrl: "",
            isTrue: false,
            selections: [],
            levelId: 3,
            groups: [],
            groupSelected: -1,
            questionId: localStorage.getItem('QuestionId'),
            question: {},
            editor: ClassicEditor,
            editorConfig: {},
            editorSelection: ClassicEditor,
            isContentQuestion: false,
            isContentAnswer: false,
            isValidAnswer: false,
            isUniqueTrueAnswer: false,
            isShowAnswerDetail: false,
            answerDetail: '',
            showAddAnswer: false,
            isgeneralContentAnswer: false,
        };
    },
    components: {
        Navbarnew,
        Footer,
        ArrowUpIcon,
        PlusIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem("token");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                await axios
                    .get("Group", {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.groups = res.data;
                        if (this.groups.length > 0) {
                            this.groupSelected = this.groups[0].id;
                        }
                    })
                await axios
                    .post("Question/Detail", {
                        id: this.questionId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.question = res.data;
                        this.questionContent = this.question.content;
                        this.questionImageUrl = this.question.imageUrl;
                        this.groupSelected = this.question.groupId;
                        this.levelId = this.question.levelId;
                        this.questionId = this.question.id
                        for (let i = 0; i < this.question.selections.length; i++) {
                            let contentImg = ''
                            let listImage = []
                            let arraySplitFirst = this.question.selections[i].content.split(">")
                            let arraySplitSecond = []
                            let arraySplitThird = []
                            let arraySplitFourth = []
                            let str = this.question.selections[i].content
                            let listImageForm = []
                            if (this.question.selections[i].content.includes('https://tuannm53')) {
                                for (let j = 0; j < arraySplitFirst.length; j++) {
                                    arraySplitFirst[j].split(">")
                                    if (arraySplitFirst[j].includes('https://tuannm53')) {
                                        arraySplitSecond.push(arraySplitFirst[j])
                                    }
                                }
                                for (let j = 0; j < arraySplitSecond.length; j++) {
                                    let arr = []
                                    arr = arraySplitSecond[j].split(">")
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitThird.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitThird.length; j++) {
                                    let arr = []
                                    arr = arraySplitThird[j].split(/["]/)
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitFourth.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitFourth.length; j++) {
                                    listImage.push(arraySplitFourth[j])
                                }
                                for (let j = 0; j < listImage.length; j++) {
                                    let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                    listImageForm.push(stringImage)
                                    if (this.question.selections[i].content.includes(stringImage)) {
                                        str = str.replace(stringImage, "")
                                    }
                                }
                                let arrayFirst = []
                                arrayFirst = str.split(">")
                                let stringFinal = ''
                                for (let i = 0; i < arrayFirst.length; i++) {
                                    let str = []
                                    str = arrayFirst[i].split("<")
                                    let strr = str[0]
                                    stringFinal += strr
                                }
                                let imageDemo = listImageForm[0]
                                let count = stringFinal.length
                                stringFinal = stringFinal.substring(0, 15)
                                if (count > 15 && listImageForm.length > 0) {
                                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                                } else if (count <= 15 && listImageForm.length > 0) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                                } else if (count > 15 && listImageForm.length == 0) {
                                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                } else if (count <= 15 && listImageForm.length == 0) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                }
                                contentImg = stringFinal
                            } else {
                                let stringFinal = ''
                                let arrayFirst = this.question.selections[i].content.split(">")
                                for (let i = 0; i < arrayFirst.length; i++) {
                                    let str = []
                                    str = arrayFirst[i].split("<")
                                    let strr = str[0]
                                    stringFinal += strr
                                }
                                let count = this.question.selections[i].content.length
                                if (count <= 15) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                } else {
                                    stringFinal = stringFinal.substring(0, 15) + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                }
                                contentImg = stringFinal
                            }
                            this.selections.push({
                                isTrue: this.question.selections[i].isTrue,
                                content: this.question.selections[i].content,
                                imageUrl: this.question.selections[i].imageUrl,
                                contentNoImage: contentImg
                            });
                        }

                    })
            }
        }
    },
    methods: {
        closeViewAnswerDetail() {
            this.isShowAnswerDetail = false
        },
        dialogViewAnswerDetail(content) {
            this.answerDetail = ''
            this.isShowAnswerDetail = true
            this.answerDetail = content
        },
        onReadyOfQuestionGroup(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        onReadyOfSelection(editorSelection) {
            editorSelection.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        changeStatus(status) {
            if (status) {
                this.isTrue = true;
            } else {
                this.isTrue = false;
            }
        },
        addNewAnswer() {
            this.showAddAnswer = true
            this.selectionContent = ''
        },
        submit() {
            if (this.selectionContent.length < 1) {
                this.isgeneralContentAnswer = true
            } else {
                let contentImg = ''
                if (this.selectionContent.includes("&nbsp;")) {
                    this.selectionContent = this.selectionContent.split("&nbsp;").join("");
                }
                this.isgeneralContentAnswer = false
                this.showAddAnswer = false
                let listImage = []
                let arraySplitFirst = this.selectionContent.split(">")
                let arraySplitSecond = []
                let arraySplitThird = []
                let arraySplitFourth = []
                let str = this.selectionContent
                let listImageForm = []
                if (this.selectionContent.includes('https://tuannm53')) {
                    for (let j = 0; j < arraySplitFirst.length; j++) {
                        arraySplitFirst[j].split(">")
                        if (arraySplitFirst[j].includes('https://tuannm53')) {
                            arraySplitSecond.push(arraySplitFirst[j])
                        }
                    }
                    for (let j = 0; j < arraySplitSecond.length; j++) {
                        let arr = []
                        arr = arraySplitSecond[j].split(">")
                        if (arr.length > 0) {
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[k].includes('https://tuannm53')) {
                                    arraySplitThird.push(arr[k])
                                }
                            }
                        }
                    }
                    for (let j = 0; j < arraySplitThird.length; j++) {
                        let arr = []
                        arr = arraySplitThird[j].split(/["]/)
                        if (arr.length > 0) {
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[k].includes('https://tuannm53')) {
                                    arraySplitFourth.push(arr[k])
                                }
                            }
                        }
                    }
                    for (let j = 0; j < arraySplitFourth.length; j++) {
                        listImage.push(arraySplitFourth[j])
                    }
                    for (let j = 0; j < listImage.length; j++) {
                        let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                        listImageForm.push(stringImage)
                        if (this.selectionContent.includes(stringImage)) {
                            str = str.replace(stringImage, "")
                        }
                    }
                    let arrayFirst = []
                    arrayFirst = str.split(">")
                    let stringFinal = ''
                    for (let i = 0; i < arrayFirst.length; i++) {
                        let str = []
                        str = arrayFirst[i].split("<")
                        let strr = str[0]
                        stringFinal += strr
                    }
                    let imageDemo = listImageForm[0]
                    let count = stringFinal.length
                    stringFinal = stringFinal.substring(0, 15)
                    if (count > 15 && listImageForm.length > 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                    } else if (count <= 15 && listImageForm.length > 0) {
                        stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                    } else if (count > 15 && listImageForm.length == 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    } else if (count <= 15 && listImageForm.length == 0) {
                        stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    }
                    contentImg = stringFinal
                } else {
                    let stringFinal = ''
                    let arrayFirst = this.selectionContent.split(">")
                    for (let i = 0; i < arrayFirst.length; i++) {
                        let str = []
                        str = arrayFirst[i].split("<")
                        let strr = str[0]
                        stringFinal += strr
                    }
                    let count = stringFinal.length
                    if (count <= 15) {
                        stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    } else {
                        stringFinal = stringFinal.substring(0, 15) + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    }
                    contentImg = stringFinal
                }
                this.selections.push({
                    isTrue: this.isTrue,
                    content: this.selectionContent,
                    imageUrl: this.selectionImgUrl,
                    contentNoImage: contentImg
                });
            }

        },
        clearData() {
            this.isTrue = false;
            this.selectionContent = "";
            this.showAddAnswer = false
        },
        onChange(event) {
            this.levelId = event.target.value;
        },
        onGroupChange(event) {
            this.groupSelected = event.target.value;
        },
        remove(index) {
            this.selections.splice(index, 1);
        },
        saveQuestion() {
            let count = 0
            for (let i = 0; i < this.selections.length; i++) {
                if (this.selections[i].isTrue == true) {
                    count++
                }
            }
            if (this.questionContent.length < 1) {
                this.isContentQuestion = true
            } else if (this.selections.length < 1) {
                this.isContentQuestion = false
                this.isContentAnswer = true
            } else if (this.selections.length < 2) {
                this.isValidAnswer = true
                this.isContentQuestion = false
                this.isContentAnswer = false
            } else if (count !== 1) {
                this.isValidAnswer = false
                this.isContentQuestion = false
                this.isContentAnswer = false
                this.isUniqueTrueAnswer = true
            } else {
                this.isValidAnswer = false
                this.isContentQuestion = false
                this.isContentAnswer = false
                this.isUniqueTrueAnswer = false
                const token = localStorage.getItem("token");
                let selec = []
                for (let i = 0; i < this.selections.length; i++) {
                    selec.push({
                        isTrue: this.selections[i].isTrue,
                        content: this.selections[i].content,
                        imageUrl: this.selections[i].imageUrl
                    })
                }
                Swal.fire({
                    title: 'Đang lưu câu hỏi...',
                    html: 'Chờ trong giây lát...',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                const response = axios.put("Question", {
                    questionId: this.questionId,
                    groupId: this.groupSelected,
                    levelId: this.levelId,
                    content: this.questionContent,
                    imageUrl: '',
                    selections: selec,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then(res => {
                    if (res) {
                        Swal.close();
                        this.$swal.fire({
                            title: 'Sửa câu hỏi thành công',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: 'top-end',
                            icon: 'success'
                        })
                        this.$router.push('/question-detail')
                    }
                }).catch(res => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Sửa câu hỏi thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "error",
                    });
                })
            }
        }
    },
};
</script>

<style >
    .cursor {
        cursor: pointer;
    }
    .breadcrumb-item {
    font-size: 11px !important;
}
    .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between
    }
</style>
