<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section v-if="roleee == 4" class="bg-profile d-table w-100 bg-primary" style="background: url('images/account/bg.png') center center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 ">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow-lg" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-4 text-md-left text-center">
                                        <div class="profilepic avatar avatar-large rounded-circle shadow d-block mx-auto" @click="$refs.file.click()" style="border: 1px solid">
                                            <img class="profilepic__image" :src="image ? image : cover" width="150" height="150" alt="Profibild" />
                                            <div class="profilepic__content">
                                                <span class="profilepic__icon"><i class="fas fa-camera"></i></span>
                                                <span class="profilepic__text">Thay ảnh</span>
                                            </div>
                                            <div class="row">
                                                <input ref="file" class="inputFile" type="file" name="inputFile" accept=".jpg, .jpeg, .bmp, .gif, .png, .svg" @change="getFileName">
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="row align-items-end">
                                            <div class="col-md-12 text-md-left text-center mt-4 mt-sm-0">
                                                <h3 v-if="roleee == 4" class="title mb-0">{{this.dataLeanerBefore.fullName}}</h3>
                                                <h3 v-if="roleee == 3" class="title mb-0">{{this.dataMentorBefore.fullName}}</h3>
                                                <small v-if="roleee == 4" class="text-muted h6 mr-2">{{this.roleUser}}</small>
                                                <small v-if="roleee == 3" class="text-muted h6 mr-2">{{this.roleUser}}</small>
                                                <div class="col-md-12 text-md-left text-center mt-4 mt-sm-0"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section mt-60" v-if="roleee == 4 || roleee == 3">
        <div class="container mt-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-12 shadow-lg">
                    <div class="border-bottom pb-4">
                        <div class="row">
                            <b-tabs active-nav-item-class="font-weight-bold text-uppercase text-primary" nav-item-class="text-dark" content-class="mt-3">
                                <b-tab title="Thay đổi thông tin" active v-if="roleee == 4">
                                    <ChnageInformation v-bind:image="file" />
                                </b-tab>
                                <b-tab title="Thay đổi thông tin" active v-if="roleee == 3">
                                    <ChangeInformationMentor v-bind:imagee="file" />
                                </b-tab>
                                <b-tab title="Thay đổi mật khẩu">
                                    <ChangePassword />
                                </b-tab>
                            </b-tabs>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mt-60" v-if="roleee == 1 || roleee == 2">
        <div class="container mt-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-12 shadow-lg">
                    <div class="border-bottom pb-4">
                        <ChangePassword />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Footer />
</div>
</template>

<script>
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from 'axios';
import ChangePassword from '../views/change-password.vue'
import ChnageInformation from '../views/change-information-user.vue'
import ChangeInformationMentor from '../views/change-information-mentor.vue'

export default {
    data() {
        return {
            isLeaner: false,
            isMentor: true,
            submitted: false,
            submitted1: false,
            dataLeanerBefore: [],
            dataMentorBefore: [],
            roleUser: '',
            roleee: 0,
            cover: 'images/icon-avatar.png',
            image: '',
            file: null,
            imageStore: 'images/icon-avatar.png',
            uploadURL: 'https://localhost:44360/Upload',
            transferFile: null
        }
    },
    created: async function () {
        const token = localStorage.getItem('token')
        const id = localStorage.getItem('id')
        const role = localStorage.getItem('role')
        this.roleee = role
        if (token === null) {
            this.$router.push('/auth-login')
        } else {
            if (role == 4) {
                const LeanerProfile = await axios.get('MyAccount/LearnerProfile', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.dataLeanerBefore = res.data
                        this.image = this.dataLeanerBefore.imageUrl
                        if (localStorage.getItem('role') == 4) {
                            this.isLeaner = true
                            this.isMentor = false
                        } else {
                            this.isLeaner = false
                            this.isMentor = true
                        }
                        if (this.dataLeanerBefore.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.dataLeanerBefore.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.dataLeanerBefore.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.dataLeanerBefore.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                });
                const getDistrict = await axios.get('MyAccount/GetDistrict', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.districtsDB = res.data
                        this.districts = this.districtsDB.filter(district => district.provineId === this.provinceId);
                    }
                })
                const getProvince = await axios.get('MyAccount/GetProvine', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.provincesDB = res.data
                    }
                });
            } else if (role == 3) {
                const getMentorProfile = await axios.get('MyAccount/MentorProfile', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.dataMentorBefore = res.data
                        // this.formMentor.dob = this.dataMentorBefore.birthdate
                        // this.formMentor.fullName = this.dataMentorBefore.fullName
                        // this.formMentor.phoneNumber = this.dataMentorBefore.phoneNumber
                        // this.formMentor.description = this.dataMentorBefore.description
                        this.image = this.dataMentorBefore.imageUrl
                        if (localStorage.getItem('role') == 4) {
                            this.isLeaner = true
                            this.isMentor = false
                        } else {
                            this.isLeaner = false
                            this.isMentor = true
                        }
                        if (this.dataMentorBefore.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.dataMentorBefore.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.dataMentorBefore.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.dataMentorBefore.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                });
            }

        }
    },
    methods: {
        getFileName(e) {
            this.file = e.target.files[0]
            this.image = URL.createObjectURL(e.target.files[0])
        },
        changeDistrict(e) {
            this.districtId = parseInt(e.target.value)
        },
        async fetchProvinces() {
            this.provinces = this.provincesDB
        },
        async fetchDistricts(e) {
            this.districts = this.districtsDB.filter(district => district.provineId === parseInt(e.target.value));
            this.districtId = parseInt(e.target.value)
        },
        mounted() {
            this.fetchProvinces();
        }
    },
    components: {
        ChangePassword,
        ChnageInformation,
        ChangeInformationMentor,
        Navbarnew,
        Footer,
    }
}
</script>

<style lang="scss" scoped>
.inputFile {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-block {
    border: 1px solid rgba(63, 63, 68, 0.15);
    box-shadow: 0 0 4px rgba(63, 63, 68, 0.25);
    border-radius: 8px;
    margin-top: 16px;

    &__button {
        font-weight: 400;
        transition: all .3s;

        &:hover {
            color: #1caad9;
        }
    }

    &__button-row {
        border-top: 1px solid #E4E7EB;
        padding: 15px 10px;
        display: flex;
        justify-content: space-around;
    }

    &__image-row {
        padding: 10px;
        border-radius: 8px;

        img {
            border-radius: 14px;
            height: 150px;
            width: 100%;
        }
    }
}

.profilepic {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
}

.profilepic:hover {
    cursor: pointer;
}

.profilepic .profilepic__content {
    opacity: 1;
}

.profilepic .profilepic__image {
    opacity: .5;
}

.profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.profilepic__icon {
    color: white;
    padding-bottom: 8px;
}

.fas {
    font-size: 20px;
}

.profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
}

.nav-link {
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
