<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem; boder: 1px solid">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align:center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-account">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">
                                Chỉnh sửa tài khoản
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <div class="rounded shadow-lg p-4">
                        <div class="row">
                            <div class="col-12">
                                <form @submit.prevent="handleSubmit" autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Vai trò tài khoản: </label> {{options[roleChoose-1].name}}
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 || roleChoose==3" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Họ và tên <span class="text-danger">*</span></label>
                                                <user-icon class="fea icon-sm icons"></user-icon>
                                                <input class="form-control pl-5" v-model="fullName" type="text" autocomplete="off" name="fullName" :class="{ 'is-invalid': submitted && $v.fullName.$error }">
                                                <div v-if="submitted && $v.fullName.$error" class="invalid-feedback">
                                                    <span v-if="!$v.fullName.required">Không để trống họ và tên</span>
                                                    <span v-if="!$v.fullName.maxLength && $v.fullName.required">Chứa tối đa 50 kí tự</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 || roleChoose==3" class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Ngày sinh <span class="text-danger">*</span></label>
                                                <gift-icon class="fea icon-sm icons"></gift-icon>
                                                <DateTime :time.sync="dob" @hasValue="isNullDob = $event" :timepicker.sync="dob" @dateChange="dob = $event" />
                                                <span v-show="isNullDob" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn ngày sinh</span>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 || roleChoose==3" class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                                <phone-icon class="fea icon-sm icons"></phone-icon>
                                                <input type="text" class="form-control pl-5" v-model="phone" autocomplete="off" :class="{ 'is-invalid': submitted && $v.phone.$error }" />
                                                <div v-if="submitted && $v.phone.$error" class="invalid-feedback">
                                                    <span v-if="!$v.phone.required">Không để trống số điện thoại</span>
                                                    <span v-if="$v.phone.required && !$v.phone.validatePhone">Sai định dạng số điện thoại</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4" class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Tỉnh/ Thành Phố <span class="text-danger">*</span></label>
                                                <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                                <select class="form-control pl-5" @change="fetchDistricts($event)" :disabled="!provincesDB.length">
                                                    <option value="" disabled>Chọn Tỉnh/ Thành phố</option>
                                                    <option v-for="province in provincesDB" :key="province.id" :value="province.id" :selected="province.id == selectedProvince">{{ province.name }}</option>
                                                </select>
                                                <span v-show="isNullProvince" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn Tỉnh/ Thành Phố</span>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==4 " class="col-md-6">
                                            <div class="form-group position-relative">
                                                <label>Quận/ Huyện <span class="text-danger">*</span></label>
                                                <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                                <select class="form-control pl-5" @change="changeDistrict($event)" :disabled="!districts.length">
                                                    <option value="" disabled>Chọn Quận/ Huyện</option>
                                                    <option v-for="dist in districts" :key="dist.id" :value="dist.id" :selected="dist.id === selectedDistrict">{{ dist.name }}</option>
                                                </select>
                                                <span v-show="isNullDistrict" style="color: #DC3545; font: 12.8px Nunito, sans-serif">Chọn Quận/ Huyện</span>
                                            </div>
                                        </div>

                                        <div v-if="roleChoose==4" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Trường <span class="text-danger">*</span></label>
                                                <home-icon class="fea icon-sm icons"></home-icon>
                                                <input id="school" name="school" type="text" class="form-control pl-5" autocomplete="off" v-model="formLeaner.school" :class="{ 'is-invalid': submitted && $v.formLeaner.school.$error }" />
                                                <div v-if="submitted && $v.formLeaner.school.$error" class="invalid-feedback">
                                                    <span v-if="!$v.formLeaner.school.required">Không để trống tên trường</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="roleChoose==3" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Mô tả :</label>
                                                <message-circle-icon class="fea icon-sm icons"></message-circle-icon>
                                                <textarea name="comments" id="comments" rows="4" class="form-control pl-5" v-model="formMentor.description" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="submit" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<script>
import DateTime from "../components/date-picker.vue"
import moment from 'moment'
import {
    ArrowUpIcon,
    UserIcon,
    BookIcon,
    MessageCircleIcon,
    MailIcon,
    KeyIcon,
    GiftIcon,
    PhoneIcon,
    MapPinIcon,
    HomeIcon
} from 'vue-feather-icons';
import axios from 'axios';
import Multiselect from 'vue-multiselect'
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import {
    required,
    sameAs,
    maxLength
} from 'vuelidate/lib/validators'
import {
    validatePassword,
    validateHasSpecialCharacter,
    validateEmail,
    validatePhone
} from '../validator/validate'
export default {
    name: 'CreateAccount',
    components: {
        Navbarnew,
        GiftIcon,
        PhoneIcon,
        Footer,
        Multiselect,
        ArrowUpIcon,
        UserIcon,
        BookIcon,
        MessageCircleIcon,
        MailIcon,
        KeyIcon,
        MapPinIcon,
        HomeIcon,
        DateTime
    },
    data() {
        return {
            phone: '',
            fullName: '',
            dob: null,

            formLeaner: {
                districtId: 1,
                school: '',

            },
            formMentor: {
                description: '',
            },
            provinces: [],
            districts: [],
            provincesDB: [],
            districtsDB: [],
            form: {
                account: null,
                loginPassword: null,
                reNewPassword: '',
                email: null,
                roleId: null
            },
            roleChoose: 0,
            options: [{
                    name: 'Admin',
                    code: 1
                },
                {
                    name: 'Manager',
                    code: 2
                },
                {
                    name: 'Mentor',
                    code: 3
                },
                {
                    name: 'Learner',
                    code: 4
                }
            ],
            submitted: false,
            isFalseRole: false,
            isNullDob: false,
            isNullProvince: false,
            isNullDistrict: false,
            selectedProvince: null,
            selectedDistrict: null,
            userRole: 0,
            userEdit: 0
        }
    },
    validations: {
        formLeaner: {
            school: {
                required,
                maxLength: maxLength(50)
            }
        },
        phone: {
            required,
            validatePhone
        },
        fullName: {
            required,
            maxLength: maxLength(50)
        },
        form: {
            account: {
                required,
                validateHasSpecialCharacter
            },
            loginPassword: {
                required,
                validatePassword
            },
            reNewPassword: {
                required,
                sameAsPassword: sameAs('loginPassword')
            },
            email: {
                required,
                validateEmail
            }
        }
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        this.userEdit = parseInt(localStorage.getItem("idEdit"))
        this.userRole = parseInt(localStorage.getItem("userRole"))
        let role = parseInt(roleId)
        this.roleChoose = this.userRole
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 2 || role === 3 || role === 4) {
            this.$router.push("/page-not-found")
        } else {
            const getProvince = await axios.get('MyAccount/GetProvine', {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {
                    this.provincesDB = res.data
                }
            })
            if (this.userRole == 3) {
                const response = await axios.post('/Admin/ViewMentorProfile', {
                    id: this.userEdit
                }, {
                    headers: {
                        'Authorization': "Bearer " + localStorage.getItem("token"),
                    }
                }).then(res => {
                    this.form.account = res.data.account
                    this.form.email = res.data.email
                    this.selectedDistrict = res.data
                    this.selectedProvince = res.data
                    this.fullName = res.data.fullName
                    this.dob = new Date(res.data.birthdate)
                    this.formLeaner.school = res.data
                    this.phone = res.data.phoneNumber
                    this.formMentor.description = res.data.description
                })
            } else if (this.userRole == 4) {
                const response = await axios.post('/Admin/ViewLearnerProfile', {
                    id: this.userEdit
                }, {
                    headers: {
                        'Authorization': "Bearer " + localStorage.getItem("token"),
                    }
                }).then(res => {
                    this.fullName = res.data.fullName
                    this.dob = new Date(res.data.birthdate)
                    this.formLeaner.school = res.data.school
                    this.phone = res.data.phoneNumber
                    this.selectedProvince = res.data.provinceId
                    this.selectedDistrict = res.data.districtId
                })
            }
            const getDistrict = await axios.get('MyAccount/GetDistrict', {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {
                    this.districtsDB = res.data
                    this.districts = this.districtsDB.filter(district => district.provineId === this.selectedProvince);
                }
            })
        }
    },
    methods: {
        changeDob() {
            this.isNullDob = false
        },
        changeDistrict(e) {
            this.isNullDistrict = false
            this.selectedDistrict = parseInt(e.target.value)
        },
        async fetchProvinces() {
            this.provinces = this.provincesDB
        },
        async fetchDistricts(e) {
            this.selectedDistrict = null
            this.isNullProvince = false
            this.districts = this.districtsDB.filter(district => district.provineId === parseInt(e.target.value));
            this.selectedDistrict = parseInt(this.districts[0].id)
        },
        mounted() {
            this.fetchProvinces();
        },
        async handleSubmit(e) {
            this.submitted = true
            this.$v.$touch()
            if (this.roleChoose == 3) {
                if (this.dob == null || this.$v.fullName.$invalid || this.$v.phone.$invalid) {
                    if (this.dob == null) {
                        this.isNullDob = true
                    } else {
                        this.isNullDob = false
                    }
                    return
                }
                this.isNullDob = false
                const response = await axios.post('Admin/UpdateMentorProfile', {
                    description: this.formMentor.description,
                    dob: moment(this.dob).format('MM-DD-YYYY'),
                    phone: this.phone,
                    fullName: this.fullName,
                    id: this.userEdit
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.$swal.fire({
                            title: "Cập nhật thành công",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "success",
                        });
                        this.$router.push('/mentor-account')
                    }
                }).catch(err => {
                    console.log('error: ' + err)
                })
            } else if (this.roleChoose == 4) {
                if (this.selectedProvince == null || this.selectedDistrict == null || this.$v.formLeaner.school.$invalid || this.dob == null || this.$v.fullName.$invalid) {
                    if (this.selectedProvince == null) {
                        this.isNullProvince = true
                    }
                    if (this.selectedDistrict == null) {
                        this.isNullDistrict = true
                    }
                    if (this.dob == null) {
                        this.isNullDob = true
                    } else {
                        this.isNullDob = false
                    }
                    return
                }
                this.isNullDistrict = false
                this.isNullProvince = false
                const response = await axios.post('Admin/UpdateLearnerProfile', {
                    id: this.userEdit,
                    fullName: this.fullName,
                    phone: this.phone,
                    school: this.formLeaner.school,
                    birthdate: moment(this.dob).format('MM-DD-YYYY'),
                    districtId: this.selectedDistrict,
                    id: this.userEdit
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.$swal.fire({
                            title: "Cập nhật thành công",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "success",
                        });
                        this.$router.push('/learner-account')
                    }
                }).catch(err => {
                    console.log('error: ' + err)
                })
            }
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style><style scoped>
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
