<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <!-- Hero Start -->
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item" v-if="isQuizOfLesson == 1">
                                <router-link to="/mentor-list-lesson">Quản lý bài học</router-link>

                            </li>
                            <li class="breadcrumb-item" v-if="isQuizOfLesson == 1">
                                <router-link to="/mentor-lesson-detail">Chi tiết bài học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/mentor-quiz-detail">Chi tiết bài kiểm tra</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">
                                Sửa bài kiểm tra
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Section -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <!--end row-->
                    <div class="row">
                        <div class="col-md-12 ml-lg-4 border-bottom" v-for="(quizQuestion, i) in quizQuestions" :key="i">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="col-md-12">
                                        <i class="mdi mdi-24px mdi-arrow-up-drop-circle-outline cursor" style="color: green" @click="moveUp(i)"></i>
                                    </div>
                                    <div class="col-md-12">
                                        <i class="mdi mdi-24px mdi-arrow-up-drop-circle-outline mdi-rotate-180 cursor" style="color: green" @click="moveDown(i)"></i>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="border-bottom">
                                        <div class="row">
                                            <div class="col-md-10 mb-2">
                                                <h5>Câu: {{i + 1}}</h5>
                                            </div>
                                            <div class="col-md-0.5">
                                                <i class="mdi mdi-24px mdi-table-edit cursor" @click="modifyQuestion(i)" v-b-modal.CreateQuestion data-toggle="modal" data-target="#CreateQuestion"></i>
                                            </div>
                                            <div class="col-md-0.5">
                                                <i class="mdi mdi-24px mdi-window-close cursor" @click="removeQuestion(i)"></i>
                                            </div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <p v-html="quizQuestion.content">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <div class="mt-4">
                                            <div class="custom-control custom-checkbox" v-for="(quizSelection, i) in quizQuestion.quizSelections" :key="i">
                                                <div class="row">
                                                    <div class="col-md-11 form-group mb-2">
                                                        <input type="checkbox" id="Q1A" class="custom-control-input" disabled :checked="quizSelection.isTrue == true">
                                                        <label class="custom-control-label" v-html="quizSelection.content"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ml-lg-4">
                            <div class="form-group position-relative mt-4">
                                <button href="javascript:void(0)" class="btn btn-icon btn-pills btn-outline-primary" @click="addQuestion()" v-b-modal.CreateQuestion data-toggle="modal" data-target="#CreateQuestion">
                                    <file-plus-icon size="1.5x" class="custom-class"></file-plus-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <a class="btn btn-pills btn-primary mt-2 mr-2" @click="addQuiz()">Lưu</a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>

        <b-modal id="CreateQuestion" v-if="isShowDialog" :hide-footer="true" size="xl" title="Thêm câu hỏi" @hide="createQuestionClose">
            <div class="col-md-12 ml-lg-4 border-bottom" id="q3">
                <div class="border-bottom">
                    <!-- <h5 class="mt-4">Câu </h5>
                    <input v-model="title" type="text" class="form-control pl-5" placeholder="Điền câu thứ ...">
                    {{title}} -->
                    <div class="form-group position-relative">
                        <label>Đề bài :</label>
                        <ckeditor id="ckeditor" :editor="editor" @ready="onReadyOfDataQuestion" v-model="editorDataQuestion" :config="editorConfig"></ckeditor>

                    </div>
                </div>
                <div class="widget" v-if="quizQuestions.length > 0">
                    <div class="mt-4">
                        <div class="form-group position-relative">
                            <label>Đáp án :</label>
                        </div>

                        <div class="custom-control custom-checkbox" v-for="(quizSelection, i) in quizQuestions[chooseQuestion].quizSelections" :key="i">
                            <div class="row">
                                <div class="col-md-11 form-group mb-2">
                                    <input type="checkbox" class="custom-control-input" :checked="quizSelection.isTrue == true" disabled>
                                    <label class="custom-control-label" v-html="quizSelection.content"></label>
                                </div>
                                <div class="col-md-1">
                                    <i class="mdi mdi-window-close cursor" @click="removeSelection(i)"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group position-relative">
                                Thêm lựa chọn: <a href="javascript:void(0)" v-b-modal.CreateSelection data-toggle="modal" @click="addAnswer()" data-target="#CreateSelection" class="btn btn-icon btn-pills btn-outline-primary">
                                    <plus-icon class="fea icon-sm"></plus-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b-button @click="saveQuestion()" id="button" name="send" class="btn btn-primary">Lưu</b-button>
                </div>
            </div>
        </b-modal>

        <!--end container-->
        <b-modal id="CreateSelection" v-if="isShowDialog2" :hide-footer="true" size="xl" title="Tạo đáp án" centered>
            <div class="bg-white rounded box-shadow">
                <div class="col-md-12">
                    <div class="form-group position-relative">
                        <label>Nội dung :</label>
                        <ckeditor :editor="editorSection" @ready="onReadyOfDataSelection" v-model="editorDataSelection" :config="editorConfig"></ckeditor>
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-12">
                    <div class="form-group position-relative">
                        <div class="custom-control custom-radio custom-control-inline">
                            <div class="form-group position-relative">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" :checked="isTrue == true" @click="isTrue = true">
                                <label class="custom-control-label" for="customRadio1">Đúng</label>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <div class="form-group position-relative">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" :checked="isTrue == false" @click="isTrue = false">
                                <label class="custom-control-label" for="customRadio2">Sai</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b-button @click="saveSelection()" id="button" name="send" class="btn btn-primary">Lưu</b-button>
                    </div>
                </div>
            </div>
        </b-modal>
    </section>
    <!--end section-->
    <!-- End Section -->

    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon,
    FilePlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2';
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import MyUploadAdapter from "../components/ckeditor/MyUploadAdapter";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            editorDataQuestion: "",
            editorDataSelection: "",
            isShowDialog2: true,
            isShowDialog: true,
            isTrue: false,
            quizQuestions: [{
                quizSelections: [],
            }],
            title: "",
            chooseQuestion: 0,
            isModify: false,
            courseId: localStorage.getItem("courseId"),
            lessonId: localStorage.getItem("lessonId"),
            quizId: localStorage.getItem("quizId"),
            courseTitle: localStorage.getItem("courseTitle"),
            lessonName: localStorage.getItem("lessonName"),
            isQuizOfLesson: localStorage.getItem("isQuizOfLesson"),
            editor: ClassicEditor,
            editorSection: ClassicEditor,
            editorConfig: {},
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon,
        FilePlusIcon,
        ckeditor: CKEditor.component
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/MentorFeatures/ViewQuiz', {
                quizId: this.quizId,
            }).then((res) => {
                this.quizQuestions = res.data.quizQuestions;
            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        onReadyOfDataQuestion(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        onReadyOfDataSelection(editorSection) {
            editorSection.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        saveSelection() {
            if (this.editorDataSelection == "" || this.editorDataSelection == null) {
                Swal.fire({
                    icon: 'error',
                    title: 'Có lỗi xảy ra',
                    text: 'Không được bỏ trống nội dung!',
                    footer: ''
                });
                return;
            }

            this.isShowDialog2 = false;
            this.quizQuestions[this.chooseQuestion].quizSelections.push({
                content: this.editorDataSelection,
                isTrue: this.isTrue,
            });
            this.isTrue = false;
            this.editorDataSelection = "";
        },
        addAnswer() {
            // this.quizQuestions[this.quizQuestions.length-1].quizSelections.push({
            //     content: this.editorDataSelection,
            //     isTrue: this.isTrue,
            // });
            this.isShowDialog2 = true;

        },
        saveQuestion() {
            if (this.editorDataQuestion == "" || this.editorDataQuestion == null) {
                Swal.fire({
                    icon: 'error',
                    title: 'Có lỗi xảy ra',
                    text: 'Không được bỏ trống dề bài!',
                    footer: ''
                });
                return;
            }
            let totalTrue = 0;
            for (let i in this.quizQuestions[this.chooseQuestion].quizSelections) {
                if (this.quizQuestions[this.chooseQuestion].quizSelections[i].isTrue) {
                    totalTrue++;
                }
            }
            if (totalTrue == 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Có lỗi xảy ra',
                    text: 'Phải có một đáp án đúng!',
                    footer: ''
                });
                return;
            } else if (totalTrue > 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Có lỗi xảy ra',
                    text: 'Chỉ được có một đáp án đúng!',
                    footer: ''
                });
                return;
            } else if(this.quizQuestions[this.chooseQuestion].quizSelections.length == 1){
                Swal.fire({
                    icon: 'error',
                    title: 'Có lỗi xảy ra',
                    text: 'Câu hỏi phải có từ 2 đáp án trở lên!',
                    footer: ''
                });
                return;
            }
            this.isShowDialog = false;
            this.quizQuestions[this.chooseQuestion].content = this.editorDataQuestion;
            // this.quizQuestions[this.chooseQuestion].titleNumber = this.title;

            this.editorDataQuestion = "";
            this.title = "";
            this.isModify = false;
        },
        addQuestion() {
            this.quizQuestions.push({
                // titleNumber: this.title,
                content: this.editorDataQuestion,
                quizSelections: [],
            });
            this.chooseQuestion = this.quizQuestions.length - 1;
            this.isShowDialog = true
        },
        createQuestionClose() {
            if(this.isModify != true){
                this.quizQuestions.splice(this.quizQuestions.length - 1, 1);
            }
            this.isShowDialog = false;
            this.editorDataQuestion = "";
            this.isModify = false;
        },
        moveUp(index) {
            if (index != 0) {
                var element = this.quizQuestions[index];
                this.quizQuestions.splice(index, 1);
                this.quizQuestions.splice(index - 1, 0, element);
            }
        },
        moveDown(index) {
            if (index != this.quizQuestions.length - 1) {
                var element = this.quizQuestions[index];
                this.quizQuestions.splice(index, 1);
                this.quizQuestions.splice(index + 1, 0, element);
            }
        },
        removeSelection(index) {
            this.quizQuestions[this.chooseQuestion].quizSelections.splice(index, 1);
        },
        removeQuestion(index) {
            this.quizQuestions.splice(index, 1);
        },
        modifyQuestion(index) {
            this.chooseQuestion = index;
            this.isModify = true;
            // this.title = this.quizQuestions[this.chooseQuestion].titleNumber;
            this.editorDataQuestion = this.quizQuestions[this.chooseQuestion].content;
            this.isShowDialog = true;

            // alert(this.chooseQuestion);
        },
        addQuiz() {
            if (this.quizQuestions.length == 0) {
                this.$swal.fire({
                    title: 'Phải có ít nhất một câu hỏi để tạo bài kiểm tra',
                    showCancelButton: false,
                    showConfirmButton: false,
                    timer: 3000,
                    toast: true,
                    position: 'top-end',
                    icon: 'error'
                })
                return;
            }
            const token = localStorage.getItem("token");
            Swal.fire({
                title: 'Đang lưu...',
                html: 'Đợi trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            const response = axios.post("/MentorFeatures/UpdateQuiz", {
                quizId: this.quizId,
                title: "Tên quiz",
                time: 0,
                numberQuestion: this.quizQuestions.length,
                quizQuestions: this.quizQuestions,
            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                Swal.close();
                if (res) {
                    this.$swal.fire({
                        title: 'Sửa thành công',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                    this.$router.push('/mentor-quiz-detail');

                }
            }).catch(res => {
                console.log(res);
            })
        },
    },
};
</script>

<style >
    .cursor {
         cursor: pointer;    
    }
    figure.image.image-style-side {
        float: right;
        width: 300px;
        margin-left: 1.5em
    }
    figure.image.image-style-side img {
        width: 300px;
        height: auto;
    }
    figure.image img {
        width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p img {
        width: 300px;
        height: auto;
    }
    label.custom-control-label figure.image img {
        width: 200px;
    }
    .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between
    }

</style>
