<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- Hero Start -->
    <section v-if="roleee == 4" class="bg-profile d-table w-100 bg-primary" style="background: url('images/account/bg.png') center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 text-md-left text-center">
                                    <img src="images/icon-avatar.png" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="row align-items-end">
                                        <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                            <h3 class="title mb-0">{{this.dataLeanerBefore.fullName}}</h3>
                                            <small class="text-muted h6 mr-2">{{this.roleUser}}</small>
                                            <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Hero Start -->
    <section v-if="roleee == 3" class="bg-profile d-table w-100 bg-primary" style="background: url('images/account/bg.png') center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 text-md-left text-center">
                                    <img src="images/icon-avatar.png" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="row align-items-end">
                                        <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                            <h3 class="title mb-0">{{this.dataMentorBefore.fullName}}</h3>
                                            <small class="text-muted h6 mr-2">{{this.roleUser}}</small>
                                            <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Profile Start -->
    <section class="section mt-60">
        <div class="container mt-lg-3" v-if="roleee == 4">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <div class="card border-0 rounded shadow">
                        <div class="card-body">
                            <h5 class="text-md-left text-center">Thông tin chi tiết :</h5>
                            <form @submit.prevent="handleSubmitLeaner">
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Họ và tên </label>
                                            <user-icon class="fea icon-sm icons"></user-icon>
                                            <input name="fullname" id="fullname" v-model="formLeaner.fullname" type="text" class="form-control pl-5" :placeholder="[[ dataLeanerBefore.fullName ]]">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Ngày sinh </label>
                                            <gift-icon class="fea icon-sm icons"></gift-icon>
                                            <!-- <input name="dob" id="dob" type="text" v-model="formLeaner.dob" class="form-control pl-5" :placeholder="[[ dataBefore.birthdate ]]"> -->
                                            <b-form-datepicker v-model="formLeaner.birthdate"></b-form-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Tỉnh/ Thành Phố </label>
                                            <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                            <select class="form-control pl-5" @change="fetchDistricts($event)" :disabled="!provincesDB.length">
                                                <option value="" disabled>Chọn Tỉnh/ Thành phố</option>
                                                <option v-for="province in provincesDB" :key="province.id" :value="province.id" :selected="province.id == provinceId">{{ province.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Quận/ Huyện</label>
                                            <mapPin-icon class="fea icon-sm icons"></mapPin-icon>
                                            <select class="form-control pl-5" @change="changeDistrict($event)" :disabled="!districts.length">
                                                <option value="" disabled>Chọn Quận/ Huyện</option>
                                                <option v-for="dist in districts" :key="dist.id" :value="dist.id" :selected="dist.id === districtId">{{ dist.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Số điện thoại </label>
                                            <phone-icon class="fea icon-sm icons"></phone-icon>
                                            <input name="phone" id="phone" type="text" v-model="formLeaner.phone" class="form-control pl-5" :placeholder="[[ dataLeanerBefore.phoneNumber ]]">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Trường</label>
                                            <home-icon class="fea icon-sm icons"></home-icon>
                                            <input name="school" id="school" type="text" v-model="formLeaner.school" class="form-control pl-5" :placeholder="[[ dataLeanerBefore.school ]]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" id="submit" name="send" class="btn btn-primary" value="Lưu">
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-6 mt-4 pt-2">
                                    <h5>Thay đổi mật khẩu</h5>
                                    <form @submit.prevent="handleSubmitPassword">
                                        <div class="row mt-4">
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Mật khẩu cũ</label>
                                                    <key-icon class="fea icon-sm icons"></key-icon>
                                                    <!-- <input type="password" class="form-control pl-5" placeholder="..." required=""> -->
                                                    <input id="passwordCurrent" autocomplete="off" type="password" name="passwordCurrent" class="form-control pl-5" :placeholder="[[ dataLeanerBefore.password ]]">

                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Mật khẩu mới</label>
                                                    <key-icon class="fea icon-sm icons"></key-icon>
                                                    <!-- <input type="password" class="form-control pl-5" placeholder="..." required=""> -->
                                                    <input id="newPassword" v-model="formPassword.newPassword" autocomplete="off" type="password" name="newPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.newPassword.$error }">
                                                    <div v-if="submitted && $v.formPassword.newPassword.$error" class="invalid-feedback">
                                                        <span v-if="!$v.formPassword.newPassword.required">Không để trống mật khẩu</span>
                                                        <span v-if="$v.formPassword.newPassword.required && !$v.formPassword.newPassword.validatePassword">Từ 3 - 100 kí tự, không chứa kí tự quá đặc biệt</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 mt-2 mb-0">
                                                <button class="btn btn-primary">Lưu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-lg-3" v-if="roleee == 3">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12">
                    <div class="card border-0 rounded shadow">
                        <div class="card-body">
                            <h5 class="text-md-left text-center">Thông tin người dùng :</h5>
                            <form @submit.prevent="handleSubmitMentor">
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Họ và tên </label>
                                            <user-icon class="fea icon-sm icons"></user-icon>
                                            <input name="fullname" id="fullname" v-model="formMentor.fullName" type="text" class="form-control pl-5" :placeholder="[[ dataMentorBefore.fullName ]]">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Ngày sinh </label>
                                            <gift-icon class="fea icon-sm icons"></gift-icon>
                                            <!-- <input name="dob" id="dob" type="text" v-model="formLeaner.dob" class="form-control pl-5" :placeholder="[[ dataMentorBefore.birthdate ]]"> -->
                                            <b-form-datepicker v-model="formMentor.dob"></b-form-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Số điện thoại </label>
                                            <phone-icon class="fea icon-sm icons"></phone-icon>
                                            <input name="phone" id="phone" type="text" v-model="formMentor.phone" class="form-control pl-5" :placeholder="[[ dataMentorBefore.phoneNumber ]]">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Trường</label>
                                            <home-icon class="fea icon-sm icons"></home-icon>
                                            <input name="school" id="school" type="text" v-model="formLeaner.school" class="form-control pl-5" :placeholder="[[ dataMentorBefore.school ]]">
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12">
                                        <div class="form-group position-relative">
                                            <label>Miêu tả</label>
                                            <message-circle-icon class="fea icon-sm icons"></message-circle-icon>
                                            <textarea name="comments" id="comments" v-model="formMentor.description" rows="4" class="form-control pl-5" :placeholder="[[ dataMentorBefore.description ]]"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" id="submit" name="send" class="btn btn-primary" value="Lưu">
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-6 mt-4 pt-2">
                                    <h5>Thay đổi mật khẩu</h5>
                                    <form @submit.prevent="handleSubmitPassword">
                                        <div class="row mt-4">
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Mật khẩu cũ</label>
                                                    <key-icon class="fea icon-sm icons"></key-icon>
                                                    <!-- <input type="password" class="form-control pl-5" placeholder="..." required=""> -->
                                                    <input id="passwordCurrent" autocomplete="off" type="password" name="passwordCurrent" class="form-control pl-5" :placeholder="[[ dataMentorBefore.password ]]">

                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Mật khẩu mới</label>
                                                    <key-icon class="fea icon-sm icons"></key-icon>
                                                    <!-- <input type="password" class="form-control pl-5" placeholder="..." required=""> -->
                                                    <input id="newPassword" v-model="formPassword.newPassword" autocomplete="off" type="password" name="newPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.newPassword.$error }">
                                                    <div v-if="submitted && $v.formPassword.newPassword.$error" class="invalid-feedback">
                                                        <span v-if="!$v.formPassword.newPassword.required">Không để trống mật khẩu</span>
                                                        <span v-if="$v.formPassword.newPassword.required && !$v.formPassword.newPassword.validatePassword">Từ 3 - 100 kí tự, không chứa kí tự quá đặc biệt</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 mt-2 mb-0">
                                                <button class="btn btn-primary">Lưu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-lg-3" v-if="roleee == 1 || roleee == 2">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="card border-0 rounded shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mt-4 pt-2">
                                    <h5>Thay đổi mật khẩu</h5>
                                    <form @submit.prevent="handleSubmitPassword">
                                        <div class="row mt-4">
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Mật khẩu cũ</label>
                                                    <key-icon class="fea icon-sm icons"></key-icon>
                                                    <!-- <input type="password" class="form-control pl-5" placeholder="..." required=""> -->
                                                    <input id="passwordCurrent" v-model="formPassword.passwordCurrent" autocomplete="off" type="password" name="passwordCurrent" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.passwordCurrent.$error }">
                                                    <div v-if="submitted && $v.formPassword.passwordCurrent.$error && isChangePass" class="invalid-feedback">
                                                        <span v-if="!$v.formPassword.passwordCurrent.required">Không để trống mật khẩu cũ</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Mật khẩu mới</label>
                                                    <key-icon class="fea icon-sm icons"></key-icon>
                                                    <!-- <input type="password" class="form-control pl-5" placeholder="..." required=""> -->
                                                    <input id="newPassword" v-model="formPassword.newPassword" autocomplete="off" type="password" name="newPassword" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.formPassword.newPassword.$error }">
                                                    <div v-if="submitted && $v.formPassword.newPassword.$error" class="invalid-feedback">
                                                        <span v-if="!$v.formPassword.newPassword.required">Không để trống mật khẩu</span>
                                                        <span v-if="$v.formPassword.newPassword.required && !$v.formPassword.newPassword.validatePassword">Từ 8 - 100 kí tự, không chứa kí tự quá đặc biệt</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 mt-2 mb-0">
                                                <button class="btn btn-primary">Lưu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<script>
import {
    ArrowUpIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    GithubIcon,
    YoutubeIcon,
    GitlabIcon,
    MailIcon,
    UserPlusIcon,
    UsersIcon,
    MessageCircleIcon,
    BellIcon,
    ToolIcon,
    UserIcon,
    KeyIcon,
    PhoneIcon,
    BookmarkIcon,
    UserCheckIcon,
    GlobeIcon,
    GiftIcon,
    MapPinIcon,
    HomeIcon
} from 'vue-feather-icons';

import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import {
    required,
    sameAs
} from 'vuelidate/lib/validators'
import {
    validatePassword
} from '../validator/validate'
import axios from 'axios';
/**
 * Account-setting component
 */
export default {
    data() {
        return {
            isLeaner: false,
            isMentor: true,
            formLeaner: {
                fullname: '',
                phone: '',
                birthdate: '',
                districtId: '',
                school: '',

            },
            formMentor: {
                description: '',
                dob: '',
                phone: '',
                fullName: ''
            },
            formPassword: {
                passwordCurrent: '',
                newPassword: '',
                reNewPassword: ''
            },
            submitted: false,
            dataLeanerBefore: [],
            dataMentorBefore: [],
            roleUser: '',
            provincesDB: [],
            districtsDB: [],
            provinces: [],
            districts: [],
            selectedProvince: {},
            selectedDistrict: {},
            roleee: localStorage.getItem("userRole"),
            userId: localStorage.getItem("userEdỉt"),
            isChangePass: false,
            newPass: "",
            districtId: 0,
            provinceId: 0
        }
    },
    validations: {
        formPassword: {

            newPassword: {
                required,
                validatePassword
            }
        }
    },
    methods: {
        changeDistrict(e) {
            this.districtId = parseInt(e.target.value)
        },
        async handleSubmitPassword(e) {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            if (this.roleee == 4) {
                this.newPass = this.dataLeanerBefore.password

            }
            if (this.roleee == 3) {
                this.newPass = this.dataMentorBefore.password

            }
            const resetpass = await axios.post('MyAccount/ChangePassword', {
                id: this.userId,
                currentPassword: this.newPass,
                newPassword: this.formPassword.newPassword,
                confirmPassword: this.formPassword.newPassword
            }, {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res.data == 1) {
                    this.isChangePass = false
                    this.$swal.fire({
                        title: "Thay đổi mật khẩu thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                    });
                    if (this.roleee == 4) {
                        this.$router.push('/learner-account')
                    }
                    if (this.roleee == 3) {
                        this.$router.push('/mentor-account')
                    }
                    if (this.roleee == 2) {
                        this.$router.push('/managerLst-account')
                    }
                    if (this.roleee == 1) {
                        this.$router.push('/manager-account')
                    }

                } else if (res.data == 0) {
                    this.$swal.fire({
                        title: "Mật khẩu cũ không đúng",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "error",
                    });
                }
            }).catch(err => {})
        },
        async handleSubmitLeaner() {
            if (typeof (this.formLeaner.fullname) === 'undefined' || this.formLeaner.fullname === null || this.formLeaner.fullname === '') {
                this.formLeaner.fullname = this.dataLeanerBefore.fullName
            }
            if (typeof (this.formLeaner.birthdate) === 'undefined' || this.formLeaner.birthdate === null || this.formLeaner.birthdate === '') {
                this.formLeaner.birthdate = this.dataLeanerBefore.birthdate
            }
            if (typeof (this.formLeaner.school) === 'undefined' || this.formLeaner.school === null || this.formLeaner.school === '') {
                this.formLeaner.school = this.dataLeanerBefore.school
            }
            if (typeof (this.selectedDistrict) === 'undefined' || this.selectedDistrict === null || this.selectedDistrict === 0) {
                this.selectedDistrict.id = this.dataLeanerBefore.districtId

            }
            if (typeof (this.password) === 'undefined' || this.password === null || this.password === 0) {
                this.formLeaner.password = this.dataLeanerBefore.password

            }
            if (typeof (this.formLeaner.phone) === 'undefined' || this.formLeaner.phone === null || this.formLeaner.phone === '') {
                this.formLeaner.phone = this.dataLeanerBefore.phoneNumber
            }
            const response = await axios.post('Admin/UpdateLearnerProfile', {
                id: this.userId,
                fullName: this.formLeaner.fullname,
                phone: this.formLeaner.phone,
                school: this.formLeaner.school,
                birthdate: this.formLeaner.birthdate,
                districtId: this.selectedDistrict.id
            }, {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {

                    this.$swal.fire({
                        title: "Cập nhật thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                    });
                    this.$router.push('/learner-account')
                }
            }).catch(err => {
                console.log( err)
            })
        },
        async handleSubmitMentor() {
            if (typeof (this.formMentor.fullName) === 'undefined' || this.formMentor.fullName === null || this.formMentor.fullName === '') {
                this.formMentor.fullName = this.dataMentorBefore.fullName
            }
            if (typeof (this.formMentor.dob) === 'undefined' || this.formMentor.dob === null || this.formMentor.dob === '') {
                this.formMentor.dob = this.dataMentorBefore.birthdate
            }
            if (typeof (this.formMentor.description) === 'undefined' || this.formMentor.description === null || this.formMentor.description === 0) {
                this.formMentor.description = this.dataMentorBefore.description
            }
            if (typeof (this.formMentor.phone) === 'undefined' || this.formMentor.phone === null || this.formMentor.phone === '') {
                this.formMentor.phone = this.dataMentorBefore.phoneNumber
            }
            const response = await axios.post('Admin/UpdateMentorProfile', {
                description: this.formMentor.description,
                dob: this.formMentor.dob,
                phone: this.formMentor.phone,
                fullName: this.formMentor.fullName,
                id: this.userId
            }, {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {
                    this.$swal.fire({
                        title: "Cập nhật thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                    });
                    this.$router.push('/mentor-account')
                }
            }).catch(err => {
                console.log(err)
            })
        },
        async fetchProvinces() {
            this.provinces = this.provincesDB
        },
        async fetchDistricts() {
            this.districts = this.districtsDB.filter(
                district => district.provineId === this.selectedProvince.id);
        },
        mounted() {
            this.fetchProvinces();
        }
    },
    created: async function () {
        const token = localStorage.getItem('token')
        const userEdỉt = localStorage.getItem('userEdỉt')
        const role = localStorage.getItem('userRole')
        this.roleee = role
        if (token === null) {
            this.$router.push('/auth-login')
        } else {
            if (role == 4) {
                const response = axios.post('/Admin/ViewLearnerProfile', {
                    id: userEdỉt
                }, {
                    headers: {
                        'Authorization': "Bearer " + localStorage.getItem("token"),
                    }
                }).then(res => {
                    if (res) {
                        this.dataLeanerBefore = res.data
                        this.formLeaner.birthdate = this.dataLeanerBefore.birthdate
                        this.provinceId = this.dataLeanerBefore.provinceId
                        this.districtId = this.dataLeanerBefore.districtId
                        if (localStorage.getItem('role') == 4) {
                            this.isLeaner = true
                            this.isMentor = false
                        } else {
                            this.isLeaner = false
                            this.isMentor = true
                        }
                        if (this.dataLeanerBefore.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.dataLeanerBefore.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.dataLeanerBefore.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.dataLeanerBefore.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                });
                const getDistrict = await axios.get('MyAccount/GetDistrict', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.districtsDB = res.data
                        this.districts = this.districtsDB.filter(district => district.provineId === this.provinceId);

                    }
                })
                const getProvince = await axios.get('MyAccount/GetProvine', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.provincesDB = res.data
                    }
                });
            } else if (role == 3) {
                const response = axios.post('/Admin/ViewMentorProfile', {
                    id: userEdỉt
                }, {
                    headers: {
                        'Authorization': "Bearer " + localStorage.getItem("token"),
                    }
                }).then(res => {
                    if (res) {
                        this.dataMentorBefore = res.data
                        this.formMentor.dob = this.dataMentorBefore.birthdate
                        this.formMentor.fullName = this.dataMentorBefore.fullName
                        this.formMentor.phoneNumber = this.dataMentorBefore.phoneNumber
                        this.formMentor.description = this.dataMentorBefore.description
                        if (localStorage.getItem('role') == 4) {
                            this.isLeaner = true
                            this.isMentor = false
                        } else {
                            this.isLeaner = false
                            this.isMentor = true
                        }
                        if (this.dataMentorBefore.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.dataMentorBefore.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.dataMentorBefore.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.dataMentorBefore.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                });
            }

        }
    },
    components: {
        HomeIcon,
        MapPinIcon,
        GiftIcon,
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        FacebookIcon,
        TwitterIcon,
        LinkedinIcon,
        GithubIcon,
        YoutubeIcon,
        GitlabIcon,
        InstagramIcon,
        MailIcon,
        UserPlusIcon,
        UsersIcon,
        BellIcon,
        ToolIcon,
        UserIcon,
        KeyIcon,
        PhoneIcon,
        BookmarkIcon,
        MessageCircleIcon,
        UserCheckIcon,
        GlobeIcon
    }
}
</script>
<style>
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
