<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!-- Hero Start -->
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-detail">Chi tiết kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Bộ đề
                                thi
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
                        <div class="card-body">
                            <div class="widget mb-4 pb-2">
                                <a class="btn btn-pills btn-primary mt-2 mr-2" @click="createTest" v-if="tests.length === 0 && this.isOnEditDate == true">Tạo đề
                                    thi</a>
                                <a class="btn btn-pills btn-danger mt-2 mr-2" @click="deleteTest" v-if="tests.length !== 0 && this.isOnEditDate == true">Xóa tất cả</a>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="border rounded" name="s" id="s" v-model="testCode" v-on:keyup="search" placeholder="Nhập để tìm kiếm...">
                                            <!-- <input type="submit" id="searchsubmit" @click="search" value="Search"> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title">Danh sách đề</h4>
                                <ul class="list-group mt-4 mb-0">
                                    <li class="list-group-item cursor" v-for="(test, i) in displayedTest" :key="i" @click="viewTestDetail(test.id)">
                                        <a class="cursor">Đề
                                            số {{ test.testCode }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12  d-flex justify-content-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-left mb-0">
                                        <li class="page-item" @click="scrollToTop()">
                                            <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước
                                            </button>
                                        </li>
                                        <li class="page-item" @click="scrollToTop()" v-if="pages.length > 1">
                                            <span v-if="page !== 1">
                                                <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{ pageNumber }} </button>
                                            </span>
                                            <span v-if="page === 1">
                                                <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{ pageNumber }} </button>
                                            </span>
                                        </li>
                                        <li class="page-item" @click="scrollToTop()">
                                            <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- <p>Tổng số bản ghi: {{tests.length}}</p> -->
                            </div>

                            <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                                <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                                <p v-if="(page < pages.length) && (tests.length > 10)">Từ: {{ (page * 10) - (9) }} - {{ page * 10 }}
                                    trong tổng số {{ tests.length }} bản ghi</p>
                                <p v-if="(page === pages.length) && (tests.length > 10) && (pages.length*10 - tests.length !==9)">Từ:
                                    {{ (page * 10) - (10 - 1) }} - {{ tests.length }} trong tổng số {{ tests.length }} bản ghi</p>
                                <p v-if="(page === pages.length) && (tests.length > 10) && ((pages.length*10 - tests.length ===9))">
                                    Bản ghi thứ {{ tests.length }} trong tổng số {{ tests.length }} bản ghi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
/*::v-deep .carousel-caption {*/
/*  display: contents;*/
/*}*/

/*::v-deep .modal-content {*/
/*  background-color: transparent;*/
/*}*/
</style>

<script>
import {
    ArrowUpIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2';

/**
 * Index-course component
 */
export default {
    name: 'SelectQuestionIngroupDialog',
    data() {
        return {
            examId: localStorage.getItem('examId'),
            tests: [],
            testCode: "",
            page: 1,
            perPage: 10,
            pages: [],
            exam: {},
            isOnEditDate: true,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            // const token = localStorage.getItem('token');
            await axios.post('/Exam/SearchListTest', {
                examId: this.examId,
                testCode: this.testCode,
            }).then((res) => {
                this.tests = res.data;
            }).catch((err) => {
                console.log(err)
            })

            await axios.post('/Exam/GetExamById', {
                id: this.examId,
            }).then((res) => {
                this.exam = res.data;
                console.log(this.exam)

                axios.post('/Exam/GetCurrentTime', {
                    id: this.examId,
                }).then((res2) => {
                  console.log(res2.data)
                  if(this.exam.organizeDate < res2.data){
                    this.isOnEditDate = false
                  }
                  console.log(this.isOnEditDate)
                }).catch((err) => {
                    console.log(err)
                })
            }).catch((err) => {
                console.log(err)
            })
        }

    },
    methods: {
        deleteTest() {
            // const token = localStorage.getItem('token');
            Swal.fire({
                title: 'Đang xóa bộ đề thi...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            axios.post('/Exam/DeleteTest', {
                examId: this.examId,
            }).then((res) => {
                console.log(res)
                if (res.data == -1) {
                    this.$swal.fire({
                        title: 'Xóa bộ đề thi thất bại',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                    return
                }
                axios.post('/Exam/SearchListTest', {
                    examId: this.examId,
                    testCode: this.testCode,
                }).then((res) => {
                    this.tests = res.data;
                    Swal.close();
                    this.$swal.fire({
                        title: 'Xóa bộ đề thi thành công',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                }).catch((err) => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Xóa bộ đề thi thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                    console.log(err)
                })
            }).catch((err) => {
                Swal.close();
                this.$swal.fire({
                    title: "Xóa bộ đề thi thất bại",
                    showCancelButton: false,
                    showConfirmButton: false,
                    timer: 3500,
                    toast: true,
                    position: 'top-end',
                    icon: 'error'
                })
                console.log(err)
            })
        },
        createTest() {
            Swal.fire({
                title: 'Đang tạo bộ đề thi...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            axios.post('/Exam/GenerateTest', {
                examId: this.examId,
            }).then((res) => {
                if (res.data === -1) {
                    Swal.close();
                    this.$swal.fire({
                        title: "Ma trận đề đang trống hoặc chưa có bộ câu hỏi",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                    return
                } else if (res.data === -2) {
                    Swal.close();
                    this.$swal.fire({
                        title: "Bộ câu hỏi không có đủ số câu tương ứng với ma trận",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                    return
                } else if (res.data === -3) {
                    Swal.close();
                    this.$swal.fire({
                        title: "Lỗi không tạo được đề thi",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                    return
                }

                axios.post('/Exam/SearchListTest', {
                    examId: this.examId,
                    testCode: this.testCode,
                }).then((res) => {
                    this.tests = res.data;
                    Swal.close();
                    this.$swal.fire({
                        title: 'Tạo đề thi thành công',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                }).catch((err) => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Tạo đè thi thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3500,
                        toast: true,
                        position: 'top-end',
                        icon: 'error'
                    })
                    console.log(err)
                })
            }).catch((err) => {
                Swal.close();
                this.$swal.fire({
                    title: "Tạo đè thi thất bại",
                    showCancelButton: false,
                    showConfirmButton: false,
                    timer: 3500,
                    toast: true,
                    position: 'top-end',
                    icon: 'error'
                })
                console.log(err)
            })
        },
        viewTestDetail(id) {
            localStorage.setItem("testId", id);
            this.$router.push("/manager-test-detail");
        },
        search() {
            // const token = localStorage.getItem('token');
            axios.post('/Exam/SearchListTest', {
                examId: this.examId,
                testCode: this.testCode,
            }).then((res) => {
                this.tests = res.data;
            }).catch((err) => {
                console.log(err)
            })
        },
        isPageChoose(page) {
            return this.page === page
        },
        scrollToTop() {
            this.selectAll = false
            this.selected = []
            window.scrollTo(0, 0);
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.tests.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(tests) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return tests.slice(from, to);
        },
    },
    computed: {
        displayedTest() {
            return this.paginate(this.tests)
        }

    },
    watch: {
        tests() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>

<style>
button.page-link {
  display: inline-block;
}

button.page-link {
  font-size: 20px;
  color: #29b3ed;
  font-weight: 500;
}

/*.offset {*/
/*  width: 500px !important;*/
/*  margin: 20px auto;*/
/*}*/

.active {
  background-color: #2F55D4;
  color: #ffffff;
}

.active:target {
  display: block !important;
}

button.page-link.active {
  color: cornsilk !important;
}

.cursor {
  cursor: pointer;
}

.breadcrumb-item {
  font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
