<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-detail">Chi tiết kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item"><a href="/exam-learner">Danh sách thí sinh</a></li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết thí sinh</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-12">
                                    <div class="row align-items-center">
                                        <div class="col-lg-3 col-md-3 text-md-left text-center">
                                            <img v-bind:src="learner.learner.imageUrl" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                        </div>
                                        <!--end col-->

                                        <div class="col-lg-9 col-md-9">
                                            <div class="row align-items-end">
                                                <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                                    <h3 class="title mb-0">{{learner.learner.fullName}}</h3>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="border-bottom pb-4">
                                        <div class="row">
                                            <div class="col-md-6 mt-4">
                                                <h5>Thông tin :</h5>
                                                <div class="mt-4">
                                                    <div class="media align-items-center">
                                                        <mail-icon class="fea icon-ex-md text-muted mr-3"></mail-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Email :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{learner.learner.user.email}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <gift-icon class="fea icon-ex-md text-muted mr-3"></gift-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Ngày sinh :</h6>
                                                            <p class="text-muted mb-0">{{learner.learner.birthdate|formatDate}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <map-pin-icon class="fea icon-ex-md text-muted mr-3"></map-pin-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Địa chỉ :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{learner.learner.district.name}}, {{learner.learner.district.provine.name}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <book-open-icon class="fea icon-ex-md text-muted mr-3"></book-open-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Trường :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{learner.learner.schoolName}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <phone-icon class="fea icon-ex-md text-muted mr-3"></phone-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Số điện thoại :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{learner.learner.phoneNumber}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <check-circle-icon class="fea icon-ex-md text-muted mr-3"></check-circle-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Trạng thái :</h6>
                                                            <a href="javascript:void(0)" v-if="learner.status === 1" class="text-muted">Chờ duyệt</a>
                                                            <a href="javascript:void(0)" v-if="learner.status === 2" class="text-muted">Đã từ chối</a>
                                                            <a href="javascript:void(0)" v-if="learner.status === 3" class="text-muted">Đã chấp nhận</a>
                                                            <a href="javascript:void(0)" v-if="learner.status === 4" class="text-muted">Đã hoàn thành bài thi</a>
                                                            <a href="javascript:void(0)" v-if="learner.status === 5" class="text-muted">Đang thi</a>

                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3" v-if="learner.note != null">
                                                        <phone-icon class="fea icon-ex-md text-muted mr-3"></phone-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Lý do từ chối : </h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{learner.note}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>

                                <b-modal v-if="isShowDialog2" id="reason" :hide-footer="true" title="Từ chối yêu cầu" size="lg" centered>
                                    <div class="bg-white rounded box-shadow">

                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Lý do từ chối :<span class="text-danger">*</span></label>
                                                <textarea name="comments" id="comments" rows="4" class="form-control pl-3" placeholder="" v-model="reasonReject"></textarea>
                                            </div>
                                            <div style="float:right">
                                                <a @click="reject" href="javascript:void(0)" id="closemodal" class="btn btn-pills btn-primary mt-2 mr-2">Gửi</a>

                                            </div>

                                        </div>
                                    </div>
                                </b-modal>
                                <div class="row align-items-center">
                                    <div class="col-lg-12">
                                        <a v-if="learner.status==1 || learner.status ==2" @click="accept" href="javascript:void(0)" class="btn btn-pills btn-primary mt-2 mr-2">Chấp nhận</a>
                                        <a v-if="learner.status==3 || learner.status==1" v-b-modal.reason data-toggle="modal" @click="sendReason" data-target="#reason" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Từ chối</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<script>
$('#closemodal').modal('hide');
</script><script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    GiftIcon,
    MapPinIcon,
    BookOpenIcon,
    CheckCircleIcon
} from 'vue-feather-icons';

import Navbarnew from "@/components/navbarnew"
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Account-profile component
 */
export default {
    data() {
        return {
            learnerExamId: localStorage.getItem('learnerExamId'),
            examId: localStorage.getItem('examId'),
            learner: {
                learner: {
                    district: {
                        provine: {}

                    },
                    user: {
                        email: ''
                    }
                }

            },
            isAccept: true,
            reasonReject: '',
            isShowDialog2: false,

        }
    },

    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        MailIcon,
        PhoneIcon,
        GiftIcon,
        MapPinIcon,
        BookOpenIcon,
        CheckCircleIcon
    },
    created: async function () {
        const token = localStorage.getItem('token');
        const response = await axios.post('/Exam/ViewLearnerRequestDetail', {

            headers: {
                'Authorization': 'Bearer ' + token
            },
            examId: this.examId,
            learnerId: this.learnerExamId

        }).then((res) => {
            this.learner = res.data
        }).catch((err) => {
            console.log(err)
        })

    },

    methods: {
        async sendReason() {
            this.reasonReject = ""
            this.isShowDialog2 = true

        },
        accept() {
            const token = localStorage.getItem('token');

            axios.post('/Exam/Accept_RejectRequestExam', {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    learnerId: this.learnerExamId,
                    examId: this.examId,
                    isAccept: true,
                    reasonReject: this.reasonReject,
                })
                .then((res) => {
                    this.$swal.fire({
                        title: 'Đã chấp nhận',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                    this.isAccepted = true
                    // this.learner = {}
                    axios.post('/Exam/ViewLearnerRequestDetail', {

                        headers: {
                            'Authorization': 'Bearer ' + token
                        },
                        examId: this.examId,
                        learnerId: this.learnerExamId

                    }).then((res) => {
                        this.learner = res.data
                    }).catch((err) => {
                        console.log(err)
                    })
                }).catch((err) => {
                    console.log(err)
                })
        },
        reject() {
            const token = localStorage.getItem('token');

            axios.post('/Exam/Accept_RejectRequestExam', {
                    learnerId: this.learnerExamId,
                    examId: this.examId,
                    isAccept: false,
                    reasonReject: this.reasonReject,
                })
                .then((res) => {
                    this.$swal.fire({
                        title: 'Đã gửi lý do từ chối',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                    this.isAccepted = false

                    // this.learner = {}
                    axios.post('/Exam/ViewLearnerRequestDetail', {

                        headers: {
                            'Authorization': 'Bearer ' + token
                        },
                        examId: this.examId,
                        learnerId: this.learnerExamId

                    }).then((res) => {
                        this.learner = res.data
                    }).catch((err) => {
                        console.log(err)
                    })

                }).catch((err) => {
                    console.log(err)
                })
            this.isShowDialog2 = false

        }

    },
}
</script>
<style>
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
