<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-detail">Chi tiết kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Danh sách điểm thi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section" style="flex: 1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
<!--                            <a href="javascript:void(0)" :disabled="isHasData === false" @click="exportData" class="btn btn-pills btn-primary">Xuất file <i class="mdi mdi-download" /></a>-->
                            <button class="btn btn-pills btn-primary mt-2 mr-2" @click.prevent="exportData" :disabled="isHasData === false">Xuất file</button>
                        </div>
                        <div class="col-lg-7">
                            <div class="card border-0 sidebar">
                                <div class="widget">
                                    <div id="search2" class="widget-search">
                                        <form role="search" method="get" id="searchform" class="searchform">
                                            <div>
                                                <input type="text" class="border rounded" name="s" id="s" v-model="title" v-on:keyup="search" placeholder="Nhập để tìm kiếm...">
                                                <input type="submit" id="searchsubmit" value="Search">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form custom-form">
                                <div class="form-group mb-0">
                                    <select class="form-control custom-select" id="Sortbylist-job" @change="onChange($event)">
                                        <option value="1">Sắp xếp theo tên (A-Z)</option>
                                        <option value="2">Sắp xếp theo tên (Z-A)</option>
                                        <option value="3">Sắp xếp theo điểm (tăng dần)</option>
                                        <option value="4">Sắp xếp theo điểm (giảm dần)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive bg-white shadow-lggit rounded mt-4">
                            <table class="table mb-0 table-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" style="width: 30%">Họ và tên</th>
                                        <th scope="col" style="width: 15%">Ngày sinh</th>
                                        <th scope="col" style="width: 25%" class="text-center">Kỳ thi</th>
                                        <th scope="col" class="text-center" style="width: 100px;">Mã đề</th>
                                        <th scope="col" class="text-center" style="width: 100px;">Điểm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(learner, i) in displayedScore" :key="i">
                                        <td>
                                            <a href="javascript: void(0);" @click="learnerDetail(learner.learner.id)" class="forum-title text-primary font-weight-bold">{{learner.learner.fullName}}</a>
                                        </td>
                                        <td style="width: 25%">{{learner.learner.birthdate |formatDate}}</td>
                                        <td class="text-center small">{{learner.exam.title}}</td>
                                        <td class="text-center small">{{learner.testId}}</td>
                                        <td class="text-center small">{{learner.mark}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-12" style="border:0px solid">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                            <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                            <p v-if="(page < pages.length) && (exam.length > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{exam.length}} bản ghi</p>
                            <p v-if="(page == pages.length) && (exam.length > 10) && (pages.length*10 - exam.length !=9)">Từ: {{(page*10)-(10-1)}} - {{exam.length}} trong tổng số {{exam.length}} bản ghi</p>
                            <p v-if="(page == pages.length) && (exam.length > 10) && ((pages.length*10 - exam.length ==9))">Bản ghi thứ {{exam.length}} trong tổng số {{exam.length}} bản ghi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>


<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import moment from 'moment'
import Vue from 'vue'

Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    }
});

/**
 * Index-course component
 */
export default {
    name: 'SelectQuestionIngroupDialog',
    data() {
        return {
            exam: [],
            examId: localStorage.getItem("examId"),
            page: 1,
            perPage: 10,
            pages: [],
            title: "",
            sort: 1,
          isHasData: false
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },

    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem("token");
            await axios
                .post("/Exam/ViewListMark", {
                    examId: this.examId
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                })
                .then((res) => {
                    this.exam = res.data
                    if(this.exam.length > 1) {
                      this.isHasData = true
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    },
    methods: {
        onChange(event) {
            this.sort = event.target.value;
            this.search();
        },
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            window.scrollTo(0, 0);
        },
        search() {
            const token = localStorage.getItem("token");
            axios
                .post("/Exam/ViewListMark", {
                    examId: this.examId,
                    nameLearner: this.title,
                    sort: this.sort
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                })
                .then((res) => {
                    this.exam = res.data;
                })
                .catch((err) => {
                    console.log(err);
                });
        },

        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.exam.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(exam) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return exam.slice(from, to);
        },
        learnerDetail: function (id) {
            localStorage.setItem('learnerExamId', id)
            this.$router.push({
                name: 'ExamLearnerDetail'
            })
        },
        exportData: function () {
            const token = localStorage.getItem("token");
            axios
                .post("/Exam/ExportFile", {
                    examId: this.examId
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    responseType: "blob"
                })
                .then((res) => {
                    //resolve(res)
                    let blob = new Blob([res.data], {
                        type: "application/vnd.ms-excel"
                    }); // 2. Get the blob setting file type in the response object returned by the request. Here is excel as an example.
                    let url = window.URL.createObjectURL(blob); // 3. Create a temporary url pointing to the blob object

                    // 4. After creating the url, you can simulate a series of operations on this file object, for example: preview, download
                    let a = document.createElement("a");
                    a.href = url;
                    a.download = "Export table.xlsx";
                    a.click();
                    // 5. Release this temporary object url
                    window.URL.revokeObjectURL(url);
                })
                .catch((err) => {
                    console.log(err);
                });
        },
    },
    computed: {
        displayedScore() {
            return this.paginate(this.exam)
        }

    },
    watch: {
        exam() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
