<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!-- Hero Start -->
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-detail">Chi tiết kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Danh sách thí sinh</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
                        <div class="card-body">
                            <div class="widget mb-4 pb-2 border-bottom">
                                <h4 class="widget-title">Tìm kiếm</h4>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="border rounded" v-model="searchText" v-on:keyup="search" name="s" id="s" placeholder="Nhập để tìm kiếm...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget mb-4 pb-4">
                                <h4 class="widget-title">Trạng thái</h4>
                                <div class="mt-4">
                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="ac" :value="1" v-model="type" v-on:change="search">
                                            <label class="custom-control-label" for="ac">Chờ duyệt</label>
                                            <!-- <span class="float-right">{{countAccept}}</span> -->
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="bc" :value="3" v-model="type" v-on:change="search">
                                            <label class="custom-control-label" for="bc">Đã chấp nhận</label>
                                            <!-- <span class="float-right">{{countProcess}}</span> -->
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="fulltime" :value="2" v-model="type" v-on:change="search">
                                            <label class="custom-control-label" for="fulltime">Đã từ chối</label>
                                            <!-- <span class="float-right">{{countReject}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <a @click="accept" href="javascript:void(0)" class="btn btn-pills btn-primary mt-2 mr-2">Chấp nhận</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive bg-white shadow-lg rounded mt-4">
                            <table class="table mb-0 table-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" style="width:10%; text-align: center">
                                            <input type="checkbox" v-model="selectAll" @click="selectItem" />
                                        </th>
                                        <th scope="col" style="min-width: 300px;">Họ và tên</th>
                                        <th scope="col" class="text-center" style="min-width: 200px;">Ngày sinh</th>
                                        <th scope="col" class="text-center" style="width: 100px;">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(learner, i) in displayedLearner" :key="i">
                                        <th scope="col" style="width:10%; text-align: center">
                                            <input type="checkbox" :value="learner.learner.id" v-model="selected" />
                                        </th>
                                        <td>
                                            <a href="javascript: void(0);" @click="learnerDetail(learner.learner.id)" class="forum-title text-primary font-weight-bold">{{learner.learner.fullName}} </a>

                                        </td>
                                        <td class="text-center small">{{learner.learner.birthdate| formatDate2}}</td>
                                        <td class="text-center small" v-if="learner.status === 1">Chờ duyệt</td>
                                        <td class="text-center small" v-if="learner.status === 2">Đã từ chối</td>
                                        <td class="text-center small" v-if="learner.status === 3">Đã chấp nhận</td>
                                        <td class="text-center small" v-if="learner.status === 4">Đã hoàn thành</td>
                                        <td class="text-center small" v-if="learner.status === 5">Đang thi</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="border:0px solid">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                            <!-- <p>Tổng số bản ghi: {{this.learners.length}}</p> -->
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                            <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                            <p v-if="(page < pages.length) && (learners > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{learners}} bản ghi</p>
                            <p v-if="(page == pages.length) && (learners > 10) && (pages.length*10 - learners !=9)">Từ: {{(page*10)-(10-1)}} - {{learners}} trong tổng số {{learners}} bản ghi</p>
                            <p v-if="(page == pages.length) && (learners > 10) && ((pages.length*10 - learners ==9))">Bản ghi thứ {{learners}} trong tổng số {{learners}} bản ghi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

import moment from 'moment'
import Vue from 'vue'

Vue.filter('formatDate2', function (value) {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    }
});

/**
 * Index-course component
 */
export default {
    name: 'SelectQuestionIngroupDialog',
    data() {
        return {
            learners: [],
            type: [],
            searchText: "",
            page: 1,
            perPage: 10,
            pages: [],
            examId: localStorage.getItem('examId'),
            selected: [],
            selectAll: false,
            countAccept: 0,
            countProcess: 0,
            countReject: 0,
            listDelete: [],
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },

    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role ===6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem("token");
            await axios
                .post("/Exam/SearchLearnerRequestExam", {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    examId: this.examId,
                    name: this.searchText,
                    listStatus: this.type
                })
                .then((res) => {
                    this.learners = res.data;
                })
                .catch((err) => {
                    console.log(err);
                });
        }
    },
    methods: {
        async accept() {
            const token = localStorage.getItem("token");
            const response = await axios
                .post("/Exam/AcceptListLearnerRequestDetail", {
                    examId: this.examId,
                    listLearnerId: this.selected
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {

                    this.$swal.fire({
                        title: 'Đã chấp nhận',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                    this.learners = []
                    axios
                        .post("/Exam/SearchLearnerRequestExam", {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            },
                            examId: this.examId,
                            name: this.searchText,
                            listStatus: this.type
                        })
                        .then((res) => {
                            this.learners = res.data;
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                    this.selected = []
                    this.selectAll = false
                    // this.$router.push('/exam-learner')
                    // this.$router.go()
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        search() {
            const token = localStorage.getItem("token");
            axios
                .post("/Exam/SearchLearnerRequestExam", {
                    examId: this.examId,
                    name: this.searchText,
                    listStatus: this.type
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.page = 1
                    this.learners = res.data;
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            this.selectAll = false
            this.selected = []
            window.scrollTo(0, 0);
        },
        selectItem() {
            this.selected = [];
            this.listDelete = []
            if (!this.selectAll) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                this.listDelete = this.learners.slice(from, to)
                for (let i = 0; i < this.listDelete.length; i++) {
                    this.selected.push(this.listDelete[i].learner.id)
                }
            }
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.learners.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(learners) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return learners.slice(from, to);
        },
        learnerDetail: function (id) {
            localStorage.setItem('learnerExamId', id)
            this.$router.push({
                name: 'ExamLearnerDetail'
            })
        },

    },
    computed: {
        displayedLearner() {
            return this.paginate(this.learners)
        }

    },
    watch: {
        learners() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
