<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-group">Quản lý chủ đề</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background: white">
                                <a style="color: #2F55D4">Chi tiết chủ đề</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-0" style="margin-top: 6rem;">
        <div class="container" style="border: 0px solid">
            <div class="row align-items-center;">
                <div class="col-lg-12 col-md-12 col-12  form-inline" style="border: 0px solid">
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <h5>
                                    <p>Tên chủ đề: {{name}}</p>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center;">
                <div class="col-lg-10 col-md-9 col-12 form-inline" style="margin-top: 3rem">
                    <div class="container">
                        <div class="container">
                            <div class="row" style="border: 0px solid">
                                <h5>Danh sách chủ đề</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <table class="table mb-0 table-center shadow-lg">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Tên khóa học</th>
                                <th scope="col">Mô tả</th>
                                <th scope="col">Người tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(q, i) in displayedPosts" :key="i">
                                <td :title="q.courseName">{{q.courseNameSummanry}}</td>
                                <td :title="q.description">{{q.descriptionSummanry }}</td>
                                <td>{{q.mentorName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-left mb-0">
                            <li class="page-item" @click="scrollToTop($event)">
                                <button type="button" class="page-link" v-if="page > 1" @click="page--"> Trước </button>
                            </li>
                            <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                <span v-if="page != 1">
                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                </span>
                                <span v-if="page == 1">
                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                </span>
                            </li>
                            <li class="page-item" @click="scrollToTop($event)">
                                <button type="button" @click="page++" v-if="page < pages.length && page > 0" class="page-link"> Sau </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <Footer />
</div>
</template>

<script>
import axios from 'axios';
import Footer from "@/components/footer";
import Navbarnew from "@/components/navbarnew";
export default {
    data() {
        return {
            course: [],
            page: 1,
            name: localStorage.getItem('GroupName'),
            perPage: 5,
            pages: [],
            groupId: localStorage.getItem('GroupId'),
        }
    },
    components: {
        Footer,
        Navbarnew
    },
    created: async function () {
        const token = localStorage.getItem('token');
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const response = await axios.post('/Group/Detail', {
                groupId: this.groupId,
            }).then((res) => {
                let dataFromDb = []
                dataFromDb = res.data
                for (let i = 0; i < dataFromDb.length; i++) {
                    let cou = ''
                    let des = ''
                    let a = ''
                    let b = ''
                    if (dataFromDb[i].courseName.length > 15) {
                        a = dataFromDb[i].courseName
                        cou = a.substring(0, 15) + '...'
                    } else {
                        cou = dataFromDb[i].courseName
                    }
                    if (dataFromDb[i].description.length > 15) {
                        b = dataFromDb[i].description
                        des = b.substring(0, 15) + '...'
                    } else {
                        des = dataFromDb[i].description
                    }
                    this.course.push({
                        courseName: dataFromDb[i].courseName,
                        description: dataFromDb[i].description,
                        mentorName: dataFromDb[i].mentorName,
                        courseNameSummanry: cou,
                        descriptionSummanry: des
                    })
                }
            })
        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            window.scrollTo(0, 0);
        },
        setPage() {
            this.pages = []
            let numberOfPages = Math.ceil(this.course.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(course) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return course.slice(from, to);
        },

    },
    computed: {
        displayedPosts() {
            return this.paginate(this.course)
        }
    },
    watch: {
        course() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
}
</script>

<style>
button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}

.offset {
    width: 500px !important;
    margin: 20px auto;
}

.active {
    background-color: #2F55D4;
    color: #ffffff;
}

.active:target {
    display: block !important;
}

button.page-link.active {
    color: cornsilk !important;
}

.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
