<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
      <div class="container"></div>
    </section>
    <section>
      <div class="container" style="text-align: center">
        <div class="row justify-content-center">
          <div class="col-12">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item">
                  <router-link to="/manager-home">Trang chủ</router-link>
                </li>
                <li class="breadcrumb-item"><a href="/manager-question">Câu hỏi</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="background: white">
                  Import Câu hỏi
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                    <form class="rounded shadow-lg p-4">
                        <div class="col-sm-12">
                            <h5 class="text-info">List các chủ đề <i v-if="(isShow === false)" class="mdi mdi-24px mdi-arrow-up-drop-circle-outline mdi-rotate-180 cursor" @click="show"></i>
                                <i v-if="(isShow === true)" class="mdi mdi-24px mdi-arrow-up-drop-circle-outline cursor" @click="closeShow"></i></h5>
                            <div v-if="isShow" >
                                <ul class="list-unstyled" v-for="(group, i) in listGroupInDb" :key="i">
                                    <li class="list-group-item" style="margin-bottom: -15px">{{ group.name }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group position-relative" >
                                <p><label>Tải file lên(*xls, *xlsx) :</label></p>
                                <input ref="file" @change="getFile($event)" @click="e => (e.target.value = null)" type="file" accept=".xls, .xlsx" id="fileupload1">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <a href="https://tuannm53.blob.core.windows.net/files/2021-08-16-184042-TemlateImport.xlsx" target="_blank"><i>Tải template mẫu</i></a>
                        </div>
                        <div class="col-sm-12">
                            <!-- upload file xonh chỉ hiện nút check.lúc check xong mới cho lưu -->
                            <a class="btn btn-pills btn-primary mt-2 mr-2" @click="getDataFromFile">Kiểm tra</a>
                            <button class="btn btn-pills btn-primary mt-2 mr-2" @click.prevent="importData" :disabled="isSave === false">Lưu</button>
                        </div>
                        <div class="col-sm-12">
                            <span v-if="isEmptyFile" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn tệp muốn import trước khi kiểm tra</span>
                            <span v-if="isNullQuestionGroupContent" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Có nhóm câu hỏi chưa có nội dung chung</span>
                            <span v-if="isNullQuestionContent" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Có câu hỏi không có nội dung</span>
                            <span v-if="isInvalidAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Có câu hỏi không có đáp án nào</span>
                            <span v-if="isUniqueAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Có câu hỏi chỉ có 1 đáp án (yêu cầu có 2 đáp án trở lên)</span>
                            <span v-if="isHasAnswerTrue" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Có câu hỏi không có đáp án đúng</span>
                            <span v-if="isInvalidAnswerTrue" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Câu hỏi không chứa nhiều hơn 1 đáp án đúng</span>
                            <span v-if="isNullLevelQuestion" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Có câu hỏi thiếu trường độ khó hoặc sai độ khó (độ khó bao gồm: Dễ, trung bình, khó)</span>
                            <span v-if="isMissingQuestionInGroup" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Số câu hỏi của một nhóm câu hỏi không trùng khớp với số lượng câu hỏi khai báo</span>
                        </div>
                        <div class="col-sm-12">
                            <span v-if="isInvalidGroup" style="font: 12.8px Nunito, sans-serif; color: #DC3545;" v-html="listNameInvalid"></span>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 col-md-9" v-for="(groupQuestion, i) in listGroupQuestionWillBeStore" :key="i">
                    <div class="rounded shadow-lg p-4 mt-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8" v-if="groupQuestion.groupQuestionContent !== null">
                                        <h5>Dữ liệu chung:</h5>
                                        <p v-html="groupQuestion.groupQuestionContent"></p>
                                        <div v-if="groupQuestion.hasImage ===true && groupQuestion.image !== null" class="row">
                                            <img :src="groupQuestion.viewImage" width="100px" height="100px" alt="">
                                        </div>
                                        <div class="row" @change="addImage(i,null,null)">
                                            <UploadImage :image.sync="groupQuestionImage" @setNullImage="groupQuestion.image = $event" @imageChange="fileImage1 = $event" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Chủ đề: <span class="text-info">{{groupQuestion.group}}</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2 border-top" v-for="(question, j) in groupQuestion.listQuestion" :key="j">
                                <div class="row">
                                    <div class="col-md-6 mt-2 border-right">
                                        <div class="row">
                                            <div class="col-md-12 mt-2">
                                                <h5>Độ khó:</h5>
                                                <p v-if="question.level === 1">Khó</p>
                                                <p v-if="question.level === 2">Trung bình</p>
                                                <p v-if="question.level === 3">Dễ</p>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <h5>Đề bài:</h5>
                                                <p v-html="question.questionContent"></p>
                                                <div v-if="question.hasImage ===true && question.image !== null" class="row">
                                                    <img :src="question.viewImage" width="100px" height="100px" alt="">
                                                </div>
                                                <div class="row" @change="addImage(i,j,null)">
                                                    <UploadImage :image.sync="groupQuestionImage" @setNullImage="question.image = $event" @imageChange="fileImage2 = $event" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-2">
                                        <div class="custom-control custom-checkbox">
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <h5>Đáp án:</h5>
                                                </div>
                                                <div class="col-md-12" v-for="(answer, k) in question.listAnswer" :key="k">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <i v-if="answer.isTrue" class="mdi mdi-24px mdi-check-circle-outline" style="color:blue"></i>
                                                                    <i v-else class="mdi mdi-24px mdi-close-circle-outline" style="color:red"></i>
                                                                </div>
                                                                <div class="col-md-10 mt-1">
                                                                    <p>{{answer.answerContent}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 form-group">
                                                            <div v-if="answer.hasImage ===true && answer.image !== null" class="row">
                                                                <img :src="answer.viewImage" width="100px" height="100px" alt="">
                                                            </div>
                                                            <div class="row" @change="addImage(i,j,k)">
                                                                <UploadImage :image.sync="groupAnswerImage" @setNullImage="answer.image = $event" @imageChange="fileImage3 = $event" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Footer />
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<script>
import {
    ArrowUpIcon,
    PlusIcon,
    FilePlusIcon

} from "vue-feather-icons";
import UploadImage from "../components/UploadImage.vue"
import Navbarnew from "../components/navbarnew";
import Switcher from "../components/switcher";
import Footer from "../components/footer";
import axios from "axios";
import Swal from 'sweetalert2'
import Vue from 'vue';
import VueResource from "vue-resource"
Vue.use(VueResource);

/**
 * Index-course component
 */
export default {
    data() {
        return {
            listGroupQuestionWillBeStore: [],
            listGroupQuestion: [],
            listQuestion: [],
            listAnswer: [],
            token: '',
            file: null,
            fileImage1: null,
            fileImage2: null,
            fileImage3: null,
            groupQuestionImage: null,
            groupAnswerImage: null,
            isEmptyFile: false,
            uploadURL: 'https://localhost:44360/Question/ImportListQuestion',
            uploadImg: 'https://localhost:44360/Upload',
            hasImgGroupQuestion: false,
            hasImgQuestion: false,
            hasImgAnswer: false,
            imageDemo: null,
            isSave: false,
            listGroupInDb: [],
            listGroupInExcel: [],
            isInvalidGroup: false,
            listGroupInvalid: [],
            nameGroupFirst: "",
            listNameInvalid: "",
            listNameValid: "",
            isShow: false,
            isShowClose: true,
            countQuestion: 0,
            countTrueInQuestion: 0,
            answerTrueQuestionMoreThanOne: 0,
            countFalseInQuestion: 0,
            countQuestionHasNoAnswer: 0,
            isInvalidAnswerTrue: false,
            isHasAnswerTrue: false,
            isInvalidAnswer: false,
            countAnswer: 0,
            countUniqueAnswer: 0,
            isUniqueAnswer: false,
            countQuestionNullContent: 0,
            isNullQuestionContent: false,
            cuntQuestionGroupContent: 0,
            isNullQuestionGroupContent: false,
            countHasAnswerTrue: 0,
            countLevelOfQuestion: 0,
            isNullLevelQuestion: false,
            countQuestionInGroup: 0,
            isMissingQuestionInGroup: false
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon,
        FilePlusIcon,
        UploadImage
    },
    created: function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
           this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
           this.$router.push("/page-not-found")
        } else {
          console.log('vao day2')
            this.token = localStorage.getItem('token')
             axios.get('Group', {
                headers: {
                    'Authorization': 'Bearer ' + this.token
                }
            }).then(res => {
                if (res) {
                    this.listGroupInDb = res.data
                }
            })
        }
    },
    methods: {
        closeShow() {
            this.isShow = false
        },
        show() {
            this.isShow = true
        },
        getDataFromFile() {
            this.countQuestionInGroup = 0
            this.isMissingQuestionInGroup = false
            this.isNullLevelQuestion = false
            this.countLevelOfQuestion = 0
            this.listGroupInExcel = []
            this.isSave = false
            this.listGroupInvalid = []
            this.isInvalidGroup = false
            this.answerTrueQuestionMoreThanOne = 0
            this.listNameInvalid = ''
            this.cuntQuestionGroupContent = 0
            this.countTrueInQuestion = 0
            this.isInvalidAnswerTrue = false
            this.countAnswer = 0
            this.countQuestion = 0
            this.countUniqueAnswer = 0
            this.countQuestionNullContent = 0
            this.isInvalidAnswerTrue = false
            this.isInvalidAnswer = false
            this.isHasAnswerTrue = false
            this.isUniqueAnswer = false
            this.isNullQuestionContent = false
            this.isInvalidGroup = false
            this.isNullQuestionGroupContent = false
            this.listGroupQuestion = []
            this.listGroupQuestionWillBeStore = []
            this.listQuestion = []
            this.listAnswer = []
            let formData = new FormData();
            let arr = []
            formData.append("file", this.file);
            if (this.file !== null) {
                this.isEmptyFile = false
                Swal.fire({
                    title: 'Đang tải dữ liệu...',
                    html: 'Chờ trong giây lát...',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                Vue.http
                    .post(this.uploadURL, formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(response => {
                        if (response.status === 200) {
                            Swal.close();
                            let dataFromDb = response.data
                            for (let i = 0; i < dataFromDb.length; i++) {
                                arr.push(this.listGroupInExcel.push(dataFromDb[i].group))
                            }
                            for (let i = 0; i < dataFromDb.length; i++) {
                                arr.push(this.listGroupQuestion.push({
                                  groupQuestionContent: dataFromDb[i].groupQuestionContent,
                                  numberQuestionInGroup: dataFromDb[i].numberQuestionInGroup,
                                  listQuestion: dataFromDb[i].listQuestion,
                                  group: dataFromDb[i].group
                                }))
                            }
                            for (let i = 0; i < this.listGroupQuestion.length; i++) {
                              arr.push(this.listGroupQuestionWillBeStore.push({
                                    groupQuestionContent: this.listGroupQuestion[i].groupQuestionContent,
                                    numberQuestionInGroup: this.listGroupQuestion[i].numberQuestionInGroup,
                                    listQuestion: null,
                                    group: this.listGroupQuestion[i].group,
                                    image: null,
                                    viewImage: null,
                                    hasImage: false
                                }))
                                if((this.listGroupQuestion[i].groupQuestionContent === null)&&(this.listGroupQuestion[i].numberQuestionInGroup > 1)) {
                                  arr.push(this.cuntQuestionGroupContent += 1)
                                }
                                let listQuestionDB = []
                                if( (this.listGroupQuestion[i].groupQuestionContent !== null) && (this.listGroupQuestion[i].numberQuestionInGroup !== this.listGroupQuestion[i].listQuestion.length)) {
                                  console.log('vao day')
                                  this.countQuestionInGroup += 1
                                  console.log('this.countQuestionInGroup: ' + this.countQuestionInGroup)
                                }

                                for (let j = 0; j < this.listGroupQuestion[i].listQuestion.length; j++) {
                                  arr.push(listQuestionDB.push({
                                        level: this.listGroupQuestion[i].listQuestion[j].level,
                                        listAnswer: null,
                                        questionContent: this.listGroupQuestion[i].listQuestion[j].questionContent,
                                        image: null,
                                        viewImage: null,
                                        hasImage: false
                                    }))
                                    if(this.listGroupQuestion[i].listQuestion[j].level === 0) {
                                      this.countLevelOfQuestion += 1
                                    }
                                    if(this.listGroupQuestion[i].listQuestion[j].listAnswer.length < 1) {
                                      arr.push(this.countAnswer += 1)
                                    }
                                    if(this.listGroupQuestion[i].listQuestion[j].listAnswer.length === 1) {
                                      arr.push(this.countUniqueAnswer += 1)
                                    }
                                    if(this.listGroupQuestion[i].listQuestion[j].questionContent.length < 1 ) {
                                      arr.push(this.countQuestionNullContent += 1)
                                    }
                                    this.countQuestion += 1
                                    let listAnswerDB = []
                                    let countTrue = 0
                                    for (let k = 0; k < this.listGroupQuestion[i].listQuestion[j].listAnswer.length; k++) {
                                      arr.push(listAnswerDB.push({
                                            isTrue: this.listGroupQuestion[i].listQuestion[j].listAnswer[k].isTrue,
                                            answerContent: this.listGroupQuestion[i].listQuestion[j].listAnswer[k].answerContent,
                                            image: null,
                                            viewImage: null,
                                            hasImage: false
                                        }))
                                        if(this.listGroupQuestion[i].listQuestion[j].listAnswer[k].isTrue === true) {
                                          arr.push(countTrue += 1)
                                        }
                                    }
                                  if(countTrue === 0) {
                                    arr.push(this.countTrueInQuestion += 1)
                                  } else if (countTrue > 1) {
                                    arr.push(this.answerTrueQuestionMoreThanOne += 1)
                                  }
                                  arr.push(listQuestionDB[j].listAnswer = listAnswerDB)
                                }
                              arr.push(this.listGroupQuestionWillBeStore[i].listQuestion = listQuestionDB)
                            }
                            Promise.all(arr).then(() => {
                              let count = 0
                              let listNameGroup = []
                              for (let i = 0; i < this.listGroupInDb.length; i++) {
                                listNameGroup.push(this.listGroupInDb[i].name)
                              }
                              for (let j = 0; j < this.listGroupInExcel.length; j++) {
                                if (!listNameGroup.includes(this.listGroupInExcel[j])) {
                                  count += 1
                                  if (this.nameGroupFirst !== this.listGroupInExcel[j]) {
                                    this.listGroupInvalid.push(this.listGroupInExcel[j])
                                    this.nameGroupFirst = this.listGroupInExcel[j]
                                  }
                                }
                              }
                              for (let i = 0; i < this.listGroupInvalid.length; i++) {
                                if (i < this.listGroupInvalid.length - 1) {
                                  if(this.listGroupInvalid[i] === null) {
                                      this.listGroupInvalid[i] = '(Chưa điền chủ đề)'
                                  }
                                  this.listNameInvalid += this.listGroupInvalid[i] + ', '
                                } else {
                                  if(this.listGroupInvalid[i] === null) {
                                    this.listGroupInvalid[i] = '(Có câu hỏi hoặc nhóm câu hỏi chưa có chủ đề)'
                                  }
                                  this.listNameInvalid += this.listGroupInvalid[i]
                                }
                              }
                              this.listNameInvalid = 'Sai tên chủ đề <b><i>' + this.listNameInvalid + '</b></i>'
                              this.listNameValid = 'Bạn cần điền chủ đề khớp với chủ đề có sẵn:'
                              if (count === 0) {
                                if(this.cuntQuestionGroupContent > 0) {
                                  this.isNullQuestionGroupContent = true
                                }else if(this.countLevelOfQuestion > 0) {
                                  this.isNullLevelQuestion = true
                                }else if(this.countQuestionInGroup > 0) {
                                  this.isMissingQuestionInGroup = true
                                } else if (this.countQuestionNullContent > 0) {
                                  this.isNullQuestionContent = true
                                }else if(this.countAnswer > 0){
                                  this.isInvalidAnswer = true
                                }else if(this.countUniqueAnswer > 0) {
                                  this.isUniqueAnswer = true
                                }else if(this.countTrueInQuestion > 0) {
                                  this.isHasAnswerTrue = true
                                } else if (this.answerTrueQuestionMoreThanOne > 0) {
                                  this.isInvalidAnswerTrue = true
                                } else {
                                  this.isInvalidAnswerTrue = false
                                  this.isSave = true
                                }
                              }else {
                                this.isInvalidGroup = true
                                this.isSave = false
                              }
                            })
                        }
                    }).catch(err => {
                        Swal.close();
                        console.log(err)
                    })
            } else {
                this.isEmptyFile = true
            }
        },
        addImage(i, j, k) {
            if (this.fileImage1 !== null) {
                let formDataQuestionGroup = new FormData();
                formDataQuestionGroup.append("file", this.fileImage1);
                this.listGroupQuestionWillBeStore[i].image = formDataQuestionGroup
                this.listGroupQuestionWillBeStore[i].viewImage = URL.createObjectURL(this.fileImage1)
                this.listGroupQuestionWillBeStore[i].hasImage = true
                this.fileImage1 = null
            }
            if (this.fileImage2 !== null) {
                let formDataQuestion = new FormData();
                formDataQuestion.append("file", this.fileImage2);
                this.listGroupQuestionWillBeStore[i].listQuestion[j].image = formDataQuestion
                this.listGroupQuestionWillBeStore[i].listQuestion[j].viewImage = URL.createObjectURL(this.fileImage2)
                this.listGroupQuestionWillBeStore[i].listQuestion[j].hasImage = true
                this.fileImage2 = null
            }
            if (this.fileImage3 !== null) {
                let formDataAnswer = new FormData();
                formDataAnswer.append("file", this.fileImage3);
                this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer[k].image = formDataAnswer
                this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer[k].viewImage = URL.createObjectURL(this.fileImage3)
                this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer[k].hasImage = true
                this.fileImage3 = null
            }
        },
        importData() {
              let config = {
                headers: {
                  "Content-Type": "multipart/form-data"
                }
              };
              const arr = []
              Swal.fire({
                title: 'Đang lưu dữ liệu...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                  Swal.showLoading()
                }
              });
              for (let i = 0; i < this.listGroupQuestionWillBeStore.length; i++) {
                if (this.listGroupQuestionWillBeStore[i].image !== null) {
                  arr.push(Vue.http.post(this.uploadImg, this.listGroupQuestionWillBeStore[i].image, config).then(respone => {
                    if (respone.status === 200) {
                      let content = this.listGroupQuestion[i].groupQuestionContent
                      let newContent = ''
                      if (content.includes('</br>')) {
                        let dataSplit = content.split('</br>')
                        for (let i = 0; i < dataSplit.length; i++) {
                          newContent += '<p>' + dataSplit[i] + '</p>'
                        }
                      } else {
                        newContent = content
                      }
                      this.listGroupQuestion[i].groupQuestionContent = newContent + '<p><img src="' + respone.data + '"></p>'
                    }
                  }))
                }
                for (let j = 0; j < this.listGroupQuestionWillBeStore[i].listQuestion.length; j++) {
                  if (this.listGroupQuestionWillBeStore[i].listQuestion[j].image !== null) {
                    arr.push(Vue.http.post(this.uploadImg, this.listGroupQuestionWillBeStore[i].listQuestion[j].image, config).then(respone => {
                      if (respone.status === 200) {
                        let content1 = this.listGroupQuestionWillBeStore[i].listQuestion[j].questionContent
                        let newContent1 = ''
                        if (content1.includes('</br>')) {
                          let dataSplit = content1.split('</br>')
                          for (let i = 0; i < dataSplit.length; i++) {
                            newContent1 += '<p>' + dataSplit[i] + '</p>'
                          }
                        } else {
                          newContent1 = content1
                        }
                        this.listGroupQuestion[i].listQuestion[j].questionContent = newContent1 + '<p><img src="' + respone.data + '"></p>'
                      }
                    }))
                  }
                  for (let k = 0; k < this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer.length; k++) {
                    if (this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer[k].image !== null) {
                      arr.push(Vue.http.post(this.uploadImg, this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer[k].image, config).then(respone => {
                        if (respone.status === 200) {
                          let content2 = this.listGroupQuestionWillBeStore[i].listQuestion[j].listAnswer[k].answerContent
                          let newContent2 = ''
                          if (content2.includes('</br>')) {
                            let dataSplit = content2.split('</br>')
                            for (let i = 0; i < dataSplit.length; i++) {
                              newContent2 += '<p>' + dataSplit[i] + '</p>'
                            }
                          } else {
                            newContent2 = content2
                          }
                          this.listGroupQuestion[i].listQuestion[j].listAnswer[k].answerContent = newContent2 + '<p><img src="' + respone.data + '"></p>'
                        }
                      }))
                    }
                  }
                }
              }
              Promise.all(arr).then(() => {
                axios.post('Question/AddListQuestionImport', {
                  listData: this.listGroupQuestion
                }, {
                  headers: {
                    'Authorization': 'Bearer ' + this.token
                  }
                }).then(res => {
                  if (res) {
                    Swal.close();
                    if (res.data === -1) {
                      this.$swal.fire({
                        title: "Chủ đề trong file excel không tồn tại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "error",
                      });
                    } else {
                      this.$swal.fire({
                        title: "Import câu hỏi thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                      });
                      this.isSave = false
                      this.listGroupQuestionWillBeStore = []
                      this.$refs.file.value = null
                    }
                  }
                }).catch(err => {
                  console.log(err)
                  Swal.close();
                })
              })
        },
        getFile(e) {
            this.file = e.target.files[0]
            this.isEmptyFile = false
        }
    }
};
</script>

<style lang="scss" scoped>
    .cursor {
         cursor: pointer;    
    }
    .upload-block {
    border: 1px solid rgba(63, 63, 68, 0.15);
    box-shadow: 0 0 4px rgba(63, 63, 68, 0.25);
    border-radius: 8px;
    margin-top: 16px;
    &__image-row {
        padding: 10px;
        border-radius: 8px;

        img {
            border-radius: 14px;
            height: 150px;
            width: 100%;
        }
    }
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
    .breadcrumb-item {
      font-size: 11px !important;
    }
</style>
