<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="main-slider">
        <b-carousel fade id="carousel-1" v-model="slide" class="slides">
            <b-carousel-slide class="bg-slider d-flex align-items-center" style="background-image:url('images/course/fpt.jpg')">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="title-heading text-white mt-4">
                                <h1 class="display-4 title-dark font-weight-bold mb-3">Bạn có thể học các khóa học ôn luyện của chúng tôi</h1>
                                <p class="para-desc para-dark mx-auto text-light">Khởi động kế hoạch của bạn và nắm bắt lợi ích từ việc học tập với chúng tôi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
            <b-carousel-slide class="bg-slider d-flex align-items-center" style="background-image:url('images/course/bg2.jpg')">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="title-heading text-white mt-4">
                                <h1 class="display-4 title-dark font-weight-bold mb-3">Hãy nỗ lực để chinh phục các mục tiêu</h1>
                                <p class="para-desc para-dark mx-auto text-light">Cùng học tập để chinh phục những xuất học bổng giá trị của trường F thôi nào!</p>
                                <a href="/auth-signup" class="btn btn-outline-primary mt-3">Đăng ký ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
            <b-carousel-slide class="bg-slider d-flex align-items-center" style="background-image:url('images/course/bg3.jpg')">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="title-heading text-white mt-4">
                                <h1 class="display-4 title-dark font-weight-bold mb-3">Học tập là chìa khóa dẫn đến thành công</h1>
                                <p class="para-desc para-dark mx-auto text-light">Học tập không phải con đường duy nhất dẫn đến thành công nhưng nó sẽ là con đường tốt nhất và ngắn nhất cho chúng ta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
        </b-carousel>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card course-feature text-center overflow-hidden rounded shadow-lg border-0">
                        <div class="card-body py-5">
                            <div class="icon">
                                <img src="images/icon/insurance.svg" class="avatar avatar-small" alt="">
                            </div>

                            <h4 class="mt-3"><a href="/auth-login" class="title text-dark">Khóa học</a></h4>
                            <p class="text-muted">Chúng tôi có những khóa học hệ thống và cung cấp kiến thức để cùng bạn chuẩn bị cho kỳ thi học bổng FPT</p>
                            <a href="/auth-login" class="text-primary read-more">Xem thêm <i class="mdi mdi-chevron-right"></i></a>
                            <img src="images/icon/insurance.svg" class="full-img" height="300" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card course-feature text-center overflow-hidden rounded shadow-lg border-0">
                        <div class="card-body py-5">
                            <div class="icon">
                                <img src="images/icon/writingpaper.svg" class="avatar avatar-small" alt="">
                            </div>

                            <h4 class="mt-3"><a href="/auth-login" class="title text-dark"> Kỳ thi</a></h4>
                            <p class="text-muted">Chúng tôi tổ chức những kỳ thi thử giúp bạn luyện tập và trải nghiệm một số dạng kiến thức sẽ có trong kỳ thi</p>
                            <a href="/auth-login" class="text-primary read-more">Xem thêm<i class="mdi mdi-chevron-right"></i></a>
                            <img src="images/icon/writingpaper.svg" class="full-img" height="300" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card course-feature text-center overflow-hidden rounded shadow-lg border-0">
                        <div class="card-body py-5">
                            <div class="icon">
                                <img src="images/icon/achievement.svg" class="avatar avatar-small" alt="">
                            </div>

                            <h4 class="mt-3"><a href="/auth-login" class="title text-dark">Xếp hạng</a></h4>
                            <p class="text-muted">Xếp hạng điểm kỳ thi thử giữa bạn và những người dùng khác giúp bạn tự đánh giá được năng lực của mình </p>
                            <a href="/auth-login" class="text-primary read-more">Xem thêm<i class="mdi mdi-chevron-right"></i></a>
                            <img src="images/icon/achievement.svg" class="full-img" height="300" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container">
            <div class="row align-items-center py-5">
                <!-- <div class="col-lg-5 col-md-6 col-12">
                    <img src="images/course/about.jpg" class="img-fluid shadow rounded" alt="">
                </div> -->
                <div class="col-lg-5 col-md-5 ">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-lg">
                                <div class="card-body p-0">
                                    <img src="images/course/about2.jpg" class="img-fluid" alt="work-image">
                                    <div class="overlay-work bg-dark"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                    <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-lg">
                                        <div class="card-body p-0">
                                            <img src="images/course/about.jpg" class="img-fluid" alt="work-image">
                                            <div class="overlay-work bg-dark"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                                    <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-lg">
                                        <div class="card-body p-0">
                                            <img src="images/course/about3.jpg" class="img-fluid" alt="work-image">
                                            <div class="overlay-work bg-dark"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title ml-lg-4">
                        <h4 class="title mb-4">Câu chuyện của chúng tôi: <span class="text-primary">FLearn</span></h4>
                        <p class="text-muted">Theo khảo sát hồ sơ từ phòng tuyển sinh, hàng năm số lượng học sinh đăng ký dự thi vào trường đều tăng (ước tính khoảng 2000 em/ năm) và sẽ còn tăng trong thời gian tới. Nhận thấy sự quan tâm đến việc ôn thi học bổng của trường đại học FPT ngày càng tăng cao, chúng tôi tạo ra một nền tảng học tập và luyện thi trực tuyến cho những bạn quan tâm đến học bổng FPT</p>
                        <ul class="list-unstyled mb-0 text-muted">
                            Còn chần chờ gì nữa, hãy <a href="/auth-signup"><b><u>tham gia ngay</u></b></a> với chúng tôi thôi nào!
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="courses">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title pb-2">
                        <h4 class="title mb-4">Các khóa học phổ biến</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" v-for="(course, i) in courses.slice(0,6)" :key="i">
                    <div class="card courses-desc overflow-hidden rounded shadow-lg border-0">
                        <div class="position-relative d-block overflow-hidden">
                            <img :src="course.imageUrl" class="img-fluid rounded-top mx-auto" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <a href="/auth-login" class="text-white h6 preview">Xem ngay <i class="mdi mdi-chevron-right"></i></a>
                        </div>

                        <div class="card-body">
                            <h5 class="mt-2"><a href="/auth-login" class="title text-dark">{{course.title}}</a></h5>
                            <p class="text-muted" v-if="course.description.length > 78">{{course.description.slice(0, 78) + "..." }}</p>
                            <p class="text-muted" v-else-if="course.description.length <= 39" v-html="course.description + ' ' + '&nbsp'.repeat(78 - course.description.length) "></p>
                            <p class="text-muted" v-else>{{course.description}}</p>
                            <ul class="list-unstyled d-flex justify-content-between border-top mt-3 pt-3 mb-0">
                                <li class="text-muted small">
                                    <i class="mdi mdi-school text-info"></i> {{course.numberLearner}} Học viên
                                </li>
                                <li class="text-muted small ml-3">
                                    <i class="mdi mdi-book text-primary"></i> {{course.numberLesson}} Bài học
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-4 pt-2 text-center">
                    <a href="/auth-login" class="btn btn-soft-primary">Xem thêm nhiều khóa học hơn <i class="mdi mdi-chevron-right"></i></a>
                </div>
                <div class="container mt-100 mt-60" id="instructors">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="section-title mb-4 pb-2">
                                <h4 class="title mb-4">Đội ngũ giảng viên</h4>
                                <p class="text-muted para-desc mx-auto mb-0"><a href="/auth-signup"><b><u>Tham gia ngay</u></b></a> để học với đội ngũ giảng viên chuyên môn giỏi, nhiệt tình.</p>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor1.jpg" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/phungkhacthanh172" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/phungkhacthanh172" class="name text-dark">Phùng Khắc Thành</a></h5>
                                    <small class="designation text-muted">K10 - Ngành Kĩ thuật phần mềm</small>
                                    <p class="designation text-muted">Học bổng 100%</p>
                                    <p class="designation text-muted">6 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor2.jpg" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/coiis.giangg.7" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/coiis.giangg.7" class="name text-dark">Nguyễn Thị Giang</a></h5>
                                    <small class="designation text-muted">K14 - Ngành Kinh doanh quốc tế</small>
                                    <p class="designation text-muted">Học bổng 70%</p>
                                    <p class="designation text-muted">2 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor3.jpg" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/maihuon99" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/maihuon99" class="name text-dark">Phạm Thị Mai Hương</a></h5>
                                    <small class="designation text-muted">K13 - Ngành Kĩ thuật phần mềm</small>
                                    <p class="designation text-muted">Học bổng 70%</p>
                                    <p class="designation text-muted">3 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor4.png" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/hienquyet1509" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/hienquyet1509" class="name text-dark">Trần Thị Hiền</a></h5>
                                    <small class="designation text-muted">K13 - Ngành Kĩ thuật phần mềm</small>
                                    <p class="designation text-muted">Học bổng 100%</p>
                                    <p class="designation text-muted">3 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Học viên nói gì</h4>
                        <!-- <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-12 mt-4">
                    <carousel id="customer-testi" class="owl-carousel owl-theme" dir="ltr" :per-page="3">
                        <Slide>
                            <div class="media customer-testi m-2">
                                <img src="images/company/Dung.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                    <p class="text-muted mt-2">"Các khóa học rất hay và bổ ích. Mình đã đạt được học bổng 70% nhờ ôn thi tại đây "</p>
                                    <h6 class="text-primary">- Phạm Thị Kim Dung</h6>
                                </div>
                            </div>
                        </Slide>
                        <Slide>
                            <div class="media customer-testi m-2">
                                <img src="images/company/learner2.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                    <p class="text-muted mt-2">"Đội ngũ mentor siêu nhiệt tình. Mình đã đạt được mức học bổng 70%"</p>
                                    <h6 class="text-primary">- Vương Tuấn Quang</h6>
                                </div>
                            </div>
                        </Slide>
                        <Slide>
                            <div class="media customer-testi m-2">
                                <img src="images/company/learner3.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                    <p class="text-muted mt-2">"Các kì thi giúp mình đánh giá được năng lực của mình để cải thiện. Mình đạt học bổng 100%"</p>
                                    <h6 class="text-primary">- Nguyễn Đăng Kiên</h6>
                                </div>
                            </div>
                        </Slide>
                        <Slide>
                            <div class="media customer-testi m-2">
                                <img src="images/company/Dung.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                    <p class="text-muted mt-2">"Các khóa học rất hay và bổ ích. Mình đã đạt được học bổng 70% nhờ ôn thi tại đây "</p>
                                    <h6 class="text-primary">- Phạm Thị Kim Dung</h6>
                                </div>
                            </div>
                        </Slide>
                        <Slide>
                            <div class="media customer-testi m-2">
                                <img src="images/company/learner2.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                    <p class="text-muted mt-2">"Đội ngũ mentor siêu nhiệt tình. Mình đã đạt được mức học bổng 70%"</p>
                                    <h6 class="text-primary">- Vương Tuấn Quang</h6>
                                </div>
                            </div>
                        </Slide>
                        <Slide>
                            <div class="media customer-testi m-2">
                                <img src="images/company/learner3.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                    <p class="text-muted mt-2">"Các kì thi giúp mình đánh giá được năng lực của mình để cải thiện. Mình đạt học bổng 100%"</p>
                                    <h6 class="text-primary">- Nguyễn Đăng Kiên</h6>
                                </div>
                            </div>
                        </Slide>
                    </carousel>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <a href="/auth-signup" class="btn btn-outline-primary mt-3">Đăng ký ngay</a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <Footer />
</div>
</template>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
} from 'vue-feather-icons';
import {
    Carousel,
    Slide
} from 'vue-carousel';
import countTo from 'vue-count-to'

import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
    name: 'Home',
    data() {
        return {
            slide: 0,
            courses: []
        }
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        Carousel,
        Slide,
        ArrowUpIcon,
        countTo,
        MailIcon,
        PhoneIcon,
        UserIcon,
        ChevronRightIcon,
        PlayIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon
    },
    created: async function () {
        Swal.fire({
            title: 'Đang tải dữ liệu...',
            html: 'Chờ trong giây lát...',
            allowEscapeKey: false,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading()
            }
        });
        await axios
            .get("Courses/GetListCourseInterest")
            .then((res) => {
                Swal.close();
                this.courses = res.data;
            })
            .catch((err) => {
                console.log(err);
            });
        let roleId = localStorage.getItem("role")
        if (roleId === 3) {
            Swal.close();
            this.$router.push("/manager-course");
        } else if (roleId === 4) {
            Swal.close();
            this.$router.push("/learner-home");
        } else if (roleId === 1 || roleId === 6) {
            Swal.close();
            this.$router.push("/manager-account");
        } else if (roleId === 2) {
            Swal.close();
            this.$router.push("/manager-home")
        }
    }
}
</script>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}

.img-fluid.rounded-top.mx-auto {
    height: 350px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
