<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-12 d-none d-md-block">
                    <div class="sidebar sticky-bar p-4 rounded shadow">
                        <div class="widget border-bottom">
                            <h4 class="widget-title">Câu hỏi</h4>
                            <ul class="list-unstyled social-icon mb-0 mt-4">
                                <li class="list-inline-item" v-for="(questionTitle, i) in questionTitles" :key="i">
                                    <a href="javascript: void(0);" v-scroll-to="{el:'#q' + (i+1), offset: -100,  duration: 500}" class="mouse-down h6 text-black rounded" v-bind:class="{ 'text-white': questionTitle.isCheck, 'bg-blue': questionTitle.isCheck }">Q{{questionTitle.titleNumber}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget mb-4 pb-4 border-bottom">
                            <h4 class="widget-title">Thời gian</h4>
                            <div class="mt-4">
                                <span class="mdi mdi-clock"></span>
                                <span id="minutes"> {{ minutes }}</span>
                                <span id="middle">:</span>
                                <span id="seconds">{{ seconds }} s</span>
                            </div>
                        </div>
                        <div class="widget mb-2 pb-2">
                            <div class="mt-4">
                                <a href="javascript: void(0);" v-scroll-to="{el:'#submit', offset: -100,  duration: 500}" class="mouse-down h6 text-dark rounded">Nộp bài...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="row">
                        <div class="col-lg-12 ml-lg-12 border-bottom" v-for="(questionGroup, j) in questionGroups" :key="j">
                            <div class="row" v-bind:id="j">
                                <div class="col-lg-12 ml-lg-12 border-bottom" v-if="questionGroup.generalContent != null">
                                    <h5 class="mt-4 text-primary" v-if="questionGroup.questions.length != 1">Dữ liệu chung (Từ câu {{questionGroup.questions[0].titleNumber}} đến câu {{questionGroup.questions[questionGroup.questions.length-1].titleNumber}})</h5>
                                    <h5 class="mt-4 text-primary" v-if="questionGroup.questions.length == 1">Dữ liệu chung (Câu {{questionGroup.questions[0].titleNumber}})</h5>
                                    <p v-html="questionGroup.generalContent"></p>
                                </div>
                            </div>
                            <div class="row" v-bind:id="'c' + j">
                                <div class="col-lg-12 ml-lg-12 border-bottom" v-bind:id="'q' + question.titleNumber" v-for="(question, i) in questionGroup.questions" :key="i">
                                    <div class="border-bottom">
                                        <h5 class="mt-4">Câu {{question.titleNumber}} </h5>
                                        <p v-html="question.content"></p>
                                    </div>
                                    <div class="widget">
                                        <div class="mt-4" v-for="(testSelection, k) in question.selections" :key="k">
                                            <div class="custom-control custom-radio">
                                                <div class="form-group mb-2">
                                                    <input type="radio" v-bind:id="'se' + testSelection.selectionId" v-bind:name="'se' + question.questionId" class="custom-control-input" @click="chooseAnswer(question.questionId, testSelection.selectionId, j , i, k)" :checked="testSelection.isCheck == true">
                                                    <label class="custom-control-label" v-bind:for="'se' + testSelection.selectionId" v-html="testSelection.content"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4" id="submit">
                        <input type="button" class="btn btn-outline-primary" value="Nộp bài" @click="submit()" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Footer />
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import $ from "jquery";
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'
import moment from 'moment'

/**
 * Index-course component
 */
export default {
    data() {
        return {
            examId: localStorage.getItem("examId"),
            testId: -1,
            time: 0,
            questionGroups: [{
                questions: [{
                    selections: [],
                }],
            }],
            totalTime: 10,
            answerQuestion: [],
            questionTitles: [],
            mark: 0,
            startTime: new Date(),
            listId: [],
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },

    ///LearnerFeatures/JoinExam
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 2 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            Swal.fire({
                title: 'Đang kiểm tra...',
                html: 'Đợi trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            if (localStorage.getItem("questionGroups") != null) {
                const token = localStorage.getItem("token");
                this.questionGroups = JSON.parse(localStorage.getItem("questionGroups"));
                this.answerQuestion = JSON.parse(localStorage.getItem("answerQuestion"));
                this.questionTitles = JSON.parse(localStorage.getItem("questionTitles"));
                for (let i = 0; i < this.questionGroups.length; i++) {
                    if (this.questionGroups[i].generalContent !== null) {
                        this.listId.push(i)
                    }
                }
                //get time now in server
                let time = new Date();
                axios.post("/Exam/GetCurrentTime", {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then((res) => {
                    time = res.data
                    axios.post("/LearnerFeatures/GetStartTime", {
                        examId: this.examId,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    }).then((res) => {
                        this.startTime = res.data.startTime
                        this.time = res.data.time
                        var diff = new Date(time).getTime() - new Date(this.startTime).getTime();
                        console.log(diff)
                        this.totalTime = Math.round(this.time * 60 - diff / 1000);
                        console.log(this.totalTime)
                        Swal.close();
                        if (this.totalTime < 0) {
                            this.submitApi();
                        }
                    }).catch((err) => {
                        console.log(err)
                    })
                }).catch((err) => {
                    console.log(err)
                })

            } else {
                const token = localStorage.getItem("token");
                let time;
                const array = []
                await axios.post("/Exam/GetCurrentTime", {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then((res) => {
                    time = res.data
                }).catch((err) => {
                    console.log(err)
                })
                await axios
                    .post("/LearnerFeatures/JoinExam", {
                        startTime: time,
                        examId: this.examId,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.questionGroups = res.data.questionGroups;
                        this.startTime = res.data.startTime;
                        let j = 1;
                        for (let i in this.questionGroups) {
                            for (let k in this.questionGroups[i].questions) {
                                this.questionTitles.push({
                                    questionId: this.questionGroups[i].questions[k].questionId,
                                    titleNumber: j,
                                    isCheck: false,
                                });
                                this.answerQuestion.push({
                                    questionId: this.questionGroups[i].questions[k].questionId,
                                    selectionId: 0,
                                });
                                this.questionGroups[i].questions[k].titleNumber = j;
                                j++;
                            }
                        }
                        for (let i = 0; i < this.questionGroups.length; i++) {
                            if (this.questionGroups[i].generalContent !== null) {
                                this.listId.push(i)
                            }
                        }
                        localStorage.setItem("questionGroups", JSON.stringify(this.questionGroups));
                        localStorage.setItem("questionTitles", JSON.stringify(this.questionTitles));
                        localStorage.setItem("answerQuestion", JSON.stringify(this.answerQuestion));
                        axios.post("/LearnerFeatures/GetStartTime", {
                            examId: this.examId,
                        }, {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        }).then((res) => {
                            this.totalTime = res.data.time * 60
                            Swal.close();
                        }).catch((err) => {
                            console.log(err)
                        })
                    })
                    .catch((err) => {
                        console.log(err);
                    })

            }

            this.timer = setInterval(() => this.countdown(), 1000);

        }
    },
    // beforeUpdate() {
    //     console.log("a")
    //     let names = [],
    //         navWraps = [],
    //         navs = [],
    //         startPositions = [],
    //         stopPositions = [],
    //         widths = [],
    //         ys = []
    //     for (let i = 0; i < this.listId.length; i++) {
    //         names[i] = parseInt(this.listId[i])
    //         navWraps[i] = $('#' + names[i])
    //         navs[i] = $('#' + names[i])
    //         if (i === 0) {
    //             startPositions[i] = navWraps[i].offset().top
    //         } else {
    //             startPositions[i] = navWraps[i].offset().top - $('#' + (parseInt(names[i - 1]))).height() * 2
    //         }
    //         if (i === (this.listId.length - 1)) {
    //             stopPositions[i] = 100000000000
    //         } else {
    //             stopPositions[i] = $('#' + (names[i] + 1)).offset().top
    //         }
    //         widths[i] = navs[i].width()
    //         // console.log("start " + i + " " + startPositions[i])
    //         // console.log("stop " + i + " " + stopPositions[i])
    //         $(document).scroll(function () {
    //             ys[i] = $(this).scrollTop() + 74
    //             // console.log('y' + i + ' :' + ys[i])

    //             if (ys[i] > startPositions[i]) {

    //                 navs[i].addClass('stickynav' + i);
    //                 $(".stickynav" + i).width(widths[i])
    //                 $(".stickynav" + i).css({
    //                     'position': 'fixed',
    //                     'margin-top': '74px',
    //                     'background-color': 'white',
    //                     'z-index': '1'
    //                 })
    //                 if (ys[i] > stopPositions[i]) {
    //                     navs[i].css('top', stopPositions[i] - ys[i]);
    //                 } else {
    //                     navs[i].css('top', 0)
    //                 }
    //             } else {
    //                 navs[i].removeAttr('style');
    //                 navs[i].removeClass('stickynav' + i)
    //             }
    //         })
    //     }
    // },
    methods: {
        submitApi: function () {
            let submitDate = new Date();
            submitDate.toLocaleString('vi', {
                timeZone: 'Asia/Ho_Chi_Minh'
            });
            let submitTime = moment(String(submitDate)).format('MM/DD/YYYY hh:mm:ss a')
            Swal.fire({
                title: 'Đang nộp bài...',
                html: 'Đợi trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            axios
                .post("/LearnerFeatures/SubmitExamQuery", {
                    submitTime: submitTime,
                    examId: this.examId,
                    answerSheets: this.answerQuestion,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token"),
                    }
                })
                .then((res) => {
                    localStorage.removeItem("questionGroups");
                    localStorage.removeItem("answerQuestion");
                    localStorage.removeItem("questionTitles");
                    Swal.close();
                    // localStorage.removeItem("startTime");
                    this.$swal.fire({
                        title: "Nộp bài thi thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                    });
                    this.$router.push('/learner-exam-detail')
                })
                .catch((err) => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Nộp bài thi thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "error",
                    });
                    this.$router.push('/learner-exam-detail')
                });
        },
        countdown: function () {
            if (this.totalTime >= 1) {
                this.totalTime--;
            } else {
                this.totalTime = 0;
                clearInterval(this.timer);
                this.submitApi();
            }
        },
        padTime: function (time) {
            return (time < 10 ? '0' : '') + time;
        },
        chooseAnswer(questionId, selectionId, groupIndex, questionIndex, selectionIndex) {
            this.questionGroups[groupIndex].questions[questionIndex].selections[selectionIndex].isCheck = true;
            for (let i in this.questionTitles) {
                if (this.questionTitles[i].questionId == questionId) {
                    this.questionTitles[i].isCheck = true;
                }
            }
            for (let i in this.answerQuestion) {
                if (this.answerQuestion[i].questionId == questionId) {
                    this.answerQuestion[i].selectionId = selectionId;
                    break;
                }
            }
            localStorage.setItem("questionGroups", JSON.stringify(this.questionGroups));
            localStorage.setItem("questionTitles", JSON.stringify(this.questionTitles));
            localStorage.setItem("answerQuestion", JSON.stringify(this.answerQuestion));

        },
        submit() {
            Swal.fire({
                title: 'Bạn có muốn nộp bài không',
                showCancelButton: true,
                confirmButtonText: "Có",
                cancelButtonText: "Làm tiếp"
            }).then((result) => {
                if (result.isConfirmed) {
                    clearInterval(this.timer);
                    this.submitApi();
                }
            })
        }
    },
    computed: {
        minutes: function () {
            const minutes = Math.floor(this.totalTime / 60);
            return this.padTime(minutes);
        },
        seconds: function () {
            const seconds = this.totalTime - (this.minutes * 60);
            return this.padTime(seconds);
        }
    }
};
</script>
<style>
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
