<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-list-course">Khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background: white">Bài kiểm tra</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <!-- <div class="bg-overlay"></div> -->
        <div class="container">
            <div class="col-12 d-flex justify-content-center">
                <div class="card border-0 sidebar sticky-bar rounded ">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="section-title" >
                                <h4 class="title title-dark mb-4" v-if="this.isQuizOfLesson == 0">Bài kiểm tra của khóa học: {{courseName}}</h4>
                                <h4 class="title title-dark mb-4" v-else>Bài kiểm tra của bài học: {{lessonName}}</h4>
                                <p style="text-align: center" class="para-dark para-desc mx-auto">Số câu hỏi: {{quiz.numberQuestion}}</p>
                                <!-- <p style="text-align: center" class="para-dark para-desc mx-auto">Thời gian: {{quiz.time}} phút</p> -->
                                <p style="text-align: center" class="para-dark para-desc mx-auto" v-if="isQuizOfLesson == 0 && lastMark != -1">Điểm lần thi trước: {{lastMark}} câu đúng / {{quiz.numberQuestion}} câu hỏi</p>
                                <p style="text-align: center" @click="doQuiz" class="btn btn-pills btn-primary mt-2 mr-2">Làm bài kiểm tra</p>
                                <!-- <b-modal id="modal-1" hide-footer size="lg" header-close-variant="white" header-class="border-0" content-class="border-0" centered>
                            <vimeo-player ref="player" :player-width="750" :player-height="450" :video-id="287684225" />
                        </b-modal> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            quizId: localStorage.getItem("quizId"),
            isQuizOfLesson: localStorage.getItem("isQuizOfLesson"),
            courseId: localStorage.getItem("courseId"),
            courseName: localStorage.getItem("courseName"),
            lessonName: localStorage.getItem("lessonName"),
            quiz: {},
            lastMark: -1,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 2 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            axios.post('/MentorFeatures/ViewQuiz', {
                quizId: this.quizId,
            }).then((res) => {
                this.quiz = res.data;
                if (this.isQuizOfLesson == 0) {
                axios.post('/LearnerFeatures/ViewMarkQuizCourse', {
                    courseId: this.courseId,
                }).then((res) => {
                    this.lastMark = res.data;
                }).catch((err) => {
                    console.log(err)
                })
            }
            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        doQuiz() {
            localStorage.setItem("quizId", this.quizId);
            this.$router.push("/learner-quiz");
        }
    },
};
</script>
<style scoped>
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
