<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>

    <div class="container-fluid mt-60 mt-40">
        <div class="rounded-md shadow-md py-5 position-relative" style="background: url('images/3.jpg') center center;">
            <div class="bg-overlay rounded-md"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h1 class="text-white title-dark mb-3">{{course.title}}</h1>
                            <ul class="list-unstyled">
                                <li class="list-inline-item small brush text-white mr-2"><i class="mdi mdi-brush text-white title-dark"></i> Tác giả : {{author}}</li>
                                <li class="list-inline-item small book text-white"><i class="mdi mdi-book text-white title-dark"></i> {{course.numberLesson}} Bài học</li>
                            </ul>
                            <p class="para-desc mx-auto text-white mb-0">{{course.description}}</p>
                            <div class="mt-4" v-if="isJoin == true && role != 3">
                                <a class="btn btn-primary" @click="joinCourse('Hủy khóa học')">Hủy khóa học</a>
                            </div>
                            <div class="mt-4" v-if="isJoin == false && role != 3">
                                <a class="btn btn-primary" @click="joinCourse('Tham gia khóa học')">Học ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item" v-if="role == 4">
                                <router-link to="/learner-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" v-if="role == 4">
                                <router-link to="/learner-list-course">Khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item" v-if="role == 3">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background: white">Chi tiết khóa học</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container" v-if="isJoin == true || role == 3">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
                        <div class="card-body">
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title">Bài học</h4>
                                <a href="/mentor-list-lesson" v-if="role == 3">
                                    <img style="width:6%; float:right; margin-top: -11%" src="https://img.icons8.com/ios/50/000000/create-new.png" />
                                </a>
                                <ul class="list-group mt-4 mb-0">
                                    <li v-for="(lesson, i) in lessons" :key="i" class="list-group-item cursor" v-bind:class="{ active: lesssonChoose.id==lesson.id?true:false }" @click="changeLesson(lesson.id)"><a v-bind:class="{ 'text-white': lesssonChoose.id==lesson.id?true:false }">{{lesson.name}}</a></li>
                                </ul>
                            </div>
                            <input type="button" class="btn btn-pills btn-primary mt-2 mr-2" @click="createQuiz()" value="Thêm bài kiểm tra" v-if="role == 3 && quizId == -1">
                            <input type="button" class="btn btn-pills btn-primary mt-2 mr-2" @click="viewQuiz()" value="Xem bài kiểm tra" v-if="role == 3 && quizId != -1" />
                            <a @click="doCourseQuiz()"><input type="button" class="btn btn-pills btn-primary mt-2 mr-2" @click="doQuiz()" value="Làm bài kiểm tra của khóa học" v-if="role == 4 && quizId != -1" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6" v-if="haveLesson">
                    <div class="card blog blog-detail border-0 shadow-lg rounded">
                        <video-embed :params="{autoplay: 1}" v-bind:src="lesssonChoose.videoUrl" class="img-fluid rounded-top"></video-embed>
                        <div class="card-body content">
                            <p class="text-muted mt-3 font-weight-bold" v-html="lesssonChoose.content"></p>
                            <p class="text-muted" v-html="lesssonChoose.description"></p>
                            <div class="post-meta mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item"><a class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>{{totalComment}}</a></li>
                                </ul>
                            </div>
                            <div class="mt-4">
                                <input type="button" class="btn btn-pills btn-primary mt-2 mr-2" @click="doLessonQuiz()" value="Làm bài kiểm tra" v-if="role == 4 && lessonQuizId != -1" />
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-lg rounded border-0 mt-4">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Bình luận :</h5>
                            <ul class="media-list list-unstyled mb-0">
                                <li class="mt-4">
                                    <div class="d-flex justify-content-between">
                                        <div class="media align-items-center">
                                            <a class="pr-3" v-if="userComment.imgUrl != null">
                                                <img :src="userComment.imgUrl" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <a class="pr-3" v-else>
                                                <img src="images/icon-avatar.png" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0"><a class="media-heading text-dark">{{userComment.fullname}}</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="mt-3">
                                        <textarea id="message" v-model="lessonComment" v-on:keyup.enter="lessonCommentClick" placeholder="Viết bình luận..." rows="2" name="message" class="form-control pl-5" required=""></textarea>
                                    </form>
                                </li>
                                <li class="mt-4" v-for="(index, i) in comments" :key="i">
                                    <div class="d-flex justify-content-between">
                                        <div class="media align-items-center">
                                            <a class="pr-3" v-if="index.userIn4.imgUrl != null">
                                                <img :src="index.userIn4.imgUrl" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <a class="pr-3" v-else>
                                                <img src="images/icon-avatar.png" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0">
                                                    <a class="media-heading text-dark">{{ index.userIn4.fullname }}</a>
                                                </h6>
                                                <small class="text-muted">{{ index.createDateTime |formatDate}}</small>
                                            </div>
                                        </div>
                                        <div v-if="index.userIn4.id == id || role == 3">
                                            <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
                                                <template #button-content><i class="mdi mdi-dots-horizontal"></i></template>
                                                <b-dropdown-item @click="deleteComment(index.id)">Xóa</b-dropdown-item>
                                            </b-dropdown>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p class="text-muted p-3 bg-light rounded">{{ index.content }}</p>
                                    </div>
                                    <div class="mt-3" style="text-align: right">
                                        <a class="text-muted cursor" @click="replyCommentClick(index.id)"><i class="mdi mdi-reply"></i> Trả lời</a>
                                    </div>

                                    <ul class="list-unstyled pl-4 pl-md-5 sub-comment" v-for="(childComment, i) in index.childComments" :key="i">
                                        <li class="mt-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="media align-items-center">
                                                    <a class="pr-3" v-if="childComment.userIn4.imgUrl != null">
                                                        <img :src="childComment.userIn4.imgUrl" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <a class="pr-3" v-else>
                                                        <img src="images/icon-avatar.png" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <div class="commentor-detail">
                                                        <h6 class="mb-0"><a class="text-dark media-heading">{{childComment.userIn4.fullName}}</a></h6>
                                                        <small class="text-muted">{{childComment.createDateTime |formatDate}}</small>
                                                    </div>
                                                </div>
                                                <div v-if="childComment.userIn4.id == id || role == 3">
                                                    <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
                                                        <template #button-content><i class="mdi mdi-dots-horizontal"></i></template>
                                                        <b-dropdown-item @click="deleteSubComment(childComment.id)">Xóa</b-dropdown-item>
                                                    </b-dropdown>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <p class="text-muted p-3 bg-light rounded">{{childComment.content}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled pl-4 pl-md-5 sub-comment" v-if="index.haveNewSubComment">

                                        <li class="mt-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="media align-items-center">
                                                    <a class="pr-3" v-if="userComment.imgUrl != null">
                                                        <img :src="userComment.imgUrl" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <a class="pr-3" v-else>
                                                        <img src="images/icon-avatar.png" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <div class="commentor-detail">
                                                        <h6 class="mb-0"><a class="text-dark media-heading">{{userComment.fullname}}</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="mt-3">
                                                <textarea id="message" v-model="index.subCommentContent" v-on:keyup.enter="subCommentClick(index.id)" placeholder="Viết bình luận..." rows="2" name="message" class="form-control pl-5" required=""></textarea>
                                            </form>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6" v-else>Không có bài học nào</div>
            </div>
        </div>
        <div class="container mt-4 mt-lg-0 " v-else>
            <div class="row align-items-center mb-1 pb-1">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h4 class="mb-1">Đăng ký học ngay để xem chi tiết các bài học.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    ArrowRightIcon,
    Edit3Icon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Vue from 'vue'
import Embed from 'v-video-embed'
import Swal from 'sweetalert2'
import moment from 'moment'

Vue.use(Embed);
Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('HH:mm - DD/MM/YYYY')
    }
});

/**
 * Index-course component
 */
export default {
    data() {
        return {
            courseId: localStorage.getItem("courseId"),
            course: {},
            author: '',
            isJoin: '',
            lessons: [],
            lessonId: -1,
            role: localStorage.getItem("role"),
            id: localStorage.getItem("id"),
            lesssonChoose: {
                id: 1,
                name: "",
                description: "",
                content: "",
                videoUrl: "",
            },
            comments: [],
            lessonComment: "",
            comment: {},
            totalComment: 0,
            userComment: {},
            lastCommentId: 0,
            haveLesson: true,
            quizId: -1,
            lessonQuizId: -1,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        ArrowRightIcon,
        Edit3Icon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            this.getLesson();
        }
    },
    methods: {
        async getLesson() {
            let total = 0;
            const token = localStorage.getItem("token");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                Swal.fire({
                    title: 'Đang tải dữ liệu',
                    html: 'Vui lòng chờ trong giây lát',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                await axios
                    .post("Courses/GetCourseById", {
                        id: this.courseId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {

                        this.course = res.data;
                        localStorage.setItem("courseTitle", this.course.title);
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                await axios
                    .post("Courses/GetMentorByIdUser", {
                        id: this.course.createdBy
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.author = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                await axios
                    .post("/MentorFeatures/GetQuizByCourseId", {
                        courseId: this.courseId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.quizId = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                if (this.role != 3) {
                    await axios
                        .post("Courses/CheckJoinCourse", {
                            id: this.courseId
                        }, {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        })
                        .then((res) => {
                            this.isJoin = res.data;
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }
                await axios
                    .post("Lesson/GetListLessonByCourse", {
                        courseId: this.courseId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.lessons = res.data;
                        if (this.lessons.length > 0) {
                            if (this.lessonId == -1)
                                this.lessonId = this.lessons[0].id;
                            this.haveLesson = true;
                        } else {
                            this.haveLesson = false;
                        }
                        for (let i in this.lessons) {
                            if (this.lessons[i].id == this.lessonId) {
                                this.lesssonChoose.id = this.lessons[i].id;
                                this.lesssonChoose.name = this.lessons[i].name;
                                this.lesssonChoose.description = this.lessons[i].description;
                                this.lesssonChoose.content = this.lessons[i].content;
                                this.lesssonChoose.videoUrl = this.lessons[i].videoUrl;
                                break;
                            }
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                await axios
                    .post("/MentorFeatures/GetQuizByLessonId", {
                        lessonId: this.lessonId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.lessonQuizId = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                await axios
                    .post("GetComment", {
                        lessonId: this.lessonId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.comments = res.data;
                        console.log(this.comments)
                        total += this.comments.length;
                        for (let j in this.comments) {
                            Vue.set(this.comments[j], 'haveNewSubComment', false);
                            Vue.set(this.comments[j], 'subCommentContent', '');
                            // this.comments[j].haveNewSubComment = false;
                            total += this.comments[j].childComments.length;
                        }
                        this.totalComment = total;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                //Get current user comment
                await axios
                    .post("Users/GetUserCmtInfo", {
                        roleId: this.role
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.userComment = res.data;
                        console.log(this.userComment)
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                Swal.close();
            }
        },
        joinCourse(message) {
            const token = localStorage.getItem("token");
            Swal.fire({
                title: 'Đang tải dữ liệu',
                html: 'Vui lòng chờ trong giây lát',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
            if (this.role != 3) {
                axios
                    .post("Study/JoinCourse", {
                        courseId: this.courseId,
                        isJoined: this.isJoin
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.isJoin = !this.isJoin
                        Swal.close();
                        this.$swal.fire({
                            title: message + " thành công",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "success",
                        });
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        },
        lessonDetail(id) {
            localStorage.setItem("lessonId", id);
            this.$router.push({
                name: "LearnerLessonDetail",
            });
        },
        lessonCommentClick() {
            const token = localStorage.getItem("token");
            if (this.lessonComment.substring(0, this.lessonComment.length - 1) != "") {
                let cmt = this.lessonComment;
                this.lessonComment = "";
                this.comments.push({
                    id: -111,
                    content: cmt,
                    createDateTime: this.currentDateTime(),
                    haveNewSubComment: false,
                    userIn4: {
                        fullname: this.userComment.fullname,
                        imgUrl: this.userComment.imgUrl,
                    },
                    childComments: [],
                });
                axios
                    .post("Users/AddComment", {
                        content: cmt,
                        lessonId: this.lessonId,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {

                    })
                    .catch((err) => {
                        console.log(err);
                    });
                axios
                    .post("Users/GetLastCmt", {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.comments.id = res.data
                    })
                    .catch((err) => {
                        this.lessonComment = "";
                    });
                this.totalComment++;

            } else {
                this.lessonComment = this.lessonComment.substring(0, this.lessonComment.length - 1)
            }
        },
        //subcomment => handle comment when reply comment
        subCommentClick(id) {
            const token = localStorage.getItem("token");
            for (let i in this.comments) {
                if (this.comments[i].id == id) {
                    let content = this.comments[i].subCommentContent;
                    if (content.substring(0, content.length - 1) != "") {
                        this.comments[i].subCommentContent = "";
                        this.comments[i].haveNewSubComment = false;
                        this.comments[i].childComments.push({
                            id: -1000,
                            content: content,
                            createDateTime: this.currentDateTime(),
                            userIn4: {
                                fullName: this.userComment.fullname,
                                imgUrl: this.userComment.imgUrl,
                            },
                        });
                        axios
                            .post("Users/AddComment", {
                                content: content,
                                parentId: id,
                                lessonId: this.lessonId,
                            }, {
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                }
                            })
                            .then((res) => {

                            })
                            .catch((err) => {
                                console.log(err);
                            });

                        axios
                            .post("Users/GetLastCmt", {
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                }
                            })
                            .then((res) => {
                                this.comments[i].childComments.id = res.data
                            })
                            .catch((err) => {
                                console.log(err);
                            });
                        this.totalComment++;

                        break;
                    } else {
                        this.comments[i].subCommentContent = this.comments[i].subCommentContent.substring(0, this.comments[i].subCommentContent.length - 1)
                    }

                }
            }
        },
        deleteComment(id) {
            const token = localStorage.getItem("token");
            axios
                .post("Users/DeleteComment", {
                    id: id,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {

                })
                .catch((err) => {
                    console.log(err);
                });
            for (let i in this.comments) {
                if (this.comments[i].id == id) {
                    this.totalComment -= this.comments[i].childComments.length;
                    this.totalComment--;
                    this.comments.splice(i, 1);
                    break;
                }
            }
        },
        deleteSubComment(id) {
            const token = localStorage.getItem("token");
            axios
                .post("Users/DeleteComment", {
                    id: id,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {

                })
                .catch((err) => {
                    console.log(err);
                });
            for (let i in this.comments) {
                for (let j in this.comments[i].childComments) {
                    if (this.comments[i].childComments[j].id == id) {
                        this.comments[i].childComments.splice(j, 1);
                        break;
                    }
                }
            }

            this.totalComment--;
        },
        currentDateTime() {
            const current = new Date();
            const date = current.getFullYear() + '-' + (current.getMonth() + 1) + '-' + current.getDate();
            const time = current.getHours() + ":" + current.getMinutes() + ":" + current.getSeconds();
            const dateTime = date + ' ' + time;
            return dateTime;
        },
        replyCommentClick(id) {
            for (let i in this.comments) {
                if (this.comments[i].id == id) {
                    this.comments[i].haveNewSubComment = true;
                }
            }
            // this.$forceUpdate;
        },
        moveCourse() {
            localStorage.setItem('courseId', this.courseId)
            this.$router.push({
                name: "LearnerCourseDetail",
            });
        },
        changeLesson(id) {
            // Swal.fire({
            //     title: 'Đang vào...',
            //     html: 'Đợi tí...',
            //     allowEscapeKey: false,
            //     allowOutsideClick: false,
            //     didOpen: () => {
            //         Swal.showLoading()
            //     }
            // });
            localStorage.setItem('lessonId', id);
            this.lessonId = localStorage.getItem('lessonId');
            this.getLesson();
            // Swal.close();
        },
        createQuiz() {
            localStorage.setItem('courseId', this.courseId);
            localStorage.setItem("isQuizOfLesson", 0);
            this.$router.push({
                name: "CreateQuiz",
            });
        },
        viewQuiz() {
            localStorage.setItem("isQuizOfLesson", 0);
            localStorage.setItem("quizId", this.quizId);
            this.$router.push("/mentor-quiz-detail");
        },
        deleteQuiz() {
            axios.post('/MentorFeatures/DeleteQuiz', {
                id: this.quizId
            }, {
                headers: {
                    Authrization: "Bearer " + localStorage.getItem("token"),
                }
            }).then(res => {
                if (res) {
                    this.$swal.fire({
                        title: 'Xóa thành công',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                }
            })
            this.quizId = -1;
            // localStorage.removeItem("quizId");
        },
        modifyQuiz() {
            localStorage.setItem('courseId', this.courseId);
            localStorage.setItem("isQuizOfLesson", 0);
            localStorage.setItem("quizId", this.quizId);
            this.$router.push({
                name: "EditQuiz",
            });
        },
        doQuiz() {
            localStorage.setItem("isQuizOfLesson", 0);
            localStorage.setItem("quizId", this.quizId);

        },
        doLessonQuiz() {
            localStorage.setItem("isQuizOfLesson", 1);
            localStorage.setItem('lessonName', this.lesssonChoose.name);
            localStorage.setItem("quizId", this.lessonQuizId);
            this.$router.push("/learner-view-quiz");
        },
        doCourseQuiz(){
            localStorage.setItem("isQuizOfLesson", 0);
            localStorage.setItem('courseName', this.course.title);
            localStorage.setItem("quizId", this.quizId);
            this.$router.push("/learner-view-quiz");
        }
    },
};
</script>

<style >
.cursor {
  cursor: pointer;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
