<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/learner-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-list-exam">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết kỳ thi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Shape Start -->
    <!-- <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div> -->
    <!--Shape End-->

    <!-- Job apply form Start -->
    <section class="section" style="background-image:url('images/exam_bg.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 text-center">
                    <div class="card custom-form border-0">
                        <div class="card-body rounded shadow">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 style="color:blue">{{exam.title}} <img src="images/icon/question.svg" height="50" class="mb-3" alt=""></h1>
                                </div>
                                <div class="col-md-12 text-muted">
                                    <h6 v-if="exam.status === 0">Chưa đăng kí thi <i class="mdi mdi-18px mdi-pencil-off-outline" style="color:red"></i></h6>
                                    <h6 v-if="exam.status === 1">Chờ duyệt <i class="mdi mdi-18px mdi-progress-clock" style="color:yellow"></i></h6>
                                    <h6 v-if="exam.status === 2">Đã bị từ chối <i class="mdi mdi-18px mdi-close-circle-outline" style="color:red"></i></h6>
                                    <h6 v-if="exam.status === 3">Đã được chấp nhận <i class="mdi mdi-18px mdi-check-circle-outline" style="color:blue"></i></h6>
                                    <h6 v-if="exam.status === 4">Đã hoàn thành bài thi <i class="mdi mdi-18px mdi-check-underline-circle-outline" style="color:blue"></i></h6>
                                    <h6 v-if="exam.status === 5">Đang thi <i class="mdi mdi-18px mdi-progress-clock" style="color:green"></i></h6>
                                </div>
                                <div class="col-md-12">
                                    <h5><img src="images/icon/calendar.svg" height="30" alt=""> {{exam.organizeDate | formatDate}}
                                        <chevrons-right-icon class="fea icon-sm fea-social"></chevrons-right-icon> {{exam.expiredDate | formatDate}}
                                    </h5>
                                </div>
                                <!--end col-->
                                <div class="col-md-12">
                                    <h5><img src="images/icon/clock.svg" height="30" alt=""> {{exam.time}} phút
                                    </h5>
                                </div>
                                <!--end col-->
                                <div class="col-md-12">
                                    <div class="row">
                                        <!--nếu trạng thái khác thì ẩn trường lý do-->
                                        <div v-if="exam.status===2" class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label>Lý do : </label>
                                                <p>{{exam.note}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" v-if="exam.status == 0">
                                            <h5 style="color:green" v-if="exam.status===0 && isOntimeRegister == false">Đăng ký thi ngay <img src="images/icon/pen.svg" height="30" alt=""></h5>
                                            <h5 style="color:green" v-if="exam.status===0 && isOntimeRegister == true">Kỳ thi đã kết thúc </h5>
                                        </div>
                                        <div class="col-md-12" v-else-if="(exam.status===3 || exam.status===5) && isOntime == true">
                                            <h5 style="color:green">Vào thi ngay</h5>
                                        </div>
                                        <div class="col-md-12" v-else-if="exam.status === 4 && marks.length === 0">
                                            <div class="form-group position-relative">
                                                <p>Vui lòng đợi khi kỳ thi kết thúc để xem điểm</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12"  v-else-if="marks.length != 0">
                                            <div class="position-relative" style="background-color: #263191; font-size: 20px; font-weight: 700; color: whitesmoke;">
                                                <label style="font-size: 40px">Điểm của bạn: {{mark}} / {{exam.numberQuestion}}</label>
                                                <table class="table table-striped table-hover" border="1px solid white">
                                                    <tr style="border-right: 1px solid white; color: whitesmoke;">
                                                        <th v-for="(mark, i) in marks" :key="i">{{mark.nameGroup}}</th>
                                                    </tr>
                                                    <tr style="border-right: 1px solid white; color: whitesmoke;">
                                                        <td v-for="(mark, i) in marks" :key="i">{{mark.numberQuestionTrue}} / {{mark.totalQuestion}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12" v-else-if="exam.status === 4 && marks.length === 0">
                                            <div class="form-group position-relative">
                                                <label>Điểm của bạn:</label>
                                                <p>Vui lòng đợi khi kỳ thi kết thúc</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" v-else-if="marks.length != 0">
                                            <div class="form-group position-relative">
                                                <label>Chúc mừng bạn đã hoàn thành bài thi</label>
                                                <p v-for="(mark, i) in marks" :key="i">Chủ đề: {{mark.nameGroup}}: Đúng {{mark.numberQuestionTrue}} / {{mark.totalQuestion}} câu</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12" v-if="marks.length != 0">
                                            <div class="form-group position-relative">
                                                <label>Điểm của bạn:</label>
                                                <p>{{mark}} / {{exam.numberQuestion}}</p>
                                            </div>
                                        </div> -->

                                        <!--nếu trạng thái đã được duyệt đổi thành nút vào thi, nếu trạng thái chưa duyệt ẩn nút-->
                                        <div class="col-md-12" id="submit">
                                            <a v-if="exam.status===0 && isOntimeRegister == false" href="javascript:void(0)" @click="register" class="btn btn-pills btn-primary mt-2 mr-2">Đăng ký</a>
                                            <a v-if="(exam.status===3 || exam.status===5) && isOntime == true" @click="doTest" class="btn btn-pills btn-primary mt-2 mr-2">Vào thi</a>
                                            <a v-else-if="(exam.status===3 || exam.status===5) && isOntime == false" class="text-primary">Chưa đến thời gian thi</a>
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                            </div>

                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Job apply form End -->
    <!--end section-->
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon,
    ChevronsRightIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import moment from 'moment'
import Vue from 'vue'
import Swal from 'sweetalert2'

Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('HH:mm - DD/MM/YYYY')
    }
});
/**
 * Index-course component
 */
export default {
    data() {
        return {
            exam: {},
            examId: localStorage.getItem('examId'),
            time: new Date(),
            isOntime: false,
            isOntimeRegister: false,
            marks: [],
            mark: 0,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon,
        ChevronsRightIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 2 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/LearnerFeatures/ViewExamDetail', {
                examId: this.examId,
            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then((res) => {
                this.exam = res.data
                console.log(this.exam)
            }).catch((err) => {
                console.log(err)
            })
            axios.post("/Exam/GetCurrentTime", {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then((res) => {
                this.time = res.data
            }).catch((err) => {
                console.log(err)
            })
            this.isOntime = new Date(this.time).getTime() - new Date(this.exam.organizeDate).getTime() > 0 && new Date(this.exam.expiredDate).getTime() - new Date(this.time).getTime() > 0;
            this.isOntimeRegister = new Date(this.time).getTime() - new Date(this.exam.expiredDate).getTime() > 0;
            if (new Date(this.time).getTime() - new Date(this.exam.expiredDate).getTime() > 0 && this.exam.status === 4) {
                Swal.fire({
                title: 'Đang tải dữ liệu...',
                html: 'Đợi trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                }
            });
                axios.post('/LearnerFeatures/GetMarkOfEachGroup', {
                    examId: this.examId,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then((res) => {
                    Swal.close();
                    this.marks = res.data
                    this.marks.forEach(element => {
                        this.mark += element.numberQuestionTrue
                    });
                }).catch((err) => {
                    Swal.close();
                    console.log(err)
                })
            }
        }
    },
    methods: {
        register() {
            const token = localStorage.getItem("token");
            axios
                .post('/LearnerFeatures/RegisterExam', {
                    examId: this.examId,

                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.$swal.fire({
                        title: "Đăng kí thành công",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "success",
                    })
                    this.exam = {}
                    axios.post('/LearnerFeatures/ViewExamDetail', {
                        examId: this.examId,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    }).then((res) => {
                        this.exam = res.data
                    }).catch((err) => {
                        console.log(err)
                    })

                })
                .catch((err) => {
                    console.log(err);
                });
        },
        doTest() {
            localStorage.setItem("examId", this.examId);
            // localStorage.setItem("time", this.exam.time * 60);
            this.$router.push("/learner-exam");
        }
    },
};
</script>
<style scoped>
.card-body.rounded.shadow {
    border-bottom-left-radius: 70px !important;
    border-bottom-right-radius: 70px;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
.breadcrumb-item {
  font-size: 11px !important;
}
</style>
