<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/learner-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Khóa học</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section" style="margin-top: 0px; border: 0px solid">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="form custom-form">
                                    <div class="form-group mb-0">
                                        <select class="form-control custom-select" id="Sortbylist-job" @change="onChange($event)">
                                            <option value="1">Sắp xếp theo tên (A-Z)</option>
                                            <option value="2">Sắp xếp theo tên (Z-A)</option>
                                            <option value="3">Sắp xếp theo thời gian tạo (tăng dần)</option>
                                            <option value="4">Sắp xếp theo thời gian tạo (giảm dần)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- SEARCH -->
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title"><br>Tìm kiếm</h4>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <div>
                                        <input type="text" class="border rounded" name="s" id="s" v-model="searchText" v-on:keyup="search" placeholder="Nhập để tìm kiếm...">
                                    </div>
                                </div>
                            </div>
                            <!-- SEARCH -->
                            <!-- CATAGORIES -->
                            <!-- Posted -->
                            <div class="widget">
                                <h4 class="widget-title">Lọc</h4>
                                <div class="mt-4">
                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" id="all" value="-1" v-model="status" name="customRadio" v-on:change="search" class="custom-control-input" if>
                                            <label class="custom-control-label" for="all">Tất cả</label>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" id="joined" value="1" v-model="status" name="customRadio" v-on:change="search" class="custom-control-input">
                                            <label class="custom-control-label" for="joined">Đã tham gia</label>
                                        </div>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" id="notJoined" value="0" v-model="status" name="customRadio" v-on:change="search" class="custom-control-input">
                                            <label class="custom-control-label" for="notJoined">Chưa tham gia</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Posted -->

                            <!-- CATAGORIES -->
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title"><br>Chủ đề</h4>
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-left: -0.9em;">
                                        <div class="custom-control custom-checkbox" v-for="(group, i) in groups" :key="i">
                                            <input type="checkbox" class="custom-control-input" :id="group.id" :value="group.id" v-model="groupSelects" v-on:change="search">
                                            <label class="custom-control-label" :for="group.id">{{group.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CATAGORIES -->

                        </div>
                    </div>
                </div>
                <!--end col-->
                <!-- END SIDEBAR -->

                <!-- BLog Start -->
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4 pb-2" v-for="(course, i) in displayedCourses" :key="i">
                            <div class="card courses-desc overflow-hidden rounded shadow-lg border-0 cursor" @click="courseDetail(course.id)">
                                <div class="position-relative d-block overflow-hidden">
                                    <img :src="course.imageUrl" class="img-fluid rounded-top mx-auto" alt="">
                                    <div class="overlay-work bg-dark"></div>
                                    <a href="javascript:void(0)" class="text-white h6 preview">Xem ngay <i class="mdi mdi-chevron-right"></i></a>
                                </div>

                                <div class="card-body">
                                    <h5><a href="javascript:void(0)" class="title text-dark">{{course.title}}</a></h5>
                                    <div class="fees d-flex justify-content-between">
                                        <ul class="list-unstyled mb-0 numbers">
                                            <li><i class="mdi mdi-school text-muted"></i> {{course.numberLearner}} học sinh</li>
                                            <li><i class="mdi mdi-book text-muted"></i> {{course.numberLesson}} Bài học</li>
                                        </ul>
                                        <!-- <h4>30 giờ</h4> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->

                        <!-- PAGINATION START -->
                        <div class="col-12 d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                            <p v-if="(page < pages.length) && (courses.length > 4)">Từ: {{(page*4)-(4-1)}} - {{page*4}} trong tổng số {{courses.length}} bản ghi</p>
                            <p v-if="(page == pages.length) && (courses.length > 4) && (pages.length*4 - courses.length !=3)">Từ: {{(page*4)-(4-1)}} - {{courses.length}} trong tổng số {{courses.length}} bản ghi</p>
                            <p v-if="(page == pages.length) && (courses.length > 4) && ((pages.length*4 - courses.length ==3))">Bản ghi thứ {{courses.length}} trong tổng số {{courses.length}} bản ghi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
    data() {
        return {
            groupSelects: [],
            groups: [],
            status: -1,
            courses: [],
            searchText: "",
            page: 1,
            perPage: 4,
            pages: [],
            sort: 1,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId == null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 2 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            Swal.fire({
              title: 'Đang tải dữ liệu...',
              html: 'Chờ trong giây lát...',
              allowEscapeKey: false,
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading()
              }
            });
            const token = localStorage.getItem("token");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                await axios
                    .get("Group", {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.groups = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                await axios
                    .post("Courses/SearchCourse", {
                        title: "",
                        listGroupId: [],
                        state: -1
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        Swal.close();
                        this.courses = res.data;
                    })
                    .catch((err) => {
                        Swal.close();
                        console.log(err);
                    });
            }

        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        },
        search() {
            const token = localStorage.getItem("token");
            axios
                .post("Courses/SearchCourse", {
                    title: this.searchText,
                    listGroupId: this.groupSelects,
                    state: this.status,
                    sort: this.sort,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.courses = res.data;
                    this.page = 1;
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'
                    });
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.courses.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(courses) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return courses.slice(from, to);
        },
        courseDetail: function (id) {
            localStorage.setItem('courseId', id);
            this.$router.push({
                name: "LearnerCourseDetail",
            });
        },
        onChange(event) {
            this.sort = event.target.value;
            this.search();
        }
    },
    computed: {
        displayedCourses() {
            return this.paginate(this.courses)
        }
    },
    watch: {
        courses() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>

<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.img-fluid.rounded-top.mx-auto {
    height: 350px !important;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.cursor {
    cursor: pointer;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
