<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!-- Hero Start -->
    <section class="bg-half bg-light d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title"> {{lesssonChoose.name}} </h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item">
                                        <router-link to="/">Trang chủ</router-link>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <router-link to="/learner-list-course">Khóa học</router-link>
                                    </li>
                                    <li class="breadcrumb-item" @click="moveCourse"><a>Dãy số 2021</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{lesssonChoose.name}}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->
    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->
    <!-- Blog STart -->
    <section class="section">
        <div class="container">
            <div class="row">
                <!-- START SIDEBAR -->
                <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow">
                        <div class="card-body">
                            <!-- CATAGORIES -->
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title">Bài học</h4>
                                <ul class="list-group mt-4 mb-0">
                                    <li v-for="(lesson, i) in lessons" :key="i" class="list-group-item cursor" v-bind:class="{ active: lesssonChoose.id==lesson.id?true:false }"
                                     @click="changeLesson(lesson.id)"><a v-bind:class="{ 'text-white': lesssonChoose.id==lesson.id?true:false }">{{lesson.name}}</a></li>
                                </ul>
                            </div>
                            <!-- CATAGORIES -->
                        </div>
                    </div>
                </div>
                <!--end col-->
                <!-- END SIDEBAR -->
                <!-- BLog Start -->
                <div class="col-lg-8 col-md-6">
                    <div class="card blog blog-detail border-0 shadow rounded">
                        <video-embed :params="{autoplay: 1}" v-bind:src="lesssonChoose.videoUrl" class="img-fluid rounded-top"></video-embed>
                        <div class="card-body content">
                            <p class="text-muted mt-3 font-weight-bold">{{lesssonChoose.content}}</p>
                            <p class="text-muted">{{lesssonChoose.description}}</p>
                            <div class="post-meta mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>{{totalComment}}</a></li>
                                </ul>
                            </div>
                            <div class="mt-4">
                                <router-link to="/learner-quiz" class="btn btn-outline-primary">Làm bài kiểm tra</router-link>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow rounded border-0 mt-4">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Comments :</h5>

                            <ul class="media-list list-unstyled mb-0">
                                <li class="mt-4">
                                    <div class="d-flex justify-content-between">
                                        <div class="media align-items-center">
                                            <a class="pr-3" href="#">
                                                <img src="images/client/01.jpg" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0"><a href="javascript:void(0)" class="media-heading text-dark">{{userComment.fullname}}</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="mt-3">
                                        <textarea id="message" v-model="lessonComment" v-on:keyup.enter="lessonCommentClick" placeholder="Viết bình luận..." rows="2" name="message" class="form-control pl-5" required=""></textarea>
                                    </form>
                                </li>

                                <li class="mt-4" v-for="(index, i) in comments" :key="i">
                                    <div class="d-flex justify-content-between">
                                        <div class="media align-items-center">
                                            <a class="pr-3" href="#">
                                                <img src="images/client/03.jpg" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                            </a>
                                            <div class="commentor-detail">
                                                <h6 class="mb-0">
                                                    <a href="javascript:void(0)" class="media-heading text-dark" v-if="index.userIn4.learner != null">{{ index.userIn4.learner.fullName }}</a>
                                                    <a href="javascript:void(0)" class="media-heading text-dark" v-else>{{ index.userIn4.mentor.fullName }}</a>
                                                </h6>
                                                <small class="text-muted">{{ index.createDateTime }}</small>
                                            </div>
                                        </div>
                                        <div v-if="index.userIn4.id == id || role == 3">
                                            <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
                                                <template #button-content><i class="mdi mdi-dots-horizontal"></i></template>
                                                <b-dropdown-item @click="deleteComment(index.id)">Xóa</b-dropdown-item>
                                            </b-dropdown>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p class="text-muted p-3 bg-light rounded">{{ index.content }}</p>
                                    </div>
                                    <div class="mt-3" style="text-align: right">
                                        <a class="text-muted cursor" @click="replyCommentClick(index.id)"><i class="mdi mdi-reply"></i> Reply</a>
                                    </div>

                                    <ul class="list-unstyled pl-4 pl-md-5 sub-comment" v-for="(childComment, i) in index.childComments" :key="i">
                                        <li class="mt-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="media align-items-center">
                                                    <a class="pr-3" href="#">
                                                        <img src="images/client/01.jpg" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <div class="commentor-detail">
                                                        <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">{{childComment.userIn4.fullName}}</a></h6>
                                                        <small class="text-muted">{{childComment.createDateTime}}</small>
                                                    </div>
                                                </div>
                                                <div v-if="childComment.userIn4.id == id || role == 3">
                                                    <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
                                                        <template #button-content><i class="mdi mdi-dots-horizontal"></i></template>
                                                        <b-dropdown-item @click="deleteSubComment(childComment.id)">Xóa</b-dropdown-item>
                                                    </b-dropdown>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <p class="text-muted p-3 bg-light rounded">{{childComment.content}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled pl-4 pl-md-5 sub-comment" v-if="index.haveNewSubComment">

                                        <li class="mt-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="media align-items-center">
                                                    <a class="pr-3" href="#">
                                                        <img src="images/client/01.jpg" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                    </a>
                                                    <div class="commentor-detail">
                                                        <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark media-heading">{{userComment.fullname}}</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <form class="mt-3">
                                                <textarea id="message" v-model="index.subCommentContent" v-on:keyup.enter="subCommentClick(index.id)" placeholder="Viết bình luận..." rows="2" name="message" class="form-control pl-5" required=""></textarea>
                                            </form>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BLog End -->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Blog End -->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    ArrowRightIcon,
    Edit3Icon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Vue from 'vue'
import Embed from 'v-video-embed'
import Swal from 'sweetalert2'

Vue.use(Embed);

/**
 * Index-course component
 */
export default {
    data() {
        return {
            lessonId: localStorage.getItem("lessonId"),
            courseId: localStorage.getItem("courseId"),
            role: localStorage.getItem("role"),
            id: localStorage.getItem("id"),
            lessons: [],
            lesssonChoose: {
                id: 1,
                name: "",
                description: "",
                content: "",
                videoUrl: "",
            },
            comments: [],
            lessonComment: "",

            comment: {
                // id: 0,
                // content: "",
                // createDateTime: "",
                // learner: {},
                // mentor: {},
                // parentId: 0,
                // childComments: []
            },
            totalComment: 0,
            userComment: {},
            lastCommentId: 0,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },
    created: function () {
      let roleId = localStorage.getItem("role")
      let role = parseInt(roleId)
      if (roleId === null) {
        this.$router.push("/auth-login")
      } else if (role === 1 || role === 2 || role === 6) {
        this.$router.push("/page-not-found")
      } else {
        this.getLesson();
      }
    },
    methods: {
        async getLesson() {
            let total = 0;
            const token = localStorage.getItem("token");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                await axios
                    .post("Lesson/GetListLessonByCourse", {
                        courseId: this.courseId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.lessons = res.data;
                        for (let i in this.lessons) {
                            if (this.lessons[i].id == this.lessonId) {
                                this.lesssonChoose.id = this.lessons[i].id;
                                this.lesssonChoose.name = this.lessons[i].name;
                                this.lesssonChoose.description = this.lessons[i].description;
                                this.lesssonChoose.content = this.lessons[i].content;
                                this.lesssonChoose.videoUrl = this.lessons[i].videoUrl;
                                break;
                            }
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                await axios
                    .post("GetComment", {
                        lessonId: this.lessonId
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.comments = res.data;
                        total += this.comments.length;
                        for (let j in this.comments) {
                            Vue.set(this.comments[j], 'haveNewSubComment', false);
                            Vue.set(this.comments[j], 'subCommentContent', '');
                            // this.comments[j].haveNewSubComment = false;
                            total += this.comments[j].childComments.length;
                        }
                        this.totalComment = total;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                //Get current user comment
                await axios
                    .post("Users/GetUserCmtInfo", {
                        roleId: this.role
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.userComment = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        },
        lessonCommentClick() {
            const token = localStorage.getItem("token");
            if (this.lessonComment != "" && this.lessonComment != null) {
                axios
                    .post("Users/AddComment", {
                        content: this.lessonComment,
                        lessonId: this.lessonId,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {

                    })
                    .catch((err) => {
                        console.log(err);
                    });
                axios
                    .post("Users/GetLastCmt", {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        if (this.role == 4) {
                            this.comments.push({
                                id: res.data,
                                content: this.lessonComment,
                                createDateTime: this.currentDateTime(),
                                haveNewSubComment: false,
                                userIn4: {
                                    id: this.id,
                                    learner: {
                                        fullName: this.userComment.fullname,
                                        imageUrl: this.userComment.imgUrl,
                                    },
                                },
                                childComments: [],
                            });
                        } else {
                            this.comments.push({
                                id: res.data,
                                content: this.lessonComment,
                                createDateTime: this.currentDateTime(),
                                haveNewSubComment: false,
                                userIn4: {
                                    id: this.id,
                                    mentor: {
                                        fullName: this.userComment.fullname,
                                        imageUrl: this.userComment.imgUrl,
                                    },
                                },
                                childComments: {

                                }
                            });
                        }
                        this.lessonComment = "";
                    })
                    .catch((err) => {
                        this.lessonComment = "";
                    });
                this.totalComment++;
            }
        },
        //subcomment => handle comment when reply comment
        subCommentClick(id) {
            const token = localStorage.getItem("token");
            for (let i in this.comments) {
                if (this.comments[i].id == id) {
                    let content = this.comments[i].subCommentContent;
                    if (this.comments[i].subCommentContent != "" && this.comments[i].subCommentContent != null) {
                        axios
                            .post("Users/AddComment", {
                                content: this.comments[i].subCommentContent,
                                parentId: id,
                                lessonId: this.lessonId,
                            }, {
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                }
                            })
                            .then((res) => {

                            })
                            .catch((err) => {
                                console.log(err);
                            });

                        axios
                            .post("Users/GetLastCmt", {
                                headers: {
                                    'Authorization': 'Bearer ' + token
                                }
                            })
                            .then((res) => {
                                if (this.role == 4) {
                                    this.comments[i].childComments.push({
                                        id: res.data,
                                        content: content,
                                        createDateTime: this.currentDateTime(),
                                        userIn4: {
                                            id: this.id,
                                            learner: {
                                                fullName: this.userComment.fullname,
                                                imageUrl: this.userComment.imgUrl,
                                            },
                                        },
                                    });
                                } else {
                                    this.comments[i].childComments.push({
                                        id: res.data,
                                        content: content,
                                        createDateTime: this.currentDateTime(),
                                        userIn4: {
                                            id: this.id,
                                            mentor: {
                                                fullName: this.userComment.fullname,
                                                imageUrl: this.userComment.imgUrl,
                                            },
                                        },
                                    });
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                            });
                        this.totalComment++;
                    }
                    this.comments[i].subCommentContent = "";
                    this.comments[i].haveNewSubComment = false;
                    break;
                }
            }
        },
        deleteComment(id) {
            const token = localStorage.getItem("token");
            axios
                .post("Users/DeleteComment", {
                    id: id,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {

                })
                .catch((err) => {
                    console.log(err);
                });
            for (let i in this.comments) {
                if (this.comments[i].id == id) {
                    this.totalComment -= this.comments[i].childComments.length;
                    this.totalComment--;
                    this.comments.splice(i, 1);
                    break;
                }
            }
        },
        deleteSubComment(id) {
            const token = localStorage.getItem("token");
            axios
                .post("Users/DeleteComment", {
                    id: id,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {

                })
                .catch((err) => {
                    console.log(err);
                });
            for (let i in this.comments) {
                for (let j in this.comments[i].childComments) {
                    if (this.comments[i].childComments[j].id == id) {
                        this.comments[i].childComments.splice(j, 1);
                        break;
                    }
                }
            }

            this.totalComment--;
        },
        currentDateTime() {
            const current = new Date();
            const date = current.getFullYear() + '-' + (current.getMonth() + 1) + '-' + current.getDate();
            const time = current.getHours() + ":" + current.getMinutes() + ":" + current.getSeconds();
            const dateTime = date + ' ' + time;
            return dateTime;
        },
        replyCommentClick(id) {
            for (let i in this.comments) {
                if (this.comments[i].id == id) {
                    this.comments[i].haveNewSubComment = true;
                }
            }
            // this.$forceUpdate;
        },
        moveCourse() {
            localStorage.setItem('courseId', this.courseId)
            this.$router.push({
                name: "LearnerCourseDetail",
            });
        },
        changeLesson(id) {
            // Swal.fire({
            //     title: 'Đang vào...',
            //     html: 'Đợi tí...',
            //     allowEscapeKey: false,
            //     allowOutsideClick: false,
            //     didOpen: () => {
            //         Swal.showLoading()
            //     }
            // });
            localStorage.setItem('lessonId', id);
            this.lessonId = localStorage.getItem('lessonId');
            this.getLesson();
            // Swal.close();
        }
    },
};
</script>

<style >
.cursor {
  cursor: pointer;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
