<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section class="main-slider">
        <b-carousel fade id="carousel-1" v-model="slide" class="slides">
            <b-carousel-slide class="bg-slider d-flex align-items-center" style="background-image:url('images/course/fpt.jpg')">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="title-heading text-white mt-4">
                                <h1 class="display-4 title-dark font-weight-bold mb-3">Bạn có thể học các khóa học ôn luyện của chúng tôi</h1>
                                <p class="para-desc para-dark mx-auto text-light">Khởi động kế hoạch của bạn và nắm bắt lợi ích từ việc học tập với chúng tôi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
            <b-carousel-slide class="bg-slider d-flex align-items-center" style="background-image:url('images/course/bg2.jpg')">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="title-heading text-white mt-4">
                                <h1 class="display-4 title-dark font-weight-bold mb-3">Hãy nỗ lực để chinh phục các mục tiêu</h1>
                                <p class="para-desc para-dark mx-auto text-light">Cùng học tập để chinh phục những xuất học bổng giá trị của trường F thôi nào!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
            <b-carousel-slide class="bg-slider d-flex align-items-center" style="background-image:url('images/course/bg3.jpg')">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="title-heading text-white mt-4">
                                <h1 class="display-4 title-dark font-weight-bold mb-3">Học tập là chìa khóa dẫn đến thành công</h1>
                                <p class="para-desc para-dark mx-auto text-light">Học tập không phải con đường duy nhất dẫn đến thành công nhưng nó sẽ là con đường tốt nhất và ngắn nhất cho chúng ta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-carousel-slide>
        </b-carousel>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card course-feature text-center overflow-hidden rounded shadow-lg border-0">
                        <div class="card-body py-5">
                            <div class="icon">
                                <img src="images/icon/insurance.svg" class="avatar avatar-small" alt="">
                            </div>

                            <h4 class="mt-3"><a href="/learner-list-course" class="title text-dark">Khóa học</a></h4>
                            <p class="text-muted">Chúng tôi có những khóa học hệ thống và cung cấp kiến thức để cùng bạn chuẩn bị cho kỳ thi học bổng FPT</p>
                            <a href="/learner-list-course" class="text-primary read-more">Xem thêm <i class="mdi mdi-chevron-right"></i></a>
                            <img src="images/icon/insurance.svg" class="full-img" height="300" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card course-feature text-center overflow-hidden rounded shadow-lg border-0">
                        <div class="card-body py-5">
                            <div class="icon">
                                <img src="images/icon/writingpaper.svg" class="avatar avatar-small" alt="">
                            </div>

                            <h4 class="mt-3"><a href="/learner-list-exam" class="title text-dark"> Kỳ thi</a></h4>
                            <p class="text-muted">Chúng tôi tổ chức những kỳ thi thử giúp bạn luyện tập và trải nghiệm một số dạng kiến thức sẽ có trong kỳ thi</p>
                            <a href="/learner-list-exam" class="text-primary read-more">Xem thêm<i class="mdi mdi-chevron-right"></i></a>
                            <img src="images/icon/writingpaper.svg" class="full-img" height="300" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card course-feature text-center overflow-hidden rounded shadow-lg border-0">
                        <div class="card-body py-5">
                            <div class="icon">
                                <img src="images/icon/achievement.svg" class="avatar avatar-small" alt="">
                            </div>

                            <h4 class="mt-3"><a href="/rank-exam-list" class="title text-dark">Xếp hạng</a></h4>
                            <p class="text-muted">Xếp hạng điểm kỳ thi thử giữa bạn và những người dùng khác giúp bạn tự đánh giá được năng lực của mình </p>
                            <a href="/rank-exam-list" class="text-primary read-more">Xem thêm<i class="mdi mdi-chevron-right"></i></a>
                            <img src="images/icon/achievement.svg" class="full-img" height="300" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container mt-4 mt-lg-0">
            <div class="row align-items-center mb-1 pb-1">
                <div class="col-md-8">
                    <div class="section-title text-center text-md-left">
                        <h4 class="mb-1">Khóa học gợi ý</h4>
                    </div>
                </div>
                <div class="col-md-4 mt-4 mt-sm-0">
                    <div class="text-center text-md-right">
                        <router-link to="/learner-list-course" class="btn btn-soft-primary">Xem tất cả <arrow-right-icon class="fea icon-sm"></arrow-right-icon>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 cursor " v-for="(course, i) in courseNotJoins.slice(0,3)" :key="i" @click="joinCourse(course.id)">
                    <div class="card courses-desc overflow-hidden rounded shadow-lg border-0">
                        <div class="position-relative d-block overflow-hidden">
                            <img :src="course.imageUrl" class="img-fluid rounded-top mx-auto" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <a class="text-white h6 preview">Xem ngay <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                        <div class="card-body">
                            <h5 class="mt-2"><a class="title text-dark">{{course.title}}</a></h5>
                            <p class="text-muted" v-if="course.description.length > 78">{{course.description.slice(0, 78) + "..." }}</p>
                            <p class="text-muted" v-else-if="course.description.length <= 39" v-html="course.description + ' ' + '&nbsp'.repeat(78 - course.description.length) "></p>
                            <p class="text-muted" v-else>{{course.description}}</p>
                            <ul class="list-unstyled d-flex justify-content-between border-top mt-3 pt-3 mb-0">
                                <li class="text-muted small">
                                    <i class="mdi mdi-school text-info"></i> {{course.numberLearner}} Học viên
                                </li>
                                <li class="text-muted small ml-3">
                                    <i class="mdi mdi-book text-primary"></i> {{course.numberLesson}} Bài học
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-100 mt-60">
            <div class="row align-items-center mb-1 pb-1">
                <div class="col-md-8">
                    <div class="section-title text-center text-md-left">
                        <h4 class="mb-1">Khóa học đang tham gia</h4>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mt-sm-0">
                    <div class="text-center text-md-right">
                        <router-link to="/learner-list-course" class="btn btn-soft-primary">Xem tất cả <arrow-right-icon class="fea icon-sm"></arrow-right-icon>
                        </router-link>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 cursor" v-for="(course, i) in courseJoins.slice(0,3)" :key="i" @click="joinCourse(course.id)">
                    <div class="card courses-desc overflow-hidden rounded shadow-lg border-0">
                        <div class="position-relative d-block overflow-hidden">
                            <img :src="course.imageUrl" class="img-fluid rounded-top mx-auto" alt="">
                            <div class="overlay-work bg-dark"></div>
                            <a class="text-white h6 preview">Xem ngay <i class="mdi mdi-chevron-right"></i></a>
                        </div>

                        <div class="card-body">
                            <h5 class="mt-2"><a class="title text-dark">{{course.title}}</a></h5>
                            <p class="text-muted" v-if="course.description.length > 78">{{course.description.slice(0, 78) + "..." }}</p>
                            <p class="text-muted" v-else-if="course.description.length <= 39" v-html="course.description + ' ' + '&nbsp'.repeat(78 - course.description.length) "></p>
                            <p class="text-muted" v-else>{{course.description}}</p>
                            <ul class="list-unstyled d-flex justify-content-between border-top mt-3 pt-3 mb-0">
                                <li class="text-muted small">
                                    <i class="mdi mdi-school text-info"></i> {{course.numberLearner}} Học viên
                                </li>
                                <li class="text-muted small ml-3">
                                    <i class="mdi mdi-book text-primary"></i> {{course.numberLesson}} Bài học
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid mt-100 mt-60">
            <div class="rounded-md shadow-md py-5 position-relative" style="background: url('images/modern01.jpg') center center;">
                <div class="bg-overlay rounded-md"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="title-heading text-center">
                                <h1 class="text-white title-dark mb-3">{{exams[0].title}}</h1>
                                <ul class="list-unstyled">
                                    <li class="list-inline-item small alarm text-white-50 mr-2"><i class="mdi mdi-clock text-white title-dark"></i>{{exams[0].time}} phút</li>
                                    <li class="list-inline-item small date text-white-50"><i class="mdi mdi-calendar-check text-white title-dark"></i>{{exams[0].organizeDate | formatDate}}</li>
                                </ul>
                                <div class="mt-4">
                                    <a @click="detail(exams[0].id)" class="btn btn-primary">Tham gia ngay </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center mb-2 pb-2">
                <div class="col-md-8">
                    <div class="section-title text-center text-md-left">
                        <h4 class="mb-2">Các kỳ thi</h4>
                    </div>
                </div>
                <div class="col-md-4 mt-4 mt-sm-0">
                    <div class="text-center text-md-right">
                        <a @click="seeAllTest" class="btn btn-soft-primary">Xem tất cả <arrow-right-icon class="fea icon-sm"></arrow-right-icon></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-6 mt-4 pt-2" v-for="(exam, i) in exams.slice(0,4)" :key="i">
                    <div class="media key-feature align-items-center p-3 rounded shadow-lg">
                        <div class="icon text-center rounded-circle mr-3">
                            <file-text-icon class="fea icon-ex-md text-primary"></file-text-icon>
                        </div>
                        <div class="media-body">
                            <div class="row align-items-end">
                                <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                                    <h5 class="mb-0"><a href="javascript:void(0)" @click="detail(exam.id)">{{exam.title}}</a></h5>
                                    <small class="text-muted h6 mr-2"><i class="mdi mdi-clock-time-three-outline"></i>{{exam.time}} phút</small>
                                    <ul class="list-inline mb-0 mt-3">
                                        <li class="list-inline-item text-muted mr-2">
                                            <i class="mdi mdi-application-export"></i>{{exam.organizeDate | formatDate}}
                                        </li>
                                        <li class="list-inline-item text-muted">
                                            <i class="mdi mdi-application-import"></i>{{exam.expiredDate | formatDate}}
                                        </li>
                                    </ul>
                                </div>
                                <!--end col-->
                                <div class="col-md-5 text-md-right text-center">
                                    <small class="text-warning h6 mr-2" v-if="exam.status === 0">Chưa đăng kí</small>
                                    <small class="text-primary h6 mr-2" v-if="exam.status === 1">Chờ duyệt</small>
                                    <small class="text-danger h6 mr-2" v-if="exam.status === 2">Đã từ chối</small>
                                    <small class="text-success h6 mr-2" v-if="exam.status === 3">Đã chấp nhận</small>
                                    <small class="text-success h6 mr-2" v-if="exam.status === 4">Đã hoàn thành</small>
                                    <small class="text-success h6 mr-2" v-if="exam.status === 5">Đang làm</small>
                                    <ul class="list-unstyled social-icon social mb-0 mt-4">
                                        <li class="list-inline-item ml-1"><a href="javascript:void(0)" @click="detail(exam.id)" class="rounded" v-b-tooltip.hover title="View Detail">
                                                <chevrons-right-icon class="fea icon-sm fea-social"></chevrons-right-icon>
                                            </a></li>
                                    </ul>
                                    <!--end icon-->
                                </div>
                                <!--end col-->
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <div class="container mt-100 mt-60" id="instructors">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="section-title mb-4 pb-2">
                                <h4 class="title mb-4">Đội ngũ giảng viên</h4>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor1.jpg" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/phungkhacthanh172" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/phungkhacthanh172" class="name text-dark">Phùng Khắc Thành</a></h5>
                                    <small class="designation text-muted">K10 - Ngành Kĩ thuật phần mềm</small>
                                    <p class="designation text-muted">Học bổng 100%</p>
                                    <p class="designation text-muted">6 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor2.jpg" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/coiis.giangg.7" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/coiis.giangg.7" class="name text-dark">Nguyễn Thị Giang</a></h5>
                                    <small class="designation text-muted">K14 - Ngành Kinh doanh quốc tế</small>
                                    <p class="designation text-muted">Học bổng 70%</p>
                                    <p class="designation text-muted">2 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor3.jpg" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/maihuon99" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/maihuon99" class="name text-dark">Phạm Thị Mai Hương</a></h5>
                                    <small class="designation text-muted">K13 - Ngành Kĩ thuật phần mềm</small>
                                    <p class="designation text-muted">Học bổng 70%</p>
                                    <p class="designation text-muted">3 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-4 pt-2">
                            <div class="card team text-center rounded border-0 shadow-lg">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <img src="images/company/mentor4.png" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/hienquyet1509" class="rounded">
                                                    <facebook-icon class="fea icon-sm fea-social"></facebook-icon>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <h5 class="mb-0"><a href="https://www.facebook.com/hienquyet1509" class="name text-dark">Trần Thị Hiền</a></h5>
                                    <small class="designation text-muted">K13 - Ngành Kĩ thuật phần mềm</small>
                                    <p class="designation text-muted">Học bổng 100%</p>
                                    <p class="designation text-muted">3 năm kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
            <div class="row">
            <div class="container mt-100 mt-60" id="instructors">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Học viên nói gì</h4>
                            <!-- <p class="text-muted para-desc mx-auto mb-0">Start working with <span class="text-primary font-weight-bold">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p> -->
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

                <div class="row justify-content-center">
                    <div class="col-lg-12 mt-4">
                        <carousel id="customer-testi" class="owl-carousel owl-theme" dir="ltr" :per-page="3">
                            <Slide>
                                <div class="media customer-testi m-2">
                                    <img src="images/company/Dung.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <p class="text-muted mt-2">"Các khóa học rất hay và bổ ích. Mình đã đạt được học bổng 70% nhờ ôn thi tại đây "</p>
                                        <h6 class="text-primary">- Phạm Thị Kim Dung</h6>
                                    </div>
                                </div>
                            </Slide>
                            <Slide>
                                <div class="media customer-testi m-2">
                                    <img src="images/company/learner2.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <p class="text-muted mt-2">"Đội ngũ mentor siêu nhiệt tình. Mình đã đạt được mức học bổng 70%"</p>
                                        <h6 class="text-primary">- Vương Tuấn Quang</h6>
                                    </div>
                                </div>
                            </Slide>
                            <Slide>
                                <div class="media customer-testi m-2">
                                    <img src="images/company/learner3.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <p class="text-muted mt-2">"Các kì thi giúp mình đánh giá được năng lực của mình để cải thiện. Mình đạt học bổng 100%"</p>
                                        <h6 class="text-primary">- Nguyễn Đăng Kiên</h6>
                                    </div>
                                </div>
                            </Slide>
                            <Slide>
                                <div class="media customer-testi m-2">
                                    <img src="images/company/Dung.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <p class="text-muted mt-2">"Các khóa học rất hay và bổ ích. Mình đã đạt được học bổng 70% nhờ ôn thi tại đây "</p>
                                        <h6 class="text-primary">- Phạm Thị Kim Dung</h6>
                                    </div>
                                </div>
                            </Slide>
                            <Slide>
                                <div class="media customer-testi m-2">
                                    <img src="images/company/learner2.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <p class="text-muted mt-2">"Đội ngũ mentor siêu nhiệt tình. Mình đã đạt được mức học bổng 70%"</p>
                                        <h6 class="text-primary">- Vương Tuấn Quang</h6>
                                    </div>
                                </div>
                            </Slide>
                            <Slide>
                                <div class="media customer-testi m-2">
                                    <img src="images/company/learner3.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
                                    <div class="media-body content p-3 shadow rounded bg-white position-relative">
                                        <p class="text-muted mt-2">"Các kì thi giúp mình đánh giá được năng lực của mình để cải thiện. Mình đạt học bổng 100%"</p>
                                        <h6 class="text-primary">- Nguyễn Đăng Kiên</h6>
                                    </div>
                                </div>
                            </Slide>
                        </carousel>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    ArrowRightIcon,
    FileTextIcon,
    ChevronsRightIcon,
    FacebookIcon,
} from "vue-feather-icons";

import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import moment from 'moment';
import Swal from 'sweetalert2'
import {
    Carousel,
    Slide
} from 'vue-carousel';

import Vue from 'vue'

Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('HH:mm - DD/MM/YYYY')
    }
});

/**
 * Index-course component
 */
export default {
    data() {
        return {
            slide: 0,
            courseJoins: [],
            courseNotJoins: [],
            exams: [{
                id: 0,
                title: '',
            }],
        };
    },
    components: {
        Carousel,
        Slide,
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        ArrowRightIcon,
        ChevronsRightIcon,
        FacebookIcon,
        FileTextIcon
    },
    created: async function () {
      let roleId = localStorage.getItem("role")
      let role = parseInt(roleId)
      if (roleId === null) {
        this.$router.push("/auth-login")
      } else if (role === 1 || role === 2 || role === 6 || role === 3) {
        this.$router.push("/page-not-found")
      } else {
        const token = localStorage.getItem("token");
        if (token === null) {
          this.$router.push('/auth-login')
        } else {
          Swal.fire({
            title: 'Đang tải dữ liệu...',
            html: 'Đợi trong giây lát...',
            allowEscapeKey: false,
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading()
            }
          });
          await axios
              .get("Courses/GetListCourseJoined", {
                headers: {
                  'Authorization': 'Bearer ' + token
                }
              })
              .then((res) => {
                this.courseJoins = res.data;
              })
              .catch((err) => {
                Swal.close();
                console.log(err);
              });
          await axios
              .get("Courses/GetListCourseNotJoin", {
                headers: {
                  'Authorization': 'Bearer ' + token
                }
              })
              .then((res) => {
                Swal.close();
                this.courseNotJoins = res.data;
              })
              .catch((err) => {
                console.log(err);
              });

          await axios.post('/LearnerFeatures/SearchExam', {
            title: "",
            state: [],
            status: []
          }, {
            headers: {
              'Authorization': 'Bearer ' + token
            }
          }).then((res) => {
            this.exams = res.data
          }).catch((err) => {
            console.log(err)
          })
        }
      }

    },
    methods: {
        joinCourse(id) {
            localStorage.setItem("courseId", id);
            this.$router.push("/learner-course-detail");
        },
        seeAllTest() {
            this.$router.push("/learner-list-exam");
        },
        detail: function (id) {
            localStorage.setItem('examId', id)
            this.$router.push({
                name: 'LearnerExamDetail'
            })
        },
    },
};
</script>

<style scoped lang="scss">
@import "public/scss/variables";
.cursor {
  cursor: pointer;
}
.img-fluid.rounded-top.mx-auto {
    height: 350px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
