<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-12 d-none d-md-block">
                    <div class="sidebar sticky-bar p-4 rounded shadow-lg">
                        <div class="widget border-bottom">
                            <h4 class="widget-title">Câu hỏi</h4>
                            <ul class="list-unstyled social-icon mb-0 mt-4">
                                <li class="list-inline-item" v-for="(questionTitle, i) in questionTitles" :key="i">
                                    <a href="javascript: void(0);" v-scroll-to="{el:'#q' + i, offset: -100,  duration: 500}" class="mouse-down h6 text-black rounded" v-bind:class="{ 'text-white': questionTitle.isCheck, 'bg-blue': questionTitle.isCheck }">Q{{questionTitle.titleNumber}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget mb-2 pb-2">
                            <div class="mt-4">
                                <a href="javascript: void(0);" v-scroll-to="{el:'#submit', offset: -100,  duration: 500}" class="mouse-down h6 text-dark rounded">Nộp bài...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 shadow-lg" v-on:scroll.passive='handleScroll'>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 border-bottom" v-bind:id="'q' + i" v-for="(quizQuestion, i) in quizQuestions" :key="i">
                            <div class="border-bottom">
                                <h5 class="mt-4">Câu {{quizQuestion.titleNumber}} </h5>
                                <p v-html="quizQuestion.content"></p>
                            </div>
                            <div class="widget">
                                <div class="mt-4" v-for="(quizSelection, j) in quizQuestion.quizSelections" :key="j">
                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" v-bind:id="'se' + quizSelection.id" v-bind:name="'se' + quizQuestion.questionId" class="custom-control-input" @click="chooseAnswer(quizQuestion.questionId, quizSelection.id)">
                                            <label class="custom-control-label" v-bind:for="'se' + quizSelection.id" v-html="quizSelection.content"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" id="submit">
                        <input type="button" class="btn btn-outline-primary" value="Nộp bài" @click="submit()" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
  data() {
    return {
      quizId: localStorage.getItem("quizId"),
      quizQuestions: [{
        quizSelections: [],
      }],
      answerQuestion: [],
      questionTitles: [],
      mark: 0,
      test: null
    };
  },
  components: {
    Navbarnew,
    Switcher,
    Footer,
    ArrowUpIcon,
  },
  created: async function () {
    let roleId = localStorage.getItem("role")
    let role = parseInt(roleId)
    if (roleId === null) {
      await this.$router.push("/auth-login")
    } else if (role === 1 || role === 3 || role === 2 || role === 6) {
      await this.$router.push("/page-not-found")
    } else {
      const token = localStorage.getItem("token");
      axios
          .post("/MentorFeatures/ViewQuiz", {
            quizId: this.quizId,
          }, {
            headers: {
              'Authorization': 'Bearer ' + token
            }
          })
          .then((res) => {
            this.quizQuestions = res.data.quizQuestions;
            for (let i in this.quizQuestions) {
              this.questionTitles.push({
                questionId: this.quizQuestions[i].questionId,
                titleNumber: this.quizQuestions[i].titleNumber,
                isCheck: false,
              });
            }
          })
          .catch((err) => {
            console.log(err);
          });
    }
  },
  methods: {
    chooseAnswer(questionId, selectionId) {
      // alert(questionId + " / " + selectionId)
      for (let i in this.questionTitles) {
        if (this.questionTitles[i].questionId == questionId) {
          this.questionTitles[i].isCheck = true;
        }
      }
      let found = false;
      if (this.answerQuestion.length > 0) {
        for (let i in this.answerQuestion) {
          if (this.answerQuestion[i].id == questionId) {
            this.answerQuestion[i].selectionId = selectionId;
            found = true;
            break;
          }
        }
        if (found == false) {
          this.answerQuestion.push({
            id: questionId,
            selectionId: selectionId,
          });
        }
      } else {
        this.answerQuestion.push({
          id: questionId,
          selectionId: selectionId,
        });
      }
    },
    submit() {
      Swal.fire({
        title: 'Bạn có muốn nộp bài không',
        showCancelButton: true,
        confirmButtonText: "Có",
        cancelButtonText: "Làm tiếp"
      }).then((result) => {
        if (result.isConfirmed) {
          axios
              .post("/Study/PracticeQuiz", {
                quizId: this.quizId,
                quizQuestions: this.answerQuestion,
              }, {
                headers: {
                  'Authorization': 'Bearer ' + localStorage.getItem("token"),
                }
              })
              .then((res) => {
                this.mark = res.data;
                Swal.fire({
                  title: 'Điểm của bạn là: ' + this.mark + "/" + this.quizQuestions.length,
                  confirmButtonText: "OK",
                  icon: 'success',
                }).then((result) => {
                  if (result.isConfirmed) {
                    this.$router.push('/learner-view-quiz')
                  }
                })
              })
              .catch((err) => {
                console.log(err);
              });
        }
      })
    },
    handleScroll: function (e) {
      if ((e.target.scrollHeight - 300) <= e.target.scrollTop) {
        alert('oi sou Eduardo Martins');
      }
    }
  }
}
</script>
<style >
    .cursor {
         cursor: pointer;    
    }
    figure.image.image-style-side {
        float: right;
        width: 300px;
        margin-left: 1.5em
    }
    figure.image.image-style-side img {
        width: 300px;
        height: auto;
    }
    figure.image img {
        width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p img {
        width: 300px;
        height: auto;
    }
    label.custom-control-label figure.image img {
        width: 150px;
    }
    .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between
    }
</style>
