<template>
  <div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
      <div class="container"></div>
      <!--end container-->
    </section>
    <!-- Hero Start -->
    <section>
      <div class="container-fluid mt-60 mt-40 ">
        <div class="rounded-md shadow-md py-5 position-relative" style="background: url('images/3.jpg') center center;">
          <div class="bg-overlay rounded-md"></div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="title-heading text-center">
                  <h1 class="text-white title-dark mb-3">{{minExam.title}}</h1>
                  <ul class="list-unstyled">
                    <li class="list-inline-item small alarm text-white mr-2"><i class="mdi mdi-clock text-white title-dark"></i> Thời gian: {{minExam.time}} phút</li>
                    <li></li>
                    <li class="list-inline-item small date text-white"><i class="mdi mdi-calendar-check text-white title-dark"></i> Bắt đầu: {{minExam.organizeDate | formatDate}}</li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="list-inline-item small date text-white"><i class="mdi mdi-calendar-check text-white title-dark"></i> Kết thúc: {{minExam.expiredDate | formatDate}}</li>
                  </ul>
                  <div class="mt-4">
                    <a href="javascript:void(0)" @click="detail(minExam.id)" class="btn btn-primary">Tham gia ngay </a>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end container-->
        </div>
        <!--end slide-->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item">
                  <router-link to="/learner-home">Trang chủ</router-link>
                </li>
                <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Kỳ thi</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row">
          <!-- START SIDEBAR -->
          <div class="col-lg-3 col-md-6 col-12 mt-2 pt-1">
            <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
              <div class="card-body">
                <!-- SEARCH -->
                <div class="widget mb-4 pb-2">
                  <h4 class="widget-title">Tìm kiếm</h4>
                  <div id="search2" class="widget-search mt-4 mb-0">
                    <form role="search" method="get" id="searchform" class="searchform">
                      <div>
                        <input type="text" class="border rounded" v-model="title" v-on:keyup="search" name="s" id="s" placeholder="Nhập để tìm kiếm...">
                        <!-- <input type="submit" id="searchsubmit" value="Search"> -->
                      </div>
                    </form>
                  </div>
                </div>
                <!-- SEARCH -->
                <!-- v-on:change="search" -->
                <!-- Posted -->
                <div class="widget mb-4 pb-2">
                  <h4 class="widget-title"><br>Lọc theo thời gian</h4>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="past" value="2" v-model="state" v-on:change="search">
                        <label class="custom-control-label" for="past">Đã diễn ra</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="present" value="1" v-model="state" v-on:change="search">
                        <label class="custom-control-label" for="present">Đang diễn ra</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="future" value="0" v-model="state" v-on:change="search">
                        <label class="custom-control-label" for="future">Sắp diễn ra</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="widget mb-4 pb-2">
                  <h4 class="widget-title"><br>Lọc theo trạng thái</h4>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="STATUS_AVAILABLE" value="0" v-model="status" v-on:change="search">
                        <label class="custom-control-label" for="STATUS_AVAILABLE">Chưa đăng ký</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="STATUS_REGISTER" value="1" v-model="status" v-on:change="search">
                        <label class="custom-control-label" for="STATUS_REGISTER">Đã đăng ký</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="STATUS_REJECTED" value="2" v-model="status" v-on:change="search">
                        <label class="custom-control-label" for="STATUS_REJECTED">Đã bị từ chối</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="STATUS_APPROVE" value="3" v-model="status" v-on:change="search">
                        <label class="custom-control-label" for="STATUS_APPROVE">Đã được cho phép</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="STATUS_DO_EXAM" value="5" v-model="status" v-on:change="search">
                        <label class="custom-control-label" for="STATUS_DO_EXAM">Đang làm</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-left: -0.9em;">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="STATUS_DONE_EXAM" value="4" v-model="status" v-on:change="search">
                        <label class="custom-control-label" for="STATUS_DONE_EXAM">Đã hoàn thành</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Posted -->
              </div>
            </div>
          </div>
          <!--end col-->
          <!-- END SIDEBAR -->

          <!-- BLog Start -->
          <div class="col-lg-9 col-md-6">
            <div class="row">
              <div class="col-lg-12 col-md-6 mt-2 pt-1" v-for="(exam, i) in displayedExam" :key="i">
                <div class="media key-feature align-items-center p-3 rounded shadow-lg">
                  <div class="icon text-center rounded-circle mr-3">
                    <file-text-icon class="fea icon-ex-md text-primary"></file-text-icon>
                  </div>
                  <div class="media-body">
                    <div class="row align-items-end">
                      <div class="col-md-7 text-md-left text-center mt-4 mt-sm-0">
                        <h5 class="mb-0"><a href="javascript:void(0)" @click="detail(exam.id)">{{exam.title}}</a></h5>
                        <small class="text-muted h6 mr-2"><i class="mdi mdi-clock-time-three-outline"></i>{{exam.time}} phút</small>
                        <ul class="list-inline mb-0 mt-3">
                          <li class="list-inline-item text-muted mr-2">
                            <i class="mdi mdi-application-export"></i>{{exam.organizeDate | formatDate}}
                          </li>
                          <li class="list-inline-item text-muted">
                            <i class="mdi mdi-application-import"></i>{{exam.expiredDate | formatDate}}
                          </li>
                        </ul>
                      </div>
                      <!--end col-->
                      <div class="col-md-5 text-md-right text-center">
                        <small class="text-warning h6 mr-2" v-if="exam.status === 0">Chưa đăng kí</small>
                        <small class="text-primary h6 mr-2" v-if="exam.status === 1">Chờ duyệt</small>
                        <small class="text-danger h6 mr-2" v-if="exam.status === 2">Đã từ chối</small>
                        <small class="text-success h6 mr-2" v-if="exam.status === 3">Đã chấp nhận</small>
                        <small class="text-success h6 mr-2" v-if="exam.status === 4">Đã hoàn thành</small>
                        <small class="text-success h6 mr-2" v-if="exam.status === 5">Đang làm</small>
                        <ul class="list-unstyled social-icon social mb-0 mt-4">
                          <li class="list-inline-item ml-1"><a href="javascript:void(0)" @click="detail(exam.id)" class="rounded" v-b-tooltip.hover title="Xem chi tiết">
                            <chevrons-right-icon class="fea icon-sm fea-social"></chevrons-right-icon>
                          </a></li>
                        </ul>
                        <!--end icon-->
                      </div>
                      <!--end col-->
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>

              <div class="col-lg-12 col-md-6 mt-2 pt-1 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-left mb-0">
                    <li class="page-item" @click="scrollToTop($event)">
                      <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                    </li>
                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                      <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                    </li>
                    <li class="page-item" @click="scrollToTop($event)">
                      <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                    </li>
                  </ul>
                </nav>
                <!-- <p>Tổng số bản ghi: {{listExam.length}}</p> -->
              </div>

              <div class="col-lg-12 col-md-6 mt-2 pt-1 d-flex justify-content-center" style="margin-top: 10px">
                <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                <p v-if="(page < pages.length) && (listExam.length > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{listExam.length}} bản ghi</p>
                <p v-if="(page == pages.length) && (listExam.length > 10) && (pages.length*10 - listExam.length !=9)">Từ: {{(page*10)-(10-1)}} - {{listExam.length}} trong tổng số {{listExam.length}} bản ghi</p>
                <p v-if="(page == pages.length) && (listExam.length > 10) && ((pages.length*10 - listExam.length ==9))">Bản ghi thứ {{listExam.length}} trong tổng số {{listExam.length}} bản ghi</p>
              </div>
            </div>
            <!--end row-->
          </div>
          <!--end container-->
          <!--end col-->
          <!-- BLog End -->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!--end section-->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
  </div>
</template>

<style scoped>
::v-deep .carousel-caption {
  display: contents;
}

::v-deep .modal-content {
  background-color: transparent;
}
</style>

<script>
import {
  ArrowUpIcon,
  ChevronsRightIcon,
  FileTextIcon

} from "vue-feather-icons";
import Swal from 'sweetalert2'
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import moment from 'moment'

import Vue from 'vue'

Vue.filter('formatDate', function (value) {
  if (value) {
    return moment(String(value)).format('HH:mm - DD/MM/YYYY ')
  }
});
/**
 * Index-course component
 */
export default {
  data() {
    return {
      listExam: [],
      title: '',
      state: [],
      status: [],
      page: 1,
      perPage: 10,
      pages: [],
      minExam: {},
    };
  },
  components: {
    Navbarnew,
    Switcher,
    Footer,
    ArrowUpIcon,
    ChevronsRightIcon,
    FileTextIcon
  },
  created: async function () {
    let roleId = localStorage.getItem("role")
    let role = parseInt(roleId)
    if (roleId === null) {
      this.$router.push("/auth-login")
    } else if (role === 1 || role === 3 || role === 2 || role === 6) {
      this.$router.push("/page-not-found")
    } else {
      Swal.fire({
        title: 'Đang tải dữ liệu...',
        html: 'Chờ trong giây lát...',
        allowEscapeKey: false,
        allowOutsideClick: false,
        didOpen: () => {
          Swal.showLoading()
        }
      });
      const token = localStorage.getItem('token');
      const response = await axios.post('/LearnerFeatures/SearchExam', {
        title: this.title,
        state: [],
        status: []
      }, {
        headers: {
          'Authorization': 'Bearer ' + token
        }
      }).then((res) => {
        this.listExam = res.data
        this.minExam = this.listExam[0];
        Swal.close();
      }).catch((err) => {
        Swal.close();
        console.log(err)
      })
    }
  },
  methods: {
    search() {
      const token = localStorage.getItem("token");
      axios
          .post('/LearnerFeatures/SearchExam', {
            title: this.title,
            state: this.state,
            status: this.status
          }, {
            headers: {
              'Authorization': 'Bearer ' + token
            }
          })
          .then((res) => {
            this.listExam = res.data;
            this.page = 1
          })
          .catch((err) => {
            console.log(err);
          });
    },
    isPageChoose(page) {
      return this.page == page
    },
    scrollToTop(e) {
      window.scrollTo({
        top: 300,
        left: 300,
        behavior: 'smooth'
      });
    },
    setPage() {
      this.pages = [];
      let numberOfPages = Math.ceil(this.listExam.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(listExam) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return listExam.slice(from, to);
    },

    detail: function (id) {
      localStorage.setItem('examId', id)
      this.$router.push({
        name: 'LearnerExamDetail'
      })
    },
  },
  computed: {
    displayedExam() {
      return this.paginate(this.listExam)
    }

  },
  watch: {
    listExam() {
      this.setPage();
    }
  },
  filters: {
    trimWords(value) {
      return value.split("").splice(0, 20).join(" ") + '...'
    }
  }

};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
  font-size: 20px;
  color: #29b3ed;
  font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;
}
.active {
  background-color: #2F55D4;
  color: #ffffff;
}
.active:target {
  display: block !important;
}
button.page-link.active {
  color: cornsilk !important;
}
table {
  table-layout: fixed;
  word-wrap: break-word;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
.breadcrumb-item {
   font-size: 11px !important;
 }
</style>
