<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết kỳ thi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Job apply form Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <!--end row-->
                                <div class="mt-4" id="submit">
                                    <router-link to="/exam-learner" class="btn btn-pills btn-primary mt-2 mr-2">Danh sách thí sinh</router-link>
                                </div>
                                <div class="mt-4" id="submit">
                                    <router-link to="/exam-question" class="btn btn-pills btn-primary mt-2 mr-2">Bộ câu hỏi</router-link>
                                </div>
                                <div class="mt-4" id="submit">
                                    <router-link to="/exam-test" class="btn btn-pills btn-primary mt-2 mr-2">Bộ đề thi</router-link>
                                </div>

                                <div class="mt-4" id="submit">
                                    <a ref="javascript:void(0)" @click="viewMark" class="btn btn-pills btn-primary mt-2 mr-2">Xem điểm</a>
                                </div>
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Tên : </label>
                                            <p>{{exam.title}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Bắt đầu : </label>
                                            <p>{{exam.organizeDate |formatDate}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Kết thúc : </label>
                                            <p>{{exam.expiredDate |formatDate}}</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Thời gian : </label>
                                            <p>{{exam.time}} phút</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Số đề : </label>
                                            <p>{{exam.numberTest}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Ma trận : </label>
                                            <p>{{exam.matrix.name}} - {{exam.matrix.total}} câu</p>
                                        </div>
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="mt-4" id="submit">
                                    <a @click="editExam" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</a>
                                    <a @click="deleteExam" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                                </div>
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Job apply form End -->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    PlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import moment from 'moment'
import Vue from 'vue'

Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('HH:mm - DD/MM/YYYY')
    }
});
/**
 * Index-course component
 */
export default {
    data() {
        return {
            exam: {

                matrix: []
            },
            examId: localStorage.getItem('examId'),
            selected: [],

        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('Exam/GetExamById', {
                id: this.examId,
            }).then((res) => {
                this.exam = res.data
            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        viewMark: function () {
            localStorage.setItem('examId', this.examId)
            this.$router.push({
                name: 'ExamScoreList'
            })
        },
        async deleteExam() {
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    this.selected.push(this.examId)
                    axios.post('/Exam/Delete', {
                        listExamId: this.selected
                    }, {
                        headers: {
                            Authrization: "Bearer " + localStorage.getItem("token"),
                        }
                    }).then(res => {
                        if (res) {
                            this.$swal.fire({
                                title: 'Xóa thành công',
                                showCancelButton: false,
                                showConfirmButton: false,
                                timer: 3000,
                                toast: true,
                                position: 'top-end',
                                icon: 'success'
                            })
                            this.$router.push('/manager-exam-list')
                        }
                    })
                }
            });

        },
        editExam(){
            localStorage.setItem('examId', this.examId)
            this.$router.push("/edit-exam")
        }
    },
};
</script>
<style scoped>
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
