<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h4 class="title mb-4">Trang chủ</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 mt-2 pt-2 cursor">
                    <div class="card explore-feature border-0 rounded text-center bg-white shadow-lg">
                        <div class="card-body py-5" @click="redirectManagerGroup">
                            <div class="icon rounded-circle shadow-lg d-inline-block">
                                <grid-icon size="3x"></grid-icon>
                            </div>
                            <div class="content mt-3">
                                <h5><a class="title text-dark">Chủ đề</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 mt-2 pt-2 cursor">
                    <div class="card explore-feature border-0 rounded text-center bg-white shadow-lg">
                        <div class="card-body py-5" @click="redirectManagerQuestion">
                            <div class="icon rounded-circle shadow-lg d-inline-block">
                                <file-text-icon  size="3x"></file-text-icon>
                            </div>
                            <div class="content mt-3">
                                <h5><a class="title text-dark">Câu hỏi</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 mt-2 pt-2 cursor">
                    <div class="card explore-feature border-0 rounded text-center bg-white shadow-lg">
                        <div class="card-body py-5" @click="redirectManagerListGroupQuestion">
                            <div class="icon rounded-circle shadow-lg d-inline-block">
                                <list-icon size="3x"></list-icon>
                            </div>
                            <div class="content mt-3">
                                <h5><a class="title text-dark">Nhóm câu hỏi</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 mt-2 pt-2 cursor">
                    <div class="card explore-feature border-0 rounded text-center bg-white shadow-lg">
                        <div class="card-body py-5" @click="redirectManagerMatrix">
                            <div class="icon rounded-circle shadow-lg d-inline-block">
                                <book-open-icon size="3x"></book-open-icon>
                            </div>
                            <div class="content mt-3">
                                <h5><a class="title text-dark">Ma trận</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 mt-2 pt-2 cursor">
                    <div class="card explore-feature border-0 rounded text-center bg-white shadow-lg">
                        <div class="card-body py-5" @click="redirectManagerExamList">
                            <div class="icon rounded-circle shadow-lg d-inline-block">
                                <check-circle-icon size="3x"></check-circle-icon>
                            </div>
                            <div class="content mt-3">
                                <h5><a class="title text-dark">Kỳ thi</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 mt-2 pt-2 cursor">
                    <div class="card explore-feature border-0 rounded text-center bg-white shadow-lg">
                        <div class="card-body py-5" @click="redirectManagerScoreList">
                            <div class="icon rounded-circle shadow-lg d-inline-block">
                                <award-icon size="3x"></award-icon>
                            </div>
                            <div class="content mt-3">
                                <h5><a class="title text-dark">Xếp hạng</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    ListIcon,
    FileTextIcon,
    ArchiveIcon,
    AwardIcon,
    BookOpenIcon,
    CheckCircleIcon,
    GridIcon
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
    name: 'ManageerHome',
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        ListIcon,
        FileTextIcon,
        AwardIcon,
        BookOpenIcon,
        CheckCircleIcon,
        GridIcon
    },
    data() {
        return {};
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if(roleId === null) {
            this.$router.push("/auth-login")
        }else if (role === 1 || role === 3 || role ===4 || role === 6) {
            this.$router.push("/page-not-found")
        }
    },
    methods: {
        redirectManagerGroup() {
            this.$router.push("/manager-group")
        },
        redirectManagerQuestion() {
            this.$router.push("/manager-question")
        },
        redirectManagerListGroupQuestion() {
            this.$router.push("/manager-list-group-question")
        },
        redirectManagerMatrix() {
            this.$router.push("/manager-matrix")
        },
        redirectManagerExamList() {
            this.$router.push("/manager-exam-list")
        },
        redirectManagerScoreList() {
            this.$router.push("/rank-exam-list")
        },
    },
};
</script>

<style>
/* .cursor {
    cursor: pointer;
} */
.card-body.py-5 {
    cursor: pointer;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
