<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item"><a href="/manager-list-group-question">Nhóm câu hỏi</a></li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết nhóm câu hỏi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <section class="section" style="border: 0px solid">
        <div class="container" style="border: 0px solid; margin-top: -90px; margin-bottom: -90px">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="position-relative">
                                            <h6>Dữ liệu chung: </h6>
                                            <a v-html="questionGroup.generalContent" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h6>Chủ đề : </h6>
                                            </div>
                                            <div class="col-md-10" style="margin-left: -40px; margin-top:0px">{{questionGroup.group.name}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative">
                                            <h6>Câu hỏi :</h6>
                                            <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" class="contentTitle">Tiêu đề</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Độ khó</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item, i) in groupQuestions" :key="i">
                                                            <td class="smallContent">
                                                                <a href="javascript:void(0)" v-b-modal.viewQuestionDetail data-toggle="modal" @click="dialogViewQuestionDetail(item.id)" v-html="item.contentNoImage" data-target="#viewQuestionDetail" class="forum-title text-primary font-weight-bold">
                                                                </a>
                                                            </td>
                                                            <td class="text-center small" v-if="item.levelId === 1">Khó</td>
                                                            <td class="text-center small" v-if="item.levelId === 2">Trung Bình</td>
                                                            <td class="text-center small" v-if="item.levelId === 3">Dễ</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <b-modal id="viewQuestionDetail" v-if="isShowQuestionDetail" :hide-footer="true" size="xl" title="Chi tiết câu hỏi" centered>
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-10 col-md-7">
                                                    <div class="card custom-form border-0">
                                                        <div class="card-body">
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group position-relative">
                                                                            <h5>Đề bài: </h5>
                                                                            <p v-html="question.content"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="position-relative">
                                                                            <div class="row">
                                                                                <div class="col-md-4">
                                                                                    <h5>Chủ đề : </h5>
                                                                                </div>
                                                                                <div class="col-md-8">{{groupName}}</div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="position-relative">
                                                                            <h5 v-if="question.levelId === 1">Độ khó : Khó</h5>
                                                                            <h5 v-if="question.levelId === 2">Độ khó : Trung Bình</h5>
                                                                            <h5 v-if="question.levelId === 3">Độ khó : Dễ</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group position-relative">
                                                                            <label>Đáp án :</label>
                                                                            <div class="table-responsive bg-white shadow rounded">
                                                                                <table class="table mb-0 table-center">
                                                                                    <thead class="bg-light">
                                                                                        <tr>
                                                                                            <th scope="col" style="min-width: 300px;">Nội dung</th>
                                                                                            <th scope="col" class="text-center" style="max-width: 100px;">Đúng/sai</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr v-for="(item, i) in question.selections" :key="i">
                                                                                            <a href="javascript:void(0)" v-b-modal.viewAnswerDetail data-toggle="modal" :value="item.content" @click="dialogViewAnswerDetail(item.content)" v-html="item.contentNoImage" data-target="#viewAnswerDetail" class="text-primary font-weight-bold">
                                                                                            </a>
                                                                                            <td class="text-center ">
                                                                                                <i v-if="item.isTrue" class="mdi mdi-24px mdi-check-circle-outline" style="color:blue"></i>
                                                                                                <i v-else class="mdi mdi-24px mdi-close-circle-outline" style="color:red"></i>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </b-modal>
                                    <b-modal id="viewAnswerDetail" v-if="isShowAnswerDetail" :hide-footer="true" size="xl" title="Chi tiết đáp án" centered>
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-10 col-md-7">
                                                    <div class="card custom-form border-0">
                                                        <div class="card-body">
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group position-relative">
                                                                            <h5>Đáp án: </h5>
                                                                            <p v-html="answerDetail"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <input type="submit" id="submit" name="send" @click="closeViewAnswerDetail" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </b-modal>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-lg-1">
                                        <a href="/manager-edit-group-question" @click="toEditQuestionGroup" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</a>
                                    </div>
                                    <div class="col-lg-1" style="margin-left: 10px">
                                        <input type="button" class="btn btn-pills btn-danger mt-2 mr-2" @click="confirmDelete" value="Xóa" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    ClockIcon,
    LayersIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            questionGroup: {
                group: {
                    name: ""
                }
            },
            delete: '',
            id: this.$route.params.id,
            groups: {},
            selectedGroupId: -1,
            isShowQuestionDetail: false,
            question: {
                content: '',
                imageUrl: '',
                groupId: 0,
                levelId: 0,
                id: 0,
                selections: []
            },
            listGroup: [],
            groupName: '',
            groupQuestions: [],
            isShowAnswerDetail: false,
        };
    },
    components: {
        Navbarnew,
        Footer,
        ArrowUpIcon,
        MailIcon,
        PhoneIcon,
        UserIcon,
        ChevronRightIcon,
        PlayIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        ClockIcon,
        LayersIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const groupQuestionId = localStorage.getItem('groupQuestionId');
            const token = localStorage.getItem("token");
            const response = await axios
                .post("/GroupQuestion/Detail", {
                    id: groupQuestionId,
                })
                .then((res) => {
                    if (res) {
                        let listFormDb = []
                        this.questionGroup = res.data;
                        listFormDb = this.questionGroup.questions
                        for (let i = 0; i < listFormDb.length; i++) {
                            this.groupQuestions.push({
                                id: listFormDb[i].id,
                                generalContent: listFormDb[i].content,
                                contentNoImage: '',
                                group: listFormDb[i].groupId,
                                levelId: listFormDb[i].levelId,
                                selections: listFormDb[i].selections
                            })
                        }
                        for (let i = 0; i < this.groupQuestions.length; i++) {
                            let listImage = []
                            let arraySplitFirst = this.groupQuestions[i].generalContent.split(">")
                            let arraySplitSecond = []
                            let arraySplitThird = []
                            let arraySplitFourth = []
                            let str = this.groupQuestions[i].generalContent
                            let listImageForm = []
                            if (this.groupQuestions[i].generalContent.includes('https://tuannm53')) {
                                for (let j = 0; j < arraySplitFirst.length; j++) {
                                    arraySplitFirst[j].split(">")
                                    if (arraySplitFirst[j].includes('https://tuannm53')) {
                                        arraySplitSecond.push(arraySplitFirst[j])
                                    }
                                }
                                for (let j = 0; j < arraySplitSecond.length; j++) {
                                    let arr = []
                                    arr = arraySplitSecond[j].split(">")
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitThird.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitThird.length; j++) {
                                    let arr = []
                                    arr = arraySplitThird[j].split(/["]/)
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitFourth.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitFourth.length; j++) {
                                    listImage.push(arraySplitFourth[j])
                                }
                                for (let j = 0; j < listImage.length; j++) {
                                    let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                    listImageForm.push(stringImage)
                                    if (this.groupQuestions[i].generalContent.includes(stringImage)) {
                                        str = str.replace(stringImage, "")
                                    }
                                }

                            }
                            let arrayFirst = []
                            arrayFirst = str.split(">")
                            let stringFinal = ''
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let imageDemo = listImageForm[0]
                            let count = stringFinal.length
                            stringFinal = stringFinal.substring(0, 15)
                            if (count > 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count <= 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count > 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else if (count <= 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            this.groupQuestions[i].contentNoImage = stringFinal
                        }
                    }
                });
        }
    },
    methods: {
        closeViewAnswerDetail() {
            this.isShowAnswerDetail = false
        },
        dialogViewAnswerDetail(content) {
            this.answerDetail = ''
            this.isShowAnswerDetail = true
            this.answerDetail = content
        },
        toEditQuestionGroup() {
            localStorage.setItem('groupId', this.questionGroup.groupId)
        },
        confirmDelete() {
            this.listDeleteNull = false
            let groupQuestion = [this.questionGroup.id]
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    axios.post('/GroupQuestion/DeleteMultiple', {
                        ids: groupQuestion
                    }, {
                        headers: {
                            'Authorization': "Bearer " + localStorage.getItem("token"),
                        }
                    }).then(res => {
                        if (res) {
                            this.$router.push('manager-list-group-question')
                            this.$swal.fire({
                                title: "Xóa thành công nhóm câu hỏi",
                                showCancelButton: false,
                                showConfirmButton: false,
                                timer: 3000,
                                toast: true,
                                position: "top-end",
                                icon: "success",
                            });
                        }
                    })
                }
            });
        },
        dialogViewQuestionDetail(id) {
            const token = localStorage.getItem('token')
            this.isShowQuestionDetail = true
            axios.get('Group', {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                if (res) {
                    this.listGroup = res.data
                    axios.post('/Question/Detail', {
                            id: id
                        }, {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        })
                        .then((res) => {
                            let questionDetail = []
                            let answerList = []
                            questionDetail = res.data
                            this.question.content = questionDetail.content
                            this.question.imageUrl = questionDetail.imageUrl
                            this.question.groupId = questionDetail.groupId
                            this.question.levelId = questionDetail.levelId
                            this.question.id = questionDetail.id
                            for (let i = 0; i < questionDetail.selections.length; i++) {
                                let contentIm = ''
                                let listImage = []
                                let arraySplitFirst = questionDetail.selections[i].content.split(">")
                                let arraySplitSecond = []
                                let arraySplitThird = []
                                let arraySplitFourth = []
                                let str = questionDetail.selections[i].content
                                let listImageForm = []
                                if (questionDetail.selections[i].content.includes('https://tuannm53')) {
                                    for (let j = 0; j < arraySplitFirst.length; j++) {
                                        arraySplitFirst[j].split(">")
                                        if (arraySplitFirst[j].includes('https://tuannm53')) {
                                            arraySplitSecond.push(arraySplitFirst[j])
                                        }
                                    }
                                    for (let j = 0; j < arraySplitSecond.length; j++) {
                                        let arr = []
                                        arr = arraySplitSecond[j].split(">")
                                        if (arr.length > 0) {
                                            for (let k = 0; k < arr.length; k++) {
                                                if (arr[k].includes('https://tuannm53')) {
                                                    arraySplitThird.push(arr[k])
                                                }
                                            }
                                        }
                                    }
                                    for (let j = 0; j < arraySplitThird.length; j++) {
                                        let arr = []
                                        arr = arraySplitThird[j].split(/["]/)
                                        if (arr.length > 0) {
                                            for (let k = 0; k < arr.length; k++) {
                                                if (arr[k].includes('https://tuannm53')) {
                                                    arraySplitFourth.push(arr[k])
                                                }
                                            }
                                        }
                                    }
                                    for (let j = 0; j < arraySplitFourth.length; j++) {
                                        listImage.push(arraySplitFourth[j])
                                    }
                                    for (let j = 0; j < listImage.length; j++) {
                                        let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                        listImageForm.push(stringImage)
                                        if (questionDetail.selections[i].content.includes(stringImage)) {
                                            str = str.replace(stringImage, "")
                                        }
                                    }

                                }
                                let arrayFirst = []
                                arrayFirst = str.split(">")
                                let stringFinal = ''
                                for (let i = 0; i < arrayFirst.length; i++) {
                                    let str = []
                                    str = arrayFirst[i].split("<")
                                    let strr = str[0]
                                    stringFinal += strr
                                }
                                let imageDemo = listImageForm[0]
                                let count = stringFinal.length
                                stringFinal = stringFinal.substring(0, 15)
                                if (count > 15 && listImageForm.length > 0) {
                                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                                } else if (count <= 15 && listImageForm.length > 0) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                                } else if (count > 15 && listImageForm.length == 0) {
                                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                } else if (count <= 15 && listImageForm.length == 0) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                }
                                contentIm = stringFinal
                                answerList.push({
                                    content: questionDetail.selections[i].content,
                                    imageUrl: questionDetail.selections[i].imageUrl,
                                    isTrue: questionDetail.selections[i].isTrue,
                                    contentNoImage: contentIm
                                })
                            }
                            this.question.selections = answerList
                            for (let j = 0; j < this.listGroup.length; j++) {
                                if (this.question.groupId === this.listGroup[j].id) {
                                    this.groupName = this.listGroup[j].name
                                }
                            }
                        })
                }
            })

        }
    }
};
</script>

<style>
td.smallContent figure.image img {
    float: left;
    width: 200px;
    height: 200px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

th.contentTitle {
    width: 60%;
}

p img {
    float: left;
    width: 300px;
    margin-bottom: 10px;
}

figure.image img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.image.image-style-side img {
    float: right;
    width: 300px;
    margin-bottom: 10px;
}

.table td,
.table th {
    border-top: 0px;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
