<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>

    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Nhóm câu hỏi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section" style="border: 0px solid">
        <div class="container" style="border: 1px darkgray; margin-top: -70px; margin-bottom: -70px">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
                        <div class="card-body">
                            <div class="widget mb-4 pb-2 border-bottom">
                                <h4 class="widget-title">Tìm kiếm</h4>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="border rounded" name="s" id="s" v-model="searchText" v-on:keyup="search" placeholder="Nhập để tìm kiếm...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget mb-4 pb-4">
                                <h4 class="widget-title">Chủ đề</h4>
                                <div class="mt-4">
                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox " v-for="(group, i) in groups" :key="i">
                                            <input type="checkbox" class="custom-control-input" :id="group.id" :value="group.id" v-model="groupSelects" v-on:change="search">
                                            <label class="custom-control-label" :for="group.id">{{group.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="row align-items-center">
                        <div class="col-lg-1">
                            <a href="/manager-create-group-question" class="btn btn-pills btn-primary mt-2 mr-2">Tạo</a>
                        </div>
                        <div class="col-lg-1" style="margin-left: 10px">
                            <input type="button" class="btn btn-pills btn-danger mt-2 mr-2" @click="confirmDelete" value="Xóa" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive bg-white shadow-lg rounded mt-4">
                            <span v-if="listDeleteNull" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn nhóm câu hỏi muốn xóa</span>
                            <table class="table mb-0 table-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="contentCheckBox">
                                            <input type="checkbox" v-model="selectAll" @click="selectItem" />
                                        </th>
                                        <th scope="col" class="contentTitle">Tiêu đề</th>
                                        <th scope="col" class="text-center" style="min-width: 200px;">Chủ đề</th>
                                        <th scope="col" class="text-center" style="width: 100px;">Số lượng câu hỏi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(groupQuestions, i) in displayedGroupQuestions" :key="i">
                                        <th scope="col">
                                            <input type="checkbox" :value="groupQuestions.id" v-model="selected" />
                                        </th>
                                        <td class="fixSize" @click="questionGroupDetail(groupQuestions.id)" style="cursor: pointer">
                                            <a href="/manager-group-question-detail" class="forum-title text-primary font-weight-bold" v-html="groupQuestions.contentNoImage"></a>
                                        </td>
                                        <td class="text-center small">{{groupQuestions.group}}</td>
                                        <td class="text-center small">{{groupQuestions.numberQuestion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 d-flex justify-content-center" style="border:0px solid">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                            <p v-if="(page < pages.length) && (sumOfGroupQuestion > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{sumOfGroupQuestion}} bản ghi</p>
                            <p v-if="(page == pages.length) && (sumOfGroupQuestion > 10) && (pages.length*10 - sumOfGroupQuestion !=9)">Từ: {{(page*10)-(10-1)}} - {{sumOfGroupQuestion}} trong tổng số {{sumOfGroupQuestion}} bản ghi</p>
                            <p v-if="(page == pages.length) && (sumOfGroupQuestion > 10) && ((pages.length*10 - sumOfGroupQuestion ==9))">Bản ghi thứ {{sumOfGroupQuestion}} trong tổng số {{sumOfGroupQuestion}} bản ghi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from "sweetalert2";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            groupSelects: [],
            groups: [],
            groupQuestions: [],
            searchText: "",
            page: 1,
            perPage: 10,
            pages: [],
            isHasGroup: false,
            selectAll: false,
            selected: [],
            listDeleteNull: false,
            listDelete: [],
            sumOfGroupQuestion: 0,
            listGroupSumanry: []
        };
    },
    components: {
        Navbarnew,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
           this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
          this.$router.push("/page-not-found")
        } else {
            Swal.fire({
              title: 'Đang tải dữ liệu...',
              html: 'Chờ trong giây lát...',
              allowEscapeKey: false,
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading()
              }
            });
            const token = localStorage.getItem("token");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                await axios.get("Group", {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then((res) => {
                    this.groups = res.data;
                    if (typeof (this.groups.questionGroups) !== 'undefined') {
                        this.isHasGroup = true
                    }
                })
                await axios
                    .post("/GroupQuestion/Search", {
                        keyword: "",
                        groupIds: [],
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        Swal.close();
                        let listFormDb = res.data
                        for (let i = 0; i < listFormDb.length; i++) {
                            this.groupQuestions.push({
                                id: listFormDb[i].id,
                                generalContent: listFormDb[i].generalContent,
                                contentNoImage: '',
                                group: listFormDb[i].group,
                                numberQuestion: listFormDb[i].numberQuestion
                            })
                        }
                        this.sumOfGroupQuestion = this.groupQuestions.length
                        for (let i = 0; i < this.groupQuestions.length; i++) {
                            let listImage = []
                            let arraySplitFirst = this.groupQuestions[i].generalContent.split(">")
                            let arraySplitSecond = []
                            let arraySplitThird = []
                            let arraySplitFourth = []
                            let str = this.groupQuestions[i].generalContent
                            let listImageForm = []
                            if (this.groupQuestions[i].generalContent.includes('https://tuannm53')) {
                                for (let j = 0; j < arraySplitFirst.length; j++) {
                                    arraySplitFirst[j].split(">")
                                    if (arraySplitFirst[j].includes('https://tuannm53')) {
                                        arraySplitSecond.push(arraySplitFirst[j])
                                    }
                                }
                                for (let j = 0; j < arraySplitSecond.length; j++) {
                                    let arr = []
                                    arr = arraySplitSecond[j].split(">")
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitThird.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitThird.length; j++) {
                                    let arr = []
                                    arr = arraySplitThird[j].split(/["]/)
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitFourth.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitFourth.length; j++) {
                                    listImage.push(arraySplitFourth[j])
                                }
                                for (let j = 0; j < listImage.length; j++) {
                                    let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                    listImageForm.push(stringImage)
                                    if (this.groupQuestions[i].generalContent.includes(stringImage)) {
                                        str = str.replace(stringImage, "")
                                    }
                                }

                            }
                            let arrayFirst = []
                            arrayFirst = str.split(">")
                            let stringFinal = ''
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let imageDemo = listImageForm[0]
                            let count = stringFinal.length
                            stringFinal = stringFinal.substring(0, 15)
                            if (count > 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count <= 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count > 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else if (count <= 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            this.groupQuestions[i].contentNoImage = stringFinal
                        }
                    })
            }
        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        confirmDelete() {
            if (this.selected.length > 0) {
                this.listDeleteNull = false
                this.$swal.fire({
                    title: 'Thông báo!',
                    text: "Dữ liệu sẽ mất sau khi bị xóa",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Thoát'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/GroupQuestion/DeleteMultiple', {
                            ids: this.selected
                        }, {
                            headers: {
                                'Authorization': "Bearer " + localStorage.getItem("token"),
                            }
                        }).then(res => {
                            if (res) {
                                for (let i = 0; i < this.selected.length; i++) {
                                    for (let j = 0; j < this.groupQuestions.length; j++) {
                                        if (this.selected[i] === this.groupQuestions[j].id) {
                                            this.groupQuestions.splice(j, 1)
                                        }
                                    }
                                }
                                this.selectAll = false
                                this.selected = []
                                this.$swal.fire({
                                    title: "Xóa thành công nhóm câu hỏi",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 3000,
                                    toast: true,
                                    position: "top-end",
                                    icon: "success",
                                });
                                this.setPage();
                                if (this.pages.length < this.page) {
                                    this.page--
                                }
                                this.sumOfGroupQuestion = this.groupQuestions.length
                            }
                        })

                    }
                });
            } else {
                this.listDeleteNull = true
            }
        },
        search() {
            const token = localStorage.getItem("token");
            axios
                .post("GroupQuestion/Search", {
                    keyword: this.searchText,
                    groupIds: this.groupSelects,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.groupQuestions = []
                    let listFormDb = res.data
                    for (let i = 0; i < listFormDb.length; i++) {
                        this.groupQuestions.push({
                            id: listFormDb[i].id,
                            generalContent: listFormDb[i].generalContent,
                            contentNoImage: '',
                            group: listFormDb[i].group,
                            numberQuestion: listFormDb[i].numberQuestion
                        })
                    }
                    this.sumOfGroupQuestion = this.groupQuestions.length
                    for (let i = 0; i < this.groupQuestions.length; i++) {
                        let listImage = []
                        let arraySplitFirst = this.groupQuestions[i].generalContent.split(">")
                        let arraySplitSecond = []
                        let arraySplitThird = []
                        let arraySplitFourth = []
                        let str = this.groupQuestions[i].generalContent
                        let listImageForm = []
                        if (this.groupQuestions[i].generalContent.includes('https://tuannm53')) {
                            for (let j = 0; j < arraySplitFirst.length; j++) {
                                arraySplitFirst[j].split(">")
                                if (arraySplitFirst[j].includes('https://tuannm53')) {
                                    arraySplitSecond.push(arraySplitFirst[j])
                                }
                            }
                            for (let j = 0; j < arraySplitSecond.length; j++) {
                                let arr = []
                                arr = arraySplitSecond[j].split(">")
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitThird.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitThird.length; j++) {
                                let arr = []
                                arr = arraySplitThird[j].split(/["]/)
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitFourth.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitFourth.length; j++) {
                                listImage.push(arraySplitFourth[j])
                            }
                            for (let j = 0; j < listImage.length; j++) {
                                let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                listImageForm.push(stringImage)
                                if (this.groupQuestions[i].generalContent.includes(stringImage)) {
                                    str = str.replace(stringImage, "")
                                }
                            }

                        }
                        let arrayFirst = []
                        arrayFirst = str.split(">")
                        let stringFinal = ''
                        for (let i = 0; i < arrayFirst.length; i++) {
                            let str = []
                            str = arrayFirst[i].split("<")
                            let strr = str[0]
                            stringFinal += strr
                        }
                        let imageDemo = listImageForm[0]
                        let count = stringFinal.length
                        stringFinal = stringFinal.substring(0, 15)
                        if (count > 15 && listImageForm.length > 0) {
                            stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                        } else if (count <= 15 && listImageForm.length > 0) {
                            stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                        } else if (count > 15 && listImageForm.length == 0) {
                            stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                        } else if (count <= 15 && listImageForm.length == 0) {
                            stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                        }
                        this.groupQuestions[i].contentNoImage = stringFinal
                        this.page = 1
                    }
                })
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.groupQuestions.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(groupQuestions) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return groupQuestions.slice(from, to);
        },
        selectItem() {
            this.selected = [];
            this.listDelete = []
            if (!this.selectAll) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                this.listDelete = this.groupQuestions.slice(from, to)
                for (let i = 0; i < this.listDelete.length; i++) {
                    this.selected.push(this.listDelete[i].id)
                }
            }
        },
        questionGroupDetail: function (id) {
            const existLocal = localStorage.getItem('groupQuestionId')
            if (!typeof (existLocal) == 'undefined') {
                localStorage.removeItem('groupQuestionId');
            }
            localStorage.setItem('groupQuestionId', id)
        },
        onChange(event) {
            this.selectedGroupId = event.target.value;
            axios.post('Courses/GetListCourse', {
                groupId: this.selectedGroupId,
            }).then((res) => {
                this.groupQuestions = res.data
            })
        },
        modifyCourse: function (id) {
            this.$router.push({
                name: 'ModifyCourse',
                params: {
                    id: id
                }
            })
        },
        scrollToTop(e) {
            this.selectAll = false
            this.selected = []
            window.scrollTo(0, 0);
        }
    },
    computed: {
        displayedGroupQuestions() {
            return this.paginate(this.groupQuestions)
        }

    },
    watch: {
        groupQuestions() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}

th.contentTitle {
    width: 45%;
}
th.contentCheckBox {
    width: 10%;
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
