<template>
  <div class="flex-wrapper">
    <Navbarnew :nav-light="true"/>
    <section class="bg-secondary" style="height: 4.5rem">
      <div class="container"></div>
    </section>
    <section>
      <div class="container" id="main" style="text-align: center">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <nav style="background-color: white" aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item">
                  <router-link to="/manager-home">Trang chủ</router-link>
                </li>
                <li class="breadcrumb-item">
                  <router-link to="/manager-exam-list">Các kỳ thi</router-link>
                </li>
                <li class="breadcrumb-item">
                  <router-link to="/manager-exam-detail">Chi tiết kỳ thi</router-link>
                </li>
                <li class="breadcrumb-item">
                  <router-link to="/exam-test">Bộ đề thi</router-link>
                </li>
                <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết
                  đề thi
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
            <div class="row">
              <div class="col-lg-12 ml-lg-12 border-bottom" v-for="(questionGroup, j) in questionGroups" :key="j">
                <div class="row" v-bind:id="j">
                  <div class="col-lg-12 ml-lg-12 border-bottom" v-bind:id="j"
                       v-if="questionGroup.generalContent != null">
                    <h5 class="mt-4 text-primary" v-if="questionGroup.questions.length > 1">Dữ liệu chung (Từ câu
                      {{ questionGroup.questions[0].titleNumber }} đến câu
                      {{ questionGroup.questions[questionGroup.questions.length - 1].titleNumber }})</h5>
                    <h5 class="mt-4 text-primary" v-if="questionGroup.questions.length == 1">Dữ liệu chung (Câu
                      {{ questionGroup.questions[0].titleNumber }})</h5>
                    <p v-html="questionGroup.generalContent"></p>
                  </div>
                </div>
                <div class="row" v-bind:id="'c' + j">
                  <div class="col-lg-12 ml-lg-12 border-bottom" v-bind:id="'q' + question.titleNumber"
                       v-for="(question, i) in questionGroup.questions" :key="i">
                    <div class="border-bottom">
                      <h5 class="mt-4">Câu {{ question.titleNumber }} </h5>
                      <p v-html="question.content"></p>
                    </div>
                    <div class="widget">
                      <div class="mt-4" v-for="(testSelection, k) in question.selections" :key="k">
                        <div class="custom-control custom-radio">
                          <div class="form-group mb-2">
                            <input type="radio" v-bind:id="'se' + testSelection.selectionId"
                                   v-bind:name="'se' + question.questionId" class="custom-control-input"
                                   :checked="testSelection.isTrue == true" disabled>
                            <label class="custom-control-label" v-bind:for="'se' + testSelection.selectionId"
                                   v-html="testSelection.content"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<style scoped>
::v-deep .carousel-caption {
  display: contents;
}
</style>

<script>
import $ from "jquery";
import {
  ArrowUpIcon,
  PlusIcon,
  FilePlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
  data() {
    return {
      testId: localStorage.getItem("testId"),
      test: {},
      questionGroups: [],
      page: 1,
      perPage: 10,
      pages: [],
      distance: null,
      listId: []
    };
  },
  components: {
    Navbarnew,
    Footer,
    ArrowUpIcon,
    PlusIcon,
    FilePlusIcon
  },
  created: async function () {
    let roleId = localStorage.getItem("role")
    let role = parseInt(roleId)
    if (roleId === null) {
      await this.$router.push("/auth-login")
    } else if (role === 1 || role === 3 || role === 4 || role === 6) {
      await this.$router.push("/page-not-found")
    } else {
      const token = localStorage.getItem("token");
      const response = axios.post("/Exam/GetTestById", {
        id: this.testId,
      }, {
        headers: {
          'Authorization': 'Bearer ' + token
        }
      }).then((res) => {
        this.test = res.data;
        for (let i = 0; i < this.test.questionGroups.length; i++) {
          if (this.test.questionGroups[i].generalContent !== null) {
            this.listId.push(i)
          }
        }
        this.questionGroups = this.test.questionGroups;
        let j = 1;
        for (let i in this.questionGroups) {
          for (let k in this.questionGroups[i].questions) {
            this.questionGroups[i].questions[k].titleNumber = j;
            j++;
          }
        }
      }).catch((err) => {
        console.log(err)
      })
    }
  },
  updated() {
    let names = [],
    navWraps= [],
    navs =[],
    startPositions = [],
    stopPositions = [],
    widths = [],
    ys = []
    for (let i = 0; i < this.listId.length; i++) {
      names[i] = parseInt(this.listId[i])
      navWraps[i] = $('#'+names[i])
      navs[i] = $('#'+names[i])
      if(i === 0) {
        startPositions[i] = navWraps[i].offset().top
      } else {
        startPositions[i] = navWraps[i].offset().top - $('#'+(parseInt(names[i-1]))).height()*2
      }
      if(i === (this.listId.length - 1)) {
        stopPositions[i] = 100000000000
      } else {
        stopPositions[i] = $('#' + (names[i]+1)).offset().top
      }
      widths[i] = navs[i].width()
      $(document).scroll(function () {
        ys[i] = $(this).scrollTop() + 74
        // console.log('y'+i+' :' + ys[i])
        if (ys[i] > startPositions[i]) {
          navs[i].addClass('stickynav'+i);
          $(".stickynav"+i).width(widths[i])
          $(".stickynav"+i).css({'position': 'fixed', 'margin-top':'74px','background-color': 'white', 'z-index': '1' })
          if (ys[i] > stopPositions[i]) {
            navs[i].css('top', stopPositions[i] - ys[i]);
          } else {
            navs[i].css('top', 0)
          }
        } else {
          navs[i].removeAttr( 'style' );
          navs[i].removeClass('stickynav'+i)
        }
      })
    }
  },
  methods: {}
};
</script>

<style>
figure.image.image-style-side {
  float: right;
  width: 300px;
  margin-left: 1.5em
}

.col-lg-12.ml-lg-12.border-bottom.viet {
  /*position: fixed;*/
}
.offset{
  width: 500px !important;
  margin: 20px auto;
}

figure.image.image-style-side img {
  width: 300px;
}

figure.image img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p img {
  width: 300px;
}

label.custom-control-label figure.image img {
  width: 150px;
}

.breadcrumb-item {
  font-size: 11px !important;
}

#navWrap {
  height: 70px
}

h1 {
  margin: 0;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
