<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!-- Hero Start -->

    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background: white">Các kỳ thi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <!-- START SIDEBAR -->
                <div class="col-lg-3 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow-lg">
                        <div class="card-body">
                            <!-- SEARCH -->
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title">Tìm kiếm</h4>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="border rounded" name="s" id="s" v-model="title" v-on:keyup="search" placeholder="Nhập để tìm kiếm...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- SEARCH -->
                            <!-- Posted -->
                            <div class="widget">
                                <h4 class="widget-title">Lọc</h4>
                                <div class="mt-4">
                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" id="all" name="customRadio" :value="null" v-model="isDone" v-on:change="search" class="custom-control-input">
                                            <label class="custom-control-label" for="all">Tất cả</label>
                                        </div>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" id="oneyearex" name="customRadio" :value="false" v-model="isDone" v-on:change="search" class="custom-control-input">
                                            <label class="custom-control-label" for="oneyearex">Sắp diễn ra</label>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <div class="form-group mb-2">
                                            <input type="radio" id="done" name="customRadio" :value="true" v-model="isDone" v-on:change="search" class="custom-control-input">
                                            <label class="custom-control-label" for="done">Đã diễn ra</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Posted -->
                        </div>
                    </div>
                </div>
                <!--end col-->
                <!-- END SIDEBAR -->

                <!-- BLog Start -->
                <div class="col-lg-9 col-md-6">
                    <div class="mt-4" id="submit">
                        <a href="/create-exam" class="btn btn-pills btn-primary mt-2 mr-2">Tạo</a>
                        <a @click="deleteExam" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                    </div>
                    <!--end row-->

                    <div class="row">
                        <div class="table-responsive bg-white shadow-lg rounded mt-4">
                            <span v-if="listDeleteNull" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn kỳ thi muốn xóa</span>
                            <table class="table mb-0 table-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" style="width:10%">
                                            <input type="checkbox" v-model="selectAll" @click="selectItem" />
                                        </th>
                                        <th scope="col">Kì thi</th>
                                        <th scope="col" class="text-center">Bắt đầu</th>
                                        <th scope="col" class="text-center">Kết thúc</th>
                                        <th scope="col" class="text-center">Thời gian</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(exam,i) in displayexam" :key="i">
                                        <th scope="col">
                                            <input type="checkbox" :value="exam.id" v-model="selected" />
                                        </th>
                                        <td>
                                            <a href="javascript: void(0);" @click="examDetail(exam.id)" class="forum-title text-primary font-weight-bold">{{exam.title}}</a>
                                        </td>
                                        <td class="text-center small">{{exam.organizeDate |formatDate}}</td>
                                        <td class="text-center small">{{exam.expiredDate | formatDate}}</td>
                                        <td class="text-center small">{{exam.time}} phút</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!--end col-->
                        <div class="col-12 d-flex justify-content-center" style="border:0px solid">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                            <!-- <p>Tổng số bản ghi: {{this.exam.length}}</p> -->
                        </div>
                        <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                            <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                            <p v-if="(page < pages.length) && (exam > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{exam}} bản ghi</p>
                            <p v-if="(page == pages.length) && (exam > 10) && (pages.length*10 - exam !=9)">Từ: {{(page*10)-(10-1)}} - {{exam}} trong tổng số {{exam}} bản ghi</p>
                            <p v-if="(page == pages.length) && (exam > 10) && ((pages.length*10 - exam ==9))">Bản ghi thứ {{exam}} trong tổng số {{exam}} bản ghi</p>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
                <!--end col-->
                <!-- BLog End -->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon> -->
    <!-- </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Multiselect from 'vue-multiselect'
import moment from 'moment'
import Vue from 'vue'

Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('HH:mm - DD/MM/YYYY ')
    }
});
/**
 * Index-course component
 */
export default {
    data() {
        return {
            exam: [],
            selected: [],
            selectAll: false,
            page: 1,
            perPage: 10,
            pages: [],
            title: '',
            isDone: null,
            listDelete: [],
            listDeleteNull: false,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        Multiselect,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.get('Exam/GetAllExam', {}).then((res) => {
                this.exam = res.data
            }).catch((err) => {})
        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            this.selectAll = false
            this.selected = []
            window.scrollTo(0, 0);
        },
        search() {
            localStorage.removeItem('examId');
            const token = localStorage.getItem("token");
            axios
                .post('/Exam/SearchExam', {
                    title: this.title,
                    isDone: this.isDone

                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {

                    this.exam = res.data;
                    this.page = 1
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.exam.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(exam) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return exam.slice(from, to);
        },
        selectItem() {
            this.selected = [];
            this.listDelete = []
            if (!this.selectAll) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                this.listDelete = this.exam.slice(from, to)
                for (let i = 0; i < this.listDelete.length; i++) {
                    this.selected.push(this.listDelete[i].id)
                }
            }
        },
        async deleteExam() {
            if (this.selected.length > 0) {
                this.listDeleteNull = false
                this.$swal.fire({
                    title: 'Thông báo!',
                    text: "Dữ liệu sẽ mất sau khi bị xóa",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Thoát'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/Exam/Delete', {
                            listExamId: this.selected
                        }, {
                            headers: {
                                Authrization: "Bearer " + localStorage.getItem("token"),
                            }
                        }).then(res => {
                            if (res) {
                                for (let i = 0; i < this.selected.length; i++) {
                                    for (let j = 0; j < this.exam.length; j++) {
                                        if (this.selected[i] === this.exam[j].id) {
                                            this.exam.splice(j, 1)
                                        }
                                    }
                                }
                                this.selected = []
                                this.selectAll = false
                                this.$swal.fire({
                                    title: "Xóa kỳ thi thành công",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 3000,
                                    toast: true,
                                    position: "top-end",
                                    icon: "success",
                                });
                                this.setPage();
                                if (this.pages.length < this.page) {
                                    this.page--
                                }
                            }
                        })
                    }
                });
            } else {
                this.listDeleteNull = true
            }
        },
        examDetail: function (id) {
            localStorage.setItem('examId', id)
            this.$router.push({
                name: 'ManagerExamDetail'
            })
        },

    },

    computed: {
        displayexam() {
            return this.paginate(this.exam)
        }

    },
    watch: {
        exam() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    },

};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}

.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
