<template>
<div>
    <Navbarnew :nav-light="true" />
    <table-account></table-account>
    <!-- <Footer /> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import TableAccount from './table-account.vue'
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
// import axios from "axios";
/**
 * Index-course component
 */
export default {
    data() {
        return {};
    },
    async created() {
        const token = localStorage.getItem('token')
        if (token === null) {
            this.$router.push('/auth-login')
        }
    },
    components: {
        Navbarnew,
        Footer,
        TableAccount
    },
    methods: {}
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css">

</style>
