<template>
  <div>
    <Navbarnew :nav-light="true"/>

    <section class="bg-secondary" style="height: 4.5rem">
      <div class="container"></div>
    </section>
    <section>
      <div class="container" style="text-align: center">
        <div class="row justify-content-center">
          <div class="col-12">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item">
                  <router-link to="/manager-home">Trang chủ</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="background: white">Ma trận đề</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-7">
            <div class="mt-4" id="submit">
              <a href="/create-matrix" class="btn btn-pills btn-primary mt-2 mr-2">Tạo</a>
              <a @click="confirmDelete" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
            </div>
            <div class="row">
              <div class="table-responsive bg-white shadow-lg rounded mt-4">
                <table class="table mb-0 table-center">
                  <thead class="bg-light">
                  <tr>
                    <th scope="col" style="width:10%; text-align: center">
                      <input type="checkbox" v-model="selectAll" @click="selectItem"/>
                    </th>
                    <th scope="col">Tên</th>
                    <th scope="col" class="text-center">Số câu</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(matrix,i) in displayMatrix" :key="i">
                    <th scope="col" style="width:10%; text-align: center">
                      <input type="checkbox" :value="matrix.id" v-model="selected"/>
                    </th>
                    <td>
                      <a href="javascript: void(0);" @click="matrixDetail(matrix.id)"
                         class="forum-title text-primary font-weight-bold"> {{ matrix.name }}</a>
                    </td>
                    <td class="text-center small">{{ matrix.total }}</td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-left mb-0">
                    <li class="page-item" @click="scrollToTop($event)">
                      <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1"
                              @click="page--"> Trước
                      </button>
                    </li>
                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button"
                                                    :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }"
                                                    class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)"
                                                    v-bind:key="pageNumber"
                                                    @click="page = pageNumber"> {{ pageNumber }} </button>
                                        </span>
                      <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button"
                                                    :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }"
                                                    class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)"
                                                    v-bind:key="pageNumber"
                                                    @click="page = pageNumber"> {{ pageNumber }} </button>
                                        </span>
                    </li>
                    <li class="page-item" @click="scrollToTop($event)">
                      <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)"
                              class="page-link"> Sau
                      </button>
                    </li>
                  </ul>
                </nav>
                <!-- <p>Tổng số bản ghi: {{sumOfMatrix}}</p> -->
              </div>
              <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                <p v-if="(page < pages.length) && (sumOfMatrix > 10)">Từ: {{ (page * 10) - (10 - 1) }} - {{ page * 10 }}
                  trong tổng số {{ sumOfMatrix }} bản ghi</p>
                <p v-if="(page == pages.length) && (sumOfMatrix > 10) && (pages.length*10 - sumOfMatrix !=9)">Từ:
                  {{ (page * 10) - (10 - 1) }} - {{ sumOfMatrix }} trong tổng số {{ sumOfMatrix }} bản ghi</p>
                <p v-if="(page == pages.length) && (sumOfMatrix > 10) && ((pages.length*10 - sumOfMatrix ==9))">Bản ghi
                  thứ {{ sumOfMatrix }} trong tổng số {{ sumOfMatrix }} bản ghi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer/>
  </div>
</template>

<style scoped>
::v-deep .carousel-caption {
  display: contents;
}

::v-deep .modal-content {
  background-color: transparent;
}
</style>

<script>
import {
  ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
  data() {
    return {
      page: 1,
      perPage: 10,
      pages: [],
      matrix: [],
      selected: [],
      selectAll: false,
      sumOfMatrix: 0
    };
  },
  components: {
    Navbarnew,
    Footer,
    ArrowUpIcon,
  },
  created: async function () {
    Swal.fire({
      title: 'Đang tải dữ liệu...',
      html: 'Chờ trong giây lát...',
      allowEscapeKey: false,
      allowOutsideClick: false,
      didOpen: () => {
        Swal.showLoading()
      }
    });
    let roleId = localStorage.getItem("role")
    let role = parseInt(roleId)
    if (roleId === null) {
     await this.$router.push("/auth-login")
    } else if (role === 1 || role === 3 || role === 4 || role === 6) {
      await this.$router.push("/page-not-found")
    } else {
      localStorage.removeItem('matrixId')
      const token = localStorage.getItem('token');
      const response = await axios.get('Matrix', {}).then((res) => {
        Swal.close();
        this.matrix = res.data
        this.sumOfMatrix = this.matrix.length
      })
    }
  },
  methods: {
    isPageChoose(page) {
      return this.page == page
    },
    scrollToTop(e) {
      this.selectAll = false
      this.selected = []
      window.scrollTo(0, 0);
    },
    setPage() {
      this.pages = [];
      let numberOfPages = Math.ceil(this.matrix.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate(matrix) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return matrix.slice(from, to);
    },
    matrixDetail: function (id) {
      localStorage.setItem('matrixId', id)
      this.$router.push({
        name: 'MatrixDetail'
      })
    },
    confirmDelete() {
      if (this.selected.length > 0) {
        this.$swal.fire({
          title: 'Thông báo!',
          text: "Dữ liệu sẽ mất sau khi bị xóa",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Xóa',
          cancelButtonText: 'Thoát'
        }).then((result) => {
          if (result.value) {
            axios.post('/Matrix/DeleteMatrix', {
              listMatrixId: this.selected
            }, {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem("token"),
              }
            }).then(res => {
              if (res.data == -1) {
                this.selected = []
                this.selectAll = false
                this.$swal.fire({
                  title: "Ma trận này đã được sử dụng trong kì thi!",
                  showCancelButton: false,
                  showConfirmButton: false,
                  timer: 3000,
                  toast: true,
                  position: "top-end",
                  icon: 'error'
                });
              } else {
                for (let i = 0; i < this.selected.length; i++) {
                  for (let j = 0; j < this.matrix.length; j++) {
                    if (this.selected[i] === this.matrix[j].id) {
                      this.matrix.splice(j, 1)
                    }
                  }
                }
                this.selectAll = false
                this.selected = []
                this.$swal.fire({
                  title: "Xóa thành công",
                  showCancelButton: false,
                  showConfirmButton: false,
                  timer: 3000,
                  toast: true,
                  position: "top-end",
                  icon: "success",
                });
                this.setPage();
                if (this.pages.length < this.page) {
                  this.page--
                }
                this.sumOfMatrix = this.matrix.length
              }
            })

          }
        });

      }
    },
    selectItem() {
      this.selected = [];
      this.listDelete = []
      if (!this.selectAll) {
        let page = this.page;
        let perPage = this.perPage;
        let from = (page * perPage) - perPage;
        let to = (page * perPage);
        this.listDelete = this.matrix.slice(from, to)
        for (let i = 0; i < this.listDelete.length; i++) {
          this.selected.push(this.listDelete[i].id)
        }
      }
    },
  },
  computed: {
    displayMatrix() {
      return this.paginate(this.matrix)
    }
  },
  watch: {
    matrix() {
      this.setPage();
    }
  },
  filters: {
    trimWords(value) {
      return value.split("").splice(0, 20).join(" ") + '...'
    }
  }
};
</script>
<style>
button.page-link {
  display: inline-block;
}

button.page-link {
  font-size: 20px;
  color: #29b3ed;
  font-weight: 500;
}

.offset {
  width: 500px !important;
  margin: 20px auto;
}

.active {
  background-color: #2F55D4;
  color: #ffffff;
}

.active:target {
  display: block !important;
}

button.page-link.active {
  color: cornsilk !important;
}

.breadcrumb-item {
  font-size: 11px !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
