<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem; boder: 1px solid">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align:center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item"><a href="/manager-list-group-question">Nhóm câu hỏi</a></li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Tạo nhóm câu hỏi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="section" style=" border: 0px solid">
        <div class="container" style="border: 0px solid; margin-top: -100px; margin-bottom: -90px;">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form @submit.prevent="handleSubmitAll" class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Dữ liệu chung :</label>
                                            <ckeditor id="ckeditor" :editor="editor" @ready="onReadyOfQuestionGroup" v-model="editorData" :config="editorConfig">
                                            </ckeditor>
                                            <span v-if="isgeneralContent" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không để trống dữ liệu chung</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Chủ đề :</label>
                                            <select class="form-control custom-select" id="Sortbylist-Shop1" @change="getIdGroup($event)">
                                                <option v-for="(group, i) in listGroup" :key="i" :value="group.id" :selected="group.id == 1">{{group.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Câu hỏi :</label>
                                            <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" class="contentTitle">Tiêu đề</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Độ khó</th>
                                                            <th scope="col" class="text-center" style="width: 100px;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(question, i) in listQuestionWillBeStore" :key="i">
                                                            <td class="smallContent">
                                                                <a href="javascript:void(0)" v-b-modal.viewQuestionDetail data-toggle="modal" :value="question" @click="questionNotStoreYet(question)" v-html="question.contentNoImage" data-target="#viewQuestionDetail" class="forum-title text-primary font-weight-bold">
                                                                </a>
                                                            </td>
                                                            <td class="text-center small">{{ question.levelName }}</td>
                                                            <td class="text-center small" style="cursor: pointer" @click="deleteQuestion(question.id,i)"><i class="mdi mdi-24px mdi-delete-forever cursor"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="bg-white">
                                                <span v-if="isNullQuestion" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không để trống câu hỏi</span>
                                            </div>
                                        </div>
                                        <div class="form-group position-relative">
                                            <label>Thêm câu hỏi :</label>
                                            <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
                                                <template #button-content>
                                                    <plus-circle-icon size="2x" class="fea"></plus-circle-icon>
                                                </template>
                                                <b-dropdown-item href="javascript:void(0)" @click="searchAddQuestionFromGroup(1)" v-b-modal.ChooseQuestion data-toggle="modal" data-target="#ChooseQuestion">Chọn từ câu hỏi có sẵn</b-dropdown-item>
                                                <b-dropdown-item href="javascript:void(0)" @click="addNewQuestionToQuestionGroup" v-b-modal.CreateQuestion data-toggle="modal" data-target="#CreateQuestion">Tạo mới</b-dropdown-item>
                                            </b-dropdown>
                                        </div>

                                        <b-modal id="ChooseQuestion" v-if="isShowDialogHasQuestionAvailable" :hide-footer="true" size="xl" title="Chọn câu hỏi có sẵn" centered>
                                            <section class="section" style="margin-top: -90px; margin-bottom: -90px; border: 0px solid; margin-right: 15px;margin-left: 0px">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 col-12">
                                                            <div class="card border-0 sidebar sticky-bar rounded shadow">
                                                                <div class="card-body">
                                                                    <div class="widget mb-4 pb-2 border-bottom">
                                                                        <h4 class="widget-title">Tìm kiếm</h4>
                                                                        <div id="search2" class="widget-search mt-4 mb-0">
                                                                            <form role="search" method="get" id="searchform" class="searchform">
                                                                                <div>
                                                                                    <input type="text" class="border rounded" name="s" id="s" v-model="searchForm.keyword" v-on:keyup="searchAddQuestionFromGroup(2)" placeholder="Nhập để tìm kiếm..."> </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="widget mb-4 pb-4">
                                                                        <h4 class="widget-title">Độ khó</h4>
                                                                        <div class="mt-4">
                                                                            <div class="form-group mb-2">
                                                                                <div class="custom-control custom-checkbox" v-for="(level, i) in QuestionType" :key="i">
                                                                                    <input type="checkbox" class="custom-control-input" :id="level.id" :value="level.id" v-model="SelectsType" v-on:change="searchAddQuestionFromGroup(2)">
                                                                                    <label class="custom-control-label" :for="level.id">{{level.name}}</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                                                            <div class="row align-items-center">
                                                                <div class="col-lg-12">
                                                                    <input type="button" @click="addtoGroupQuestion" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Thêm vào nhóm câu hỏi">
                                                                    <input type="button" @click="closeDialogExistQuestion" id="submit" name="send" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="table-responsive bg-white shadow rounded mt-4">
                                                                    <span v-if="isChooseQuestion" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn câu hỏi cần thêm</span>
                                                                    <table class="table mb-0 table-center">
                                                                        <thead class="bg-light">
                                                                            <tr>
                                                                                <th scope="col" class="smallCheckBox">
                                                                                    <input type="checkbox" v-model="selectAll" @click="selectItem" /></th>
                                                                                <th scope="col">Nội dung</th>
                                                                                <th scope="col" class="text-center" style="min-width: 200px;">Độ khó</th>
                                                                                <th scope="col" class="text-center" style="width: 100px;">Chủ đề</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr v-for="(question, i) in displayedGroupQuestions" :key="i">
                                                                                <th scope="col">
                                                                                    <input type="checkbox" :value="question.id" v-model="selectedQuestion" />
                                                                                </th>
                                                                                <td class="smallContent">
                                                                                    <a href="javascript:void(0)" v-b-modal.viewQuestionDetail data-toggle="modal" @click="dialogViewQuestionDetail(question.id)" v-html="question.contentNoImage" data-target="#viewQuestionDetail" class="forum-title text-primary font-weight-bold">
                                                                                    </a>
                                                                                </td>
                                                                                <td class="text-center small">{{question.groupName}}</td>
                                                                                <td class="text-center small">{{question.levelName}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-12 d-flex justify-content-center">
                                                                    <nav aria-label="Page navigation example">
                                                                        <ul class="pagination justify-content-left mb-0">
                                                                            <li class="page-item" @click="scrollToTop($event)">
                                                                                <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                                                            </li>
                                                                            <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                                                                <span v-if="page != 1">
                                                                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                                                                </span>
                                                                                <span v-if="page == 1">
                                                                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                                                                </span>
                                                                            </li>
                                                                            <li class="page-item" @click="scrollToTop($event)">
                                                                                <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                                                            </li>
                                                                        </ul>
                                                                    </nav>
                                                                    <!-- <p>Tổng số bản ghi: {{this.sumOfGroupQuestion}}</p> -->
                                                                </div>
                                                                <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                                                                    <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                                                                    <p v-if="(page < pages.length) && (sumOfGroupQuestion > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{sumOfGroupQuestion}} bản ghi</p>
                                                                    <p v-if="(page == pages.length) && (sumOfGroupQuestion > 10) && (pages.length*10 - sumOfGroupQuestion !=9)">Từ: {{(page*10)-(10-1)}} - {{sumOfGroupQuestion}} trong tổng số {{sumOfGroupQuestion}} bản ghi</p>
                                                                    <p v-if="(page == pages.length) && (sumOfGroupQuestion > 10) && ((pages.length*10 - sumOfGroupQuestion ==9))">Bản ghi thứ {{sumOfGroupQuestion}} trong tổng số {{sumOfGroupQuestion}} bản ghi</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </b-modal>

                                        <b-modal id="CreateQuestion" v-if="isShowDialogCreateNewQuestion" :hide-footer="true" size="xl" title="Tạo câu hỏi cho nhóm câu hỏi" centered>
                                            <section class="section" style="margin-top: -90px; margin-bottom: -90px; border: 0px solid; margin-right: 15px;margin-left: 15px">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-12 col-md-7">
                                                            <div class="card custom-form border-0">
                                                                <div class="card-body">
                                                                    <form class="rounded shadow p-4">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group position-relative">
                                                                                    <label>Đề bài :</label>
                                                                                    <ckeditor id="ckeditor" :editor="editorAddNew" @ready="onReadyOfAddNewQuestion" v-model="editorDataAddNewQuestion" :config="editorConfig">
                                                                                    </ckeditor>
                                                                                    <span v-if="isgeneralContentNewQuestion" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không để trống câu hỏi</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group position-relative">
                                                                                    <label>Độ khó :</label>
                                                                                    <select class="form-control custom-select" id="Sortbylist-Shop2" @change="getIdLevel($event)">
                                                                                        <option v-for="(level, i) in QuestionType" :key="i" :value="level.id" :selected="level.id == 3">{{level.name}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group position-relative">
                                                                                    <label>Đáp án :</label>
                                                                                    <div class="table-responsive bg-white shadow rounded">
                                                                                        <table class="table mb-0 table-center">
                                                                                            <thead class="bg-light">
                                                                                                <tr>
                                                                                                    <th scope="col" style="min-width: 300px;">Nội dung</th>
                                                                                                    <th scope="col" class="text-center" style="max-width: 100px;">Đúng/sai</th>
                                                                                                    <th scope="col" class="text-center" style="width: 100px;"></th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr v-for="(answer, i) in listAnswer" :key="i">
                                                                                                    <td>
                                                                                                        <a href="javascript:void(0)" v-b-modal.viewAnswerDetail data-toggle="modal" :value="answer.content" @click="dialogViewAnswerDetail(answer.content)" v-html="answer.contentNoImage" data-target="#viewAnswerDetail" class="forum-title text-primary font-weight-bold">
                                                                                                        </a>
                                                                                                    </td>
                                                                                                    <td class="text-center ">
                                                                                                        <i v-if="answer.isTrue" class="mdi mdi-24px mdi-check-circle-outline" style="color:blue"></i>
                                                                                                        <i v-else class="mdi mdi-24px mdi-close-circle-outline" style="color:red"></i>
                                                                                                    </td>
                                                                                                    <td class="text-center" style="cursor: pointer" @click="deleteAnswer(i)"><i class="mdi mdi-24px mdi-delete-forever cursor"></i></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                    <span v-if="isContentAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Thêm đáp án cho câu hỏi</span>
                                                                                    <span v-if="isValidAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Phải có ít nhất 2 đáp án trở lên</span>
                                                                                    <span v-if="isUniqueTrueAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Đáp án có 1 đáp án đúng</span>
                                                                                </div>
                                                                                <div class="form-group position-relative">
                                                                                    <label>Thêm đáp án :</label>
                                                                                    <a href="javascript:void(0)" v-b-modal.CreateSelection data-toggle="modal" @click="addNewAnswer" data-target="#CreateSelection">
                                                                                        <plus-circle-icon size="2x" class="fea"></plus-circle-icon>
                                                                                    </a>
                                                                                </div>
                                                                                <b-modal id="CreateSelection" v-if="isShowDialogCreateNewSelection" :hide-footer="true" size="xl" title="Thêm đáp án" centered>
                                                                                    <div class="bg-white rounded box-shadow">
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group position-relative">
                                                                                                <label>Nội dung :</label>
                                                                                                <ckeditor id="ckeditor" :editor="editorAddNewAnswer" @ready="onReadyOfAddNewAnswer" v-model="editorDataAddNewAnswer" :config="editorConfig">
                                                                                                </ckeditor>
                                                                                                <span v-if="isgeneralContentAnswer" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không để trống đáp án</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group position-relative">
                                                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                                                    <div class="form-group position-relative">
                                                                                                        <input type="radio" id="customRadio1" value="true" :checked="false" @click="getRadioButton($event)" name="customRadio" class="custom-control-input">
                                                                                                        <label class="custom-control-label" for="customRadio1">Đúng</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                                                    <div class="form-group position-relative">
                                                                                                        <input type="radio" id="customRadio2" value="false" :checked="true" @click="getRadioButton($event)" name="customRadio" class="custom-control-input">
                                                                                                        <label class="custom-control-label" for="customRadio2">Sai</label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <input @click="storeAnswer" id="submit" style="width: 70px" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                                                                                                <input @click="exitAddAnswer" id="submit" style="width: 90px" name="send" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </b-modal>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <input @click="AddQuestionTolistQuestionWillBeStore" id="submit" style="width: 70px" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                                                                                <input @click="existAddQuestion" id="submit" style="width: 90px" name="send" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </b-modal>

                                        <b-modal id="viewQuestionDetail" v-if="isShowQuestionDetail" :hide-footer="true" size="xl" title="Chi tiết câu hỏi" centered>
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-10 col-md-7">
                                                        <div class="card custom-form border-0">
                                                            <div class="card-body">
                                                                <form>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group position-relative">
                                                                                <h5>Đề bài: </h5>
                                                                                <p v-html="question.content"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="position-relative">
                                                                                <div class="row">
                                                                                    <div class="col-md-4">
                                                                                        <h5>Chủ đề : </h5>
                                                                                    </div>
                                                                                    <div class="col-md-8">{{groupName}}</div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="position-relative">
                                                                                <h5 v-if="question.levelId === 1">Độ khó : Khó</h5>
                                                                                <h5 v-if="question.levelId === 2">Độ khó : Trung Bình</h5>
                                                                                <h5 v-if="question.levelId === 3">Độ khó : Dễ</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="form-group position-relative">
                                                                                <label>Đáp án :</label>
                                                                                <div class="table-responsive bg-white shadow rounded">
                                                                                    <table class="table mb-0 table-center">
                                                                                        <thead class="bg-light">
                                                                                            <tr>
                                                                                                <th scope="col" style="min-width: 300px;">Nội dung</th>
                                                                                                <th scope="col" class="text-center" style="max-width: 100px;">Đúng/sai</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr v-for="(item, i) in question.selections" :key="i">
                                                                                                <td>
                                                                                                    <a href="javascript:void(0)" v-b-modal.viewAnswerDetail data-toggle="modal" :value="item.content" @click="dialogViewAnswerDetail(item.content)" v-html="item.contentNoImage" data-target="#viewAnswerDetail" class="forum-title text-primary font-weight-bold">
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td class="text-center ">
                                                                                                    <i v-if="item.isTrue" class="mdi mdi-24px mdi-check-circle-outline" style="color:blue"></i>
                                                                                                    <i v-else class="mdi mdi-24px mdi-close-circle-outline" style="color:red"></i>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <input type="submit" id="submit" name="send" @click="closeViewDetail()" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-modal>

                                        <b-modal id="viewAnswerDetail" v-if="isShowAnswerDetail" :hide-footer="true" size="xl" title="Chi tiết đáp án" centered>
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-10 col-md-7">
                                                        <div class="card custom-form border-0">
                                                            <div class="card-body">
                                                                <form>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group position-relative">
                                                                                <h5>Đáp án: </h5>
                                                                                <p v-html="answerDetail"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <input type="submit" id="submit" name="send" @click="closeViewAnswerDetail()" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </b-modal>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="submit" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" value="Lưu">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    PlusCircleIcon
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";
import UploadImage from "../components/UploadImage.vue"
import SelectQuestionIngroupDialog from "./select-question-ingroup-dialog.vue"
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import MyUploadAdapter from "../components/ckeditor/MyUploadAdapter"
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
    name: 'ManagerCreateGroupQuestion',
    data() {
        return {
            page: 1,
            perPage: 10,
            pages: [],
            editorDataAddQuestion: '',
            listGroup: [],
            listQuestionAvailable: [],
            isShow: false,
            QuestionType: [{
                    id: 3,
                    name: 'Dễ'
                },
                {
                    id: 2,
                    name: 'Trung bình'
                },
                {
                    id: 1,
                    name: 'Khó'
                }
            ],
            searchForm: {
                keyword: '',
                groupId: 0,
                listLevel: []
            },
            SelectsType: [],
            listQuestionWillBeStore: [],
            selectedQuestion: [],
            selectAll: false,
            isShowDialogHasQuestionAvailable: false,
            isShowDialogCreateNewQuestion: false,
            selected: '',
            groupSelectFirst: '',
            listIdSearch: [],
            formAddNewQuestionGroup: {
                generalContent: '',
                groupId: 0,
                questionVms: []
            },
            addQuestionFromAddNew: [],
            listAnswer: [],
            newAnswer: {
                content: '',
                imageUrl: '',
                isTrue: false
            },
            isShowDialogCreateNewSelection: false,
            chooseRadioButton: '',
            levelIdQuestion: 3,
            isgeneralContent: false,
            isChooseQuestion: false,
            isgeneralContentNewQuestion: false,
            isgeneralContentAnswer: false,
            isShowQuestionDetail: false,
            isShowAnswerDetail: false,
            question: {
                content: '',
                imageUrl: '',
                groupId: 0,
                levelId: 0,
                id: 0,
                selections: []
            },
            groupName: '',
            editor: ClassicEditor,
            editorData: '',
            editorConfig: {},
            uploadURL: 'https://localhost:44360/Upload',
            data: '',
            dataAfter: '',
            sumOfGroupQuestion: 0,
            disabledButton: false,
            editorAddNew: ClassicEditor,
            editorAddNewAnswer: ClassicEditor,
            editorDataAddNewQuestion: '',
            editorDataAddNewAnswer: '',
            isAnswerNull: false,
            isContentAnswer: false,
            isValidAnswer: false,
            isUniqueTrueAnswer: false,
            count: 0,
            answerDetail: '',
            isNullQuestion: false
        };
    },
    components: {
        Navbarnew,
        Footer,
        PlusCircleIcon,
        UploadImage,
        SelectQuestionIngroupDialog,
        ckeditor: CKEditor.component
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token')
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                const listGroup = await axios.get('Group', {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then(res => {
                    if (res) {
                        this.listGroup = res.data
                        this.selected = this.listGroup[0].id
                        this.groupSelectFirst = this.selected
                    }
                })
            }
        }
    },
    methods: {
        // Hàm lấy ra nhóm để lấy câu hỏi trong nhóm đó
        // Lấy nhóm ở màn hình tạo mợi nhóm câu hỏi
        getIdGroup(event) {
            this.selected = event.target.value
            for (let i = 0; i < this.listQuestionWillBeStore.length; i++) {
                this.listIdSearch.push(this.listQuestionWillBeStore[i].id)
            }
            this.listQuestionWillBeStore = []
        },
        onReadyOfQuestionGroup(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        onReadyOfAddNewQuestion(editorAddNew) {
            editorAddNew.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        onReadyOfAddNewAnswer(editorAddNewAnswer) {
            editorAddNewAnswer.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        closeViewDetail() {
            this.isShowQuestionDetail = false
        },
        closeViewAnswerDetail() {
            this.isShowAnswerDetail = false
        },
        exitAddAnswer() {
            this.isShowDialogCreateNewSelection = false
        },
        existAddQuestion() {
            this.isShowDialogCreateNewQuestion = false
        },
        async handleSubmitAll() {
            if (this.editorData == '') {
                this.isgeneralContent = true
            } else if (this.listQuestionWillBeStore.length < 1) {
                this.isgeneralContent = false
                this.isNullQuestion = true
            } else {
                this.isNullQuestion = false
                this.isgeneralContent = false
                const token = localStorage.getItem('token')
                if (this.editorData.includes("&nbsp;")) {
                    this.editorData = this.editorData.split("&nbsp;").join("");
                }
                for (let i = 0; i < this.listQuestionWillBeStore.length; i++) {
                    this.formAddNewQuestionGroup.questionVms.push({
                        groupId: this.listQuestionWillBeStore[i].groupId,
                        id: this.listQuestionWillBeStore[i].id,
                        levelId: this.listQuestionWillBeStore[i].levelId,
                        content: this.listQuestionWillBeStore[i].content,
                        imageUrl: this.listQuestionWillBeStore[i].imageUrl,
                        selectionVms: this.listQuestionWillBeStore[i].listAnswer
                    })
                }
                Swal.fire({
                    title: 'Đang lưu nhóm câu hỏi...',
                    html: 'Chờ trong giây lát...',
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading()
                    }
                });
                const response = await axios.post('GroupQuestion/Create', {
                    generalContent: this.editorData,
                    imgUrl: '',
                    groupId: this.selected,
                    questionVms: this.formAddNewQuestionGroup.questionVms
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then(res => {
                    if (res) {
                        Swal.close();
                        this.$swal.fire({
                            title: "Thêm mới nhóm câu hỏi thành công",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: "top-end",
                            icon: "success",
                        });
                        localStorage.setItem('groupQuestionId', res.data)
                        this.$router.push('/manager-group-question-detail')
                        // this.$router.push('/manager-list-group-question')
                    }
                }).catch(res => {
                    Swal.close();
                    this.$swal.fire({
                        title: "Thêm mới nhóm câu hỏi thất bại",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: "top-end",
                        icon: "error",
                    });
                })
            }
        },
        // Hàm nãy sẽ chạy khi mở dialog tạo mới câu hỏi
        async addNewQuestionToQuestionGroup() {
            this.levelIdQuestion = 3
            this.isgeneralContentNewQuestion = false
            this.editorDataAddQuestion = ''
            this.editorDataAddNewQuestion = ''
            this.editorDataAddNewAnswer = ''
            this.listAnswer = []
            this.addQuestionFromAddNew = []
            this.isShowDialogCreateNewQuestion = true

        },
        // Hàm này sẽ chạy khi mở dialog chọn câu hỏi có sẵn 
        async searchAddQuestionFromGroup(type) {
            this.isChooseQuestion = false
            if (type == 1) {
                this.searchForm.keyword = ''
                this.SelectsType = []
            }
            this.page = 1
            this.selectAll = false
            this.selectedQuestion = []
            this.isShowDialogHasQuestionAvailable = true
            let data = []
            this.listQuestionAvailable = []
            const token = localStorage.getItem('token')
            const listQuestionAvailable = await axios.post('Question/SearchByGroup', {
                keyword: this.searchForm.keyword,
                groupId: this.selected,
                listLevel: this.SelectsType,
                listIds: this.listIdSearch
            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                if (res) {
                    data = res.data
                    for (let i = 0; i < data.length; i++) {
                        let level = ''
                        let group = ''
                        for (let j = 0; j < this.listGroup.length; j++) {
                            if (data[i].groupId === this.listGroup[j].id) {
                                group = this.listGroup[j].name
                            }
                        }
                        if (data[i].levelId === 3) {
                            level = 'Dễ'
                        } else if (data[i].levelId === 2) {
                            level = 'Bình thường'
                        } else if (data[i].levelId === 1) {
                            level = 'Khó'
                        }
                        this.listQuestionAvailable.push({
                            id: data[i].id,
                            content: data[i].content,
                            groupId: data[i].groupId,
                            levelId: data[i].levelId,
                            groupName: group,
                            levelName: level,
                            selections: data[i].selections,
                            contentNoImage: ''
                        })
                        for (let i = 0; i < this.listQuestionAvailable.length; i++) {
                            let listImage = []
                            let arraySplitFirst = this.listQuestionAvailable[i].content.split(">")
                            let arraySplitSecond = []
                            let arraySplitThird = []
                            let arraySplitFourth = []
                            let str = this.listQuestionAvailable[i].content
                            let listImageForm = []
                            if (this.listQuestionAvailable[i].content.includes('https://tuannm53')) {
                                for (let j = 0; j < arraySplitFirst.length; j++) {
                                    arraySplitFirst[j].split(">")
                                    if (arraySplitFirst[j].includes('https://tuannm53')) {
                                        arraySplitSecond.push(arraySplitFirst[j])
                                    }
                                }
                                for (let j = 0; j < arraySplitSecond.length; j++) {
                                    let arr = []
                                    arr = arraySplitSecond[j].split(">")
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitThird.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitThird.length; j++) {
                                    let arr = []
                                    arr = arraySplitThird[j].split(/["]/)
                                    if (arr.length > 0) {
                                        for (let k = 0; k < arr.length; k++) {
                                            if (arr[k].includes('https://tuannm53')) {
                                                arraySplitFourth.push(arr[k])
                                            }
                                        }
                                    }
                                }
                                for (let j = 0; j < arraySplitFourth.length; j++) {
                                    listImage.push(arraySplitFourth[j])
                                }
                                for (let j = 0; j < listImage.length; j++) {
                                    let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                    listImageForm.push(stringImage)
                                    if (this.listQuestionAvailable[i].content.includes(stringImage)) {
                                        str = str.replace(stringImage, "")
                                    }
                                }

                            }
                            let arrayFirst = []
                            arrayFirst = str.split(">")
                            let stringFinal = ''
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let imageDemo = listImageForm[0]
                            let count = stringFinal.length
                            stringFinal = stringFinal.substring(0, 15)
                            if (count > 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count <= 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count > 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else if (count <= 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            this.listQuestionAvailable[i].contentNoImage = stringFinal
                        }
                    }
                    this.sumOfGroupQuestion = this.listQuestionAvailable.length
                }
            })
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.listQuestionAvailable.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(listQuestionAvailable) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return listQuestionAvailable.slice(from, to);
        },
        selectItem() {
            this.selectedQuestion = [];
            this.listDelete = []
            if (!this.selectAll) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                this.listDelete = this.listQuestionAvailable.slice(from, to)
                for (let i = 0; i < this.listDelete.length; i++) {
                    this.selectedQuestion.push(this.listDelete[i].id)
                }
            }
        },
        AddQuestionTolistQuestionWillBeStore() {
            if (this.editorDataAddNewQuestion === '') {
                this.isgeneralContentNewQuestion = true
            } else {
                this.isgeneralContentNewQuestion = false
                if (this.listAnswer.length == 0) {
                    this.isContentAnswer = true
                } else if (this.listAnswer.length == 1) {
                    this.isValidAnswer = true
                    this.isContentAnswer = false
                } else {
                    this.isNullQuestion = false
                    this.isContentAnswer = false
                    this.isValidAnswer = false
                    let lvName = ''
                    if (this.count != 1) {
                        this.isUniqueTrueAnswer = true
                    } else {
                        this.isUniqueTrueAnswer = false
                        this.isShowDialogCreateNewQuestion = false
                        if (this.levelIdQuestion == 1) {
                            lvName = 'Khó'
                        } else if (this.levelIdQuestion == 2) {
                            lvName = 'Trung bình'
                        } else if (this.levelIdQuestion == 3) {
                            lvName = 'Dễ'
                        }
                        let groupName = ''
                        for (let i = 0; i < this.listGroup.length; i++) {
                            if (this.selected === this.listGroup[i].id) {
                                groupName = this.listGroup[i].name
                            }
                        }
                        if (this.editorDataAddNewQuestion.includes("&nbsp;")) {
                            this.editorDataAddNewQuestion = this.editorDataAddNewQuestion.split("&nbsp;").join("");
                        }
                        let contentName
                        let listImage = []
                        let arraySplitFirst = this.editorDataAddNewQuestion.split(">")
                        let arraySplitSecond = []
                        let arraySplitThird = []
                        let arraySplitFourth = []
                        let str = this.editorDataAddNewQuestion
                        let listImageForm = []
                        if (this.editorDataAddNewQuestion.includes('https://tuannm53')) {
                            for (let j = 0; j < arraySplitFirst.length; j++) {
                                arraySplitFirst[j].split(">")
                                if (arraySplitFirst[j].includes('https://tuannm53')) {
                                    arraySplitSecond.push(arraySplitFirst[j])
                                }
                            }
                            for (let j = 0; j < arraySplitSecond.length; j++) {
                                let arr = []
                                arr = arraySplitSecond[j].split(">")
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitThird.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitThird.length; j++) {
                                let arr = []
                                arr = arraySplitThird[j].split(/["]/)
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitFourth.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitFourth.length; j++) {
                                listImage.push(arraySplitFourth[j])
                            }
                            for (let j = 0; j < listImage.length; j++) {
                                let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                listImageForm.push(stringImage)
                                if (this.editorDataAddNewQuestion.includes(stringImage)) {
                                    str = str.replace(stringImage, "")
                                }
                            }
                            let arrayFirst = []
                            arrayFirst = str.split(">")
                            let stringFinal = ''
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let imageDemo = listImageForm[0]
                            let count = stringFinal.length
                            stringFinal = stringFinal.substring(0, 15)
                            if (count > 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count <= 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count > 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else if (count <= 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            contentName = stringFinal
                        } else {
                            let stringFinal = ''
                            let arrayFirst = this.editorDataAddNewQuestion.split(">")
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let count = stringFinal.length
                            if (count <= 15) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else {
                                stringFinal = stringFinal.substring(0, 15) + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            contentName = stringFinal
                        }
                        this.listQuestionWillBeStore.push({
                            content: this.editorDataAddNewQuestion,
                            levelName: lvName,
                            imageUrl: '',
                            levelId: this.levelIdQuestion,
                            listAnswer: this.listAnswer,
                            groupId: this.selected,
                            groupName: groupName,
                            contentNoImage: contentName
                        })
                    }
                }
            }
        },
        addtoGroupQuestion() {
            if (this.selectedQuestion.length < 1) {
                this.isChooseQuestion = true
            } else {
                this.isNullQuestion = false
                this.isChooseQuestion = false
                this.isShowDialogHasQuestionAvailable = false
                for (let i = 0; i < this.selectedQuestion.length; i++) {
                    for (let j = 0; j < this.listQuestionAvailable.length; j++) {
                        if (this.selectedQuestion[i] === this.listQuestionAvailable[j].id) {
                            this.listQuestionWillBeStore.push({
                                id: this.listQuestionAvailable[j].id,
                                content: this.listQuestionAvailable[j].content,
                                groupId: this.listQuestionAvailable[j].groupId,
                                levelId: this.listQuestionAvailable[j].levelId,
                                groupName: this.listQuestionAvailable[j].groupName,
                                levelName: this.listQuestionAvailable[j].levelName,
                                listAnswer: this.listQuestionAvailable[j].selections,
                                contentNoImage: this.listQuestionAvailable[j].contentNoImage
                            })
                        }
                    }
                }
                let idOfItem = []
                for (let i = 0; i < this.listQuestionAvailable.length; i++) {
                    idOfItem.push(this.listQuestionAvailable[i].id)
                }
                let arrayWithValueRemoved = idOfItem.filter(item => !this.selectedQuestion.includes(item))
                this.listIdSearch = []
                if (arrayWithValueRemoved.length === 0) {
                    this.listIdSearch = [0]
                } else {
                    this.listIdSearch = arrayWithValueRemoved
                }
            }
        },
        closeDialogExistQuestion() {
            this.isShowDialogHasQuestionAvailable = false
        },
        deleteQuestion(idExist, id) {
            if (typeof (idExist) == 'undefined') {
                this.listQuestionWillBeStore.splice(id, 1)
            } else {
                for (let i = 0; i < this.listQuestionWillBeStore.length; i++) {
                    if (this.listQuestionWillBeStore[i].id === idExist) {
                        this.listQuestionWillBeStore.splice(i, 1)
                    }
                }
                this.listIdSearch.push(idExist)
            }
        },
        deleteAnswer(id) {
            this.listAnswer.splice(id, 1)
            this.count--
            if (this.count == 1) {
                this.isUniqueTrueAnswer = false
            }
        },
        addNewAnswer() {
            this.isShowDialogCreateNewSelection = true
            this.editorDataAddNewAnswer = ''
            this.newAnswer.isTrue = false
            this.isgeneralContentAnswer = false
        },
        getRadioButton(event) {
            this.chooseRadioButton = event.target.value
        },
        storeAnswer() {
            if (this.editorDataAddNewAnswer === '') {
                this.isgeneralContentAnswer = true
            } else {
                this.isgeneralContentAnswer = false
                if (this.chooseRadioButton === 'true') {
                    this.newAnswer.isTrue = true
                } else if (this.chooseRadioButton === 'false') {
                    this.newAnswer.isTrue = false
                }
                if (this.editorDataAddNewAnswer.includes("&nbsp;")) {
                    this.editorDataAddNewAnswer = this.editorDataAddNewAnswer.split("&nbsp;").join("");
                }
                let contentNoImage = ''
                let listImage = []
                let arraySplitFirst = this.editorDataAddNewAnswer.split(">")
                let arraySplitSecond = []
                let arraySplitThird = []
                let arraySplitFourth = []
                let str = this.editorDataAddNewAnswer
                let listImageForm = []
                if (this.editorDataAddNewAnswer.includes('https://tuannm53')) {
                    for (let j = 0; j < arraySplitFirst.length; j++) {
                        arraySplitFirst[j].split(">")
                        if (arraySplitFirst[j].includes('https://tuannm53')) {
                            arraySplitSecond.push(arraySplitFirst[j])
                        }
                    }
                    for (let j = 0; j < arraySplitSecond.length; j++) {
                        let arr = []
                        arr = arraySplitSecond[j].split(">")
                        if (arr.length > 0) {
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[k].includes('https://tuannm53')) {
                                    arraySplitThird.push(arr[k])
                                }
                            }
                        }
                    }
                    for (let j = 0; j < arraySplitThird.length; j++) {
                        let arr = []
                        arr = arraySplitThird[j].split(/["]/)
                        if (arr.length > 0) {
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[k].includes('https://tuannm53')) {
                                    arraySplitFourth.push(arr[k])
                                }
                            }
                        }
                    }
                    for (let j = 0; j < arraySplitFourth.length; j++) {
                        listImage.push(arraySplitFourth[j])
                    }
                    for (let j = 0; j < listImage.length; j++) {
                        let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                        listImageForm.push(stringImage)
                        if (this.editorDataAddNewAnswer.includes(stringImage)) {
                            str = str.replace(stringImage, "")
                        }
                    }
                    let arrayFirst = []
                    arrayFirst = str.split(">")
                    let stringFinal = ''
                    for (let i = 0; i < arrayFirst.length; i++) {
                        let str = []
                        str = arrayFirst[i].split("<")
                        let strr = str[0]
                        stringFinal += strr
                    }
                    let imageDemo = listImageForm[0]
                    let count = stringFinal.length
                    stringFinal = stringFinal.substring(0, 15)
                    if (count > 15 && listImageForm.length > 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                    } else if (count <= 15 && listImageForm.length > 0) {
                        stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                    } else if (count > 15 && listImageForm.length == 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    } else if (count <= 15 && listImageForm.length == 0) {
                        stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    }
                    contentNoImage = stringFinal
                } else {
                    let stringFinal = ''
                    let arrayFirst = this.editorDataAddNewAnswer.split(">")
                    for (let i = 0; i < arrayFirst.length; i++) {
                        let str = []
                        str = arrayFirst[i].split("<")
                        let strr = str[0]
                        stringFinal += strr
                    }
                    let count = stringFinal.length
                    if (count < 16) {
                        stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    } else {
                        stringFinal = stringFinal.substring(0, 15) + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                    }
                    contentNoImage = stringFinal
                }
                this.listAnswer.push({
                    content: this.editorDataAddNewAnswer,
                    imageUrl: this.newAnswer.imageUrl,
                    isTrue: this.newAnswer.isTrue,
                    contentNoImage: contentNoImage
                })
                if (this.listAnswer.length > 0) {
                    this.isContentAnswer = false
                }
                if (this.listAnswer.length > 1) {
                    this.isValidAnswer = false
                }
                this.isShowDialogCreateNewSelection = false
                this.newAnswer.content = ''
                this.chooseRadioButton = 'false'
                this.count = 0
                for (let i = 0; i < this.listAnswer.length; i++) {
                    if (this.listAnswer[i].isTrue == true) {
                        this.count++
                    }
                }
            }

        },
        getIdLevel(event) {
            this.levelIdQuestion = event.target.value
        },
        dialogViewAnswerDetail(content) {
            this.isShowAnswerDetail = true
            this.answerDetail = content
        },
        dialogViewQuestionDetail(id) {
            this.isShowQuestionDetail = true
            const token = localStorage.getItem('token')
            this.isShowQuestionDetail = true
            axios.get('Group', {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                if (res) {
                    this.listGroup = res.data
                    axios.post('/Question/Detail', {
                            id: id
                        }, {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        })
                        .then((res) => {
                            let questionDetail = []
                            questionDetail = res.data
                            this.question.content = questionDetail.content
                            this.question.imageUrl = questionDetail.imageUrl
                            this.question.groupId = questionDetail.groupId
                            this.question.levelId = questionDetail.levelId
                            this.question.id = questionDetail.id
                            let answerList = []
                            for (let i = 0; i < questionDetail.selections.length; i++) {
                                let contentIm = ''
                                let listImage = []
                                let arraySplitFirst = questionDetail.selections[i].content.split(">")
                                let arraySplitSecond = []
                                let arraySplitThird = []
                                let arraySplitFourth = []
                                let str = questionDetail.selections[i].content
                                let listImageForm = []
                                if (questionDetail.selections[i].content.includes('https://tuannm53')) {
                                    for (let j = 0; j < arraySplitFirst.length; j++) {
                                        arraySplitFirst[j].split(">")
                                        if (arraySplitFirst[j].includes('https://tuannm53')) {
                                            arraySplitSecond.push(arraySplitFirst[j])
                                        }
                                    }
                                    for (let j = 0; j < arraySplitSecond.length; j++) {
                                        let arr = []
                                        arr = arraySplitSecond[j].split(">")
                                        if (arr.length > 0) {
                                            for (let k = 0; k < arr.length; k++) {
                                                if (arr[k].includes('https://tuannm53')) {
                                                    arraySplitThird.push(arr[k])
                                                }
                                            }
                                        }
                                    }
                                    for (let j = 0; j < arraySplitThird.length; j++) {
                                        let arr = []
                                        arr = arraySplitThird[j].split(/["]/)
                                        if (arr.length > 0) {
                                            for (let k = 0; k < arr.length; k++) {
                                                if (arr[k].includes('https://tuannm53')) {
                                                    arraySplitFourth.push(arr[k])
                                                }
                                            }
                                        }
                                    }
                                    for (let j = 0; j < arraySplitFourth.length; j++) {
                                        listImage.push(arraySplitFourth[j])
                                    }
                                    for (let j = 0; j < listImage.length; j++) {
                                        let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                        listImageForm.push(stringImage)
                                        if (questionDetail.selections[i].content.includes(stringImage)) {
                                            str = str.replace(stringImage, "")
                                        }
                                    }

                                }
                                let arrayFirst = []
                                arrayFirst = str.split(">")
                                let stringFinal = ''
                                for (let i = 0; i < arrayFirst.length; i++) {
                                    let str = []
                                    str = arrayFirst[i].split("<")
                                    let strr = str[0]
                                    stringFinal += strr
                                }
                                let imageDemo = listImageForm[0]
                                let count = stringFinal.length
                                stringFinal = stringFinal.substring(0, 15)
                                if (count > 15 && listImageForm.length > 0) {
                                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                                } else if (count <= 15 && listImageForm.length > 0) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                                } else if (count > 15 && listImageForm.length == 0) {
                                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                } else if (count <= 15 && listImageForm.length == 0) {
                                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                                }
                                contentIm = stringFinal
                                answerList.push({
                                    content: questionDetail.selections[i].content,
                                    imageUrl: questionDetail.selections[i].imageUrl,
                                    isTrue: questionDetail.selections[i].isTrue,
                                    contentNoImage: contentIm
                                })
                            }
                            this.question.selections = answerList
                            for (let j = 0; j < this.listGroup.length; j++) {
                                if (this.question.groupId === this.listGroup[j].id) {
                                    this.groupName = this.listGroup[j].name
                                }
                            }
                        })
                }
            })
        },
        questionNotStoreYet(question) {
            this.question = []
            this.isShowQuestionDetail = true
            this.question.contentNoImage = question.contentNoImage
            this.question.content = question.content
            this.question.imageUrl = question.imageUrl
            this.question.groupId = question.groupId
            this.question.levelId = question.levelId
            this.question.id = question.id
            this.question.selections = question.listAnswer
            for (let i = 0; i < this.question.selections.length; i++) {
                let listImage = []
                let arraySplitFirst = this.question.selections[i].content.split(">")
                let arraySplitSecond = []
                let arraySplitThird = []
                let arraySplitFourth = []
                let str = this.question.selections[i].content
                let listImageForm = []
                if (this.question.selections[i].content.includes('https://tuannm53')) {
                    for (let j = 0; j < arraySplitFirst.length; j++) {
                        arraySplitFirst[j].split(">")
                        if (arraySplitFirst[j].includes('https://tuannm53')) {
                            arraySplitSecond.push(arraySplitFirst[j])
                        }
                    }
                    for (let j = 0; j < arraySplitSecond.length; j++) {
                        let arr = []
                        arr = arraySplitSecond[j].split(">")
                        if (arr.length > 0) {
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[k].includes('https://tuannm53')) {
                                    arraySplitThird.push(arr[k])
                                }
                            }
                        }
                    }
                    for (let j = 0; j < arraySplitThird.length; j++) {
                        let arr = []
                        arr = arraySplitThird[j].split(/["]/)
                        if (arr.length > 0) {
                            for (let k = 0; k < arr.length; k++) {
                                if (arr[k].includes('https://tuannm53')) {
                                    arraySplitFourth.push(arr[k])
                                }
                            }
                        }
                    }
                    for (let j = 0; j < arraySplitFourth.length; j++) {
                        listImage.push(arraySplitFourth[j])
                    }
                    for (let j = 0; j < listImage.length; j++) {
                        let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                        listImageForm.push(stringImage)
                        if (this.question.selections[i].content.includes(stringImage)) {
                            str = str.replace(stringImage, "")
                        }
                    }

                }
                let arrayFirst = []
                arrayFirst = str.split(">")
                let stringFinal = ''
                for (let i = 0; i < arrayFirst.length; i++) {
                    let str = []
                    str = arrayFirst[i].split("<")
                    let strr = str[0]
                    stringFinal += strr
                }
                let imageDemo = listImageForm[0]
                let count = stringFinal.length
                stringFinal = stringFinal.substring(0, 15)
                if (count > 15 && listImageForm.length > 0) {
                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                } else if (count <= 15 && listImageForm.length > 0) {
                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                } else if (count > 15 && listImageForm.length == 0) {
                    stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                } else if (count <= 15 && listImageForm.length == 0) {
                    stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                }
                this.question.selections[i].contentNoImage = stringFinal
            }
            for (let j = 0; j < this.listGroup.length; j++) {
                if (this.question.groupId === this.listGroup[j].id) {
                    this.groupName = this.listGroup[j].name
                }
            }
        },
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            this.selectAll = false
            this.selectedQuestion = []
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        }
    },
    computed: {
        displayedGroupQuestions() {
            return this.paginate(this.listQuestionAvailable)
        }

    },
    watch: {
        listQuestionAvailable() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>
<style>
figure.image.image-style-side {
    float: right;
    width: 300px;
    margin-left: 1.5em
}

figure.image.image-style-side img {
    width: 300px;
}

figure.image img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p img {
    width: 300px;
}

.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}

button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}

button.page-link.active {
    color: cornsilk !important;
}

.offset {
    width: 500px !important;
    margin: 20px auto;
}

.img {
    width: 100px;
}

td.small figure.image img {
    float: left;
    width: 200px ;
    height: 200px ;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
th.contentTitle {
    width: 60%;
}

td.smallContent figure.image img {
    float: left;
    width: 200px ;
    height: 200px ;
}

th.smallCheckBox {
    width: 10%;
}

th.content {
    text-align: center;
}
.table td, .table th {
    border-top: 0px;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
