<template>
  <div>
    <Navbarnew :nav-light="true" />
        <table-account></table-account>
    <Footer />
  </div>
</template>

<script>
import TableAccount from './table-account-group.vue'
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
// import axios from "axios";
/**
 * Index-course component
 */
export default {
  data() {
    return {
    };
  },
  async created() {
    },
  components: {
    Navbarnew,
    Footer,
    TableAccount
  },
  methods: {
  }
};
</script>

<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.breadcrumb-item {
    font-size: 11px !important;
}
</style>