<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!-- About Start -->
    <section class="section pt-0" style="margin-top: 6rem">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 col-12 form-inline">
                    <p>
                        Tên chủ đề:
                        <select class="form-control custom-select" @change="onChange($event)">
                            <option value="-1">Tất cả</option>
                            <option v-for="(group, i) in groups" :key="i" :value="group.id">
                                {{ group.name }}
                            </option>
                        </select>
                    </p>
                </div>
                <div class="col-lg-8 col-md-6 col-12 form-inline"></div>
                <div class="col-lg-10 col-md-10 col-12" style="margin-top: 3rem">
                    <p>Danh sách các khóa học</p>
                </div>
                <div class="col-lg-2 col-md-2 col-12 form-inline" style="margin-top: 3rem">
                    <p>
                        <router-link to="/create-course" class="btn btn-pills btn-primary mt-2 mr-2">Thêm</router-link>
                    </p>
                </div>
                <div class="table-responsive bg-white shadow rounded mt-4">
                    <table class="table mb-0 table-center">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Tên khóa học</th>
                                <th scope="col">Tên chủ đề</th>
                                <th scope="col">Mô tả khóa học</th>
                                <th scope="col" class="text-center">Số lượng bài học</th>
                                <th scope="col" style="width:5%"></th>
                                <th scope="col" style="width:5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(course,i) in displayCourse" :key="i">    
                                <td class="cursor" scope="col" @click="courseDetail(course.id)">{{ course.title }}</td>
                                <td class="cursor" scope="col" @click="courseDetail(course.id)">{{ course.group.name }}</td>
                                <td class="cursor" scope="col" @click="courseDetail(course.id)" v-if="course.description.length > 30">{{ course.description.slice(0, 50) + "..." }}</td>
                                <td class="cursor" scope="col" @click="courseDetail(course.id)" v-else>{{ course.description }}</td>
                                <td class="cursor text-center" scope="col" @click="courseDetail(course.id)">{{ course.lessons.length }}</td>
                                <!-- <td scope="col">
                                    <input class="btn btn-pills btn-danger mt-2 mr-2" type="button" value="Xóa" :disabled="course.createdBy != mentorId" @click="deleteCourse(course.id, i)" />
                                </td> -->
                                <td>
                                    <!-- <input class="btn btn-pills btn-secondary mt-2 mr-2" type="button" value="Sửa" :disabled="course.createdBy != mentorId" @click="modifyCourse(course.id)" /> -->
                                    <a>
                                        <img @click="modifyCourse(course.id, i)" class="cursor" style="width:20px;  border: 0px solid" src="https://img.icons8.com/ios/50/000000/create-new.png" />
                                    </a>
                                </td>
                                <td class="text-center small"><i style="cursor: pointer; border: 0px solid" @click="deleteCourse(course.id, i)" class="mdi mdi-24px mdi-delete-forever cursor"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-center" style="border:0px solid">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-left mb-0">
                            <li class="page-item" @click="scrollToTop($event)">
                                <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                            </li>
                            <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                <span v-if="page != 1">
                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                </span>
                                <span v-if="page == 1">
                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                </span>
                            </li>
                            <li class="page-item" @click="scrollToTop($event)">
                                <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                            </li>
                        </ul>
                    </nav>
                    <!-- <p>Tổng số bản ghi: {{courses.length}}</p> -->
                </div>
                <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                    <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
                    <p v-if="(page < pages.length) && (courses.length > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{courses.length}} bản ghi</p>
                    <p v-if="(page == pages.length) && (courses.length > 10) && (pages.length*10 - courses.length !=9)">Từ: {{(page*10)-(10-1)}} - {{courses.length}} trong tổng số {{courses.length}} bản ghi</p>
                    <p v-if="(page == pages.length) && (courses.length > 10) && ((pages.length*10 - courses.length ==9))">Bản ghi thứ {{courses.length}} trong tổng số {{courses.length}} bản ghi</p>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--enc container-->
    </section>
    <!--end section-->
    <!-- About End -->

    <!-- Partners End -->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<script>
import {
    ArrowUpIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
    data() {
        return {
            courses: [],
            delete: "",
            groupId: "-1",
            groups: {},
            selectedGroupId: -1,
            mentorId: "",
            page: 1,
            perPage: 10,
            pages: [],
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            Swal.fire({
              title: 'Đang tải dữ liệu...',
              html: 'Đợi trong giây lát...',
              allowEscapeKey: false,
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading()
              }
            });
            const token = localStorage.getItem("token");
            this.mentorId = localStorage.getItem("userId");
            if (token === null) {
                this.$router.push('/auth-login')
            } else {
                const response = await axios
                    .post("Courses/GetListCourse", {
                        groupId: this.groupId,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        this.courses = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
                axios
                    .get("Group/GetListGroupForSearchCourse", {
                        headers: {
                            'Authorization': 'Bearer ' + token
                        }
                    })
                    .then((res) => {
                        Swal.close();
                        this.groups = res.data;
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            window.scrollTo(0, 0);
        },
        courseDetail: function (id) {
            localStorage.setItem("courseId", id);
            this.$router.push({
                name: "LearnerCourseDetail",
            });
        },
        deleteCourse: function (id, index) {
            if (this.displayCourse[index].createdBy != this.mentorId) {
                this.$swal.fire({
                    title: "Bạn không phải là người tạo khóa học",
                    showCancelButton: false,
                    showConfirmButton: false,
                    timer: 3500,
                    toast: true,
                    position: 'top-end',
                    icon: 'error'
                })
                return
            }
            const token = localStorage.getItem("token");
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    axios
                        .post("Courses/DeleteCourse", {
                            courseId: id,
                        }, {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        })
                        .then((res) => {
                            if (res) {
                                this.courses.splice(index, 1);
                                this.$swal.fire({
                                    title: "Xóa thành công",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 3000,
                                    toast: true,
                                    position: "top-end",
                                    icon: "success",
                                });
                                this.setPage();
                                if (this.pages.length < this.page) {
                                    this.page--
                                }
                            }
                        })
                        .catch((res) => {});
                }
            });
        },
        onChange(event) {
            const token = localStorage.getItem("token");
            this.selectedGroupId = event.target.value;
            axios
                .post("Courses/GetListCourse", {
                    groupId: this.selectedGroupId,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.courses = res.data;
                    this.page = 1
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        modifyCourse: function (id, i) {
            if (this.displayCourse[i].createdBy != this.mentorId) {
                this.$swal.fire({
                    title: "Bạn không phải là người tạo khóa học",
                    showCancelButton: false,
                    showConfirmButton: false,
                    timer: 3500,
                    toast: true,
                    position: 'top-end',
                    icon: 'error'
                })
                return
            }
            localStorage.setItem("courseId", id);
            this.$router.push({
                name: "ModifyCourse",
            });
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.courses.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(courses) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return courses.slice(from, to);
        },
    },
    computed: {
        displayCourse() {
            return this.paginate(this.courses)
        }

    },
    watch: {
        courses() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    },
};
</script>

<style>
.cursor {
    cursor: pointer;
}

button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}

.offset {
    width: 500px !important;
    margin: 20px auto;
}

.active {
    background-color: #2F55D4;
    color: #ffffff;
}

.active:target {
    display: block !important;
}

button.page-link.active {
    color: cornsilk !important;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.table td,
.table th {
    vertical-align: middle;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
