<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-matrix">Ma trận đề</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết ma trận</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Job apply form Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group position-relative">
                                            <p><b>Tên: </b>{{matrix.name}}</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-3">
                                        <div class="form-group position-relative">
                                            <p><b>Số câu:</b> {{matrix.total}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" style="min-width: 300px;">Chủ đề</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Độ khó</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Số câu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item,i) in matrix.matrixLines" :key="i">
                                                            <td class="small">{{item.group.name}}</td>
                                                            <td v-if="item.questionLevel==1" class="text-center small"> Khó</td>
                                                            <td v-if="item.questionLevel==2" class="text-center small"> Trung bình</td>
                                                            <td v-if="item.questionLevel==3" class="text-center small"> Dễ</td>
                                                            <td v-if="item.questionLevel==0" class="text-center small"> Chưa set</td>
                                                            <td class="text-center small"> {{item.numberQuestion}}</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="mt-4" id="submit">
                                    <a @click="gotoEdit" href="/edit-matrix" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</a>
                                    <a @click="deleteMatrix" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            matrix: {
                name: '',
                matrixLines: []
            },
            selected: [],
            // selectAll: false,
            matrixId: parseInt(localStorage.getItem('matrixId'))
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/Matrix/ViewMatrixDetail', {
                matrixId: this.matrixId,
            }).then((res) => {
                this.matrix = res.data
            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        async deleteMatrix() {
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    this.selected.push(this.matrixId)
                    axios.post('/Matrix/DeleteMatrix', {
                        listMatrixId: this.selected
                    }, {
                        headers: {
                            Authrization: "Bearer " + localStorage.getItem("token"),
                        }
                    }).then(res => {
                        if (res) {
                            this.$swal.fire({
                                title: 'Xóa thành công',
                                showCancelButton: false,
                                showConfirmButton: false,
                                timer: 3000,
                                toast: true,
                                position: 'top-end',
                                icon: 'success'
                            })
                            this.$router.push('/manager-matrix')
                        }
                    })
                }
            });
        },
        gotoEdit: function () {

            localStorage.setItem("total", this.matrix.total)
            this.$router.push({
                name: 'EditMatrix'
            })
        }
    },
};
</script>
<style scoped>
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
