<template>
<div class="flex-wrapper">

    <!-- Hero End -->
    <Navbarnew :nav-light="true" />
    <!-- Profile Start -->
    <section class="section mt-60">
        <div class="container mt-lg-3">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-12 d-lg-block d-none">
                    <div class="sidebar sticky-bar p-4 rounded shadow">

                        <div class="widget">
                            <div class="row">
                                <div class="col-12 mt-4 pt-2">
                                    <router-link to="/manager-account" class="accounts  rounded d-block shadow text-center py-3">
                                        <span class="pro-icons h3 text-muted"><i class="uil uil-dashboard"></i></span>
                                        <h6 class="title text-dark h6 my-0">Admin</h6>
                                    </router-link>
                                </div>
                                <!--end col-->

                                <div class="col-12 mt-4 pt-2">
                                    <router-link to="/managerLst-account" class="accounts rounded d-block shadow text-center py-3">
                                        <span class="pro-icons h3 text-muted"><i class="uil uil-users-alt"></i></span>
                                        <h6 class="title text-dark h6 my-0">Manager</h6>
                                    </router-link>
                                </div>
                                <!--end col-->

                                <div class="col-12 mt-4 pt-2">
                                    <router-link to="/mentor-account" class="accounts active rounded d-block shadow text-center py-3">
                                        <span class="pro-icons h3 text-muted"><i class="uil uil-file"></i></span>
                                        <h6 class="title text-dark h6 my-0">Mentor</h6>
                                    </router-link>
                                </div>
                                <!--end col-->

                                <div class="col-12 mt-4 pt-2">
                                    <router-link to="/learner-account" class="accounts rounded d-block shadow text-center py-3">
                                        <span class="pro-icons h3 text-muted"><i class="uil uil-envelope-star"></i></span>
                                        <h6 class="title text-dark h6 my-0">Learner</h6>
                                    </router-link>
                                </div>
                                <!--end col-->

                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>

                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-10 col-12">

                    <div class="row align-items-center " style="margin-bottom: 3%;">
                        <div class="col-lg-3">
                            <a href="/create-account" @click="setRoleAdd" class="btn btn-pills btn-primary mt-2 mr-2">Tạo</a>
                            <a @click="confirmDelete" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="card border-0 sidebar">
                                <div class="widget">
                                    <div id="search2" class="widget-search">
                                        <form role="search" method="get" id="searchform" class="searchform">
                                            <div>
                                                <input type="text" class="border rounded" name="s" id="s" v-model="keyword" v-on:keyup="getUsers(0)" placeholder="Nhập để tìm kiếm...">
                                                <input type="submit" id="searchsubmit" value="Search">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form custom-form">
                                <div class="form-group mb-0">
                                    <select class="form-control custom-select" id="Sortbylist-job" @change="onChange($event)">
                                        <option value="1">Sắp xếp theo tên (A-Z)</option>
                                        <option value="2">Sắp xếp theo tên (Z-A)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rounded shadow p-4">

                        <div class="row projects-wrapper">
                            <span v-if="listDeleteNull" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn tài khoản muốn xóa</span>

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:5%; text-align: center">
                                            <input type="checkbox" v-model="selectAll" @click="selectItem" />
                                        </th>
                                        <th style="width:30%">Tên</th>
                                        <th>Tài khoản</th>
                                        <!-- <th>Email</th> -->
                                        <th>Số điện thoại</th>
                                        <th style="text-align: center">Trạng thái</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(u,i) in displayedUsers" :key="i">
                                        <th scope="col" style="width:5%; text-align: center">
                                            <input type="checkbox" :value="u.id" v-model="selected" />
                                        </th>
                                        <td> <a href="javascript: void(0);" @click="viewEditProfile(u.id)" v-b-modal.viewProfile data-target="#viewProfile" class="forum-title text-primary font-weight-bold"> {{u.fullName}}</a>
                                        </td>
                                        <td> {{u.account}}</td>
                                        <!-- <td> {{u.email}}</td> -->
                                        <td v-if="u.phone !== null">{{u.phone.substring(0,4)}} {{u.phone.substring(4,7)}} {{u.phone.substring(7,10)}}</td>
                                        <td v-if="u.phone === null "></td>
                                        <td>
                                            <div class="custom-control custom-switch" style="text-align: center">
                                                <div class="form-group mb-0">
                                                    <input type="checkbox" :id="u.id" :value="u.id" :checked="u.loginState==1" @change="onChangeState($event)" class="custom-control-input">
                                                    <label class="custom-control-label" :for="u.id"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" @click="viewEditProfile(u.id)" v-b-modal.viewProfile data-target="#viewProfile">
                                                <img style="width:15px;" src="https://img.icons8.com/ios/50/000000/create-new.png" />
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <!--end col-->
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
                            <p v-if="(page < pages.length) && (sumOfUsers > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{sumOfUsers}} bản ghi</p>
                            <p v-if="(page == pages.length) && (sumOfUsers > 10) && (pages.length*10 - sumOfUsers !=9)">Từ: {{(page*10)-(10-1)}} - {{sumOfUsers}} trong tổng số {{sumOfUsers}} bản ghi</p>
                            <p v-if="(page == pages.length) && (sumOfUsers > 10) && ((pages.length*10 - sumOfUsers ==9))">Bản ghi thứ {{sumOfUsers}} trong tổng số {{sumOfUsers}} bản ghi</p>
                        </div>
                    </div>
                </div>
                <div>
                    <b-modal id="viewProfile" v-if="isShownViewEditProfile" :hide-footer="true" size="lg" :title="title" centered>
                        <div class="bg-white rounded box-shadow">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <div class="border-bottom pb-4">
                                        <div class="row">
                                            <div class="col-md-6 pt-2 pt-sm-0">
                                                    <div class="media align-items-center mt-3">
                                                        <mail-icon class="fea icon-ex-md text-muted mr-3"></mail-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Email :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{ this.informationMentor.email}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <users-icon class="fea icon-ex-md text-muted mr-3"></users-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Tên đăng nhập :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{ this.informationMentor.account}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="media align-items-center mt-3">
                                                        <gift-icon class="fea icon-ex-md text-muted mr-3"></gift-icon>
                                                        <div class="media-body">
                                                            <h6 class="text-primary mb-0">Ngày sinh :</h6>
                                                            <a href="javascript:void(0)" class="text-muted">{{this.informationMentor.birthdate | formatDate2}}</a>
                                                        </div>
                                                    </div>
                                            </div>

                                            <div class="col-md-6 pt-2 pt-sm-0">
                                                <div class="media align-items-center mt-3">
                                                    <users-icon class="fea icon-ex-md text-muted mr-3"></users-icon>
                                                    <div class="media-body">
                                                        <h6 class="text-primary mb-0">Họ tên :</h6>
                                                        <a href="javascript:void(0)" class="text-muted">{{ this.informationMentor.fullName}}</a>
                                                    </div>
                                                </div>
                                                <div class="media align-items-center mt-3">
                                                    <phone-icon class="fea icon-ex-md text-muted mr-3"></phone-icon>
                                                    <div class="media-body">
                                                        <h6 class="text-primary mb-0">Số điện thoại :</h6>
                                                        <a href="javascript:void(0)" class="text-muted">{{ this.informationMentor.phoneNumber}}</a>
                                                    </div>
                                                </div>
                                                <div class="media align-items-center mt-3">
                                                    <home-icon class="fea icon-ex-md text-muted mr-3"></home-icon>
                                                    <div class="media-body">
                                                        <h6 class="text-primary mb-0">Đôi nét về bản thân :</h6>
                                                        <a href="javascript:void(0)" class="text-muted">{{ this.informationMentor.description}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
<!--                                    <input @click="close" tyle="button" id="submit" style="width: 90px" name="send" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">-->
                                    <a @click="edit" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</a>
                                    <a @click="close" class="btn btn-pills btn-danger mt-2 mr-2">Thoát</a>
                                </div>
                            </div>
                        </div>
                    </b-modal>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<script>
import axios from 'axios';
import Multiselect from 'vue-multiselect'
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import {
    SearchIcon
} from "vue-feather-icons";
import {
    ArrowUpIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    GithubIcon,
    YoutubeIcon,
    GitlabIcon,
    MailIcon,
    UserPlusIcon,
    UsersIcon,
    MessageCircleIcon,
    BellIcon,
    ToolIcon,
    PhoneIcon,
    BookmarkIcon,
    ItalicIcon,
    GlobeIcon,
    GiftIcon,
    MapPinIcon,
    HomeIcon
} from 'vue-feather-icons';
import Swal from "sweetalert2";
import moment from 'moment'
import Vue from 'vue'

Vue.filter('formatDate2', function (value) {
    if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
    }
});
export default {
    components: {
        Navbarnew,
        Switcher,
        Footer,
        Multiselect,
        SearchIcon,
        ArrowUpIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        GithubIcon,
        YoutubeIcon,
        GitlabIcon,
        MailIcon,
        UserPlusIcon,
        UsersIcon,
        MessageCircleIcon,
        BellIcon,
        ToolIcon,
        PhoneIcon,
        BookmarkIcon,
        ItalicIcon,
        GlobeIcon,
        GiftIcon,
        MapPinIcon,
        HomeIcon
    },
    data() {
        return {
            users: [],
            page: 1,
            perPage: 10,
            pages: [],
            keyword: '',
            selected: [],
            selectAll: false,
            sumOfUsers: 0,
            listDeleteNull: false,
            id: [],
            sort: 1,
            type: null,
            roleId: localStorage.getItem("role"),
            idEdit: 0,
            title: '',
            isShownViewEditProfile: false,
            informationMentor: {
                fullName: '',
                email: '',
                birthdate: '',
                phoneNumber: '',
                account: '',
                description: '',
                role: ''
            },
        }
    },
    created: function () {
      let roleId = localStorage.getItem("role")
      let role = parseInt(roleId)
      if (roleId === null) {
        this.$router.push("/auth-login")
      } else if (role === 2 || role === 3 || role === 4) {
        this.$router.push("/page-not-found")
      } else {
        this.getUsers(1);
      }
    },
    methods: {
        setRoleAdd() {
          const roleAdd = 'mentor'
          localStorage.setItem('roleAdd', roleAdd)
        },
        edit() {
            localStorage.setItem('idEdit', this.idEdit)
            localStorage.setItem('userRole', this.informationMentor.role)
            this.$router.push({
                name: 'EditAccountAdmin'
            })
        },
        viewEditProfile(idEdit) {
            this.idEdit = 0
            this.isShownViewEditProfile = true
            this.title = 'Thông tin tài khoản'
            this.idEdit = idEdit
            const response = axios.post('/Admin/ViewMentorProfile', {
                id: this.idEdit
            }, {
                headers: {
                    'Authorization': "Bearer " + localStorage.getItem("token"),
                }
            }).then(res => {
                if (res) {
                    this.informationMentor = res.data
                }
            })

        },
        closeViewEditProfile() {
            this.isShownViewEditProfile = false
        },
        close() {
            this.isShownViewEditProfile = false
        },
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            this.selectAll = false
            this.selected = []
            window.scrollTo(0, 0);
        },
        getUsers(status) {
            if(status === 1) {
              Swal.fire({
                title: 'Đang tải dữ liệu...',
                html: 'Chờ trong giây lát...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                didOpen: () => {
                  Swal.showLoading()
                }
              });
            }
            axios.post('GetAllMentor', {
                keyword: this.keyword,
                roleId: 3,
                sort: this.sort
            }, {
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
            }).then((res) => {
                Swal.close();
                this.users = res.data
                this.sumOfUsers = this.users.length
            }).catch(err => {
              Swal.close();
              console.log(err)
            })

        },
        setPage() {
            this.pages = []
            let numberOfPages = Math.ceil(this.users.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(users) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return users.slice(from, to);
        },
        addTag(newTag) {
            const tag = {
                name: newTag,
                code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
            }
            this.options.push(tag)
            if (this.value === null) {}
            this.value = newTag
        },
        selectItem() {
            this.selected = [];
            if (!this.selectAll) {
                for (let i in this.users) {
                    this.selected.push(this.users[i].id);
                }
            } else {}
        },
        confirmDelete() {
            if (this.selected.length > 0) {
                this.listDeleteNull = false
                this.$swal.fire({
                    title: 'Thông báo!',
                    text: "Dữ liệu sẽ mất sau khi bị xóa",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Thoát'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/DeleteMultipleUser', {
                            ids: this.selected
                        }, {
                            headers: {
                                'Authorization': "Bearer " + localStorage.getItem("token"),
                            }
                        }).then(res => {
                            if (res) {
                                for (let i = 0; i < this.selected.length; i++) {
                                    for (let j = 0; j < this.users.length; j++) {
                                        if (this.selected[i] === this.users[j].id) {
                                            this.users.splice(j, 1)
                                        }
                                    }
                                }
                                this.selectAll = false
                                this.selected = []
                                this.$swal.fire({
                                    title: "Xóa thành công",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 3000,
                                    toast: true,
                                    position: "top-end",
                                    icon: "success",
                                });
                                this.setPage();
                                if (this.pages.length < this.page) {
                                    this.page--
                                }
                                this.sumOfUsers = this.users.length
                            }
                        })

                    }
                });
            } else {
                this.listDeleteNull = true
            }
        },
        async deleteAccount() {

            if (this.selected.length > 0) {} else {}
            const response = await axios.post('/DeleteMultipleUser', {
                ids: this.selected
            }, {
                headers: {
                    'Authorization': "Bearer " + localStorage.getItem("token")
                }
            }).then(res => {
                if (res) {

                    let indexOfItem = []
                    for (let i = 0; i < this.selected.length; i++) {
                        for (let j = 0; j < this.users.length; j++) {
                            if (this.selected[i] === this.users[j].id) {
                                indexOfItem.push(j)
                            }
                        }
                    }
                    for (let k = 0; k < indexOfItem.length; k++) {
                        this.users.splice(indexOfItem[k], indexOfItem[k])
                    }
                }
            })
        },
        async getAccountById() {
            const response = await axios.post('/Users/GetUserById', {
                id: 4
            }, {
                headers: {
                    'Authorization': "Bearer " + localStorage.getItem("token"),
                }
            }).then(res => {
                if (res) {}
            })
        },
        onChangeState(event) {
            this.id = event.target.value;
            this.type = event.target.checked;

            axios.post('/Admin/UpdateLoginState', {
                id: this.id,
                type: this.type
            }).then((res) => {})
        },
        onChange(event) {
            this.sort = event.target.value;
            this.getUsers(0);
        },
    },
    computed: {
        displayedUsers() {
            return this.paginate(this.users)
        }
    },
    watch: {
        users() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
}
</script>

<style>
button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}

.offset {
    width: 500px !important;
    margin: 20px auto;
}

.active {
    background-color: #2F55D4;
    color: #ffffff;
}

.active:target {
    display: block !important;
}

button.page-link.active {
    color: cornsilk !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
