<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>

    </section>
    <section>
        <div class="container"  style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/mentor-list-lesson">Quản lý bài học</router-link>

                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <router-link to="/mentor-lesson-detail">Chi tiết bài học</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">
                                Sửa bài học
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container" style="border: 1px darkgray; margin-top: -70px; margin-bottom: -70px">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Tên bài học:</label>
                                            <input class="form-control" v-model="name" type="text" autocomplete="off" name="name" :class="{ 'is-invalid': submitted && $v.name.$error }">
                                            <div v-if="submitted && $v.name.$error" class="invalid-feedback">
                                                <span v-if="!$v.name.required">Không để trống tên bài học</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-group position-relative">
                                            <label>Video:</label>
                                            <input class="form-control" v-model="videoUrl" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group position-relative">
                                            <label>Số thứ tự:</label>
                                            <input class="form-control" v-model="sequence" type="number" />
                                            <p />
                                        </div>
                                    </div>
                                    <div class=" col-md-12 pt-3">
                                        <div>
                                            <label>Nội dung :</label>
                                            <ckeditor id="ckeditor" :editor="editor" @ready="onReadyOfContent" v-model="content" :config="editorConfig"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-3">
                                        <div class=" ">
                                            <label>Miêu tả :</label>
                                            <ckeditor id="ckeditorDescription" :editor="editorDescription" @ready="onReadyOfDescription" v-model="description" :config="editorConfig"></ckeditor>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-sm-12">
                                        <span v-if="isNull" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Không được để trống cả video và nội dung ( cần có 1 trong 2 hoặc cả 2)</span>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-sm-6">
                                        <input type="button" id="submit" name="send" class="btn btn-pills btn-primary mt-2 mr-2" @click="save" value="Lưu">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from "axios";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import MyUploadAdapter from "../components/ckeditor/MyUploadAdapter"
import {
    required
} from 'vuelidate/lib/validators'

/**
 * Index-course component
 */
export default {
    data() {
        return {
            lesson: {},
            name: '',
            videoUrl: '',
            content: '',
            description: '',
            sequence: 0,
            lessonId: localStorage.getItem('lessonId'),
            courseId: localStorage.getItem('courseId'),
            courseTitle: localStorage.getItem("courseTitle"),
            editor: ClassicEditor,
            editorConfig: {},
            editorDescription: ClassicEditor,
            submitted: false,
            isNull: false
        };
    },
    validations: {
        name: {
            required
        }
    },
    components: {
        Navbarnew,
        Footer,
        ArrowUpIcon,
        ckeditor: CKEditor.component
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem("token");
            const response = await axios.post('/Lesson/GetLessonById', {
                    lessonId: this.lessonId,
                })
                .then((res) => {
                    this.lesson = res.data
                    this.name = this.lesson.name,
                        this.videoUrl = this.lesson.videoUrl,
                        this.content = this.lesson.content,
                        this.description = this.lesson.description,
                        this.sequence = this.lesson.sequence

                }).catch((err) => {
                    console.log(err)
                })
        }
    },
    methods: {
        onReadyOfContent(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        onReadyOfDescription(editorDescription) {
            editorDescription.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        save() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            } else if (this.videoUrl == '' && this.content == '') {
                this.isNull = true
            } else {
                this.isNull = false
                const token = localStorage.getItem("token");
                const response = axios.put("Lesson", {
                    name: this.name,
                    videoUrl: this.videoUrl,
                    content: this.content,
                    description: this.description,
                    sequence: this.sequence,
                    lessonId: this.lessonId,
                    courseId: this.courseId
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                }).then(res => {
                    if (res) {
                        this.$swal.fire({
                            title: 'Sửa thành công',
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 3000,
                            toast: true,
                            position: 'top-end',
                            icon: 'success'
                        })
                        this.$router.push('/mentor-lesson-detail')
                    }
                })
            }
        },
    },
};
</script>

<style>
figure.image.image-style-side {
    float: right;
    width: 400px;
    margin-left: 1.5em
}
figure.image.image-style-side img {
    width: 400px;
    height: auto;
}
figure.image img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p img {
    width: 400px;
    height: auto;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
