<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>

    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/mentor-list-lesson">Quản lý bài học</router-link>

                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background-color: white; color: #2F55D4">
                                Chi tiết bài học
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container" style="border: 1px darkgray; margin-top: -70px; margin-bottom: -70px">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="position-relative">
                                            <b style="display:inline">Tên bài học: </b>
                                            <small style="display:inline"> {{lesson.name}}</small>
                                            <p />
                                        </div>
                                        <div class="position-relative">
                                            <b style="display:inline">Khóa học: </b>
                                            <small style="display:inline">{{lesson.course.title}}</small>

                                            <p />
                                        </div>
                                        <div class="position-relative">
                                            <b style="display:inline">Số thứ tự: </b>
                                            <small style="display:inline">{{lesson.sequence}}</small>

                                            <p />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative">
                                            <b>Video:</b>
                                            <!-- <iframe width="800" height="500" v-bind:src="lesson.videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                            <video-embed :params="{autoplay: 1}" v-bind:src="lesson.videoUrl" class="img-fluid rounded-top"></video-embed>
                                            <!-- <video style="width:800px" controls >
                                                <source src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1" type="video/mp4" />
                                                Your browser does not support the video tag.
                                            </video> -->
                                            <p />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative">
                                            <b>Nội dung :</b>
                                            <small v-html="lesson.content">
                                            </small>
                                            <p />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative">
                                            <b>Miêu tả</b>
                                            <small v-html="lesson.description">

                                            </small>
                                            <p />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mt-4" id="submit">
                                        <a href="/mentor-modify-lesson" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</a>
                                        <a @click="deleteLesson" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                                        <a @click="createQuiz" class="btn btn-pills btn-info mt-2 mr-2" v-if="quizId == -1">Tạo bài kiểm tra</a>
                                        <a @click="viewQuiz" class="btn btn-pills btn-info mt-2 mr-2" v-if="quizId != -1">Xem bài kiểm tra</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import Vue from 'vue'
import Embed from 'v-video-embed'
import axios from "axios";
Vue.use(Embed);

/**
 * Index-course component
 */
export default {
    data() {
        return {
            lesson: {
                course: {
                    title: ''
                }
            },
            lessonId: localStorage.getItem('lessonId'),
            courseTitle: localStorage.getItem("courseTitle"),
            quizId: -1,
            selected: []
        };
    },
    components: {
        Navbarnew,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem("token");
            const response = await axios.post('/Lesson/GetLessonById', {
                    lessonId: this.lessonId,
                })
                .then((res) => {
                    this.lesson = res.data;
                    localStorage.setItem("lessonName", this.lesson.name);
                })
            axios.post('/MentorFeatures/GetQuizByLessonId', {
                    lessonId: this.lessonId,
                })
                .then((res) => {
                    this.quizId = res.data;
                })
        }
    },
    methods: {
        deleteLesson() {
            let select = []
            select.push(this.lesson.id)
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    axios.post('/Lesson/DeleteLesson', {
                        lessonId: select
                    }, {
                        headers: {
                            'Authorization': "Bearer " + localStorage.getItem("token"),
                        }
                    }).then(res => {
                        if (res) {
                            this.selectAll = false
                            this.selected = []
                            this.$swal.fire({
                                title: "Xóa bài học thành công",
                                showCancelButton: false,
                                showConfirmButton: false,
                                timer: 3000,
                                toast: true,
                                position: "top-end",
                                icon: "success",
                            });
                            this.$router.push('/mentor-list-lesson')
                        }
                    })

                }
            });
        },
        createQuiz() {
            localStorage.setItem("isQuizOfLesson", 1);
            this.$router.push('/create-quiz');
        },
        viewQuiz() {
            localStorage.setItem("isQuizOfLesson", 1);
            localStorage.setItem("quizId", this.quizId);
            this.$router.push('/mentor-quiz-detail');
        },
    }
};
</script>
<style scoped>
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
