<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <!-- Hero Start -->
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0" v-if="isQuizOfLesson == 1">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/mentor-list-lesson">Quản lý bài học</router-link>

                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/mentor-lesson-detail">Chi tiết bài học</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">
                                Chi tiết bài kiểm tra
                            </li>
                        </ul>
                        <ul class="breadcrumb bg-white rounded shadow mb-0" v-else>
                            <li class="breadcrumb-item">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">
                                Chi tiết bài kiểm tra
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!--end section-->
    <!-- Hero End -->

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <!--end row-->
                    <div class="row">
                        <div class="col-md-12 ml-lg-4 border-bottom" v-for="(quizQuestion, i) in quizQuestions" :key="i">
                            <div class="border-bottom">
                                <h5 class="mt-4">Câu {{quizQuestion.titleNumber}} </h5>
                                <div class="form-group position-relative">
                                    <p v-html="quizQuestion.content"></p>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="mt-4">
                                    <div class="custom-control custom-checkbox" v-for="(quizSelection, i) in quizQuestion.quizSelections" :key="i">
                                        <div class="row">
                                            <div class="col-md-11 form-group mb-2">
                                                <input type="checkbox" id="Q1A" class="custom-control-input" disabled :checked="quizSelection.isTrue == true">
                                                <label class="custom-control-label" v-html="quizSelection.content"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <a @click="modifyQuiz()" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</a>
                        <a @click="deleteQuiz()" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
    </section>
    <!--end section-->
    <!-- End Section -->

    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon,
    FilePlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
    data() {
        return {
            quizId: localStorage.getItem("quizId"),
            isQuizOfLesson: localStorage.getItem("isQuizOfLesson"),
            quizQuestions: [{
                quizSelections: [],
            }],
            courseTitle: localStorage.getItem("courseTitle"),
            lessonName: localStorage.getItem("lessonName"),
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon,
        FilePlusIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/MentorFeatures/ViewQuiz', {
                quizId: this.quizId,
            }).then((res) => {
                this.quizQuestions = res.data.quizQuestions;
            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        modifyQuiz() {
            localStorage.setItem("quizId", this.quizId);
            this.$router.push({
                name: "EditQuiz",
            });
        },
        deleteQuiz() {
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    axios.post('/MentorFeatures/DeleteQuiz', {
                        id: this.quizId
                    }, {
                        headers: {
                            Authrization: "Bearer " + localStorage.getItem("token"),
                        }
                    }).then(res => {
                    
                    })
                    if (this.isQuizOfLesson == 1) {
                        localStorage.removeItem("isQuizOfLesson");
                        this.$router.push('/mentor-lesson-detail');
                    } else {
                        localStorage.removeItem("isQuizOfLesson");
                        this.$router.push('/learner-course-detail');
                    }
                }
            });
        }
    },
};
</script>
<style>
figure.image.image-style-side {
    float: right;
    width: 300px;
    margin-left: 1.5em
}
figure.image.image-style-side img {
    width: 300px;
    height: auto;
}
figure.image img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p img {
    width: 300px;
    height: auto;
}
label.custom-control-label figure.image img {
    width: 150px;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
