<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-course">Quản lý khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link to="/learner-course-detail">Chi tiết khóa học</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background-color:white">Quản lý bài học</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container" style="border: 1px darkgray; margin-top: -70px; margin-bottom: -70px">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="card border-0 sidebar sticky-bar rounded shadow">
                        <div class="card-body">
                            <div class="widget mb-4 pb-2">
                                <h4 class="widget-title">Tìm kiếm</h4>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="border rounded" name="s" id="s" v-model="name" v-on:keyup="search" placeholder="Nhập để tìm kiếm...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-6" style="border: 1px darkgray; margin-top: -22px; margin-bottom: 100px">
                    <div class="row">
                        <div class="col-lg-12 col-md-12" style="margin-left:-5px">
                            <div class="row align-items-center;">
                                <div class="col-lg-3 col-md-11 col-11 form-inline" style="border: 0px solid; ">
                                    <div class="mt-4" id="submit">
                                        <a href="/mentor-create-lesson" class="btn btn-pills btn-primary mt-2 mr-2">Tạo</a>
                                        <a @click="deleteLesson" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive bg-white shadow rounded mt-4">
                            <span v-if="listDeleteNull" style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn bài học muốn xóa</span>
                            <table class="table mb-0 table-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" style="text-align: center;">
                                            <input type="checkbox" v-model="selectAll" @click="selectItem" />
                                        </th>
                                        <th scope="col">Tên bài học</th>
                                        <th scope="col" class="text-center">Miêu tả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(lesson,i) in displayLesson" :key="i">
                                        <td scope="col" style="text-align: center;">
                                            <input type="checkbox" :value="lesson.id" v-model="selected" />
                                        </td>
                                        <td @click="lessonDetail(lesson.id)" style="cursor: pointer">
                                            {{lesson.name}}
                                        </td>
                                        <td v-html="lesson.descriptionSummary" style="max-width: 300px" class="text-center small">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left mb-0">
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" class="page-link" v-if="page > 1" @click="page--"> Trước </button>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                        <span v-if="page != 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+2)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                        <span v-if="page == 1">
                                            <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                        </span>
                                    </li>
                                    <li class="page-item" @click="scrollToTop($event)">
                                        <button type="button" @click="page++" v-if="page < pages.length && page > 0" class="page-link"> Sau </button>
                                    </li>
                                </ul>
                            </nav>
                            <p>Tổng số bản ghi: {{sumOfGroupQuestion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Multiselect from 'vue-multiselect'

/**
 * Index-course component
 */
export default {
    data() {
        return {
            lesson: [],
            courseId: localStorage.getItem("courseId"),
            courseTitle: localStorage.getItem("courseTitle"),
            sort: 'Descending',
            levels: [],
            page: 1,
            perPage: 10,
            pages: [],
            name: '',
            selected: [],
            selectAll: false,
            sumOfGroupQuestion: 0,
            listDeleteNull: false

        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        Multiselect
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 2 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/Lesson/SearchLesson', {
                courseId: this.courseId,
                name: this.name,
                sort: this.sort
            }).then((res) => {
                let listFormDb = res.data
                for (let i = 0; i < listFormDb.length; i++) {
                    this.lesson.push({
                        id: listFormDb[i].id,
                        name: listFormDb[i].name,
                        videoUrl: listFormDb[i].videoUrl,
                        content: listFormDb[i].content,
                        description: listFormDb[i].description,
                        descriptionSummary: ''
                    })
                }
                for (let i = 0; i < this.lesson.length; i++) {
                    //Tom tat mieu ta
                    let listImage = []
                    let arraySplitFirst = this.lesson[i].description.split(">")
                    let arraySplitSecond = []
                    let arraySplitThird = []
                    let arraySplitFourth = []
                    let str = this.lesson[i].description
                    let listImageForm = []
                    if (this.lesson[i].description.includes('https://tuannm53')) {
                        for (let j = 0; j < arraySplitFirst.length; j++) {
                            arraySplitFirst[j].split(">")
                            if (arraySplitFirst[j].includes('https://tuannm53')) {
                                arraySplitSecond.push(arraySplitFirst[j])
                            }
                        }
                        for (let j = 0; j < arraySplitSecond.length; j++) {
                            let arr = []
                            arr = arraySplitSecond[j].split(">")
                            if (arr.length > 0) {
                                for (let k = 0; k < arr.length; k++) {
                                    if (arr[k].includes('https://tuannm53')) {
                                        arraySplitThird.push(arr[k])
                                    }
                                }
                            }
                        }
                        for (let j = 0; j < arraySplitThird.length; j++) {
                            let arr = []
                            arr = arraySplitThird[j].split(/["]/)
                            if (arr.length > 0) {
                                for (let k = 0; k < arr.length; k++) {
                                    if (arr[k].includes('https://tuannm53')) {
                                        arraySplitFourth.push(arr[k])
                                    }
                                }
                            }
                        }
                        for (let j = 0; j < arraySplitFourth.length; j++) {
                            listImage.push(arraySplitFourth[j])
                        }
                        for (let j = 0; j < listImage.length; j++) {
                            let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                            listImageForm.push(stringImage)
                            if (this.lesson[i].description.includes(stringImage)) {
                                str = str.replace(stringImage, "")
                            }
                        }

                    }
                    let arrayFirst = []
                    arrayFirst = str.split(">")
                    let stringFinal = ''
                    for (let i = 0; i < arrayFirst.length; i++) {
                        let strrr = []
                        strrr = arrayFirst[i].split("<")
                        let strr = strrr[0]
                        stringFinal += strr
                    }
                    let imageDemo = listImageForm[0]

                    if (stringFinal.includes("&nbsp;")) {
                        stringFinal = stringFinal.split("&nbsp;").join("");
                    }
                    if (stringFinal.length > 15) {
                        stringFinal = stringFinal.substring(0, 15)
                    }
                    let count = stringFinal.length
                    if (count > 15 && listImageForm.length > 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                    } else if (count <= 15 && listImageForm.length > 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                    } else if (count > 15 && listImageForm.length == 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                    } else if (count <= 15 && listImageForm.length == 0) {
                        stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                    }
                    this.lesson[i].descriptionSummary = stringFinal

                }
                this.sumOfGroupQuestion = this.lesson.length
            })
        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            this.selectAll = false
            this.selected = []
            window.scrollTo(0, 0);
        },
        search() {
            localStorage.removeItem('lessonId');
            const token = localStorage.getItem("token");
            axios
                .post("/Lesson/SearchLesson", {
                    courseId: this.courseId,
                    name: this.name,
                    sort: this.sort

                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.lesson = []
                    let listFormDb = res.data
                    for (let i = 0; i < listFormDb.length; i++) {
                        this.lesson.push({
                            id: listFormDb[i].id,
                            name: listFormDb[i].name,
                            videoUrl: listFormDb[i].videoUrl,
                            content: listFormDb[i].content,
                            description: listFormDb[i].description,
                            descriptionSummary: ''
                        })
                    }
                    for (let i = 0; i < this.lesson.length; i++) {
                        //Tom tat mieu ta
                        let listImage = []
                        let arraySplitFirst = this.lesson[i].description.split(">")
                        let arraySplitSecond = []
                        let arraySplitThird = []
                        let arraySplitFourth = []
                        let str = this.lesson[i].description
                        let listImageForm = []
                        if (this.lesson[i].description.includes('https://tuannm53')) {
                            for (let j = 0; j < arraySplitFirst.length; j++) {
                                arraySplitFirst[j].split(">")
                                if (arraySplitFirst[j].includes('https://tuannm53')) {
                                    arraySplitSecond.push(arraySplitFirst[j])
                                }
                            }
                            for (let j = 0; j < arraySplitSecond.length; j++) {
                                let arr = []
                                arr = arraySplitSecond[j].split(">")
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitThird.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitThird.length; j++) {
                                let arr = []
                                arr = arraySplitThird[j].split(/["]/)
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitFourth.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitFourth.length; j++) {
                                listImage.push(arraySplitFourth[j])
                            }
                            for (let j = 0; j < listImage.length; j++) {
                                let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                listImageForm.push(stringImage)
                                if (this.lesson[i].description.includes(stringImage)) {
                                    str = str.replace(stringImage, "")
                                }
                            }

                        }
                        let arrayFirst = []
                        arrayFirst = str.split(">")
                        let stringFinal = ''
                        for (let i = 0; i < arrayFirst.length; i++) {
                            let strrr = []
                            strrr = arrayFirst[i].split("<")
                            let strr = strrr[0]
                            stringFinal += strr
                        }
                        let imageDemo = listImageForm[0]

                        if (stringFinal.includes("&nbsp;")) {
                            stringFinal = stringFinal.split("&nbsp;").join("");
                        }
                        if (stringFinal.length > 15) {
                            stringFinal = stringFinal.substring(0, 15)
                        }
                        let count = stringFinal.length
                        if (count > 15 && listImageForm.length > 0) {
                            stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                        } else if (count <= 15 && listImageForm.length > 0) {
                            stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                        } else if (count > 15 && listImageForm.length == 0) {
                            stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                        } else if (count <= 15 && listImageForm.length == 0) {
                            stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;"></i>'
                        }
                        this.lesson[i].descriptionSummary = stringFinal

                    }
                    this.page = 1
                    this.sumOfGroupQuestion = this.lesson.length
                })
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.lesson.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(lesson) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return lesson.slice(from, to);
        },
        selectItem() {
            this.selected = [];
            this.listDelete = []
            if (!this.selectAll) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);
                this.listDelete = this.lesson.slice(from, to)
                for (let i = 0; i < this.listDelete.length; i++) {
                    this.selected.push(this.listDelete[i].id)
                }
            }
        },
        async deleteLesson() {
            if (this.selected.length > 0) {
                this.listDeleteNull = false
                this.$swal.fire({
                    title: 'Thông báo!',
                    text: "Dữ liệu sẽ mất sau khi bị xóa",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Thoát'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/Lesson/DeleteLesson', {
                            lessonId: this.selected
                        }, {
                            headers: {
                                'Authorization': "Bearer " + localStorage.getItem("token"),
                            }
                        }).then(res => {
                            if (res) {
                                for (let i = 0; i < this.selected.length; i++) {
                                    for (let j = 0; j < this.lesson.length; j++) {
                                        if (this.selected[i] === this.lesson[j].id) {
                                            this.lesson.splice(j, 1)
                                        }
                                    }
                                }
                                this.selectAll = false
                                this.selected = []
                                this.$swal.fire({
                                    title: "Xóa thành công nhóm câu hỏi",
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    timer: 3000,
                                    toast: true,
                                    position: "top-end",
                                    icon: "success",
                                });
                                this.setPage();
                                if (this.pages.length < this.page) {
                                    this.page--
                                }
                                this.sumOfGroupQuestion = this.lesson.length
                            }
                        })
                    }
                });
            } else {
                this.listDeleteNull = true
            }
        },
        lessonDetail: function (id) {
            localStorage.removeItem('lessonId')
            localStorage.setItem('lessonId', id)
            this.$router.push({
                name: 'MentorLessonDetail'
            })
        },

    },
    computed: {
        displayLesson() {
            return this.paginate(this.lesson)
        }

    },
    watch: {
        lesson() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
figure.image.image-style-side {
    float: right;
    width: 400px;
    margin-left: 1.5em
}

figure.image.image-style-side img {
    width: 400px;
    height: 400px;
}

figure.image img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p img {
    width: 400px;
    height: 400px;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
