<template>
  <div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
      <div class="container"></div>
      <!--end container-->
    </section>
    <!--end section-->
    <!-- FEATURES END -->

    <!-- Hero Start -->
    <section
      class="bg-half bg-light d-table w-100"
      style="background-image: url('https://codelearn.io/Themes/TheCodeCampPro/Resources/Images/new-banner-detail-course.jfif');"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <div class="page-next-level">
              <div class="page-next">
                <nav aria-label="breadcrumb" class="d-inline-block">
                  <ul class="breadcrumb bg-white rounded shadow mb-0">
                    <li class="breadcrumb-item">
                      <router-link to="/">Trang chủ</router-link>
                    </li>
                    <li class="breadcrumb-item">
                      <router-link to="/manager-course">Quản lý khóa học</router-link>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#">Khóa học {{course.title}}</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- About Start -->
    <section class="section pt-0" style="margin-top: 6rem">
      <div class="container">
        <div class="row align-items-center" style="background-color: #1e2a55; color: white; border-bottom: 1px solid white;padding-bottom: 10px;">
          <div class="col-lg-6 col-md-12 col-12">
            <h2>Khóa học 1</h2>
            <div class="col-12 form-inline" >
              <div class="col-6 author">
                <img src="https://codelearn.io/CodeCamp/CodeCamp/Upload/Avatar/f9188fc0d03d4003b2451fa6a58a2892.jpg" alt="" style="width:41px;height:41px;">
                <a href=""> Trung Kiên</a>
              </div>
              <div class="col-6">Số lượng học viên: 1212</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12" style="border-right: 1px solid white; border-left: 1px solid white">
            <div><clock-icon size="1.5x" class="custom-class"></clock-icon>  Thời gian ước tính: </div>
            <div style="margin-top: 25px"><layers-icon size="1.5x" class="custom-class"></layers-icon>  Số lượng lesson: </div>
          </div>
          <div class="col-lg-2 col-md-12 col-12">
            <div><input type="button" class="btn btn-light" value="Chỉnh sửa"></div>
          </div>
        </div>
        <div class="row align-items-center" style="background-color: #1e2a55; color: white"><br>The course provides basic and understanded knowledge about computer networks and data communications to programmers.<br><br></div>
      </div>
      <!--end container-->
    </section>
    <!--end section-->
    <!-- About End -->

    <section class="section" style="margin-top: -100px">
        <div class="container">
            <div class="row projects-wrapper">
                <div class="col-lg-4 col-md-6 col-12 mb-4 pb-2">
                    <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                        <div class="card-body p-0">
                            <img src="https://thumbs.dreamstime.com/b/set-school-stationery-back-to-school-pencils-clock-notepad-ruler-yellow-background-education-lesson-set-school-stationery-132041727.jpg" class="img-fluid rounded" alt="work-image">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <router-link to="/page-work-detail" class="title text-white d-block font-weight-bold">Lesson1</router-link>
                                <small class="text-light">Studio</small>
                            </div>
                            <div class="client">
                                <small class="text-light user d-block"><i class="mdi mdi-account"></i> Số người học</small>
                                <small class="text-light date"><i class="mdi mdi-calendar-check"></i> Ngày tạo</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
        </div>
    </section>
    <section class="section" style="margin-top: -100px">
        <div class="container">
            <div class="row projects-wrapper">
                <div class="col-lg-4 col-md-6 col-12 mb-4 pb-2">
                    <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                        <div class="card-body p-0">
                            <img src="https://thumbs.dreamstime.com/b/set-school-stationery-back-to-school-pencils-clock-notepad-ruler-yellow-background-education-lesson-set-school-stationery-132041727.jpg" class="img-fluid rounded" alt="work-image">
                            <div class="overlay-work bg-dark"></div>
                            <div class="content">
                                <router-link to="/page-work-detail" class="title text-white d-block font-weight-bold">Lesson1</router-link>
                                <small class="text-light">Studio</small>
                            </div>
                            <div class="client">
                                <small class="text-light user d-block"><i class="mdi mdi-account"></i> Số người học</small>
                                <small class="text-light date"><i class="mdi mdi-calendar-check"></i> Ngày tạo</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
        </div>
    </section>
    


    <!-- Partners End -->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher /> -->
    <!-- Back to top -->
    <!-- <a
      href="javascript: void(0);"
      class="btn btn-icon btn-soft-primary back-to-top"
      id="back-to-top"
      v-scroll-to="'#topnav'"
    >
      <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
    <!-- Back to top -->
  </div>
</template>

<style scoped>
::v-deep .carousel-caption {
  display: contents;
}

::v-deep .modal-content {
  background-color: transparent;
}
</style>

<script>
import {
  ArrowUpIcon,
  MailIcon,
  PhoneIcon,
  UserIcon,
  ChevronRightIcon,
  PlayIcon,
  FacebookIcon,
  InstagramIcon,
  TwitterIcon,
  LinkedinIcon,
  ClockIcon,
  LayersIcon,
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
  data() {
    return {
      course: [],
    };
  },
  components: {
    Navbarnew,
    Switcher,
    Footer,
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    ClockIcon,
    LayersIcon,
  },
  created: async function () {
    const token = localStorage.getItem("token");
    const response = await axios
      .post("Courses/GetCourseById", {
          id: this.$route.params.id,
      })
      .then((res) => {
          this.course = res.data;
      })
      .catch((err) => {
          console.log(err);
      });
  },
};
</script>
<style>
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
