<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <!-- FEATURES START -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- FEATURES END -->

    <!-- Hero Start -->
    <section class="bg-half bg-light d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h2 class="title">Sửa chủ đề </h2>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item">
                                        <router-link to="/">Trang chủ</router-link>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <router-link to="/manager-group">Quản lý chủ đề</router-link>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#">Sửa chủ đề</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- Job apply form Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow p-4">
                                <div class="row">
                                    <div class="col-lg-3" style="margin-top: 1%">
                                        <label>Tên chủ đề :<span class="text-danger">*</span></label>

                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group">

                                            <book-open-icon style="top: 13px ;left:25px" class="fea icon-sm icons"></book-open-icon>
                                            <input id="name" v-model="name" type="text" name="name" class="form-control pl-5" :class="{ 'is-invalid': submitted && $v.name.$error }">
                                            <div v-if="submitted && $v.name.$error" class="invalid-feedback">
                                                <span v-if="!$v.name.required">Không để trống tên chủ đề</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <p style="margin-top: -9px"> <a href="javascript: void(0);" @click="save" class="btn btn-pills btn-primary mt-2 mr-2">Lưu</a>
                                            </p>
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <!--end col-->
                                </div>

                                <!--end col-->
                                <!--end row-->
                            </form>
                            <!--end form-->
                        </div>
                    </div>
                    <!--end custom-form-->
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Job apply form End -->

    <!-- Partners End -->
    <!--end section-->
    <Footer />
    <!-- Footer End -->
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    BookOpenIcon,
    Edit3Icon,
    AwardIcon,
    LinkIcon,
} from "vue-feather-icons";
import {
    Carousel,
    Slide
} from "vue-carousel";
import countTo from "vue-count-to";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Multiselect from "vue-multiselect";
import {
    required
} from "vuelidate/lib/validators";


/**
 * Index-course component
 */
export default {

    data() {
        return {
            submitted: false,

            id: localStorage.getItem('GroupId'),
            name: localStorage.getItem('GroupName')
        };
    },
    validations: {
        name: {
            required,
        },
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        Carousel,
        Slide,
        ArrowUpIcon,
        countTo,
        MailIcon,
        PhoneIcon,
        UserIcon,
        ChevronRightIcon,
        PlayIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        BookOpenIcon,
        Edit3Icon,
        AwardIcon,
        LinkIcon,
        Multiselect,
    },
    methods: {
        save() {
            this.submitted = true
            this.$v.$touch()
            if (this.$v.$invalid) {
                return
            }
            const token = localStorage.getItem("token");
            const response = axios.put("Group", {
                id: this.id,
                name: this.name

            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                if (res) {
                    this.$swal.fire({
                        title: 'Sửa thành công',
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 3000,
                        toast: true,
                        position: 'top-end',
                        icon: 'success'
                    })
                    this.$router.push('/manager-group')
                }
            }).catch(res => {

            })

        }
    }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
