<script>
import {
    HomeIcon
} from 'vue-feather-icons';

/**
 * Page-error component
 */
export default {
    data() {
        return {
            roleUser: 0,
            url: ''
        }
    },
    components: {
        HomeIcon
    },
    created: async function () {
        const role = localStorage.getItem('role')
        this.roleUser = role
        if (this.roleUser === 1 || this.roleUser === 6) {
            this.url = '/manager-account'
        } else if (this.roleUser === 2) {
            this.url = '/manager-home'
        } else if (this.roleUser === 3) {
            this.url = '/manager-course'
        } else if (this.roleUser === 4) {
            this.url = '/learner-home'
        }
    }
}
</script>

<template>
<div>
    <div class="back-to-home rounded d-none d-sm-block">
        <router-link to="/" class="btn btn-icon btn-soft-primary">
            <home-icon class="icons"></home-icon>
        </router-link>
    </div>

    <section class="bg-home d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 text-center">
                    <img src="/images/404.svg" class="img-fluid" alt="">
                    <div class="text-capitalize text-dark mb-4 error-page">Không tìm thấy trang</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- <router-link to="/" class="btn btn-outline-primary mt-4">Go Back</router-link> -->
                    <div v-if="roleUser == 1">
                        <router-link to='/manager-account' class="btn btn-pills btn-primary mt-2 mr-2">Quay lại trang chủ</router-link>
                    </div>
                    <div v-if="roleUser == 2">
                        <router-link to='/manager-home' class="btn btn-pills btn-primary mt-2 mr-2">Quay lại trang chủ</router-link>
                    </div>
                    <div v-if="roleUser == 3">
                        <router-link to='/manager-course' class="btn btn-pills btn-primary mt-2 mr-2">Quay lại trang chủ</router-link>
                    </div>
                    <div v-if="roleUser == 4">
                        <router-link to='/learner-home' class="btn btn-pills btn-primary mt-2 mr-2">Quay lại trang chủ</router-link>
                    </div>
                     <div v-if="roleUser == 6">
                        <router-link to='/manager-account' class="btn btn-pills btn-primary mt-2 mr-2">Quay lại trang chủ</router-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>
