<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />

    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" style="text-align: center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item"><a href="/manager-question">Câu hỏi</a></li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết câu hỏi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <section class="section">
        <div class="container" style="border: 1px darkgray; margin-top: -90px; margin-bottom: -90px">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-7">
                    <div class="card custom-form border-0">
                        <div class="card-body">
                            <form class="rounded shadow-lg p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <h6>Đề bài: </h6>
                                            <p v-html="question.content"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h6>Chủ đề : </h6>
                                                </div>
                                                <div class="col-md-8">{{question.group.name}}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative">
                                            <h6 v-if="question.levelId === 3">Độ khó : Dễ</h6>
                                            <h6 v-if="question.levelId === 2">Độ khó : Trung Bình</h6>
                                            <h6 v-if="question.levelId === 1">Độ khó : Khó</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <h6>Câu hỏi :</h6>
                                            <div class="table-responsive bg-white shadow rounded">
                                                <table class="table mb-0 table-center">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" style="min-width: 300px;">Nội dung</th>
                                                            <th scope="col" class="text-center" style="max-width: 100px;">Đúng/sai</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item, i) in listFormDb" :key="i">
                                                            <a href="javascript:void(0)" v-b-modal.viewAnswerDetail data-toggle="modal" :value="item.content" @click="dialogViewAnswerDetail(item.content)" v-html="item.contentNoImage" data-target="#viewAnswerDetail" class="text-primary font-weight-bold">
                                                            </a>
                                                            <td class="text-center ">
                                                                <i v-if="item.isTrue" class="mdi mdi-24px mdi-check-circle-outline" style="color:blue"></i>
                                                                <i v-else class="mdi mdi-24px mdi-close-circle-outline" style="color:red"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <b-modal id="viewAnswerDetail" v-if="isShowAnswerDetail" :hide-footer="true" size="xl" title="Chi tiết đáp án" centered>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-10 col-md-7">
                                                <div class="card custom-form border-0">
                                                    <div class="card-body">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group position-relative">
                                                                        <h5>Đáp án: </h5>
                                                                        <p v-html="answerDetail"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <input type="submit" id="submit" name="send" @click="closeViewAnswerDetail()" class="btn btn-pills btn-danger mt-2 mr-2" value="Thoát">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </b-modal>
                                <div class="row align-items-center">
                                    <div class="col-lg-1">
                                        <router-link to="/edit-question" class="btn btn-pills btn-primary mt-2 mr-2">Sửa</router-link>
                                    </div>
                                    <div class="col-lg-1" style="margin-left: 10px">
                                        <input class="btn btn-pills btn-danger mt-2 mr-2" type="button" @click="deleteQuestion()" value="Xóa" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
/* ::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
} */
.table td,
.table th {
    border-top: 0px;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

export default {
    data() {
        return {
            question: {
                group: {},
            },
            levels: [],
            groups: {},
            questionId: localStorage.getItem('QuestionId'),
            listFormDb: [],
            isShowAnswerDetail: false,
            answerDetail: ''
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 4 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/Question/Detail', {
                    id: this.questionId,
                })
                .then((res) => {
                    this.question = res.data
                    for (let i = 0; i < this.question.selections.length; i++) {
                        this.listFormDb.push({
                            content: this.question.selections[i].content,
                            contentNoImage: '',
                            isTrue: this.question.selections[i].isTrue
                        })
                    }
                    for (let i = 0; i < this.listFormDb.length; i++) {
                        let listImage = []
                        let arraySplitFirst = this.listFormDb[i].content.split(">")
                        let arraySplitSecond = []
                        let arraySplitThird = []
                        let arraySplitFourth = []
                        let str = this.listFormDb[i].content
                        let listImageForm = []
                        if (this.listFormDb[i].content.includes('https://tuannm53')) {
                            for (let j = 0; j < arraySplitFirst.length; j++) {
                                arraySplitFirst[j].split(">")
                                if (arraySplitFirst[j].includes('https://tuannm53')) {
                                    arraySplitSecond.push(arraySplitFirst[j])
                                }
                            }
                            for (let j = 0; j < arraySplitSecond.length; j++) {
                                let arr = []
                                arr = arraySplitSecond[j].split(">")
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitThird.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitThird.length; j++) {
                                let arr = []
                                arr = arraySplitThird[j].split(/["]/)
                                if (arr.length > 0) {
                                    for (let k = 0; k < arr.length; k++) {
                                        if (arr[k].includes('https://tuannm53')) {
                                            arraySplitFourth.push(arr[k])
                                        }
                                    }
                                }
                            }
                            for (let j = 0; j < arraySplitFourth.length; j++) {
                                listImage.push(arraySplitFourth[j])
                            }
                            for (let j = 0; j < listImage.length; j++) {
                                let stringImage = "<img src=\"" + listImage[j] + "\" width=\"100px\" height=\"100px\">"
                                listImageForm.push(stringImage)
                                if (this.listFormDb[i].content.includes(stringImage)) {
                                    str = str.replace(stringImage, "")
                                }
                            }
                            let arrayFirst = []
                            arrayFirst = str.split(">")
                            let stringFinal = ''
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let imageDemo = listImageForm[0]
                            let count = stringFinal.length
                            stringFinal = stringFinal.substring(0, 15)
                            if (count > 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count <= 15 && listImageForm.length > 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>' + '<br>' + imageDemo
                            } else if (count > 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else if (count <= 15 && listImageForm.length == 0) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            this.listFormDb[i].contentNoImage = stringFinal
                        } else {
                            let stringFinal = ''
                            let arrayFirst = this.listFormDb[i].content.split(">")
                            for (let i = 0; i < arrayFirst.length; i++) {
                                let str = []
                                str = arrayFirst[i].split("<")
                                let strr = str[0]
                                stringFinal += strr
                            }
                            let count = this.listFormDb[i].content.length
                            if (count <= 15) {
                                stringFinal = stringFinal + ' <i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            } else {
                                stringFinal = stringFinal.substring(0, 15) + '...<i style="font-size:13px; color:gray;">[Xem chi tiết]</i>'
                            }
                            this.listFormDb[i].contentNoImage = stringFinal
                        }

                    }
                })
        }
    },
    methods: {
        dialogViewAnswerDetail(content) {
            this.answerDetail = ''
            this.isShowAnswerDetail = true
            this.answerDetail = content
        },
        closeViewAnswerDetail() {
            this.isShowAnswerDetail = false
        },
        deleteQuestion() {
            let question = []
            question.push(this.questionId)
            this.$swal.fire({
                title: 'Thông báo!',
                text: "Dữ liệu câu hỏi sẽ mất sau khi bị xóa",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Thoát'
            }).then((result) => {
                if (result.value) {
                    axios.post('Question/DeleteQuestion', {
                            questionIds: question
                        })
                        .then((res) => {
                            this.$swal.fire({
                                title: 'Xóa câu hỏi thành công',
                                showCancelButton: false,
                                showConfirmButton: false,
                                timer: 3000,
                                toast: true,
                                position: 'top-end',
                                icon: 'success'
                            })
                            this.$router.push('/manager-question')
                        })
                }
            });
        }
    },
};
</script>
<style>
td.smallContent figure.image img {
    float: left;
    width: 200px;
    height: 200px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

th.contentTitle {
    width: 60%;
}

p img {
    float: left;
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

figure.image img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.image.image-style-side img {
    float: right;
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}

.table td,
.table th {
    border-top: 0px;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
