<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container" v-if="role == 4">
            <div class="row ">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item" v-if="this.role == 2">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" v-if="this.role == 4">
                                <router-link to="/learner-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background: white">
                                Xếp hạng
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section v-if="role == 2">
      <div class="container" style="text-align: center">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow-lg mb-0">
                <li class="breadcrumb-item">
                  <router-link to="/manager-home">Trang chủ</router-link>
                </li>
                <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Câu hỏi</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                    <div class="card custom-form border-1 shadow-lg">
                        <div class="card-body">
                            <div class="rounded p-4">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6 col-12">
                                        <div class="card border-0 sidebar sticky-bar rounded shadow">
                                            <div class="widget">
                                                <div id="search2" class="widget-search">
                                                    <form role="search" method="get" id="searchform" class="searchform">
                                                        <div>
                                                            <input type="text" class="border rounded" v-model="title" v-on:keyup="search" name="s" id="s" placeholder="Nhập để tìm kiếm...">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-6 mt-2 pt-1" v-for="(exam, i) in displayedExam" :key="i">
                                                <div class="media key-feature align-items-center p-3 rounded shadow-lg">
                                                    <div class="icon text-center rounded-circle mr-3">
                                                        <img src="/images/icon/podium.svg" height="50" class="mb-3" alt="">
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="row align-items-end">
                                                            <div class="col-md-11 text-md-left text-center mt-4 mt-sm-0">
                                                                <h5 class="mb-0"><a href="javascript:void(0)" @click="detail(exam.title)">{{exam.title}}</a></h5>
                                                                <ul class="list-inline mb-0 mt-3">
                                                                    <li class="list-inline-item text-muted mr-2">
                                                                        <i class="mdi mdi-application-export"></i>{{exam.organizeDate | formatDate}}
                                                                    </li>
                                                                    <li class="list-inline-item text-muted">
                                                                        <i class="mdi mdi-application-import"></i>{{exam.expiredDate | formatDate}}
                                                                    </li>
                                                                </ul>
                                                                <ul class="list-inline mb-0 mt-3">
                                                                    <li v-if="exam.first !== null" class="list-inline-item mr-2">
                                                                        <div class="media align-items-center">
                                                                            <div class="pr-1">
                                                                                <img src="/images/icon/1st.svg" height="30" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                                            </div>
                                                                            <div class="commentor-detail">
                                                                                <h6 class="mb-0 text-info">{{exam.first}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li v-if="exam.second !== null" class="list-inline-item mr-2">
                                                                        <div class="media align-items-center">
                                                                            <div class="pr-1">
                                                                                <img src="/images/icon/2nd.svg" height="30" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                                            </div>
                                                                            <div class="commentor-detail">
                                                                                <h6 class="mb-0 text-info">{{exam.second}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li v-if="exam.third !== null" class="list-inline-item mr-2">
                                                                        <div class="media align-items-center">
                                                                            <div class="pr-1">
                                                                                <img src="/images/icon/3rd.svg" height="30" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                                            </div>
                                                                            <div class="commentor-detail">
                                                                                <h6 class="mb-0 text-info">{{exam.third}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="list-inline-item mr-2">
                                                                        <div class="media align-items-center">
                                                                            <div class="commentor-detail">
                                                                                <h6 class="mb-0 text-info">...</h6>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-1 text-md-right text-center">
                                                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                                                    <li class="list-inline-item ml-1">
                                                                        <a href="javascript:void(0)" @click="detail(exam.title)" class="rounded" v-b-tooltip.hover title="Xem chi tiết">
                                                                            <chevrons-right-icon class="fea icon-sm fea-social"></chevrons-right-icon>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-6 mt-2 pt-1 d-flex justify-content-center">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-left mb-0">
                                                        <li class="page-item" @click="scrollToTop($event)">
                                                            <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                                        </li>
                                                        <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                                            <span v-if="page != 1">
                                                                <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                                            </span>
                                                            <span v-if="page == 1">
                                                                <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                                            </span>
                                                        </li>
                                                        <li class="page-item" @click="scrollToTop($event)">
                                                            <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div class="col-lg-12 col-md-6 mt-2 pt-1 d-flex justify-content-center" style="margin-top: 10px">
                                                <p v-if="(page < pages.length) && (listName.length > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{listName.length}} bản ghi</p>
                                                <p v-if="(page == pages.length) && (listName.length > 10) && (pages.length*10 - listName.length !=9)">Từ: {{(page*10)-(10-1)}} - {{listName.length}} trong tổng số {{listName.length}} bản ghi</p>
                                                <p v-if="(page == pages.length) && (listName.length > 10) && ((pages.length*10 - listName.length ==9))">Bản ghi thứ {{listName.length}} trong tổng số {{listName.length}} bản ghi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    ChevronsRightIcon,
    FileTextIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import moment from 'moment'

import Vue from 'vue'

Vue.filter('formatDate', function (value) {
    if (value) {
        return moment(String(value)).format('HH:mm - DD/MM/YYYY ')
    }
});
/**
 * Index-course component
 */
export default {
    data() {
        return {
            listExam: [],
            title: '',
            page: 1,
            perPage: 10,
            pages: [],
            learners: {
                id: '',
                mark: '',
                startTime: '',
                submitTime: '',
                learner: []
            },
            listName: [],
            role: -1,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        ChevronsRightIcon,
        FileTextIcon
    },
    created: async function () {
        let roleId = localStorage.getItem("role")
        this.role = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/auth-login")
        } else if (role === 1 || role === 3 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            const token = localStorage.getItem('token');
            const response = await axios.post('/LearnerFeatures/GetListRank', {
                title: "",
            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then((res) => {
                this.listExam = res.data
                for (let i = 0; i < this.listExam.length; i++) {
                    let name1 = null
                    let name2 = null
                    let name3 = null
                    if (this.listExam[i].learners.length > 0) {
                        name1 = this.listExam[i].learners[0].learner.fullName
                        if (this.listExam[i].learners.length > 1) {
                            name2 = this.listExam[i].learners[1].learner.fullName
                            if (this.listExam[i].learners.length > 2) {
                                name3 = this.listExam[i].learners[2].learner.fullName
                            }
                        }
                    }
                    this.listName.push({
                        id: this.listExam[i].id,
                        title: this.listExam[i].title,
                        organizeDate: this.listExam[i].organizeDate,
                        expiredDate: this.listExam[i].expiredDate,
                        first: name1,
                        second: name2,
                        third: name3,
                    })
                }
            }).catch((err) => {
                console.log(err)
            })
        }
    },
    methods: {
        search() {
            const token = localStorage.getItem("token");
            axios
                .post('/LearnerFeatures/GetListRank', {
                    title: this.title
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then((res) => {
                    this.listName = []
                    this.listExam = res.data
                    for (let i = 0; i < this.listExam.length; i++) {
                        let name1 = null
                        let name2 = null
                        let name3 = null
                        if (this.listExam[i].learners.length > 0) {
                            name1 = this.listExam[i].learners[0].learner.fullName
                            if (this.listExam[i].learners.length > 1) {
                                name2 = this.listExam[i].learners[1].learner.fullName
                                if (this.listExam[i].learners.length > 2) {
                                    name3 = this.listExam[i].learners[2].learner.fullName
                                }
                            }
                        }
                        this.listName.push({
                            id: this.listExam[i].id,
                            title: this.listExam[i].title,
                            organizeDate: this.listExam[i].organizeDate,
                            expiredDate: this.listExam[i].expiredDate,
                            first: name1,
                            second: name2,
                            third: name3,
                        })
                    }
                    this.page = 1
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.listName.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(listName) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return listName.slice(from, to);
        },

        detail: function (exam) {
            localStorage.setItem('exam', exam)
            this.$router.push({
                name: 'Rank'
            })
        },
    },
    computed: {
        displayedExam() {
            return this.paginate(this.listName)
        }
    },
    watch: {
        listName() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }

};
</script>
<style >
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.breadcrumb-item {
    font-size: 11px !important;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
