<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <!-- Hero Start -->
    <section class="bg-secondary" style="height: 4.5rem">
        <div class="container"></div>
    </section>
    <section>
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                            <li class="breadcrumb-item" v-if="this.role == 2">
                                <router-link to="/manager-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item" v-else-if="this.role == 4">
                                <router-link to="/learner-home">Trang chủ</router-link>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page" style="background: white">
                                <router-link to="/rank-exam-list">Xếp hạng</router-link>
                            </li>
                            <li class="breadcrumb-item" aria-current="page" style="background-color: white; color: #2F55D4">Chi tiết xếp hạng</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-9">
                    <div class="card custom-form border-1 rounded shadow-lg">
                        <div class="card-body">
                            <div class="col-md-12 text-center">
                                <h1 style="color:blue">{{listName.title}} <img src="/images/icon/podium.svg" height="50" class="mb-3" alt=""></h1>
                            </div>
                            <div class="col-md-12">
                                <div class="row" v-for="(exam, i) in displayedExam" :key="i">
                                    <div v-if="(exam.stt == 1) && (learners.length >0)" class="col-lg-4 col-md-4 col-12 mt-2 pt-2">
                                        <div class="card explore-feature border-1 border-danger rounded shadow text-center">
                                            <img src="/images/icon/1st.svg" height="50" alt="">
                                            <div class="card-body">
                                                <img :src="learners[0].image" class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                                                <div class="content mt-3">
                                                    <h5 class="text-info">{{learners[0].name}}</h5>
                                                    <h6 class="text-danger"><i class="mdi mdi-24px mdi-shield-star-outline" style="color:red" /> {{learners[0].mark}}</h6>
                                                    <h6 class="text-success"><i class="mdi mdi-24px mdi-clock-time-five-outline" style="color:green" /> {{learners[0].time}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="(exam.stt == 1) && (learners.length >1)" class="col-lg-4 col-md-4 col-12 mt-2 pt-2">
                                        <div class="card explore-feature border-1 border-success rounded shadow text-center">
                                            <img src="/images/icon/2nd.svg" height="50" alt="">
                                            <div class="card-body">
                                                <img :src="learners[1].image" class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                                                <div class="content mt-3">
                                                    <h5 class="text-info">{{learners[1].name}}</h5>
                                                    <h6 class="text-danger"><i class="mdi mdi-24px mdi-shield-star-outline" style="color:red" /> {{learners[1].mark}}</h6>
                                                    <h6 class="text-success"><i class="mdi mdi-24px mdi-clock-time-five-outline" style="color:green" /> {{learners[1].time}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="(exam.stt == 1) && (learners.length >2)" class="col-lg-4 col-md-4 col-12 mt-2 pt-2">
                                        <div class="card explore-feature border-1 border-info rounded shadow text-center">
                                            <img src="/images/icon/3rd.svg" height="50" alt="">
                                            <div class="card-body">
                                                <img :src="learners[2].image" class="avatar avatar-medium shadow-lg rounded-pill" alt="">
                                                <div class="content mt-3">
                                                    <h5 class="text-info">{{learners[2].name}}</h5>
                                                    <h6 class="text-danger"><i class="mdi mdi-24px mdi-shield-star-outline" style="color:red" /> {{learners[2].mark}}</h6>
                                                    <h6 class="text-success"><i class="mdi mdi-24px mdi-clock-time-five-outline" style="color:green" /> {{learners[2].time}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="(exam.stt != 1) && (exam.stt !=2) && (exam.stt !=3)" class="col-lg-12 col-md-12 col-12 mt-2 pt-2">
                                        <div class="card explore-feature border-1  rounded shadow">
                                            <div class="card-body">
                                                <div class="row align-items-end">
                                                    <div class="col-md-7 d-flex justify-content-between">
                                                        <div class="media align-items-center">
                                                            <h5 class="text-primary pr-3">{{exam.stt}}</h5>
                                                            <div class="pr-3">
                                                                <img :src="exam.image" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                            </div>
                                                            <div class="commentor-detail">
                                                                <h5 class="mb-0 text-info">{{exam.name}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 text-md-left text-center">
                                                        <h6 class="text-danger"><i class="mdi mdi-24px mdi-shield-star-outline" style="color:red" /> {{exam.mark}}</h6>
                                                    </div>
                                                    <div class="col-md-2 text-md-right text-center">
                                                        <h6 class="text-success"><i class="mdi mdi-24px mdi-clock-time-five-outline" style="color:green" /> {{exam.time}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center" style="border: 0px solid; margin-top: 10px">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-left mb-0">
                                            <li class="page-item" @click="scrollToTop($event)">
                                                <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--"> Trước </button>
                                            </li>
                                            <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                                <span v-if="page != 1">
                                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-2, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                                </span>
                                                <span v-if="page == 1">
                                                    <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber" :class="{ active: isPageChoose(pageNumber) }" class="page-link" v-for="pageNumber in pages.slice(page-1, page+1)" v-bind:key="pageNumber" @click="page = pageNumber"> {{pageNumber}} </button>
                                                </span>
                                            </li>
                                            <li class="page-item" @click="scrollToTop($event)">
                                                <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)" class="page-link"> Sau </button>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-12 col-md-6 mt-2 pt-1 d-flex justify-content-center" style="margin-top: 10px">
                                    <p v-if="(page < pages.length) && (learners.length > 10)">Từ: {{(page*10)-(10-1)}} - {{page*10}} trong tổng số {{learners.length}} bản ghi</p>
                                    <p v-if="(page == pages.length) && (learners.length > 10) && (pages.length*10 - learners.length !=9)">Từ: {{(page*10)-(10-1)}} - {{learners.length}} trong tổng số {{learners.length}} bản ghi</p>
                                    <p v-if="(page == pages.length) && (learners.length > 10) && ((pages.length*10 - learners.length ==9))">Bản ghi thứ {{learners.length}} trong tổng số {{learners.length}} bản ghi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Footer />
    <!-- <Switcher />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a> -->
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}
</style>

<script>
import {
    ArrowUpIcon,
    PlusIcon,
    FilePlusIcon

} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";
import Swal from 'sweetalert2'

/**
 * Index-course component
 */
export default {
    data() {
        return {
            listExam: [],
            page: 1,
            perPage: 10,
            pages: [],
            listName: {
                title: null,
                organizeDate: null,
                expiredDate: null,
                time: null,
                learners: []
            },
            learners: [],
            leanerPrize: {
                name1: null,
                name2: null,
                name3: null,
                time1: null,
                time2: null,
                time3: null,
                mark1: null,
                mark2: null,
                mark3: null,
                image1: 'images/icon-avatar.png',
                image2: 'images/icon-avatar.png',
                image3: 'images/icon-avatar.png'
            },
            role: -1,
        };
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
        PlusIcon,
        FilePlusIcon
    },
    created: async function () {
        const token = localStorage.getItem('token')
        const titleExam = localStorage.getItem('exam')
        this.role = localStorage.getItem("role")
        let roleId = localStorage.getItem("role")
        let role = parseInt(roleId)
        if (roleId === null) {
            this.$router.push("/login")
        } else if (role === 1 || role === 3 || role === 6) {
            this.$router.push("/page-not-found")
        } else {
            await axios.post('/LearnerFeatures/GetListRank', {
                title: titleExam
            }, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(res => {
                if (res) {
                    this.listExam = res.data
                    this.listName.title = this.listExam[0].title
                    this.listName.organizeDate = this.listExam[0].organizeDate
                    this.listName.expiredDate = this.listExam[0].expiredDate
                    this.listName.learners = this.listExam[0].learners
                    for (let i = 0; i < this.listName.learners.length; i++) {
                        let date1 = new Date(this.listName.learners[i].submitTime)
                        let date2 = new Date(this.listName.learners[i].startTime)
                        let date = Math.abs(date1 - date2)
                        let timeSubmit = Math.floor((date / 1000 / 60) << 0)
                        let min = date / 1000 / 60;
                        let r = min % 1;
                        let sec = Math.floor(r * 60);
                        if (sec < 10) {
                            sec = '0' + sec;
                        }
                        min = Math.floor(min);
                        let img = this.listName.learners[i].learner.imageUrl
                        if (img === null) {
                            img = 'images/icon-avatar.png'
                        }
                        this.learners.push({
                            time: min + 'ph' + sec + 's',
                            name: this.listName.learners[i].learner.fullName,
                            mark: this.listName.learners[i].mark,
                            stt: i + 1,
                            image: img
                        })
                    }
                }
            })
        }
    },
    methods: {
        isPageChoose(page) {
            return this.page == page
        },
        scrollToTop(e) {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        },
        setPage() {
            this.pages = [];
            let numberOfPages = Math.ceil(this.learners.length / this.perPage);
            for (let index = 1; index <= numberOfPages; index++) {
                this.pages.push(index);
            }
        },
        paginate(learners) {
            let page = this.page;
            let perPage = this.perPage;
            let from = (page * perPage) - perPage;
            let to = (page * perPage);
            return learners.slice(from, to);
        }
    },
    computed: {
        displayedExam() {
            return this.paginate(this.learners)
        }
    },
    watch: {
        learners() {
            this.setPage();
        }
    },
    filters: {
        trimWords(value) {
            return value.split("").splice(0, 20).join(" ") + '...'
        }
    }
};
</script>

<style >
    /* .cursor {
         cursor: pointer;    
    } */
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
button.page-link {
  display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
.active {
    background-color: #2F55D4;
    color: #ffffff;
}
.active:target {
    display: block !important;
}
button.page-link.active {
    color: cornsilk !important;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.breadcrumb-item {
    font-size: 11px !important;
}
    .flex-wrapper {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between
    }
</style>
