<template>
<div>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="card border-0 sidebar sticky-bar rounded shadow">
                        <div class="card-body">
                            <div class="widget mb-4 pb-2 border-bottom">
                                <h4 class="widget-title">Tìm kiếm</h4>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform">
                                        <div>
                                            <input type="text" class="border rounded" name="s" id="s" placeholder="Nhập để tìm kiếm...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="widget mb-4 pb-4 border-bottom">
                                <h4 class="widget-title">Nhóm</h4>
                                <div class="mt-4">
                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="contract">
                                            <label class="custom-control-label" for="contract">Dãy số</label>
                                            <span class="float-right">13</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="freelancer">
                                            <label class="custom-control-label" for="freelancer">Logic</label>
                                            <span class="float-right">22</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="fulltime">
                                            <label class="custom-control-label" for="fulltime">Tính toán biểu thức</label>
                                            <span class="float-right">11</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="parttime">
                                            <label class="custom-control-label" for="parttime">abcx</label>
                                            <span class="float-right">3</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="remote">
                                            <label class="custom-control-label" for="remote">adffs</label>
                                            <span class="float-right">44</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget mb-4 pb-4">
                                <h4 class="widget-title">Độ khó</h4>
                                <div class="mt-4">
                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="contract">
                                            <label class="custom-control-label" for="contract">Dễ</label>
                                            <span class="float-right">13</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="freelancer">
                                            <label class="custom-control-label" for="freelancer">Trung bình</label>
                                            <span class="float-right">22</span>
                                        </div>
                                    </div>

                                    <div class="form-group mb-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="fulltime">
                                            <label class="custom-control-label" for="fulltime">Khó</label>
                                            <span class="float-right">11</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <router-link to="/create-question" class="btn btn-primary">Thêm vào group</router-link>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive bg-white shadow rounded mt-4">
                            <table class="table mb-0 table-center">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col" style="max-width: 100px;"><input type="checkbox" id="remote"></th>
                                        <th scope="col" style="min-width: 300px;">Nội dung</th>
                                        <th scope="col" class="text-center" style="min-width: 200px;">Độ khó</th>
                                        <th scope="col" class="text-center" style="width: 100px;">Nhóm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                    <tr>
                                        <td class="small"><input type="checkbox" id="remote"></td>
                                        <td>
                                            <router-link to="/question-detail" class="forum-title text-primary font-weight-bold">Giả sử A=B. C+D=E</router-link>
                                        </td>
                                        <td class="text-center small">Dễ</td>
                                        <td class="text-center small">Logic</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous">Trước</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Sau</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</template>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
</style>

<script>
import {
    ArrowUpIcon,
    MailIcon,
    PhoneIcon,
    UserIcon,
    ChevronRightIcon,
    PlayIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon
} from "vue-feather-icons";
import Navbarnew from "@/components/navbarnew";
import Switcher from "@/components/switcher";
import Footer from "@/components/footer";
import axios from "axios";

/**
 * Index-course component
 */
export default {
    name: 'SelectQuestionIngroupDialog',
    data() {
        return {};
    },
    components: {
        Navbarnew,
        Switcher,
        Footer,
        ArrowUpIcon,
    },
    created: async function () {
        const token = localStorage.getItem("token");
    },
    methods: {},
};
</script>
