<template>
  <div>
    <section class="bg-secondary" style="height: 4.5rem">
      <div class="container"></div>
    </section>

    <section>
      <div class="container" style="text-align: center">
        <div class="row justify-content-center">
          <div class="col-12">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item">
                  <router-link to="/manager-home">Trang chủ</router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="background: white">
                  <a style="color: #2F55D4">Quản lý chủ đề</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="section pt-0" style="margin-top: 6rem;">
      <div class="container" style="border: 0px solid">
        <div class="row align-self-center;">
          <div class="col-lg-4 align-self-center">
          </div>
          <div class="col-lg-4 align-self-center">
            <div class="card border-0 sidebar shadow-lg">
              <div class="widget">
                <div id="search2" class="widget-search">
                  <form role="search" method="get" id="searchform" class="searchform">
                    <div>
                      <input type="text" class="border rounded" v-model="keyword" v-on:keyup="getPosts(1)"
                             placeholder="Nhập để tìm kiếm...">
                      <input type="submit" id="searchsubmit" value="Search">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 align-self-center">
          </div>
        </div>
        <div class="row align-items-center;" style="border: 0px solid">
          <div class="col-lg-10 col-md-9 col-12 form-inline" style="margin-top: 3rem; margin-left: 0px">
            <div class="container">
              <div class="container">
                <div class="row" style="border: 0px solid">
                  <h5>Danh sách chủ đề</h5>
                </div>
              </div>
            </div>

          </div>
          <div class="mt-4" id="submit">
            <a href="javascript:void(0)" tyle="button" data-toggle="modal" @click="dialogAddEditGroup(1,-1,-1)"
               v-b-modal.viewAnswerDetail data-target="#viewAnswerDetail" class="btn btn-pills btn-primary mt-2 mr-2">
              Tạo
            </a>
            <a @click="deleteGroup" tyle="button" href="javascript:void(0)" class="btn btn-pills btn-danger mt-2 mr-2">Xóa</a>
          </div>
        </div>
        <div>
          <div class="col-lg-12 col-md-12 col-12 ">
            <div class="table-responsive bg-white shadow-lg rounded mt-4">
              <span v-if="listDeleteNull"
                    style="font: 12.8px Nunito, sans-serif; color: #DC3545">Chọn chủ đề muốn xóa</span>
              <table class="table mb-0 table-center">
                <thead class="bg-light">
                <tr>
                  <th scope="col" style="width: 10%">
                    <input type="checkbox" v-model="selectAll" @click="selectItem"/>
                  </th>
                  <th style="width: 50%">Tiêu đề</th>
                  <th style="text-align: center">Số lượng khóa học</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(p, i) in displayedPosts" v-bind:key="i">
                  <th scope="col">
                    <input type="checkbox" :value="p.id" v-model="selected"/>
                  </th>
                  <td>
                    <a href="javascript: void(0);" @click="groupDetail(p.id,p.name)"
                       class="forum-title text-primary font-weight-bold"> {{ p.name }} </a>
                  </td>
                  <td style="text-align: center">{{ p.numberCourse }}</td>
                  <td>
                    <a href="javascript:void(0)" data-toggle="modal" @click="dialogAddEditGroup(2, p.id, p.name)"
                       v-b-modal.viewAnswerDetail data-target="#viewAnswerDetail">
                      <img style="width:20px;" src="https://img.icons8.com/ios/50/000000/create-new.png"/>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left mb-0">
                  <li class="page-item" @click="scrollToTop($event)">
                    <button type="button" class="page-link" v-if="pages.length>1" :disabled="page <= 1" @click="page--">
                      Trước
                    </button>
                  </li>
                  <li class="page-item" @click="scrollToTop($event)" v-if="pages.length > 1">
                                    <span v-if="page != 1">
                                        <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber"
                                                :class="{ active: isPageChoose(pageNumber) }" class="page-link"
                                                v-for="pageNumber in pages.slice(page-2, page+2)"
                                                v-bind:key="pageNumber"
                                                @click="page = pageNumber"> {{ pageNumber }} </button>
                                    </span>
                    <span v-if="page == 1">
                                        <button :disabled="isPageChoose(pageNumber)" type="button" :value="pageNumber"
                                                :class="{ active: isPageChoose(pageNumber) }" class="page-link"
                                                v-for="pageNumber in pages.slice(page-1, page+1)"
                                                v-bind:key="pageNumber"
                                                @click="page = pageNumber"> {{ pageNumber }} </button>
                                    </span>
                  </li>
                  <li class="page-item" @click="scrollToTop($event)">
                    <button type="button" @click="page++" v-if="pages.length>1" :disabled="(page >= pages.length)"
                            class="page-link"> Sau
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-12 d-flex justify-content-center" style="margin-top: 10px">
              <!-- <p>Tổng số bản ghi: {{sumOfGroup}}</p> -->
              <p v-if="(page < pages.length) && (sumOfGroup > 10)">Từ: {{ (page * 10) - (10 - 1) }} - {{ page * 10 }}
                trong tổng số {{ sumOfGroup }} bản ghi</p>
              <p v-if="(page == pages.length) && (sumOfGroup > 10) && (pages.length*10 - sumOfGroup !=9)">Từ:
                {{ (page * 10) - (10 - 1) }} - {{ sumOfGroup }} trong tổng số {{ sumOfGroup }} bản ghi</p>
              <p v-if="(page == pages.length) && (sumOfGroup > 10) && ((pages.length*10 - sumOfGroup ==9))">Bản ghi thứ
                {{ sumOfGroup }} trong tổng số {{ sumOfGroup }} bản ghi</p>
            </div>
          </div>
        </div>
        <div>
          <b-modal id="viewAnswerDetail" v-if="isShownAddEditGroup" :hide-footer="true" size="md" :title="title"
                   centered>
            <div class="bg-white rounded box-shadow">
              <div class="row">
                <div class="col-md-3" style="border: 0px solid; margin-top: 10px">
                  <label>Tiêu đề :<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-9" style="border: 0px solid">
                  <div class="form-group">
                    <book-open-icon style="top: 13px; left: 25px" class="fea icon-sm icons"></book-open-icon>
                    <input id="name" v-model="name" type="text" name="name" autocomplete="off" class="form-control pl-5"
                           :class="{ 'is-invalid': submitted && $v.name.$error }">
                    <div v-if="submitted && $v.name.$error" class="invalid-feedback">
                      <span v-if="!$v.name.required">Không để trống tên chủ đề</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-12" style="margin-left:300px">
                  <a @click="save" tyle="button" style="width: 70px" class="btn btn-pills btn-primary mt-2 mr-2">Lưu</a>
                  <a @click="close" tyle="button" style="width: 90px" class="btn btn-pills btn-danger mt-2 mr-2">Thoát</a>
                </div>
              </div>
            </div>
          </b-modal>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import {
  BookOpenIcon
} from "vue-feather-icons";
import axios from 'axios';
import Swal from 'sweetalert2'
import {
  required,
  maxlength
} from "vuelidate/lib/validators";

export default {
  name: 'TableAccount',
  components: {
    BookOpenIcon
  },
  data() {
    return {
      posts: [],
      page: 1,
      perPage: 10,
      pages: [],
      keyword: '',
      dataSearch: {
        keyword: ''
      },
      selected: [],
      selectAll: false,
      id: 0,
      sumOfGroup: 0,
      isShownAddEditGroup: false,
      name: '',
      submitted: false,
      title: 'Thêm mới câu hỏi',
      listDeleteNull: false,
      idEdit: 0,
      type: 0
    }
  },
  validations: {
    name: {
      required,

    },
  },
  methods: {
    close() {
      this.isShownAddEditGroup = false
    },
    save() {
      this.submitted = true
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      if (this.type === 1) {
        const token = localStorage.getItem("token");
        const response = axios
            .post(
                "Group", {
                  name: this.name,
                }, {
                  headers: {
                    Authorization: "Bearer " + token,
                  },
                }
            )
            .then((res) => {
              if (res) {
                this.$swal.fire({
                  title: "Thêm mới chủ đề thành công",
                  showCancelButton: false,
                  showConfirmButton: false,
                  timer: 3000,
                  toast: true,
                  position: "top-end",
                  icon: "success",
                });
                this.isShownAddEditGroup = false
                this.getPosts(1)
                this.page = 1
              }
            })
      } else {
        axios.put('Group', {
          id: this.idEdit,
          name: this.name
        }).then(res => {
          if (res) {
            this.$swal.fire({
              title: "Chỉnh sửa chủ đề thành công",
              showCancelButton: false,
              showConfirmButton: false,
              timer: 3000,
              toast: true,
              position: "top-end",
              icon: "success",
            });
            this.isShownAddEditGroup = false
            this.getPosts(1)
          }
        })
      }

    },
    dialogAddEditGroup(type, idEdit, name) {
      this.name = ''
      this.idEdit = 0
      this.isShownAddEditGroup = true
      this.submitted = false
      if (type === 2) {
        this.type = 2
        this.title = 'Chỉnh sửa chủ đề'
        this.name = name
        this.idEdit = idEdit
      } else {
        this.type = 1
        this.title = 'Thêm mới chủ đề'
      }
    },
    closeViewAnswerDetail() {
      this.isShownAddEditGroup = false
    },
    isPageChoose(page) {
      return this.page == page
    },
    scrollToTop(e) {
      this.selectAll = false
      this.selected = []
      window.scrollTo(0, 0);
    },
    async getPosts(status) {
      if (status === 0) {
        Swal.fire({
          title: 'Đang tải dữ liệu...',
          html: 'Chờ trong giây lát...',
          allowEscapeKey: false,
          allowOutsideClick: false,
          didOpen: () => {
            Swal.showLoading()
          }
        });
      }
      this.dataSearch.keyword = this.keyword
      const response = await axios.post('Group/Search', this.dataSearch, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then((res) => {
        Swal.close();
        this.posts = res.data
        this.sumOfGroup = this.posts.length
      })
    },
    setPage() {
      this.pages = []
      let numberOfPages = Math.ceil(this.posts.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    groupDetail: function (id, name) {
      localStorage.setItem('GroupId', id)
      localStorage.setItem('GroupName', name)
      this.$router.push({
        name: 'DetailGroup'
      })
    },
    paginate(posts) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return posts.slice(from, to);
    },
    selectItem() {
      this.selected = [];
      this.listDelete = []
      if (!this.selectAll) {
        let page = this.page;
        let perPage = this.perPage;
        let from = (page * perPage) - perPage;
        let to = (page * perPage);
        this.listDelete = this.posts.slice(from, to)
        for (let i = 0; i < this.listDelete.length; i++) {
          this.selected.push(this.listDelete[i].id)
        }
      }
    },
    async deleteGroup() {
      if (this.selected.length > 0) {
        this.listDeleteNull = false
        this.$swal.fire({
          title: 'Thông báo!',
          text: "Dữ liệu của toàn bộ chủ đề, nhóm câu hỏi và câu hỏi sẽ mất",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Xóa',
          cancelButtonText: 'Thoát'
        }).then((result) => {
          if (result.value) {
            axios.post('Group/DeleteMultiple', {
              ids: this.selected
            }, {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem("token"),
              }
            }).then(res => {
              if (res) {
                for (let i = 0; i < this.selected.length; i++) {
                  for (let j = 0; j < this.posts.length; j++) {
                    if (this.selected[i] === this.posts[j].id) {
                      this.posts.splice(j, 1)
                    }
                  }
                }
                this.selectAll = false
                this.selected = []
                this.$swal.fire({
                  title: "Xóa thành công nhóm câu hỏi",
                  showCancelButton: false,
                  showConfirmButton: false,
                  timer: 3000,
                  toast: true,
                  position: "top-end",
                  icon: "success",
                });
                this.setPage();
                if (this.pages.length < this.page) {
                  this.page--
                }
                this.sumOfGroup = this.posts.length
              }
            })

          }
        });
      } else {
        this.listDeleteNull = true
      }
    },

  },
  computed: {
    displayedPosts() {
      return this.paginate(this.posts)
    }
  },
  watch: {
    posts() {
      this.setPage();
    }
  },
  created: function () {
    let roleId = localStorage.getItem("role")
    let role = parseInt(roleId)
    if (roleId === null) {
      this.$router.push("/auth-login")
    } else if (role === 1 || role === 3 || role === 4 || role === 6) {
      this.$router.push("/page-not-found")
    } else {
      this.getPosts(0);
    }
  },
  filters: {
    trimWords(value) {
      return value.split("").splice(0, 20).join(" ") + '...'
    }
  }
}
</script>

<style>
button.page-link {
  display: inline-block;
}

button.page-link {
  font-size: 20px;
  color: #29b3ed;
  font-weight: 500;
}

.offset {
  width: 500px !important;
  margin: 20px auto;
}

.active {
  background-color: #2F55D4;
  color: #ffffff;
}

.active:target {
  display: block !important;
}

button.page-link.active {
  color: cornsilk !important;
}

input#submit.btn.btn-pills.btn-danger.mt-2.mr-2 {
  float: right
}

input#submit.btn.btn-pills.btn-primary.mt-2.mr-2 {
  float: right
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

</style>
