<template>
<div class="flex-wrapper">
    <Navbarnew :nav-light="true" />
    <section class="bg-profile d-table w-100 bg-primary" style="background: url('images/account/bg.png') center center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 ">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow-lg" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div v-if="roleUser == 'Học viên'" class="col-lg-3 col-md-4 text-md-left text-center">
                                        <img v-if="informationLeaner.imageUrl !== null" :src="informationLeaner.imageUrl" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                        <img v-if="informationLeaner.imageUrl === null" src="images/icon-avatar.png" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div>
                                    <div v-if="roleUser == 'Mentor'" class="col-lg-3 col-md-4 text-md-left text-center">
                                        <img v-if="informationMentor.imageUrl !== null" :src="informationMentor.imageUrl" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                        <img v-if="informationMentor.imageUrl === null" src="images/icon-avatar.png" class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="row align-items-end">
                                            <div class="col-md-12 text-md-left text-center mt-4 mt-sm-0">
                                                <h3 v-if="roleUser == 'Học viên'" class="title mb-0">{{ this.informationLeaner.fullName}}</h3>
                                                <h3 v-if="roleUser == 'Mentor'" class="title mb-0">{{ this.informationMentor.fullName}}</h3>
                                                <small class="text-muted h6 mr-2">{{ this.roleUser}}</small>
                                            </div>
                                            <div class="col-md-12 text-md-left text-center mt-4 mt-sm-0">
                                                <router-link to="/edit-account-by-user"><input class="btn btn-success" type="button" value="Chỉnh sửa thông tin" /></router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section mt-60">
        <div class="container mt-lg-3">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-12 shadow-lg">
                    <div class="border-bottom pb-4">
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <h5>Thông tin tài khoản :</h5>
                                <div class="mt-4">
                                    <div class="media align-items-center">
                                        <mail-icon class="fea icon-ex-md text-muted mr-3"></mail-icon>
                                        <div class="media-body">
                                            <h6 class="text-primary mb-0">Email :</h6>
                                            <a v-if="roleUser == 'Học viên'" href="javascript:void(0)" class="text-muted">{{ this.informationLeaner.email}}</a>
                                            <a v-if="roleUser == 'Mentor'" href="javascript:void(0)" class="text-muted">{{ this.informationMentor.email}}</a>
                                        </div>
                                    </div>
                                    <div class="media align-items-center mt-3">
                                        <users-icon class="fea icon-ex-md text-muted mr-3"></users-icon>
                                        <div class="media-body">
                                            <h6 class="text-primary mb-0">Tên đăng nhập :</h6>
                                            <a v-if="roleUser == 'Học viên'" href="javascript:void(0)" class="text-muted">{{ this.informationLeaner.account}}</a>
                                            <a v-if="roleUser == 'Mentor'" href="javascript:void(0)" class="text-muted">{{ this.informationMentor.account}}</a>
                                        </div>
                                    </div>
                                    <div class="media align-items-center mt-3">
                                        <gift-icon class="fea icon-ex-md text-muted mr-3"></gift-icon>
                                        <div class="media-body">
                                            <h6 class="text-primary mb-0">Ngày sinh :</h6>
                                            <a v-if="roleUser == 'Học viên'" href="javascript:void(0)" class="text-muted">{{this.informationLeaner.birthdate | formatDate}}</a>
                                            <a v-if="roleUser == 'Mentor'" href="javascript:void(0)" class="text-muted">{{this.informationMentor.birthdate | formatDate}}</a>
                                        </div>
                                    </div>
                                    <div class="media align-items-center mt-3">
                                        <phone-icon class="fea icon-ex-md text-muted mr-3"></phone-icon>
                                        <div class="media-body">
                                            <h6 class="text-primary mb-0">Số điện thoại :</h6>
                                            <a v-if="roleUser == 'Học viên'" href="javascript:void(0)" class="text-muted">{{ this.informationLeaner.phoneNumber}}</a>
                                            <a v-if="roleUser == 'Mentor'" href="javascript:void(0)" class="text-muted">{{ this.informationMentor.phoneNumber}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="roleUser == 'Học viên'" class="col-md-6 mt-4 pt-2 pt-sm-0">
                                <h5> Địa Chỉ:</h5>
                                <div class="media align-items-center mt-3">
                                    <mapPin-icon class="fea icon-ex-md text-muted mr-3"></mapPin-icon>
                                    <div class="media-body">
                                        <h6 class="text-primary mb-0">Tỉnh/ Thành Phố: </h6>
                                        <a href="javascript:void(0)" class="text-muted">{{ this.informationLeaner.province}}</a>
                                    </div>
                                </div>
                                <div class="media align-items-center mt-3">
                                    <mapPin-icon class="fea icon-ex-md text-muted mr-3"></mapPin-icon>
                                    <div class="media-body">
                                        <h6 class="text-primary mb-0">Quận/ Huyện :</h6>
                                        <p class="text-muted mb-0">{{ this.informationLeaner.district}}</p>

                                    </div>
                                </div>
                                <div class="media align-items-center mt-3">
                                    <home-icon class="fea icon-ex-md text-muted mr-3"></home-icon>
                                    <div class="media-body">
                                        <h6 class="text-primary mb-0">Trường :</h6>
                                        <a href="javascript:void(0)" class="text-muted">{{ this.informationLeaner.school}}</a>
                                    </div>
                                </div>
                            </div>

                            <div v-if="roleUser == 'Mentor'" class="col-md-6 mt-4 pt-2 pt-sm-0">
                                <h5> Đôi nét về cá nhân:</h5>
                                <div class="media align-items-center mt-3">
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="text-muted">{{ this.informationMentor.description}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <Footer />
    <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top" v-scroll-to="'#topnav'">
        <arrow-up-icon class="icons"></arrow-up-icon>
    </a>
    <!-- Back to top -->
</div>
</template>

<script>
import {
    ArrowUpIcon,
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    GithubIcon,
    YoutubeIcon,
    GitlabIcon,
    MailIcon,
    UserPlusIcon,
    UsersIcon,
    MessageCircleIcon,
    BellIcon,
    ToolIcon,
    PhoneIcon,
    BookmarkIcon,
    ItalicIcon,
    GlobeIcon,
    GiftIcon,
    MapPinIcon,
    HomeIcon
} from 'vue-feather-icons';
import Navbarnew from "@/components/navbarnew";
import Footer from "@/components/footer";
import axios from 'axios';

export default {
    Hone: 'ViewProfile',
    components: {
        HomeIcon,
        Navbarnew,
        Footer,
        ArrowUpIcon,
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        GithubIcon,
        YoutubeIcon,
        GitlabIcon,
        MailIcon,
        UserPlusIcon,
        UsersIcon,
        MessageCircleIcon,
        BellIcon,
        ToolIcon,
        PhoneIcon,
        BookmarkIcon,
        ItalicIcon,
        GlobeIcon,
        GiftIcon,
        MapPinIcon
    },
    data() {
        return {
            informationLeaner: {
                fullName: '',
                birthdate: '',
                phoneNumber: '',
                account: '',
                email: '',
                province: '',
                district: '',
                school: '',
                role: 0
            },
            informationMentor: {
                fullName: '',
                email: '',
                birthdate: '',
                phoneNumber: '',
                account: '',
                description: '',
                role: ''
            },
            roleUser: '',
            dateFormat: '',
            tokenn: ''
        }
    },
    created: async function () {
        const token = localStorage.getItem("token")
        const role = localStorage.getItem("role");
        if (token === null) {
            this.$router.push('/auth-login')
        } else {
            if (role == 4) {
                const response = await axios.get('MyAccount/LearnerProfile', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.informationLeaner = res.data
                        if (this.informationLeaner.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.informationLeaner.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.informationLeaner.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.informationLeaner.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                }).catch(err => {
                    console.log(err)
                })
            } else if (role == 3) {
                const response = await axios.get('MyAccount/MentorProfile', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    }
                }).then(res => {
                    if (res) {
                        this.informationMentor = res.data
                        if (this.informationMentor.role === 1) {
                            this.roleUser = 'Admin'
                        } else if (this.informationMentor.role === 2) {
                            this.roleUser = 'Manager'
                        } else if (this.informationMentor.role === 3) {
                            this.roleUser = 'Mentor'
                        } else if (this.informationMentor.role === 4) {
                            this.roleUser = 'Học viên'
                        }
                    }
                }).catch(err => {
                    console.log(err)
                })
            }
        }

    },
    methods: {
        editAccountByUser() {
        }
    }
}
</script>

<style scoped>
::v-deep .carousel-caption {
    display: contents;
}

::v-deep .modal-content {
    background-color: transparent;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
</style>
