<template>
<div>
    <ckeditor id="ckeditor" :editor="editor" @ready="onReady" v-model="editorData" :config="editorConfig">
    </ckeditor>
    <!-- <input type="file" v-on:change="getFile($event)"> -->
    <!-- <button v-on:click="submitForm($event)">Upload</button> -->
    <button v-on:click="submit()">Upload1</button>
    <div class="content" v-html="dataAfter">

    </div>
    <!-- {{date | formatDate}} -->
</div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import MyUploadAdapter from "../ckeditor/MyUploadAdapter";
import moment from 'moment';
export default {
    name: 'CKEditor',
    components: {
        ckeditor: CKEditor.component
    },
    data() {
        return {
            editor: ClassicEditor,
            editorData: "",
            editorConfig: {},
            uploadURL: 'https://localhost:44360/Upload',
            data: '',
            dataAfter: '',
            date: new Date()
        }
    },
    created: async function () {
        this.date = new Date();
        this.date.toLocaleString('vi', {
            timeZone: 'Asia/Ho_Chi_Minh'
        });
        let time = moment(String(this.date)).format('MM/DD/YYYY hh:mm:ss a')
        //    console.log(time)
    },
    methods: {
        // submitHandle(e) {
        //     //Sau khi ấn butotn lưu, sẽ lấy ra DATA được lưu trong biến this.editorData
        //     //Sẽ lưu biến này trong database với kiểu text để được nhiều nhất có thể
        //     console.log('data' + this.editorData)
        //     if (this.thumbnail !== null) {
        //         console.log('anh ' + this.thumbnail.name)
        //         uploadToAWS3(this.thumbnail, this.thumbnail.name).then(res => {
        //             if (res) {
        //                 console.log('link anh + ' + res.location)
        //             }
        //         })
        //     }
        // },
        onReady(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new MyUploadAdapter(loader);
            };
        },
        // getFile(event) {
        //     this.file = event.target.files[0];
        // },
        // submitForm(event) {
        //     event.preventDefault();
        //     let formData = new FormData();
        //     formData.append("file", this.file);

        //     let config = {
        //         headers: {
        //             "Content-Type": "multipart/form-data"
        //         }
        //     };

        //     Vue.http
        //         .post(this.uploadURL, formData, config)
        //         .then(function (response) {
        //             if (response.status === 200) {
        //                 console.log(response.data);
        //             }
        //         });
        // },
        submit() {
            // this.dataAfter = "<figure class=\"image image-style-side\"></figure><p>Hãy chọn đáp án <i><strong>chính xác nhất</strong></i> trong các đáp án sau</p><p>&nbsp;</p>"
            this.dataAfter = '<p>Chọn câu trả phù hợp:<br>Đáp án nào sau đây sẽ đúng</p><p><img src="https://tuannm53.blob.core.windows.net/files/2021-08-16-195249-1-10kb.jpg"></p>'
            console.log(this.dataAfter)
            let arrayFirst = []
            arrayFirst = this.dataAfter.split(">")
            let stringFinal = ''
            for (let i = 0; i < arrayFirst.length; i++) {
                let str = []
                str = arrayFirst[i].split("<")
                let strr = str[0]
                stringFinal += strr
                if (stringFinal.length > 10) {
                    stringFinal = stringFinal + '...'
                    break
                }

            }
            console.log(stringFinal)
            // let test = this.dataAfter.replace(/</?[^>]+(>|$)/g, "")
            // let arraySplitFirst = this.dataAfter.split(">")
            // let arraySplitSecond = []
            // let arraySplitThird = []
            // let arraySplitFourth = []
            // for (let i = 0; i < arraySplitFirst.length; i++) {
            //     arraySplitFirst[i].split(">")
            //     if (arraySplitFirst[i].includes('https://tuannm53')) {
            //         arraySplitSecond.push(arraySplitFirst[i])
            //     }
            // }
            // for (let i = 0; i < arraySplitSecond.length; i++) {
            //     let arr = []
            //     arr = arraySplitSecond[i].split(">")
            //     if (arr.length > 0) {
            //         for (let j = 0; j < arr.length; j++) {
            //             if (arr[j].includes('https://tuannm53')) {
            //                 arraySplitThird.push(arr[j])
            //             }
            //         }
            //     }
            // }
            // for (let i = 0; i < arraySplitThird.length; i++) {
            //     let arr = []
            //     arr = arraySplitThird[i].split(/["]/)
            //     if (arr.length > 0) {
            //         for (let j = 0; j < arr.length; j++) {
            //             if (arr[j].includes('https://tuannm53')) {
            //                 arraySplitFourth.push(arr[j])
            //             }
            //         }
            //     }
            // }
            // for (let i = 0; i < arraySplitFourth.length; i++) {
            //     console.log(i + ': ' + arraySplitFourth[i])
            // }
        }
    }
}
</script>

<style>
figure.image.image-style-side {
    float: right;
    width: 400px;
    margin-left: 1.5em
}

figure.image.image-style-side img {
    width: 400px;
    height: auto;
}

figure.image img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p img {
    width: 400px;
    height: auto;
}
</style>
