<template>
<div>
    <form ref="dateTime">
        <date-picker v-model="timepicker" :language="vi" format="DD-MM-YYYY" @change="getDate" @keyup.enter="fillValue"></date-picker>
    </form>
</div>
</template>

<script>
import {
    GiftIcon,
} from 'vue-feather-icons'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import {
    vi
} from 'vue2-datepicker/locale/vi'
export default {
    props: {
        time: {
            type: [String, Date]
        }
    },
    computed: {
        timepicker: {
            get() {
                return this.time;
            },
            set(timepicker) {
                if (timepicker === null) {
                    this.time = ''
                } else {
                    this.time = timepicker;
                }
            }
        }
    },
    components: {
        DatePicker,
        GiftIcon
    },
    data() {
        return {
            // timepicker: '',
            // timepicker: this.time,
            vi: vi
        }
    },
    methods: {
        getDate() {
            this.$emit('dateChange:timepicker', this.time)
            this.$emit('update:timepicker', this.time)
            this.$emit('hasValue', false)
        }
        // fillValue() {
        //     this.$emit('dateChange:timepicker', this.time)
        //     this.$emit('update:timepicker', this.time)
           
        //     console.log('vao day2')
        // }
    }
}
</script>

<style>
div.mx-input-wrapper input.mx-input {
    height: 42px;
    border: 1px solid #dee2e6;
    font-size: 13px;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #dee2e6;
    background-color: #ffffff;
}
</style>
