<script>
import {
    FacebookIcon,
    InstagramIcon,
    TwitterIcon,
    LinkedinIcon,
    MailIcon
} from 'vue-feather-icons';
export default {
    data() {
        return {

        }
    },
    components: {
        FacebookIcon,
        InstagramIcon,
        TwitterIcon,
        LinkedinIcon,
        MailIcon
    }
}
</script>

<template>
<div>
    <footer class="footer footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-12">
                    <img src="images/final2.png" height="24" alt="">
                </div>
                <div class="col-lg-8 col-12">
                    <p>Bắt đầu học tập với trang web để chúng ta có thể cùng nhau giải quyết các vấn đề trong bài thi học bổng FPT.</p>
                </div>
                <div class="col-lg-2 col-12">

                    <ul class="list-unstyled footer-list">
                        <li>
                            <router-link to="/about-us" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Về chúng tôi</router-link>
                        </li>
                        <li>
                            <router-link to="/contact-us" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Liên hệ</router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </footer>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <p class="mb-0">Powered by FLearn © 2021. All Rights Reserved.</p>
        </div>
        <!--end container-->
    </footer>
</div>
</template>