<template>
<div>
    <header id="topnav" ref="navbar" class="defaultscroll sticky nav-sticky">
        <div class="container navbar-container">
            <div class="cursor">
                <a class="logo side-nav-link-ref" @click="changeToHomeOfEachRole">
                    <img src="images/flearn2.png" alt="" class="nav-bar__logo" height="40">
                </a>
            </div>

            <div class="menu-extras">
                <div class="menu-item">
                    <a class="navbar-toggle" :class="{'open': isCondensed === true}" @click="toggleMenu()">
                        <div class="lines">
                            <span />
                            <span />
                            <span />
                        </div>
                    </a>
                </div>
            </div>
            <div id="navigation">
                <ul class="navigation-menu item-end" :class="{'nav-light': navLight === true}">

                    <li v-if="loginSuccess && !menuMobile && (roleId == 4)" class="item-middle">
                        <router-link to="/learner-list-course" class="side-nav-link-ref nav-bar__label" :class="activePath === '/learner-list-course' ? 'activeR' : ''">Khóa học</router-link>
                    </li>

                    <li v-if="loginSuccess && !menuMobile && (roleId == 4)" class="item-middle">
                        <router-link to="/learner-list-exam" class="side-nav-link-ref nav-bar__label" :class="activePath === '/learner-list-exam' ? 'activeR' : ''">Kỳ thi</router-link>
                    </li>

                    <li v-if="loginSuccess && !menuMobile && (roleId == 4)" class="item-middle">
                        <router-link to="/rank-exam-list" class="side-nav-link-ref nav-bar__label" :class="activePath === '/rank-exam-list' ? 'activeR' : ''">Xếp hạng</router-link>
                    </li>

                    <li class="item-middle">
                        <router-link to="/about-us" class="side-nav-link-ref nav-bar__label" :class="activePath === '/about-us' ? 'activeR' : ''">Về chúng tôi</router-link>
                    </li>

                    <li class="item-middle">
                        <router-link to="/contact-us" class="side-nav-link-ref nav-bar__label" :class="activePath === '/contact-us' ? 'activeR' : ''">Liên hệ</router-link>
                    </li>

                    <li v-if="!loginSuccess && !menuMobile" class="item-middle">
                        <div class="buy-button">
                            <router-link to="/auth-login" class="btn btn-outline-blue" :class="activePath == '/auth-login' ? 'activeR':''">Đăng nhập</router-link>
                        </div>
                    </li>

                    <li v-if="!loginSuccess && !menuMobile" class="item-middle">
                        <div class="buy-button">
                            <router-link to="/auth-signup" class="btn btn-outline-blue" :class="activePath == '/auth-signup' ? 'activeR':''">Đăng ký</router-link>
                        </div>
                    </li>

                    <li v-if="!loginSuccess && menuMobile" class="item-middle" style="margin: 10px">
                        <div class="side-nav-link-ref nav-bar__label">
                            <router-link to="/auth-login" :class="activePath == '/auth-login' ? 'activeR':''" style="color: #3c4858; font: 1.1em Nunito,sans-serif;">Đăng nhập</router-link>
                        </div>
                    </li>

                    <li v-if="!loginSuccess && menuMobile" class="item-middle" style="margin: 10px">
                        <div class="side-nav-link-ref nav-bar__label">
                            <router-link to="/auth-signup" :class="activePath == '/auth-signup' ? 'activeR':''" style="color: #3c4858; font: 1.1em Nunito,sans-serif;">Đăng ký</router-link>
                        </div>
                    </li>

                    <li v-if="loginSuccess && !menuMobile" class="item-middle" style="border: 0px solid">
                        <div class="dropdown dropdown-info" style="margin-top:-16px">
                            <button v-show="roleId == 3 || roleId == 4" type="button" class="btn btn-icon btn-soft-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" @click="selectInfo">
                                <img class="image" :src="image" alt="..." style="width: 50px; height: 50px">
                            </button>
                            <button v-show="roleId == 1 || roleId ==2 || roleId ==6" type="button" class="btn btn-icon btn-soft-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" @click="selectInfo">
                                <img class="image" src="images/icon-avatar.png" alt="..." style="width: 50px;  height: 50px">
                            </button>
                            <div v-show="info" class="dropdown-menu dd-menu dropdown-menu-right bg-white shadow rounded border-0 mt-3 py-3 show" style="width: 200px; position: absolute; transform: translate3d(-164px, 36px, 0px); top: 0; left: 0; will-change: stranform;" x-placement="bottem-end">
                                <a href="/view-profile" class="dropdown-item text-dark cursor" @click="redirectToProfile" v-if="otherPage"><i class="uil uil-user align-middle mr-1" />Thông tin cá nhân</a>
                                <a class="dropdown-item text-dark cursor" v-if="currentPage"><i class="uil uil-user align-middle mr-1" />Thông tin cá nhân</a>
                                <a class="dropdown-item text-dark cursor" @click="redirectToChangePassWord" v-if="roleId == 1 || roleId == 2"><i class="uil uil-user align-middle mr-1" />Thay đổi mật khẩu</a>
                                <div class="dropdown-divider my-1 border-top" />
                                <a class="dropdown-item text-dark cursor" @click="logout"><i class="uil uil-sign-out-alt align-middle mr-1" /> Đăng xuất</a>
                            </div>
                        </div>
                    </li>

                    <li v-if="loginSuccess && menuMobile" class="item-middle cursor">
                        <a href="/view-profile" class="dropdown-item text-dark nav-bar__label" v-if="otherPage" @click="redirectToProfile">Thông tin cá nhân</a>
                        <a class="dropdown-item text-dark cursor" v-if="currentPage">Thông tin cá nhân</a>
                    </li>
                    <li v-if="loginSuccess && menuMobile" class="item-middle cursor">
                        <a class="dropdown-item text-dark nav-bar__label" @click="logout">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>
</template>

<script>
import axios from "axios";
import $ from "jquery";

export default {
    props: {
        isWhiteNavbar: {
            type: Boolean
        },
        navLight: {
            type: Boolean
        }
    },
    data() {
        return {
            loginSuccess: false,
            menuMobile: false,
            isCondensed: false,
            info: false,
            activePath: '',
            idLogin: 0,
            msg: '',
            roleId: localStorage.getItem("role"),
            currentPage: false,
            otherPage: false,
            image: 'images/icon-avatar.png'
        }
    },
    // watch: {
    //     '$route':function(routerObj) {
    //         if (routerObj.path === '/') location.reload()
    //         this.activePath = routerObj.path
    //     }
    // },
    created() {
        window.addEventListener('resize', this.onResize)
        this.onResize()
        const token = localStorage.getItem('token')
        const img = localStorage.getItem('image')
        this.image = img
        this.idLogin = localStorage.getItem('id')
        this.msg = token
        if (token !== null) {
            this.loginSuccess = true
            if ((this.$route.name == "ViewProfile" && this.roleId != 1) && (this.$route.name == "ViewProfile" && this.roleId != 2)) {
                this.currentPage = true
                this.otherPage = false
            } else if ((this.$route.name != "ViewProfile" && this.roleId != 2) && (this.$route.name != "ViewProfile" && this.roleId != 1)) {
                this.currentPage = false
                this.otherPage = true
            }
        }
    },
    mounted: () => {
        const links = document.getElementsByClassName('side-nav-link-ref')
        let matchingMenuItem = null
        for (let i = 0; i < links.length; i++) {
            if (window.location.pathname === links[i].pathname) {
                matchingMenuItem = links[i]
                break
            }
        }
        if (matchingMenuItem) {
            matchingMenuItem.classList.add('activeR')
            const parent = matchingMenuItem.parentElement
            if (parent) {
                parent.classList.add('activeR')
                const parent2 = parent.parentElement
                if (parent2) {
                    parent2.classList.add('activeR')
                    const parent3 = parent2.parentElement
                    if (parent3) {
                        parent3.classList.add('activeR')
                        const parent4 = parent3.parentElement
                        if (parent4) {
                            const parent5 = parent4.parentElement
                            parent5.classList.add('activeR')
                        }
                    }
                }
            }
        }
    },
    destroyed() {
        window.removeEventListener('resize', this.onResize)
    },
  updated() {
    let height = $('topnav').height();
    console.log('height: ' + height)
  },
  methods: {
        toggleMenu() {
            this.isCondensed = !this.isCondensed
            if (this.isCondensed) {
                document.getElementById('navigation').style.display = 'block'
            } else {
                document.getElementById('navigation').style.display = 'none'
            }
        },
        selectInfo() {
            this.info = !this.info
        },
        logout() {
            axios.get('/logout').then((res) => {
            }).catch((err) => {
                console.log(err)
            })
            localStorage.clear()
            
            this.$router.push('/auth-login')
        },
        onResize() {
            this.menuMobile = window.innerWidth < 989
        },
        redirectToProfile() {
            if (this.$route.name != "ViewProfile") {
                this.currentPage = false
                this.otherPage = true
            } else {
                this.currentPage = true
                this.otherPage = false
            }
        },
        redirectToChangePassWord() {
            if (this.$route.name != "EditAccountByUser")
                this.$router.push('/edit-account-by-user')
        },
        changeToHomeOfEachRole() {
            let roleId = parseInt(localStorage.getItem("role"))
            if (roleId === 3 && this.$route.name !== "CourseManager") {
                this.$router.push("/manager-course");
            } else if (roleId === 4 && this.$route.name !== "LearnerHome") {
                this.$router.push("/learner-home");
            } else if (roleId === 1 && this.$route.name !== "ManagerAccount") {
                this.$router.push("/manager-account");
            } else if (roleId === 2 && this.$route.name !== "ManagerHome") {
                this.$router.push("/manager-home")
            } else if( roleId === 6 && this.$route.name !== "ManagerAccount") {
                this.$router.push("/manager-account")
            } else {
                 this.$router.push("/")
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import "public/scss/variables";
@import "public/mixins";

#topnav {
    .nav-bar {
        &__label {
            &:hover {
                color: $primary !important;
            }
        }

        &__logo {
            transform: scale(0.8);
        }
    }
}

.search-icon {
    top: 36px;
}

.item-middle {
    display: flex !important;
    align-items: center;
}

.item-end {
    justify-content: flex-end !important;
}

.navbar-container {
    padding: 0;
}

.activeR {
    color: $primary !important;
}

.menumobile {
    color: red !important;
}

.cursor {
    cursor: pointer;
}

.image {
    // border: 1px #d4d4d4 solid;
    padding: 0px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
</style>
