<template>
<div>
    <!-- <div class="row">
            <div :span="24" class="upload-block__image-row" style="margin-left: 10px; width: 200px">
                <img :src="image ? image : cover" alt="">
            </div>
        </div>
        <div class="row" style="margin-left: 10px">
            <label class="upload-block__button" @click="$refs.file.click()">TẢI ẢNH</label>
            <label class="upload-block__button" style="margin-left: 50px" @click="deleteImage">XOÁ ẢNH</label>
        </div>
        <div class="row">
            <input ref="file" class="inputFile" type="file" name="inputFile" accept=".jpg, .jpeg, .bmp, .gif, .png, .svg" @change="getFileName">
        </div> -->
    <!-- <div v-if="hasImage === true">
        <img :src="image" width="100px" height="100px" alt="">
    </div> -->
    <label class="row" style="margin-left: 10px">
        <i @click="$refs.file.click()" v-if="hasImage === false" class="btn btn-icon btn-outline-primary mdi mdi-24px mdi-image-plus cursor"></i>
        <i @click="deleteImage" v-if="hasImage === true" class="btn btn-icon btn-outline-danger mdi mdi-24px mdi-image-remove cursor"></i>
    </label>
    <input @change="getFileName" ref="file" type="file" id="fileupload2" accept=".jpg, .jpeg, .bmp, .gif, .png, .svg" style="display:none">
</div>
</template>

<script>
export default {
    name: 'UploadImage',
    props: {
        // title: {
        //     default: null,
        //     type: String
        // },
        // image: {
        //     default: false,
        //     type: String
        // },
        // disable: {
        //     default: false,
        //     type: Boolean   
        // }
        image: {
            default: false,
            type: String
        }
    },
    data() {
        return {
            // cover: 'images/default.jpg',
            hasImage: false
        }
    },
    methods: {
        deleteImage() {
            this.$emit('update:image', '')
            this.$emit('imageChange', null)
            this.$emit('setNullImage', null)
            this.$refs.file.value = ''
            this.hasImage = false
        },
        getFileName(e) {
            this.$emit('update:image', URL.createObjectURL(e.target.files[0]))
            this.$emit('imageChange', e.target.files[0])
            this.hasImage = true
        }
    }

}
</script>

<style lang="scss" scoped>
label {
    cursor: pointer;
}

.inputFile {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-block {
    border: 1px solid rgba(63, 63, 68, 0.15);
    box-shadow: 0 0 4px rgba(63, 63, 68, 0.25);
    border-radius: 8px;
    margin-top: 16px;

    &__button {
        font-weight: 400;
        transition: all .3s;

        &:hover {
            color: #1caad9;
        }
    }

    &__button-row {
        border-top: 1px solid #E4E7EB;
        padding: 15px 10px;
        display: flex;
        justify-content: space-around;
    }

    &__image-row {
        padding: 10px;
        border-radius: 8px;

        img {
            border-radius: 14px;
            height: 150px;
            width: 100%;
        }
    }
}
</style>
